<html ng-app="mainModule">

<head>
    <%- include('partial/imports')%>
        <%- include('partial/header', {title: title}); %>
            <link href="/resources/css/about.css" rel="stylesheet">
            <meta name="description" content="Let us 'Home It' you favorite products from local stores and liberate your precious time. Place order online at www.homit.ca and watch us appear at your door."
            />
</head>

<body ng-cloak>
    <img class="none" src="/resources/images/non-catalog-image/pages/ciao_italia.png">
    <img class="none" src="/resources/images/non-catalog-image/pages/having_a_party.png">
    <img class="none" src="/resources/images/non-catalog-image/pages/your_goods_inside.jpg">
    <img class="none" src="/resources/images/non-catalog-image/pages/movie_beer.jpg">
    <img class="none" src="/resources/images/non-catalog-image/pages/running_out_of_beer.png">
    <img class="none" src="/resources/images/non-catalog-image/pages/fireplace.jpg">
    <img class="none" src="/resources/images/non-catalog-image/pages/linas_now_delivered.png">
    <img class="none" src="/resources/images/non-catalog-image/pages/main_page_phone.jpg">
    <img class="none" src="/resources/images/non-catalog-image/pages/snack_reading.jpg">
    <img class="none" src="/resources/images/non-catalog-image/pages/wild_strong_free.jpg">
    <div class="page">
        <div class="container">
            <div class="col-md-8 col-md-offset-2 content">
                <section itemscope itemtype="http://schema.org/Thing">
                    <h1 class="top-header top-header-about">Who is&nbsp
                        <span itemprop="name">Homit</span>&nbspand How It Works?</h1>
                    <article class="center">
                        <img width="90%" height="auto" itemprop="image" src="/resources/images/non-catalog-image/pages/homit_banner.png">
                    </article>
                    <article class="about-top-subhead">
                        <p itemprop="description">
                            Ever craved late night muncheis, or forgot to stock your bar before party, or simply didn't have time to grab necessities...
                            Let us "Home It" for you and liberate your precious time. Place order online and watch us appear
                            at your door, shortly after. Oh almost forgot, we serve Calgarians 24 hours and 7 days a week.
                        </p>
                    </article>
                </section>
                <section class="card-section" itemscope itemtype="http://schema.org/Thing">
                    <h1 class="top-header top-header-about">You may have seen us around.</h1>
                    <div class="cards-div">
                        <a href="https://www.instagram.com/homit_official/" target="_blank">
                            <img src="/resources/images/non-catalog-image/pages/ciao_italia.png">
                        </a>
                        <a href="https://www.instagram.com/homit_official/" target="_blank">
                            <img itemprop="image" src="/resources/images/non-catalog-image/pages/having_a_party.png">
                        </a>
                        <a href="https://www.instagram.com/homit_official/" target="_blank">
                            <img itemprop="image" src="/resources/images/non-catalog-image/pages/your_goods_inside.jpg">
                        </a>
                        <a href="https://www.instagram.com/homit_official/" target="_blank">
                            <img itemprop="image" src="/resources/images/non-catalog-image/pages/movie_beer.jpg">
                        </a>
                        <a href="https://www.instagram.com/homit_official/" target="_blank">
                            <img itemprop="image" src="/resources/images/non-catalog-image/pages/running_out_of_beer.png">
                        </a>
                        <a href="https://www.instagram.com/homit_official/" target="_blank">
                            <img itemprop="image" src="/resources/images/non-catalog-image/pages/fireplace.jpg">
                        </a>
                        <a href="https://www.instagram.com/homit_official/" target="_blank">
                            <img itemprop="image" src="/resources/images/non-catalog-image/pages/linas_now_delivered.png">
                        </a>
                        <a href="https://www.instagram.com/homit_official/" target="_blank">
                            <img itemprop="image" src="/resources/images/non-catalog-image/pages/main_page_phone.jpg">
                        </a>
                        <a href="https://www.instagram.com/homit_official/" target="_blank">
                            <img itemprop="image" src="/resources/images/non-catalog-image/pages/snack_reading.jpg">
                        </a>
                        <a href="https://www.instagram.com/homit_official/" target="_blank">
                            <img itemprop="image" src="/resources/images/non-catalog-image/pages/wild_strong_free.jpg">
                        </a> 
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>

<footer>
    <%- include('partial/footer')%>
</footer>

</html>