<html ng-app="mainModule">

<head>
    <%- include('partial/imports')%>
        <%- include('partial/header', {title: title}); %>
            <link href="/resources/css/about.css" rel="stylesheet">
</head>

<body ng-cloak>
    <div class="container">
        <div class="col-md-8 col-md-offset-2 content">
            <section itemscope itemtype="http://schema.org/Thing">
                <h1 class="top-header top-header-about">Who is&nbsp
                    <span itemprop="name">Homit</span>&nbspand How It Works?</h1>
                <article class="center">
                    <img width="90%" height="auto" itemprop="image" src="/resources/images/non-catalog-image/homit_banner.png">
                </article>
                <article class="about-top-subhead">
                    <span itemprop="description">
                        Ever craved late night munches, or forgot to stock your bar before party, or simply didn't have time to grab necessities...
                        Let us "Home It" for you and liberate your precious time. Place order online and watch us appear
                        at your door, shortly after. Oh almost forgot, we serve Calgarians 24 hours and 7 days a week.
                    </span>
                </article>
            </section>
        </div>
    </div>
</body>

<footer>
    <%- include('partial/footer')%>
</footer>

</html>