<html ng-app="mainModule">

<head>
    <meta property="og:url" content="https://homit.ca/about" />
    <meta name="description" content="Homit is a Calgary based e-commerce website focused on the local stores and locally made products, Homit also provides on-demand delivery service for the products purchased through Homit website."/>
    <meta property="og:description" content="Homit is a Calgary based e-commerce website focused on the local stores and locally made products, Homit also provides on-demand delivery service for the products purchased through Homit website."/>
    <%- include('partial/imports')%>
        <%- include('partial/header', {title: title}); %>
            <link href="/resources/css/about.css" rel="stylesheet">
            
</head>
<img class="none" ng-src="/resources/images/non-catalog-image/pages/about-page.jpg">

<body ng-cloak>
    <div class="about-cover-div">
        <div class="about-cover"></div>
    </div>
    <section class="content-section">
        <h1>What is Our Mission?</h1>
        <p class="who-p">For a long time, city dwellers where not fully aware of the stores around them, particularly about new stores. On
            the other hand, newly founded local stores were struggling to reach out for wider audience.
        </p>
        <div class="who-seperation-line"></div>
        <p class="who-p">
            As a company our goal is to eliminate that gap by bringing stores and customers to one place and make your city more fun place
            to live. In a nutshell, our service gives people ability to browse available local stores in their city and deliver
            items right to their door within 45-minutes.
        </p>
        <br>
        <br>
        <h1>How Homit Works?</h1>
        <div class="steps-div">
            <div class="description-div">
                <h2>I.&#160;Shop at Store Catalog</h2>
                <p class="step-p step-1-3-p">Shopping for local stores was never this easy. Browse conveniently designed product catalogs through variety
                    of stores with over 1,750 popular items.</p>
            </div>
            <div class="img-div box-center">
                <img data-aos="zoom-out-left" ng-src="/resources/images/non-catalog-image/pages/homit-step_1.png">
            </div>
        </div>
        <div class="steps-div step-2-div">
            <div class="img-div box-center">
                <img data-aos="zoom-out-right" ng-src="/resources/images/non-catalog-image/pages/homit-step_2.png">
            </div>
            <div class="description-div">
                <h2>II.&#160;Keep Doing What You Love</h2>
                <p class="step-p step-2-p">Every single piece of us will start working towards getting your products delivered to you in a timely manner
                    the very same moment you place order online.</p>
            </div>
        </div>
        <div class="steps-div">
            <div class="description-div">
                <h2>III.&#160;Expirience Homit Magic</h2>
                <p class="step-p step-1-3-p">45-MINUTES and we are at your doorstep. Plus, Homit offers location and order size independent fixed delivery
                    fee, C$4.99 per store, because customer satisfaction is our driving force.</p>
            </div>
            <div class="img-div box-center">
                <img data-aos="zoom-out-left" ng-src="/resources/images/non-catalog-image/pages/homit-step_3.png">
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <h1>Where Do We Deliver?</h1>
        <p class="where-p">As of today, we operate in Calgary AB, and cover most part of the city.</p>
    </section>
    <% if (!production) { %>
        <script src="/resources/services/localStorage.js"></script>
    <% } %>
</body>

<footer>
    <%- include('partial/footer')%>
</footer>

<script>
    window.onload = function () {
        AOS.init();
    };
</script>

</html>