<html ng-app="mainModule">
    <head>
        <%- include('partial/imports')%>
        <link href="/resources/css/admin.css" rel="stylesheet">
    </head>

    <body class="ng-cloak">
        <div class="container">
            <div ng-controller="adminController">
                <h1>Welcome to admin page</h1>
            </div>
        </div>
        <script src="/resources/controllers/admin.js"></script>
    </body>
</html>