<html ng-app="mainModule">
    <head>
        <%- include('partial/imports')%>
        <link href="/resources/css/admin.css" rel="stylesheet">
    </head>

    <body class="ng-cloak">
        <div class="container">
            <div ng-controller="adminController">
                <h1>Welcome to admin page</h1>
            </div>
            <div>
                <div class="well row">
                        <div class="col-md-5">
                            <label>Jeyhun Gurbanov</label><br>
                            <label>(403)123 4567</label><br>
                            <label>email@email.com</label><br>
                            <label>123 Delivery Rd. NW</label><br>
                            <label>321 PickUp Rd. NW</label><br>
                        </div>

                        <div class="col-md-5" style="max-height: 150px; overflow-y:scroll;">
                            <label>Corona (x2): 10$</label><br>
                            <label>Budweiser (x2): 20$</label><br>
                            <label>Chiki MIki red wine: 30$</label><br>
                        </div>

                        <div class="col-md-2">
                            <label>Order# 123</label><br>
                            <label>Total: 60$</label><br>
                        </div>
                </div>
            </div>
        </div>
        <script src="/resources/controllers/admin.js"></script>
    </body>
</html>