<html ng-app="mainModule">
   <head>
      <%- include('partial/header', {title: title, product: tabId}); %>
      <link href="/resources/css/catalog.css" rel="stylesheet">
   </head>

   <body>
       <div class="container" ng-controller="catalogController">
       <div class="col-md-3 catalogBox" >
           <div class="sizeStage11">Variants</div>
           <ul class="nav nav-pills nav-stacked sizeStage12">
               <li class="active"><a href="#">Red</a></li>
               <li><a href="#">White</a></li>
               <li><a href="#">Fruit</a></li>
           </ul>
           <div class="btn-group" >
               <ul><div class="sizeStage21">Types</div>
                   <li>
                       <label>
                           <input type="checkbox" autocomplete="off">
                           <span >Merlot</span>
                        </label>
                   </li>
                   <li>
                       <label>
                           <input type="checkbox" autocomplete="off">
                           <span >Shiraz</span>
                        </label>
                   </li>
               </ul>
               <ul><div class="sizeStage31">Brands</div>
                   <li>
                       <label>
                           <input type="checkbox" autocomplete="off">
                           <span>Bringer</span>
                        </label>
                   </li>
                   <li>
                       <label>
                           <input type="checkbox" autocomplete="off">
                           <span>la Crema</span>
                        </label>
                   </li>
                   <li>
                       <label>
                           <input type="checkbox" autocomplete="off">
                           <span>Bogle</span>
                        </label>
                   </li>
               </ul>
                
           </div>

       </div>
       <div class="col-md-9 catalogBox">
       </div>
       </div>
      <script src="/resources/controllers/catalog.js"></script>
   </body>
</html>