<html ng-app="mainModule">
    <head>
        <%- include('partial/imports')%>
        <%- include('partial/header', {title: title, product: tabId}); %>
        <link href="/resources/css/catalog.css" rel="stylesheet">
    </head>
    <body class="ng-cloak">
        <%- include('partial/checkout_menu')%>
        <div ng-controller="catalogController">
            <div layout="row"  class="container col01">
                <md-container class="col1">
                    <div class="sizeStage">Categories</div>
                    <span>
                        <md-radio-group ng-model="SubcategoryName">
                            <md-radio-button class="SubcategoryName" ng-repeat="variant in subcategories" ng-value="variant.subcategory_name" ng-click="checkSubcategories(variant.subcategory_name)"><span>{{variant.subcategory_name}}</span></md-radio-button>
                            <md-radio-button class="SubcategoryName" ng-value="selectAll" ng-click="emptySubcategories()">Select All</md-radio-button>
                        </md-radio-group>
                    </span>
                    <span class="input-group srchBx" layout="row">
                        <md-input-container class="md-block srchBxA">
                            <label class="srchBxAA"><img class="srchBxAAA" ng-src="{{'/resources/images/search_Icon.svg'}}"><span>Search for Brand..</span></label>
                            <input type="search" id="srchBrnd" ng-model="searchedBrand.brand" class="srchBxAB">
                        </md-input-container>
                        <md-button class="srchBxB" ng-click="clearSearch()" aria-label="clearSearch"><img class="srchBxBA" ng-src="{{'/resources/images/clear_Icon.svg'}}"></md-button>
                    </span>
                </md-container>
                <div layout-fill layout="row" class="test">
                    <div flex="80" layout-wrap class="col24">
                        <div ng-repeat="product in products | filter:searchedBrand">
                            <div ng-show="isInSelectedSubcategories(product.subcategory) && isInSelectedTypes(product.type) && isInSelectedBrands(product.brand)">
                                <div class="itemBoxL1">
                                    <ul class="itemBoxL2">
                                        <span>
                                            <div class="pvChange1"> 
                                                <div class="pvChange1A">
                                                    <ul>
                                                        <li class="pvChange1AAA"><md-button class="pvChangeBtnA" ng-show="product.product_variants.all_volumes[product.volumeI-1]" ng-click="previousVolume(product)" aria-label="leftVol"><img class="pvChangeBtnAA" ng-src="{{'/resources/images/left_Icon.svg'}}"></md-button></li>
                                                        <span class="pvChange1AAB">
                                                            <span layout="row" class="pvChange1AABA">
                                                                <li class="nHighltdVol">{{product.product_variants.all_volumes[product.volumeI-1]}}</li>
                                                                <li class="highltdVol">&#8198{{product.product_variants.all_volumes[product.volumeI]}}&#8198</li>
                                                                <li class="nHighltdVol">{{product.product_variants.all_volumes[product.volumeI+1]}}</li>
                                                            </span>
                                                        </span>
                                                        <li class="pvChange1AAC"><md-button class="pvChangeBtnA" ng-show="product.product_variants.all_volumes[product.volumeI+1]"ng-click="nextVolume(product)" aria-label="rightVol"><img class="pvChangeBtnAA" ng-src="{{'/resources/images/right_Icon.svg'}}"></md-button></li>
                                                    </ul>
                                                    <ul>
                                                        <li class="pvChange1ABA"><md-button class="pvChangeBtnA" ng-show="product.product_variants[product.product_variants.all_volumes[product.volumeI]].all_packagings[product.packJ-1]" ng-click="previousPack(product)" aria-label="leftPack"><img class="pvChangeBtnAA" ng-src="{{'/resources/images/left_Icon.svg'}}"></md-button></li>
                                                        <span class="pvChange1ABB">
                                                            <span layout="row" class="pvChange1ABBA">
                                                                <li class="nHighltdPack">{{product.product_variants[product.product_variants.all_volumes[product.volumeI]].all_packagings[product.packJ-1]}}</li>
                                                                <li class="highltdPack">&#8198X{{product.product_variants[product.product_variants.all_volumes[product.volumeI]].all_packagings[product.packJ]}}&#8198</li>
                                                                <li class="nHighltdPack">{{product.product_variants[product.product_variants.all_volumes[product.volumeI]].all_packagings[product.packJ+1]}}</li>
                                                            </span>
                                                        </span>
                                                        <li class="pvChange1ABC"><md-button class="pvChangeBtnA" ng-show="product.product_variants[product.product_variants.all_volumes[product.volumeI]].all_packagings[product.packJ+1]" ng-click="nextPack(product)" aria-label="rightVol"><img class="pvChangeBtnAA" ng-src="{{'/resources/images/right_Icon.svg'}}"></md-button></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <li class="container itmPic"><img ng-src={{product.image}}></li>
                                            <li class="brand">{{product.brand}} {{product.name}}</li>
                                            <li class="price">{{product.product_variants[product.product_variants.all_volumes[product.volumeI]][product.product_variants[product.product_variants.all_volumes[product.volumeI]].all_packagings[product.packJ]].price}}C$</li>
                                        </span>
                                    </ul>
                                    <div>
                                        <md-button class="md-raised md-primary addToCrtBtn" ng-click="addToCart(product, v_index)"> Add to cart </md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/resources/services/advancedStorage.js"></script>
        <script src="/resources/services/cartService.js"></script>
        <script src="/resources/controllers/catalog.js"></script>
    </body>
</html>



 