<html ng-app="mainModule">

<head ng-cloak>
    <%- include('partial/imports')%>
        <%- include('partial/header', {title: title}); %>
            <link href="/resources/css/catalog.css" rel="stylesheet">
</head>
<!--googleoff: snippet-->
<body>
    <div ng-controller="catalogController" id="ctnCont">
        <section id="catalog-store-sec" class="catalog-store-info" ng-cloak>
            <img class="none" ng-src="/resources/images/catalog-stores/covers/{{display_storeInfo.image_cover}}">
            <div class="catalog-store-cover"></div>
            <div class="catalog-store-cover-div"></div>
            <div id="del-opt-background" class="del-opt-background"></div>
            <div class="store-info-txt-box" ng-show="deliveryOption">
                <div class="store-name-txt">
                    <a href="/hub/{{display_storeInfo.name}}" target="_self">{{ display_storeInfo.display_name }}</a>
                </div>
                <scheduler store-type="storeType" delivery-option="deliveryOption" delivery-date="deliveryDate" open-time="open_time" close-time="close_time"
                    del-fee="del_fee"></scheduler>
                <div class="del-opt-info" ng-cloak>
                    <div ng-show="display_storeInfo.store_open == false && deliveryOption == 'ASAP Delivery'" class="store-oval store-open-hrs">Store Closed. Opens at {{ open_time }}</div>
                    <div ng-show="display_storeInfo.store_open == true && deliveryOption == 'ASAP Delivery'" class="store-hrs-txt">Open for Delivery {{ close_time }}</div>
                    <div ng-show="deliveryOption == 'Scheduled Delivery'" class="store-hrs-txt">Delivery Time: {{ deliveryDate.month + " " + deliveryDate.day + ", From " + deliveryDate.time}}</div>
                    <ng-md-icon icon="fiber_manual_record"></ng-md-icon>
                    <div class="store-DF">{{del_fee}}</div>
                </div>
            </div>
        </section>
        <section class="catalog-sub-hdr" ng-cloak>
            <div class="category-extension-div" ng-cloak>
                <div class="cat-ext-box">
                    <div class="cat-ext-content" ng-show="showCatBox">
                        <h2>Store Categories</h2>
                        <div class="box-a-div">
                            <a class="cat-ext-a hover-raise" ng-repeat="category in categories" href="{{category.category_url}}" target="_self">
                                <img ng-src="/resources/images/catalog-stores/categories/{{ category.category_image }}">
                                <div class="cat-ext-li">{{category.category_display_name}}</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="category-hdr-div" ng-cloak>
                <div class="category-div align-center" ng-click="extendCatBox()">
                    <span>{{userSelectedCategory}}</span>
                    <ng-md-icon ng-class="catBoxArrowClass" icon="expand_more" size="20"></ng-md-icon>
                </div>
                <div class="cat-hdr-sep-line"></div>
                <div class="filter-div align-center" ng-click="extendFilterBox()">
                    <span>Filter</span>
                    <ng-md-icon ng-class="filterBoxArrowClass" icon="expand_more" size="20"></ng-md-icon>
                </div>
                <div class="cat-filter-extension" ng-show="showFilterBox" ng-class="filterBoxClass">
                    <div class="filter-ext-hdr"></div>
                    <div class="filter-ext-body">
                        <div layout="row" layout-wrap flex class="subcat-cb-div">
                            <button class="filter-clr-btn" ng-click="deselectAllSubcats()" ng-show="selectedSubcats.length">
                                clear
                            </button>
                            <div class="subcat-checkboxes" flex="100" ng-repeat="subcategory in subcategories" ng-click="selectSubcat(subcategory, selectedSubcats)">
                                <md-checkbox ng-checked="subcatSelected(subcategory, selectedSubcats)">
                                    {{ subcategory }}
                                </md-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cat-hdr-sep-line"></div>
                <div class="sort-div align-center" ng-click="extendSortBox()">
                    <span>Sort</span>
                    <ng-md-icon ng-class="sortBoxArrowClass" icon="expand_more" size="20"></ng-md-icon>
                </div>
                <div class="cat-sort-extension" ng-show="showSortBox" ng-class="sortBoxClass">
                    <div class="sort-ext-hdr"></div>
                    <div class="sort-ext-body">
                        <md-radio-group ng-model="sortBy">
                            <div class="radio-btn-div" ng-repeat="(key, value) in sorting_options">
                                <md-radio-button ng-value="value">
                                    {{key}}
                                </md-radio-button>
                            </div>
                        </md-radio-group>
                    </div>
                </div>
                <div class="sort-sl cat-hdr-sep-line"></div>
                <div class="catalog-cart-div">
                    <div class="cart-div-content">
                        <%- include('partial/checkout_menu')%>
                            <div id="cart-seperation-line" class="cart-seperation-line"></div>
                            <div class="cart-items-txt">items</div>
                    </div>
                </div>
            </div>
        </section>
        <div class="catalog-content" ng-cloak>
            <section id="items-section" class="items-section" ng-class="cat_content_mob_c">
                <div ng-repeat="(key, value) in filterProductsBySubcat(selectedSubcats)">
                    <div class="subcat-sep-line box-center">
                        <div></div>
                        <span>{{key}}</span>
                    </div>
                    <div class="item-subcat-sec">
                        <a ng-repeat="product in value.products | orderBy:sortBy['sorting_key']:sortBy['descending']" href="{{product.product_url}}" target="_blank">
                            <div class="item-box hover-raise" id="{{ product.product_id }}">
                                <ul class="item-box-ul fadeIn">
                                    <li class="item-pic">
                                        <img ng-src="{{ product.image }}">
                                    </li>
                                    <li class="catalog-text item-brand">
                                        <div ng-if="product.packaging > 1">
                                            <span class="catalog-item-brand">{{ product.brand }}</span>
                                            <br>
                                            <span class="catalog-item-name">{{ product.name }}</span> ({{ product.packaging }} x {{ product.volume }})
                                        </div>
                                        <div ng-if="!(product.packaging > 1)">
                                            <span class="catalog-item-brand">{{ product.brand }}</span>
                                            <br>
                                            <span class="catalog-item-name">{{ product.name }}</span> ({{ product.volume }})
                                        </div>
                                    </li>
                                    <li class="catalog-text item-price box-center">
                                        <span class="item-curency">C$</span>
                                        <span>{{ product.price}}</span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                    <br>
                </div>
            </section>
        </div>
        <!-- Mobile filter-sort section -->
        <div class="mob-fs-background" ng-show="mobFilterContent || mobSortContent"></div>
        <section class="mob-filter-sort" ng-class="mobFilterSortClass" ng-show="screenMob || screenTablet" ng-cloak>
            <div class="mob-fs-hdr">
                <div ng-click="showFilterOptions('filter')" class="box-center fs-name">
                    <ng-md-icon ng-class="mobFilterArrow" class="filter-icon" icon="keyboard_arrow_down" size="23"></ng-md-icon>Filter</div>
                <div class="mob-fs-seperation-line"></div>
                <div ng-click="showFilterOptions('sort')" class="box-center fs-name">
                    <ng-md-icon ng-class="mobSortArrow" class="sort-icon" icon="keyboard_arrow_down" size="23"></ng-md-icon>Sort</div>
            </div>
            <div ng-show="mobFilterContent" class="mob-filter-div">
                <div layout="row" layout-wrap flex class="subcat-cb-div">
                    <button class="filter-clr-btn" ng-click="deselectAllSubcats()" ng-show="selectedSubcats.length">
                        <ng-md-icon icon="clear" size="16"></ng-md-icon>
                    </button>
                    <div class="subcat-checkboxes" flex="100" ng-repeat="subcategory in subcategories" ng-click="selectSubcat(subcategory, selectedSubcats)">
                        <md-checkbox ng-checked="subcatSelected(subcategory, selectedSubcats)">
                            {{ subcategory }}
                        </md-checkbox>
                    </div>
                </div>
            </div>
            <div class="mob-sort-div" ng-show="mobSortContent">
                <md-radio-group ng-model="sortBy">
                    <div class="radio-btn-div" ng-repeat="(key, value) in sorting_options">
                        <md-radio-button ng-value="value">
                            {{key}}
                        </md-radio-button>
                    </div>
                </md-radio-group>
            </div>
        </section>
    </div>
    </div>
    <% if (!production) { %>
        <script src="/resources/services/localStorage.js"></script>
        <script src="/resources/services/cartService.js"></script>
        <script src="/resources/directives/scheduler.js"></script>
        <script src="/resources/directives/dropdown.js"></script>
        <script src="/resources/controllers/catalog.js"></script>
        <% } %>
</body>
<!--googleon: snippet-->
</html>