<html ng-app="mainModule">
   <head>
      <%- include('partial/header', {title: title}); %>
      <link href="/resources/css/catalog.css" rel="stylesheet">
   </head>

   <body>
       <div class="container-fluid col-md-4 catalogBox" >
        <div class="subCat">Variants</div>
           <ul class="nav nav-pills nav-stacked"> 
               <li><a href="#">Red</a></li>
               <li><a href="#">White</a></li>
               <li><a href="#">Fruit</a></li>
           </ul>
       </div>
       <div class="container-fluid col-md-8 catalogBox">
       </div>
      <script src="/resources/controllers/catalog.js"></script>
   </body>
</html>