<html ng-app="mainModule">
   <head>
      <%- include('partial/header', {title: title}); %>
      <link href="/resources/css/catalog.css" rel="stylesheet">
   </head>

   <body>
       <div class="container" ng-controller="catalogController">
       <div class="col-md-3 catalogBox" >
           <div class="sizeStage11">Variants</div>
           <ul class="nav nav-pills nav-stacked sizeStage12">
               <li class="active"><a href="#">Red</a></li>
               <li><a href="#">White</a></li>
               <li><a href="#">Fruit</a></li>
           </ul>

           <div class="sizeStage21">Types</div>
           <ul class="nav nav-pills nav-stacked sizeStage22">
               <li><a href="#">Merlot</a></li>
               <li><a href="#">Shiraz</a></li>
           </ul>

           <div class="sizeStage31">Brands</div>
           <ul class="nav nav-pills nav-stacked sizeStage32">
               <li><a href="#">Bringer</a></li>
               <li><a href="#">la Crema</a></li>
               <li><a href="#">Bogle</a></li>
           </ul>
       </div>
       <div class="col-md-9 catalogBox">
       </div>
       </div>
      <script src="/resources/controllers/catalog.js"></script>
   </body>
</html>