<html ng-app="mainModule">
   <head>
      <%- include('partial/header', {title: title}); %>
      <link href="/resources/css/catalog.css" rel="stylesheet">
   </head>

   <body>
      <div ng-controller="catalogController">
         <div class="tab-content" id="whole_tab" class="container-fluid" ng-switch on="selection">
            <div id="beers_tab" ng-switch-when="Beers">
               <!--other two divisions go here-->
               <div class="beers_navigation">
                  <p> Select your type</p>
                  <ul style="list-style: none;">
                      <div id="subcategory" ng-repeat="subcategory in subcategories">
                          <label>
                            <input type="radio" ng-model="userSelectedSubcategories" ng-value="userSelectedSubcategories">
                            {{subcategory.subcategory_name}}
                        </label>
                        <li ng-repeat="type in subcategory.types"> <input type='checkbox' ng-click="checkTypes(type)">
                            {{type}} 
                        </li>
                      </div>

                  </ul>
                  <p> Select your packing </p>
                  <ul style="list-style: none;">
                     <li ng-repeat="packing in packings"> <input type='checkbox' ng-click="checkPackings(packing)"> {{packing}} </li>
                  </ul>
                  <label>Choose your brand from list </label>
                      <li ng-repeat="brand in brands"> <input type='checkbox' ng-click="checkBrands(brand)"> {{brand}} </li>
               </div>

               <div class="beers_resultsarea">
                  <!--*****   search area section   *******-->
                  <div ng-repeat="product in products">
                     <div class="result_container" ng-show="isInSelectedTypes(product.type) && isInSelectedPackings(product.packaging) && isInSelectedBrands(product.brand)">
                        <img ng-src={{product.image}} alt="Avatar" class="result_image" width="100" height="150">
                        <div class="catalog_middle">
                           <span> Brand: {{product.brand}}
                               Type: {{product.type}}
                               Packing: {{product.packaging}}
                               Price: {{product.price}} </br>
                           <button class="btn-primary" ng-click=""> Add to cart </span>
                        </div>
                     </div>
                  </div>
                  <!--***********************************************-->
               </div>
            </div>
            <div id="wines_tab" ng-switch-when="Wines">
               <!--\\other two divisions go here-->
               <h1>Wines section</h1>
            </div>
            <div id="spirits_tab" ng-switch-when="Spirits">
               <!--\\other two divisions go here-->
               <h1>Spirits section</h1>
            </div>
            <div id="others_tab" ng-switch-when="Others">
               <!--\\other two divisions go here-->
               <h1> Others section</h1>
            </div>
         </div>
      </div>
      <script src="/resources/controllers/catalog.js"></script>
   </body>
</html>