<html ng-app="mainModule">
    <head>
        <%- include('partial/header', {title: title, product: tabId}); %>
        <link href="/resources/css/catalog.css" rel="stylesheet">
    </head>
        <body class="ng-cloak">
            <div class="box" >
<!--Beers - Catalog-->
                <div class="container" ng-controller="catalogController" ng-show="isBeers">
                    <div class="col-md-3" >
                        <div class="sideBox">
                            <div class="affix catalogOptionBox">
                                <div class="btn-group">
                                    <div class="sizeStage3">Types</div>
                                    <ul ng-repeat="type in availableTypes">
                                        <li>
                                            <form>
                                                <label class="checkbox">
                                                    <input type="checkbox" ng-click="checkTypes(type)">{{type}}
                                                </label>
                                            </form>
                                        </li>
                                    </ul>
                                    <div class="btn-group">
                                        <div class="sizeStage4">Brands</div>
                                        <div class="brandBox">
                                            <ul ng-repeat="brand in availableBrands">
                                                <li>
                                                    <form>
                                                        <label class="checkbox">
                                                            <input type="checkbox" ng-click="checkBrands(brand)">{{brand}}
                                                        </label>
                                                    </form>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="sizeStage5">Size</div>
                                        <ul ng-repeat="packing in packings">
                                            <li>
                                                <form>
                                                    <label class="checkbox">
                                                        <input type="checkbox" ng-click="checkPackings(packing)">{{packing}}
                                                    </label>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div ng-repeat="product in products">
                            <div ng-show="isInSelectedTypes(product.type) && isInSelectedPackings(product.packaging) && isInSelectedBrands(product.brand)" class="col-md-3">
                                <ul>
                                    <li><img ng-src={{product.image}} width="75" height="112.5"></li>
                                    <span> 
                                        <li>Brand: {{product.brand}}</li>
                                        <li>Type: {{product.type}}</li>
                                        <li>Packing: {{product.packaging}}</li>
                                        <li>Price: {{product.price}}</li>
                                        <li><button class="btn-primary" ng-click="addToCart(product)"> Add to cart </button></li>
                                    </span>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
<!--Wines - Catalog-->
                <div class="container" ng-controller="catalogController" ng-show="isWines">
                    <div class="col-md-3" >
                        <div class="affix catalogOptionBox">
                            <div class="btn-group">
                                <ul ng-repeat="variant in subcategories" class="nav nav-pills nav-stacked">
                                    <li role="presentation" ng-class="{active:isInSelectedSubcategories(variant.subcategory_name)}">
                                        <a href="#" ng-click="checkSubcategories(variant.subcategory_name)">{{variant.subcategory_name}}</a>
                                    </li>
                                </ul>
                                <div class="sizeStage3" >Types</div>
                                    <ul ng-repeat="type in availableTypes">
                                        <li>
                                            <form>
                                                <label class="checkbox">
                                                    <input type="checkbox" id="types" ng-click="checkTypes(type)" >{{type}}
                                                </label>
                                            </form>
                                        </li>
                                    </ul>
                                <div class="btn-group">
                                    <div class="sizeStage4">Brands</div>
                                    <div class="brandBox">
                                        <ul ng-repeat="brand in availableBrands">
                                            <li>
                                                <form>
                                                    <label class="checkbox">
                                                        <input type="checkbox" ng-checked="isBrandCheckboxChecked(brand)" autocomplete="off" ng-click="checkBrands(brand)">
                                                        <span>{{brand}}</span>
                                                    </label>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="sizeStage5">Size</div>
                                    <ul ng-repeat="packing in packings">
                                        <li>
                                            <form>
                                                <label class="checkbox">
                                                    <input type="checkbox" ng-click="checkPackings(packing)">{{packing}}
                                                </label>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div ng-repeat="product in products">
                            <div ng-show="isInSelectedSubcategories(product.subcategory) && isInSelectedTypes(product.type) && isInSelectedPackings(product.packaging) && isInSelectedBrands(product.brand)" class="col-md-3">
                                <ul>
                                    <li><img ng-src={{product.image}} width="75" height="112.5"></li>
                                    <span> 
                                        <li>Brand: {{product.brand}}</li>
                                        <li>Type: {{product.type}}</li>
                                        <li>Packing: {{product.packaging}}</li>
                                        <li>Price: {{product.price}}</li>
                                        <li><button class="btn-primary" ng-click="addToCart(product)"> Add to cart </button></li>
                                    </span>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="/resources/controllers/catalog.js"></script>
        </body>
</html>