<html ng-app="mainModule">
   <head>
      <%- include('partial/header', {title: title}); %>
      <link href="/resources/css/catalog.css" rel="stylesheet">
   </head>

   <body>
       <div class="container">
       <div class="col-md-3 catalogBox" >
        <div class="sizeStage11">Variants</div>
           <ul class="nav nav-pills nav-stacked sizeStage12" ng-repeat="subcategory in subcategories"> 
               <li class="active" ng-show="userSelectedSubcategories == subcategory"><a href="#">{{subcategory}}</a></li>
               <li ng-show="userSelectedSubcategories == subcategory"><a href="#">Red</a></li>
               <!--<li><a href="#">White</a></li>
               <li><a href="#">Fruit</a></li>-->
           </ul>
       </div>
       <div class="col-md-9 catalogBox">
       </div>
       </div>
      <script src="/resources/controllers/catalog.js"></script>
   </body>
</html>