<html ng-app="mainModule">
    <head>
        <%- include('partial/imports')%>
        <%- include('partial/header', {title: title, product: tabId}); %>
        <link href="/resources/css/catalog.css" rel="stylesheet">
    </head>
    <body class="ng-cloak">
        <%- include('partial/checkout_menu')%>
        <div ng-controller="catalogController">
            <div layout="row"  class="container">
                <md-container class="col1">
                    <span ng-show="isBeers">
                        <div class="sizeStage">Types</div>
                        <ul ng-repeat="type in availableTypes">
                            <li>
                                <md-checkbox ng-click="checkTypes(type)">{{type}}</md-checkbox>
                            </li>
                        </ul>
                    </span>
                    <span ng-show="isWines">
                        <ul ng-show="isWines" ng-repeat="variant in subcategories" class="nav nav-pills nav-stacked">
                            <li role="presentation" ng-class="{active:isInSelectedSubcategories(variant.subcategory_name)}">
                                <a href="#" ng-click="checkSubcategories(variant.subcategory_name)">{{variant.subcategory_name}}</a>
                            </li>
                        </ul>
                    </span>
                    <span ng-show="isSpirits">
                        <ul ng-show="isSpirits" ng-repeat="variant in subcategories" class="nav nav-pills nav-stacked">
                            <li role="presentation" ng-class="{active:isInSelectedSubcategories(variant.subcategory_name)}">
                                <a href="#" ng-click="checkSubcategories(variant.subcategory_name)">{{variant.subcategory_name}}</a>
                            </li>
                        </ul>
                    </span>
                    <span ng-show="isOthers">
                        <ul ng-show="isOthers" ng-repeat="variant in subcategories" class="nav nav-pills nav-stacked">
                            <li role="presentation" ng-class="{active:isInSelectedSubcategories(variant.subcategory_name)}">
                                <a href="#" ng-click="checkSubcategories(variant.subcategory_name)">{{variant.subcategory_name}}</a>
                            </li>
                        </ul>
                    </span>
                    <div class="btn-group" ng-show="!isWines">
                        <div class="sizeStage">Brands</div>
                        <div class="brandBox">
                            <ul ng-repeat="brand in availableBrands">
                                <li>
                                    <form>
                                        <label class="checkbox">
                                            <input type="checkbox" ng-click="checkBrands(brand)">{{brand}}
                                        </label>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </md-container>
                <div layout-fill layout="row" >
                    <div flex="90" layout="row" layout-wrap class="col24">
                        <div ng-repeat="product in products">
                            <div ng-show="isInSelectedSubcategories(product.subcategory) && isInSelectedTypes(product.type) && isInSelectedBrands(product.brand)">
                                <div class="itemBox">
                                    <ul style="padding: 0 20px 0 20px;">
                                        <span>
                                            <div class="pvChange1"> 
                                                <div class="pvChange2">
                                                    <ul class="pvChange3">
                                                        <li><button ng-click="previousVolume(product)" class="addBtn glyphicon glyphicon-chevron-left"></button></li>
                                                        <li class="nHighltdVol">{{product.product_variants.all_volumes[product.volumeI-1]}}</li>
                                                        <li class="highltdVol">{{product.product_variants.all_volumes[product.volumeI]}}</li>
                                                        <li class="nHighltdVol">{{product.product_variants.all_volumes[product.volumeI+1]}}</li>
                                                        <li><button ng-click="nextVolume(product)" class="addBtn glyphicon glyphicon-chevron-right"></button></li>
                                                    </ul>
                                                    <ul class="pvChange3">
                                                        <li><button ng-click="previousPack(product)" class="addBtn glyphicon glyphicon-chevron-left"></button></li>
                                                        <li class="nHighltdPack">{{product.product_variants[product.product_variants.all_volumes[product.volumeI]].all_packagings[product.packJ-1]}}</li>
                                                        <li class="highltdPack">X{{product.product_variants[product.product_variants.all_volumes[product.volumeI]].all_packagings[product.packJ]}}</li>
                                                        <li class="nHighltdPack">{{product.product_variants[product.product_variants.all_volumes[product.volumeI]].all_packagings[product.packJ+1]}}</li>
                                                        <li><button ng-click="nextPack(product)" class="addBtn glyphicon glyphicon-chevron-right"></button></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <li style="padding-left: 8px;" ><img ng-src={{product.image}} width="225" height="225"></li>
                                            <li class="brand">{{product.brand}} {{product.name}}</li>
                                            <li class="price">{{product.product_variants[product.product_variants.all_volumes[product.volumeI]][product.product_variants[product.product_variants.all_volumes[product.volumeI]].all_packagings[product.packJ]].price}}C$</li>
                                        </span>
                                    </ul>
                                    <div>
                                        <md-button class="md-raised md-primary" style="width: 94%;" ng-click="addToCart(product, v_index)"> Add to cart </md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/resources/services/advancedStorage.js"></script>
        <script src="/resources/services/cartService.js"></script>
        <script src="/resources/controllers/catalog.js"></script>
    </body>
</html>



 