<html ng-app="mainModule" style="overflow-y: hidden;">

<head>
    <%- include('partial/imports')%>
        <%- include('partial/header', {title: title, product: tabId}); %>
            <link href="/resources/css/checkout.css" rel="stylesheet">
</head>

<body class="ng-cloak">
    <div ng-controller="checkoutController">

        <div layout="row" layout-align="center" class="container">
            <div class="col1">
                <div class="col1ChevRgt">
                    <md-button aria-label="toggleRight" ng-click="toggleRight()" class="glypOpnSN" hide-gt-md>
                        <ng-md-icon icon="keyboard_arrow_right" class="glypOpnSNsgn" size="25"></ng-md-icon>
                    </md-button>
                </div>
                <div class="userPic">
                    <img ng-src="{{'/resources/images/Homit_Logo.jpeg'}}" width="135" height="135" />
                </div>
                <!--DoB-->
                <div layout="row" layout-align="center" ng-show="!isUserSigned">
                    <md-input-container class="md-block bigClass">
                        <label class="inptLbl">Date</label>
                        <md-select ng-model="userInfo.birth_day" ng-change="updateBDays()">
                                <md-option ng-value="-1" ng-disabled="true" >Day</md-option>
                            <md-option ng-value="day" ng-repeat="day in b_days">{{ day }}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block bigClass">
                        <label class="inptLbl">of</label>
                        <md-select ng-model="userInfo.birth_month" ng-change="updateBDays()">
                                <md-option ng-value="-1" ng-disabled="true" >Month</md-option>
                                <md-option ng-value="month" ng-repeat="month in b_months">{{ month }}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block bigClass">
                        <label class="inptLbl">Birth</label>
                        <md-select ng-model="userInfo.birth_year" ng-change="updateBDays()">
                                <md-option ng-value="-1" ng-disabled="true" >Year</md-option>
                                <md-option ng-value="year" ng-repeat="year in b_years">{{ year }}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <!--First & Last Name-->
                <div layout="row" layout-align="center">
                    <md-input-container class="md-block bigClass" flex="40">
                        <label class="inptLbl">First Name</label>
                        <input required name="fname" type="text" ng-model="userInfo.first_name" />
                    </md-input-container>
                    <md-input-container class="md-block bigClass" flex="40">
                        <label class="inptLbl">Last Name</label>
                        <input required name="lname" type="text" ng-model="userInfo.last_name" />
                    </md-input-container>
                </div>
                <!--Email-->
                <div layout="row" layout-align="center">
                    <md-input-container class="md-block bigClass" flex="80">
                        <label class="inptLbl">Email</label>
                        <input required name="email" type="email" ng-model="userInfo.user_email" />
                    </md-input-container>
                </div>
                <!--Phone Number-->
                <div layout="row" layout-align="center">
                    <md-input-container class="md-block bigClass" flex="80">
                        <label for="idCell" class="inptLbl">Phone</label>
                        <input name="cphone" type="text" placeholder="+1(403)-397-7020" ng-model="userInfo.phone_number" required/>
                    </md-input-container>
                </div>
                <!--Delivery Address-->
                <div layout="row" layout-align="center" ng-show="!isUserSigned">
                    <md-input-container class="md-block bigClass" flex="80">
                        <label class="inptLbl">Delivery Address</label>
                        <input id="addressGuestUser" name="address" type="text" ng-model="userInfo.address" ng-required="userInfo.address" />
                    </md-input-container>
                </div>
                <!--Address-->
                <div layout="row" layout-align="center" ng-show="isUserSigned">
                    <md-tabs md-selected="0" md-border-bottom md-autoselect md-center-tabs="true" class="md-block adTb" flex="80">
                        <md-tab label="New Address" md-on-select="selectedAddress = 0">
                            <md-tab-body>
                                <div layout="row" layout-align="center">
                                    <md-input-container class="md-block" flex="50">
                                        <label class="inptLbl">Address</label>
                                        <input id="newAddressUser" name="address" type="text" ng-model="userInfo.address0" ng-required="selectedAddress == 0" />
                                    </md-input-container>
                                </div>
                            </md-tab-body>
                        </md-tab>
                        <md-tab label="{{userInfo.address1_name}}" md-on-select="selectedAddress = 1">
                            <md-tab-body>
                                <div layout="row" layout-align="center">
                                    <md-input-container class="md-block" flex="50">
                                        <label ng-show="!userInfo.address2" class="inptLbl">Address</label>
                                        <input name="address" type="text" ng-model="userInfo.address1" ng-required="selectedAddress == 1" />
                                    </md-input-container>
                                </div>
                            </md-tab-body>
                        </md-tab>
                        <md-tab label="{{userInfo.address2_name}}" md-on-select="selectedAddress = 2">
                            <md-tab-body>
                                <div layout="row" layout-align="center">
                                    <md-input-container class="md-block" flex="50">
                                        <label ng-show="!userInfo.address3" class="inptLbl">Address</label>
                                        <input name="address" type="text" ng-model="userInfo.address2" ng-required="selectedAddress == 2" />
                                    </md-input-container>
                                </div>
                            </md-tab-body>
                        </md-tab>
                        <md-tab label="Address 3" md-on-select="selectedAddress = 3">
                            <md-tab-body>
                                <div layout="row" layout-align="center">
                                    <md-input-container class="md-block" flex="50">
                                        <label ng-show="!userInfo.address4" class="inptLbl">Address</label>
                                        <input name="address" type="text" ng-model="userInfo.address3" ng-required="selectedAddress == 3" />
                                    </md-input-container>
                                </div>
                            </md-tab-body>
                        </md-tab>
                    </md-tabs>
                </div>
                <!--Card Info-->
                <div class="container cardContainer" flex="80">
                    <div layout="row" layout-align="start center">
                        <div class="extBoxTtl" ng-style="(userInfo.card == '0') && {'color': 'rgba(209, 58, 58, 0.95)'}">{{userInfo.cardText}}</div>
                        <md-button aria-label="ShowHideCardInfo" class="md-fab md-mini md-primary glypOpnCI" ng-click="userInfo.cardIsShown = !userInfo.cardIsShown">
                            <ng-md-icon ng-if="!userInfo.cardIsShown" icon="keyboard_arrow_down" class="opnCIsgn" size="20"></ng-md-icon>
                            <ng-md-icon ng-if="userInfo.cardIsShown" icon="keyboard_arrow_up" class="opnCIsgn" size="20"></ng-md-icon>
                        </md-button>
                    </div>
                </div>
                <!--Card Info Hidden Box-->
                <div id="helcimResults">
                    <form name="helcimForm" id="helcimForm" method="POST" novalidate>
                        <div ng-show="userInfo.cardIsShown">
                            <input type="hidden" id="token" value="505e8387dfa8085c20be9b">
                            <input type="hidden" id="language" value="en">
                            <input type="hidden" id="test" value="1">
                            <input type="hidden" id="amount" value={{receipt}}>
                            <input type="hidden" id="amountShipping" value={{delFee}}>
                            <input type="hidden" id="amountTax" value={{GST}}>
                            <input type="hidden" id="customerCode" value={{userInfo.id}}>
                            <input type="hidden" id="comments" value="This is comment for Chingiz">
                            <div layout="row" layout-align="center">
                                <md-input-container class="md-block extInput" flex="50">
                                    <label class="inptLbl">Card Number</label>
                                    <input required id="cardNumber" type="text" maxlength="16" ng-style="(userInfo.card == '0') && {'border-bottom': '1px solid rgba(209, 58, 58, 0.95)'}">
                                </md-input-container>
                            </div>
                            <div layout="row" layout-align="center">
                                <md-input-container class="md-block extInput" flex="50">
                                    <label class="inptLbl">Expiry Date [MMYY]</label>
                                    <input required id="cardExpiry" type="text" maxlength="4" ng-style="(userInfo.card == '0') && {'border-bottom': '1px solid rgba(209, 58, 58, 0.95)'}">
                                </md-input-container>
                            </div>
                            <div layout="row" layout-align="center">
                                <md-input-container class="md-block extInput" flex="50">
                                    <label class="inptLbl inptLblSC1">CVV/CVC</label>
                                    <input required id="cardCVV" type="text" maxlength="3" ng-style="(userInfo.card == '0') && {'border-bottom': '1px solid rgba(209, 58, 58, 0.95)'}">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="HomeItBtn">
                            <button name="buttonProcess" id="buttonProcess" class="btn btn-success" onclick="javascript:helcimProcess();" ng-click="HomeIt()">Home it</button>
                        </div>
                    </form>
                    <br>
                    <br>
                    <?xml version=\"1.0\"?>
                    <message>
                        <response></response>
                        <responseMessage></responseMessage>
                        <noticeMessage></noticeMessage>
                        <date></date>
                        <time></time>
                        <type></type>
                        <amount></amount>
                        <cardHolderName></cardHolderName>
                        <cardNumber></cardNumber>
                        <cardExpiry></cardExpiry>
                        <cardToken></cardToken>
                        <cardType></cardType>
                        <transactionId></transactionId>
                        <avsResponse></avsResponse>
                        <cvvResponse></cvvResponse>
                        <approvalCode></approvalCode>
                        <orderNumber></orderNumber>
                        <customerCode></customerCode>
                    </message>
                </div>
            </div>
            <!--Order Summary SideNav-->
            <md-sidenav class="md-sidenav-right mdSideNavL1" md-component-id="right" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
                <md-content layout-padding style="height: 100%;">
                    <div class="receiptB1">
                        <div class="summerLnP1">
                            <md-button ng-click="close()" aria-label="HideSideNav" hide-gt-md class="glyClsBtn">
                                <ng-md-icon icon="keyboard_arrow_left" size="30" style="fill: white;"></ng-md-icon>
                            </md-button>
                            <span class="summerLnP2">Order Summary</span>
                        </div>
                        <div layout="row" layout-align="center" class="receiptB1b">
                            <div class="receiptB2">
                                <ul class="receiptB2a">
                                    <li>Cart:</li>
                                    <li>Delivery Fee:</li>
                                    <li>GST:</li>
                                </ul>
                            </div>
                            <div class="receiptB2">
                                <ul class="receiptB2b">
                                    <li>C${{totalAmount}}</li>
                                    <li>C${{delFee}}</li>
                                    <li>C${{GST}}</li>
                                </ul>
                            </div>
                        </div>
                        <div layout="row" layout-align="center">
                            <div class="receiptB3">
                                <ul class="receiptB3a">
                                    <li>Total:</li>
                                </ul>
                            </div>
                            <div class="receiptB3">
                                <ul class="receiptB3b">
                                    <li>C${{receipt}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="(super_category, super_category_items) in userCart" class="cartBItems1">
                        <div class="strBrk">
                            <div flex="10" class="strTypeLn"></div>
                            <span class="strType">{{ super_category }}</span>
                            <div class="strTypeLn"></div>
                        </div>
                        <div ng-repeat="product in super_category_items">
                            <div layout="row" layout-align="center">
                                <div class="cartBItems2A" flex="30">
                                    <ul>
                                        <li>
                                            <md-button aria-label="plusItem" ng-click="plusItem(product)" class="plusItem">
                                                <img class="orBtnSz" ng-src="{{'/resources/images/plusItem_Icon.svg'}}">
                                            </md-button>
                                        </li>
                                        <li>
                                            <md-button aria-label="minusItem" ng-click="minusItem(product)" class="minusItem">
                                                <img class="orBtnSz" ng-src="{{'/resources/images/minusItem_Icon.svg'}}">
                                            </md-button>
                                        </li>
                                    </ul>
                                </div>
                                <div flex="35" layout="column">
                                    <li class="cartBItems2B1">
                                        <md-button aria-label="removeFromCart" ng-click="removeFromCart(product)">
                                            <img class="itemRemoveBtn2" ng-src="{{'/resources/images/clearItem_Icon.svg'}}">
                                        </md-button>
                                    </li>
                                    <ul class="container cartBItems2B2">
                                        <li>
                                            <img ng-src={{product.image}}>
                                        </li>
                                    </ul>
                                </div>
                                <div class="cartBItems2C" flex="35">
                                    <ul class="cartBItems2C2">
                                        <li>{{product.brand}} {{product.name}}</li>
                                        <li>{{product.volume}}</li>
                                        <li>{{product.quantity}}X{{product.packaging}}</li>
                                        <li>{{product.price}}C$</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-sidenav>
        </div>
        <!-- Payment Modal -->
        <div id="checkoutModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body" id="modalBody">
                        <div layout="column">
                            <div id="inProcess" ng-if="paymentResult == 'inProcess' ">
                                <div class="inPr_A"><span class="inPr_AA">Payment in process...</span></div>
                                <div class="inPr_B">
                                    <md-progress-circular md-colors="{color: 'primary'}" md-diameter="76" ng-disabled="paymentResult != 'inProcess' "></md-progress-circular>
                                </div>
                            </div>
                            <div id="paymentResult" ng-if="paymentResult == '1' || paymentResult == '0' || paymentResult == '10' ">
                                <div class="pR_A">
                                    <md-button ng-if="paymentResult == '1' " ng-click="clearPage()" class="clrPg">
                                        <ng-md-icon icon="done" class="pR_A1"></ng-md-icon>
                                    </md-button>
                                    <ng-md-icon ng-if="paymentResult == '10' " icon="warning" class="pR_A10"></ng-md-icon>
                                </div>
                                <div class="pR_B"><span class="pR_BA">{{paymentMessage_1}}{{userInfo.first_name}}</span></div>
                                <div class="pR_C"><span class="pR_CA">{{paymentMessage_2}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://secure.myhelcim.com/js/version2.js"></script>
        <script src="/resources/services/localStorage.js"></script>
        <script src="/resources/services/cartService.js"></script>
        <script src="/resources/services/date.js"></script>
        <script src="/resources/controllers/checkout.js"></script>
    </div>
</body>

</html>