<html ng-app="mainModule">
<head>
    <%- include('partial/imports')%>
    <link href="/resources/css/checkout.css" rel="stylesheet">
</head>
<body class="ng-cloak">
    <div ng-controller="checkoutController">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/main" target="_self">Delivery Start Up</a>
                </div>
                <div class="navbar-right navbar-brand checkOut">Payment: {{totalAmount}}C$</div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-1 userInfoArea">
                    <ul class="userPic">User Pic</ul>
                    <ul> 
                        <li>First name: {{userInfo.first_name}}</li>
                        <li>Last  name: {{userInfo.last_name}}</li>   
                    </ul>
                </div>
                <div class="col-md-5 cartItemsArea">
                    <div ng-repeat="product in userCart">
                        <li><button class="btn btn-xs itemRemoveBtn glyphicon glyphicon-remove-circle removeBtn" ng-click="removeFromCart(product)"></button></li>
                        <ul class="plusMinusBox">
                            <span class="cartBoxText"> 
                                <li><button class="glyphicon glyphicon-plus-sign plusMinusItem" ng-click="plusItem(product)"></button></li>
                                <li><button class="glyphicon glyphicon-minus-sign plusMinusItem" ng-click="minusItem(product)"></button></li>
                            </span>
                        </ul>
                        <ul class="itemImageBox">
                            <li><img ng-src={{product.image}} width="70" height="100"></li>
                        </ul>
                        <ul class="cartItemTextBox">
                            <span class=""> 
                                <li>{{product.brand}}</li>
                                <li>{{product.packaging}}</li>
                                <li>{{product.price}} CAD</li>
                                <li>#{{product.quantity}}</li>
                            </span>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/resources/controllers/checkout.js"></script>
</body>
</html>
