<html ng-app="mainModule" style="overflow-y: hidden;">

<head ng-cloak>
    <%- include('partial/imports')%>
        <%- include('partial/header', {title: title}); %>
            <link href="/resources/css/checkout.css" rel="stylesheet">
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbxP17w7jZr5QNnLQUmCJ8X3h1kl4EtFs&libraries=places,geometry"></script>
</head>

<body ng-cloak>
    <div ng-controller="checkoutController">
        <section class="checkout-content">
            <div class="checkout-content-col-left">
                <div class="col-left-header">
                    <button class="show-sn-btn" aria-label="toggleRight" ng-click="toggleRight()" hide-gt-md>
                        <ng-md-icon icon="keyboard_arrow_left"></ng-md-icon>
                        <!-- <span class="details-text">Cart</span> -->
                    </button>
                </div>
                <div class="delivery-time-message box-center"><span>45-MINUTES Delivery</span></div>
                <input id="stripeToken" value="<%= stripeToken %>" hidden>
                <form name="checkoutInput" ng-submit="submitCheckout(checkoutInput.$valid)">
                    <div class="box-center" ng-show="userInfo.hasLiquor">
                        <md-input-container class="md-block no-mar-bottom dob-input" flex="45">
                            <label class="input-label">Date of Birth MM-DD-YYYY</label>
                            <input id ="date_of_birth" name="dob" ng-pattern="/^((0[13578]|1[02])[-.](29|30|31)[-.](18|19|20)[0-9]{2})|((01|0[3-9]|1[1-2])[-.](29|30)[-.](18|19|20)[0-9]{2})|((0[1-9]|1[0-2])[-.](0[1-9]|1[0-9]|2[0-8])[-.](18|19|20)[0-9]{2})|((02)[\/.]29[-.](((18|19|20)(04|08|[2468][048]|[13579][26]))|2000))$/" ng-model="userInfo.dateOfBirth" ng-blur="checkDOB(userInfo.dateOfBirth)" ng-required="userInfo.hasLiquor" />
                            <div ng-messages="checkoutInput.dob.$error">
                                <div ng-message="pattern" class="error-message-txt">Date format only</div>
                                <div ng-message="required" class="error-message-txt">Required</div>
                            </div>
                            <div ng-if="userInfo.dob_not_valid" class="error-message-txt">Not legal age</div>
                        </md-input-container>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: center; margin: 0;">
                        <md-input-container class="md-block no-mar-bottom" flex="40">
                            <label class="input-label">First Name</label>
                            <input name="fname" maxlength="30" ng-pattern="/^[a-zA-Z]*$/" ng-disabled="userSignedIn" ng-model="userInfo.first_name" type="text" required />
                            <div ng-messages="checkoutInput.fname.$error">
                                <div ng-message="pattern" class="error-message-txt">Letters only</div>
                                <div ng-message="required" class="error-message-txt">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block no-mar-bottom" flex="40">
                            <label class="input-label">Last Name</label>
                            <input name="lname" maxlength="30" ng-pattern="/^[a-zA-Z]*$/" ng-disabled="userSignedIn" ng-model="userInfo.last_name" type="text" required/>
                            <div ng-messages="checkoutInput.lname.$error">
                                <div ng-message="pattern" class="error-message-txt">Letters only</div>
                                <div ng-message="required" class="error-message-txt">Required</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="input-center">
                        <md-input-container class="md-block no-mar-bottom" flex="80">
                            <label class="input-label">Email</label>
                            <input name="email" ng-pattern="/^.+@.+\..+$/" ng-disabled="userSignedIn" ng-model="userInfo.user_email" type="email" required/>
                            <div ng-messages="checkoutInput.email.$error">
                                <div ng-message="pattern" class="error-message-txt">Email format only</div>
                                <div ng-message="required" class="error-message-txt">Required</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="input-center">
                        <md-input-container class="md-block no-mar-bottom" flex="80">
                            <label for="idCell" class="input-label">Phone</label>
                            <input id="gP_number" name="phone" minlength="5" maxlength="14" ng-pattern="/^[0-9()+ -]*$/" ng-model="userInfo.phone_number" placeholder="(403) 404-6648" required/>
                            <div ng-messages="checkoutInput.phone.$error">
                                <div ng-message="pattern" class="error-message-txt">Numbers only</div>
                                <div ng-message="minlength" class="error-message-txt">Required</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div id="address" class="input-center">
                        <md-input-container class="md-block no-mar-bottom" flex="80">
                            <label></label>
                            <address-autocomplete style="width: 300px;" input-class="address-input-checkout" icon-class="address-clear-icon" button-class="address-clear-btn" autocomplete="autocomplete"
                                on-address-selected="gotAddressResults" autocomplete-bounds="bounds"></address-autocomplete>
                            <div ng-messages="checkoutInput.address.$error">
                                <div ng-message="required" class="error-message-txt">Required</div>
                            </div>
                            <div ng-if="userInfo.withinCoverage == false" class="error-message-txt">Sorry, we do not deliver to your location at the moment</div>
                        </md-input-container>
                    </div>
                    <div id="driver-instruction" class="gu_address flex-end">
                        <md-input-container class="md-block no-mar-bottom" flex="50">
                            <label></label>
                            <input id="driverInstruction" name="drInstruction" maxlength="60" ng-pattern="/^[a-zA-Z0-9 -]*$/" ng-model="userInfo.drInstruction" placeholder="Driver Instruction" type="text" />
                            <div ng-messages="checkoutInput.drInstruction.$error">
                                <div ng-message="pattern" class="error-message-txt">Number and letter only</div>
                                <div ng-message="maxlength" class="error-message-txt">Maximum 60 characters</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="HomeItBtn" layout="row">
                        <button type="submit" name="buttonProcess" class="btn btn-success" layout="row">Pay C${{ receipt }}</button>
                    </div>
                </form>
            </div>
            <md-sidenav class="md-sidenav-right checkout-side-nav" md-component-id="right" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
                <md-content>
                    <section class="side-nav-header">
                        <div class="sn-header-top box-center">
                            <button class="sn-cls-btn" ng-click="close()" hide-gt-md>
                                <ng-md-icon icon="keyboard_arrow_right"></ng-md-icon>
                            </button>
                            <span class="sn-header-top-txt box-center">Order Summary</span>
                        </div>
                        <div class="sn-header-body">
                            <div class="box-center">
                                <ul class="sn-header-body-ul sn-header-body-left">
                                    <li>Cart:</li>
                                    <li>Delivery Fee:</li>
                                    <li>GST:</li>
                                </ul>
                            </div>
                            <div style="display: flex; align-items: center; justify-content: center;">
                                <ul class="sn-header-body-ul sn-header-body-right">
                                    <li>C${{totalAmount}}</li>
                                    <li>C${{delFee}}</li>
                                    <li>C${{GST}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="total-div">
                            <div class="total-div-ln">
                                <ul class="total-ul total-ul-left">
                                    <li>Total:</li>
                                </ul>
                            </div>
                            <div class="total-div-ln">
                                <ul class="total-ul total-ul-right">
                                    <li>C${{receipt}}</li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <section class="side-nav-content">
                        <div class="side-nav-content-div" ng-repeat="store_type in userCartToView">
                            <div class="store-seper box-center">
                                <span class="store-name">{{ store_type[0] }}</span>
                            </div>
                            <div ng-repeat="product in store_type[1]">
                                <div class="item-div">
                                    <div class="box-center item-div-left">
                                        <button class="item-btn" ng-click="plusItem(product)">
                                            <ng-md-icon icon="add_circle_outline"></ng-md-icon>
                                        </button>
                                        <button class="item-btn" ng-click="minusItem(product)">
                                            <ng-md-icon icon="remove_circle_outline"></ng-md-icon>
                                        </button>
                                    </div>
                                    <div class="item-div-mid">
                                        <button class="item-btn remove-btn" ng-click="removeFromCart(product)">
                                            <ng-md-icon icon="clear"></ng-md-icon>
                                        </button>
                                        <img class="item-img" ng-src={{product.image}}>
                                        <img class="item-clsed-img" ng-show="!product.store_open" ng-src="/resources/images/non-catalog-image/homit_closed.png">
                                    </div>
                                    <div class="item-div-right box-center">
                                        <ul style="margin: 0; padding: 0;">
                                            <li>{{ product.brand }} {{ product.name }}</li>
                                            <li>{{ product.volume }}</li>
                                            <li>{{ product.quantity + ' '}} X {{product.packaging }}</li>
                                            <li>C${{ product.price }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </md-content>
            </md-sidenav>
        </section>


        <!-- Payment Modal -->
        <div id="checkoutModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body" id="modalBody">
                        <div class="flex-column">
                            <div id="inProcess" ng-if="paymentResult == 'inProcess' ">
                                <div class="flex-center-row modal-header-ln1">
                                    <span class="modal-txt">Placing order...</span>
                                </div>
                                <div class="flex-center-row modal-header-ln2">
                                    <md-progress-circular md-colors="{color: 'primary'}" md-diameter="76" ng-disabled="paymentResult != 'inProcess' "></md-progress-circular>
                                </div>
                            </div>
                            <div id="paymentResult" ng-if="paymentResult == '1' || paymentResult == '02' || paymentResult == '03' || paymentResult == '0' || paymentResult == '01' || paymentResult == '10' || paymentResult == '11' ">
                                <div class="flex-center-row modal-content-sign">
                                    <button class="modal-cls-btn" ng-click="clearPage()">
                                        <ng-md-icon icon="close"></ng-md-icon>
                                    </button>
                                    <button ng-click="clearPage()" class="modal-sign-btn">
                                        <ng-md-icon class="flex-center-row modal-sign-btn-icon icon-size-80" ng-if="paymentResult == '1' " icon="done"></ng-md-icon>
                                        <ng-md-icon class="flex-center-row modal-sign-btn-icon icon-size-70" ng-if="paymentResult == '11' " icon="warning"></ng-md-icon>
                                    </button>
                                    <ng-md-icon class="result-icon result-0-03-10 icon-size-85" ng-if="paymentResult == '10' || paymentResult == '0'" icon="warning"></ng-md-icon>
                                    <ng-md-icon class="result-icon result-01-02 icon-size-85" ng-if="paymentResult == '01' || paymentResult == '02' " icon="sentiment_dissatisfied"></ng-md-icon>
                                    <ng-md-icon class="result-icon result-03 icon-size-85" ng-if="paymentResult == '03'" icon="announcement"></ng-md-icon>
                                </div>
                                <div class="flex-column result-msg-ln1">
                                    <span class="modal-txt result-msg-ln1-name">{{ paymentMessage_1  + " " + userInfo.first_name }}</span>
                                    <span class="modal-txt str-close-msg" ng-if="closedStoreMessage">{{ closedStoreMessage }} <span ng-click="removeClosedItems()">remove items</span></span>
                                </div>
                                <div class="result-msg-ln2">
                                    <span class="modal-txt box-center" ng-bind-html="paymentMessage_2"></span>
                                </div>
                                <div class="result-msg-ln3">
                                    <span class="modal-txt str-close-msg del-time-msg" ng-bind-html="paymentMessage_3"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% if (!production) { %>
            <script src="/resources/directives/addressAutocomplete.js"></script>
            <script src="/resources/services/localStorage.js"></script>
            <script src="/resources/services/cartService.js"></script>
            <script src="/resources/services/mapServices.js"></script>
            <script src="/resources/services/date.js"></script>
            <script src="/resources/controllers/checkout.js"></script>
            <script src="/resources/controllers/checkout.js"></script>
            <% } %>
    </div>
</body>

</html>