<html ng-app="mainModule" style="overflow-y: hidden;">

<head ng-cloak>
    <%- include('partial/imports')%>
        <%- include('partial/header', {title: title}); %>
            <link href="/resources/css/checkout.css" rel="stylesheet">
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbxP17w7jZr5QNnLQUmCJ8X3h1kl4EtFs&libraries=places,geometry"></script>
</head>

<body ng-cloak>
    <div ng-controller="checkoutController">
        <div layout="row" layout-align="center" class="container">
            <div class="col1">
                <div class="col1ChevRgt">
                    <md-button aria-label="toggleRight" ng-click="toggleRight()" class="open-btn" hide-gt-md>
                        <ng-md-icon icon="keyboard_arrow_left" class="open-btn-icon"></ng-md-icon>
                        <span class="details-text">Cart</span>
                    </md-button>
                </div>
                <div class="delivery-time-message flex-center"><span>45-MINUTES Delivery</span></div>
                <input id="stripeToken" value="<%= stripeToken %>" hidden>
                <!--DoB-->
                <form name="checkoutInput" ng-submit="submitCheckout(checkoutInput.$valid)">
                    <div class="flex-center" ng-show="userInfo.hasLiquor">
                        <md-input-container class="md-block bigClass" flex="45">
                            <label class="inptLbl">Date of Birth MM-DD-YYYY</label>
                            <input id ="date_of_birth" name="dob" ng-pattern="/^((0[13578]|1[02])[-.](29|30|31)[-.](18|19|20)[0-9]{2})|((01|0[3-9]|1[1-2])[-.](29|30)[-.](18|19|20)[0-9]{2})|((0[1-9]|1[0-2])[-.](0[1-9]|1[0-9]|2[0-8])[-.](18|19|20)[0-9]{2})|((02)[\/.]29[-.](((18|19|20)(04|08|[2468][048]|[13579][26]))|2000))$/" ng-model="userInfo.dateOfBirth" ng-blur="checkDOB(userInfo.dateOfBirth)" ng-required="userInfo.hasLiquor" />
                            <div ng-messages="checkoutInput.dob.$error" ng-messages-multiple>
                                <div ng-message="pattern" class="inptErMsg">Date format only</div>
                                <div ng-message="required" class="inptErMsg">Required</div>
                            </div>
                            <div ng-if="userInfo.dob_not_valid" class="error-message">Not legal age</div>
                        </md-input-container>
                    </div>
                    <!--First & Last Name-->
                    <div layout="row" layout-align="center" style="margin: 0;">
                        <md-input-container class="md-block bigClass" flex="40">
                            <label class="inptLbl">First Name</label>
                            <input name="fname" maxlength="30" ng-pattern="/^[a-zA-Z]*$/" ng-disabled="userSignedIn" ng-model="userInfo.first_name" type="text" required />
                            <div ng-messages="checkoutInput.fname.$error">
                                <div ng-message="pattern" class="inptErMsg">Letters only</div>
                                <div ng-message="required" class="inptErMsg">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block bigClass" flex="40">
                            <label class="inptLbl">Last Name</label>
                            <input name="lname" maxlength="30" ng-pattern="/^[a-zA-Z]*$/" ng-disabled="userSignedIn" ng-model="userInfo.last_name" type="text" required/>
                            <div ng-messages="checkoutInput.lname.$error">
                                <div ng-message="pattern" class="inptErMsg">Letters only</div>
                                <div ng-message="required" class="inptErMsg">Required</div>
                            </div>
                        </md-input-container>
                    </div>
                    <!--Email-->
                    <div class="inptFrm">
                        <md-input-container class="md-block bigClass" flex="80">
                            <label class="inptLbl">Email</label>
                            <input name="email" ng-pattern="/^.+@.+\..+$/" ng-disabled="userSignedIn" ng-model="userInfo.user_email" type="email" required/>
                            <div ng-messages="checkoutInput.email.$error">
                                <div ng-message="pattern" class="inptErMsg">Email format only</div>
                                <div ng-message="required" class="inptErMsg">Required</div>
                            </div>
                        </md-input-container>
                    </div>
                    <!--Phone Number-->
                    <div class="inptFrm">
                        <md-input-container class="md-block bigClass" flex="80">
                            <label for="idCell" class="inptLbl">Phone</label>
                            <input id="gP_number" name="phone" minlength="5" maxlength="14" ng-pattern="/^[0-9()+ -]*$/" ng-model="userInfo.phone_number" placeholder="(403) 404-6648" required/>
                            <div ng-messages="checkoutInput.phone.$error">
                                <div ng-message="pattern" class="inptErMsg">Numbers only</div>
                                <div ng-message="minlength" class="inptErMsg">Required</div>
                            </div>
                        </md-input-container>
                    </div>
                    <!--Delivery Address-->
                    <div id="address" class="inptFrm gu_address">
                        <md-input-container class="md-block bigClass" flex="80">
                            <label></label>
                            <address-autocomplete style="width: 300px;" input-class="adrInpt" icon-class="adrInpt_x_A" button-class="adrInpt_x" autocomplete="autocomplete"
                                on-address-selected="gotAddressResults" autocomplete-bounds="bounds"></address-autocomplete>
                            <div ng-messages="checkoutInput.address.$error">
                                <div ng-message="required" class="inptErMsg">Required</div>
                            </div>
                            <div ng-if="userInfo.withinCoverage == false" class="outPlgn_txt">Sorry, we do not deliver to your location at the moment</div>
                        </md-input-container>
                    </div>
                    <!-- Deliver Instruction -->
                    <div id="driver-instruction" class="gu_address flex-end">
                        <md-input-container class="md-block bigClass" flex="50">
                            <label></label>
                            <input id="driverInstruction" name="drInstruction" maxlength="60" ng-pattern="/^[a-zA-Z0-9 -]*$/" ng-model="userInfo.drInstruction" placeholder="Driver Instruction" type="text" />
                            <div ng-messages="checkoutInput.drInstruction.$error">
                                <div ng-message="pattern" class="inptErMsg">Number and letter only</div>
                                <div ng-message="maxlength" class="inptErMsg">Maximum 60 characters</div>
                            </div>
                            <div class="outPlgn_txt"></div>
                        </md-input-container>
                    </div>
                    <div class="HomeItBtn" layout="row">
                        <button type="submit" name="buttonProcess" class="btn btn-success" layout="row">Pay C${{ receipt }}</button>
                    </div>
                </form>
            </div>
            <!--Order Summary SideNav-->
            <md-sidenav class="md-sidenav-right mdSideNavL1" md-component-id="right" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
                <md-content layout-padding>
                    <div class="receiptB1">
                        <div class="summerLnP1">
                            <md-button ng-click="close()" aria-label="HideSideNav" hide-gt-md class="sidNav-close-button">
                                <ng-md-icon icon="keyboard_arrow_right"></ng-md-icon>
                            </md-button>
                            <span class="summerLnP2">Order Summary</span>
                        </div>
                        <div layout="row" layout-align="center" class="receiptB1b">
                            <div class="receiptB2">
                                <ul class="receiptB2a">
                                    <li>Cart:</li>
                                    <li>Delivery Fee:</li>
                                    <li>GST:</li>
                                </ul>
                            </div>
                            <div class="receiptB2">
                                <ul class="receiptB2b">
                                    <li>C${{totalAmount}}</li>
                                    <li>C${{delFee}}</li>
                                    <li>C${{GST}}</li>
                                </ul>
                            </div>
                        </div>
                        <div layout="row" layout-align="center">
                            <div class="receiptB3">
                                <ul class="receiptB3a">
                                    <li>Total:</li>
                                </ul>
                            </div>
                            <div class="receiptB3">
                                <ul class="receiptB3b">
                                    <li>C${{receipt}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="product-list">
                        <div ng-repeat="super_category in userCartToView" class="cartBItems1">
                            <div class="store-break">
                                <div flex="10" class="store-break-line"></div>
                                <span class="store-type">{{ super_category[0] }}</span>
                                <div class="store-break-line"></div>
                            </div>
                            <div ng-repeat="product in super_category[1]">
                                <div layout="row" layout-align="center">
                                    <div class="cartBItems2A" flex="30">
                                        <ul>
                                            <li>
                                                <md-button aria-label="plusItem" ng-click="plusItem(product)" class="item-button">
                                                    <ng-md-icon icon="add_circle_outline"></ng-md-icon>
                                                </md-button>
                                            </li>
                                            <li>
                                                <md-button aria-label="minusItem" ng-click="minusItem(product)" class="item-button">
                                                    <ng-md-icon icon="remove_circle_outline"></ng-md-icon>
                                                </md-button>
                                            </li>
                                        </ul>
                                    </div>
                                    <div flex="35" layout="column">
                                        <li class="clear-item-li">
                                            <md-button id="item-remove-button" aria-label="removeFromCart" ng-click="removeFromCart(product)" class="item-button">
                                                <ng-md-icon icon="clear"></ng-md-icon>
                                            </md-button>
                                        </li>
                                        <li class="product-img-li">
                                            <img class="cartBItems2B2" ng-src={{product.image}}>
                                            <img ng-show="!product.store_open" class="closed-item-img" ng-src="/resources/images/non-catalog-image/homit_closed.png">
                                        </li>
                                    </div>
                                    <div class="cartBItems2C" flex="35">
                                        <ul class="cartBItems2C2">
                                            <li>{{ product.brand }} {{ product.name }}</li>
                                            <li>{{ product.volume }}</li>
                                            <li>{{ product.quantity + ' '}} X {{product.packaging }}</li>
                                            <li>C${{ product.price }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-sidenav>
        </div>
        <!-- Payment Modal -->
        <div id="checkoutModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body" id="modalBody">
                        <div layout="column">
                            <div id="inProcess" ng-if="paymentResult == 'inProcess' ">
                                <div class="inPr_A">
                                    <span class="inPr_AA">Payment in process...</span>
                                </div>
                                <div class="inPr_B">
                                    <md-progress-circular md-colors="{color: 'primary'}" md-diameter="76" ng-disabled="paymentResult != 'inProcess' "></md-progress-circular>
                                </div>
                            </div>
                            <div id="paymentResult" ng-if="paymentResult == '1' || paymentResult == '02' || paymentResult == '03' || paymentResult == '0' || paymentResult == '01' || paymentResult == '10' || paymentResult == '11' ">
                                <div class="pR_A">
                                    <md-button class="modal-close-button" ng-click="clearPage()">
                                        <ng-md-icon icon="close" class="modal-close-button-icon"></ng-md-icon>
                                    </md-button>
                                    <md-button ng-click="clearPage()" class="message-icon-button">
                                        <ng-md-icon ng-if="paymentResult == '1' " icon="done" class="pR_A1"></ng-md-icon>
                                        <ng-md-icon ng-if="paymentResult == '11' " icon="warning" class="pR_A1 pR_A2"></ng-md-icon>
                                    </md-button>
                                    <ng-md-icon ng-if="paymentResult == '10' || paymentResult == '0'" icon="warning" class="pR_A10"></ng-md-icon>
                                    <ng-md-icon ng-if="paymentResult == '01' || paymentResult == '02' " icon="sentiment_dissatisfied" class="pR_A11"></ng-md-icon>
                                    <ng-md-icon ng-if="paymentResult == '03'" icon="announcement" class="pR_A10 closed-message-icon"></ng-md-icon>
                                </div>
                                <div class="pR_B" layout="column">
                                    <span class="pR_BA">{{ paymentMessage_1 }}{{ userInfo.first_name }}</span>
                                    <span class="store-closed-message" ng-if="closedStoreMessage">{{ closedStoreMessage }} <span ng-click="removeClosedItems()" class="store-closed-message-remove">remove items</span></span>
                                </div>
                                <div style="width: 100%; margin-bottom: 10px;">
                                    <span class="pR_CA" ng-bind-html="paymentMessage_2"></span>
                                </div>
                                <div class="pR_C">
                                    <span class="delivery-time-text" ng-bind-html="paymentMessage_3"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% if (!production) { %>
            <script src="/resources/directives/addressAutocomplete.js"></script>
            <script src="/resources/services/localStorage.js"></script>
            <script src="/resources/services/cartService.js"></script>
            <script src="/resources/services/mapServices.js"></script>
            <script src="/resources/services/date.js"></script>
            <script src="/resources/controllers/checkout.js"></script>
            <script src="/resources/controllers/checkout.js"></script>
            <% } %>
    </div>
</body>

</html>