<html ng-app="mainModule">
<head>
    <link href="/resources/css/checkout.css" rel="stylesheet">
    <link href="/resources/library/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/library/css/bootstrap-theme.min.css" rel="stylesheet">
    <%- include('partial/imports')%>
    <%- include('partial/header', {title: title}); %>
</head>
<body class="ng-cloak">
    <div ng-controller="checkoutController">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/main" target="_self">Delivery Start Up</a>
                </div>
                <div class="navbar-right navbar-brand checkOut">Payment</div>
            </div>
        </nav>
        <div class="container">
            <div class="col-md-5 col-md-offset-1 mainContainer">
                User First Name
            </div>
            <div class="col-md-5 mainContainer">
                <div ng-repeat="product in userCart">
                    <li><button class="btn btn-xs cartBoxRemoveBtn glyphicon glyphicon-remove-circle" ng-click="removeFromCart(product)"></button></li>
                    <ul class="cartItemUl">
                        <span class="cartBoxText"> 
                            <li><button class="glyphicon glyphicon-plus-sign plusMinusItem" ng-click="plusItem(product)"></button></li>
                            <li><button class="glyphicon glyphicon-minus-sign plusMinusItem" ng-click="minusItem(product)"></button></li>
                        </span>
                    </ul>
                    <ul class="cartBoxUl">
                        <li><img ng-src={{object.image}} width="60" height="85"></li>
                    </ul>
                    <ul class="cartBoxUl">
                        <span class="cartBoxText"> 
                            <li>{{product.brand}}</li>
                            <li>{{product.packaging}}</li>
                            <li>{{product.price}} CAD</li>
                            <li>#{{product.quantity}}</li>
                        </span>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="/resources/controllers/checkout.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="/resources/library/js/jquery.min.js"></script>
    <script src="/resources/library/js/bootstrap.min.js"></script>
</body>
</html>
