<html ng-app="mainModule">
<head>
    <%- include('partial/imports')%>
    <link href="/resources/css/checkout.css" rel="stylesheet">
</head>
<body class="ng-cloak">
    <div ng-controller="checkoutController">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/main" target="_self">Delivery Start Up</a>
                </div>
                <div class="navbar-right navbar-brand checkOut">Payment: {{totalAmount}}C$</div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-1 userInfoArea">
                    <ul class="userPic">User Pic</ul>
                    <div ng-if="userInfo">
                        <ul class="userInfoUL"> 
                            <!--<li class="userInfoLI">First Name</li>
                            <li class="userInfoLiDB">{{userInfo.first_name}}</li>-->

                            <li class="userInfoLI">First Name</li>
                            <md-input-container>
                                <input type="text" ng-model="orderer.first_name" class="userInput" ng-disabled="userInfo.first_name" placeholder={{userInfo.first_name}}>
                            </md-input-container>
                            <li class="userInfoLI">Last Name</li>
                            <md-input-container>
                                <input type="text" ng-model="orderer.last_name" class="userInput" ng-disabled="userInfo.last_name" placeholder={{userInfo.last_name}}>
                            </md-input-container>
                            <li class="userInfoLI">Phone Number</li>
                            <md-input-container>
                                <input type="text" ng-model="orderer.phone_number" class="userInput" ng-disabled="userInfo.phone_number" placeholder={{userInfo.phone_number}}>
                            </md-input-container>
                            <li class="userInfoLI">Email Address</li>
                            <md-input-container>
                                <input type="text" ng-model="orderer.email" class="userInput" ng-disabled="userInfo.user_email" placeholder={{userInfo.user_email}}>
                            </md-input-container>
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active addressNavBar"><a ng-click="address1Clicked" href="#">Address 1</a></li>
                                <li class="addressNavBar"><a ng-click="address2Clicked" href="#">Address 2</a></li>
                                <li class="addressNavBar"><a ng-click="address3Clicked" href="#">Address 3</a></li>
                            </ul>
                            <li class="userInfoLI">Delivery Address</li>
                            <md-input-container>
                                <input type="text" ng-model="orderer.DeliveryAddress" class="userInput" placeholder="#706 10 Brentwood common road NW">
                            </md-input-container>
                            <li class="payNowBtn"><button type="submit" class="btn btn-success" ng-click="PaimentProcessed(orderer)">Pay Now</button></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5 cartItemsArea">
                    <div ng-repeat="product in userCart">
                        <li><button class="btn btn-xs itemRemoveBtn glyphicon glyphicon-remove-circle removeBtn" ng-click="removeFromCart(product)"></button></li>
                        <ul class="plusMinusBox">
                            <span class="cartBoxText"> 
                                <li><button class="glyphicon glyphicon-plus-sign plusMinusItem" ng-click="plusItem(product)"></button></li>
                                <li><button class="glyphicon glyphicon-minus-sign plusMinusItem" ng-click="minusItem(product)"></button></li>
                            </span>
                        </ul>
                        <ul class="itemImageBox">
                            <li><img ng-src={{product.image}} width="70" height="100"></li>
                        </ul>
                        <ul class="cartItemTextBox">
                            <span class=""> 
                                <li>{{product.brand}}</li>
                                <li>{{product.packaging}}</li>
                                <li>{{product.price}} CAD</li>
                                <li>#{{product.quantity}}</li>
                            </span>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/resources/controllers/checkout.js"></script>
</body>
</html>
