<html ng-app="mainModule">
<head>
    <%- include('partial/imports')%>
    <%- include('partial/header', {title: title}); %>
</head>
<body class="ng-cloak">
    <div ng-controller="checkoutController">
    </div>
    <script src="/resources/controllers/checkout.js"></script>
</body>
</html>
