<html ng-app="mainModule" style="overflow-y: hidden;">

<head ng-cloak>
    <%- include('partial/imports')%>
        <%- include('partial/header', {title: title}); %>
            <link href="/resources/css/checkout.css" rel="stylesheet">
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbxP17w7jZr5QNnLQUmCJ8X3h1kl4EtFs&libraries=places"></script>
</head>

<body ng-cloak>
    <div ng-controller="checkoutController">

        <div layout="row" layout-align="center" class="container">
            <div class="col1">
                <div class="col1ChevRgt">
                    <md-button aria-label="toggleRight" ng-click="toggleRight()" class="open-btn" hide-gt-md>
                        <ng-md-icon icon="keyboard_arrow_left" class="open-btn-icon"></ng-md-icon>
                    </md-button>
                </div>
                <div class="userPic">
                    <img ng-src="{{'/resources/images/Homit_Logo.jpeg'}}" width="100" height="100" />
                </div>
                <!--DoB-->
                <div id="dob" layout="column" ng-if="userInfo.hasLiquor">
                    <div layout="row" layout-align="center">
                        <md-input-container class="md-block bigClass">
                            <label class="inptLbl">Date</label>
                            <md-select ng-model="userInfo.birth_day" ng-change="updateBDays(); checkUserAge()">
                                <md-option ng-value="-1" ng-disabled="true">Day</md-option>
                                <md-option ng-value="day" ng-repeat="day in b_days">{{ day }}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block bigClass">
                            <label class="inptLbl">of</label>
                            <md-select ng-model="userInfo.birth_month" ng-change="updateBDays(); checkUserAge()">
                                <md-option ng-value="-1" ng-disabled="true">Month</md-option>
                                <md-option ng-value="month" ng-repeat="month in b_months">{{ month }}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block bigClass">
                            <label class="inptLbl">Birth</label>
                            <md-select ng-model="userInfo.birth_year" ng-change="updateBDays(); checkUserAge()">
                                <md-option ng-value="-1" ng-disabled="true">Year</md-option>
                                <md-option ng-value="year" ng-repeat="year in b_years">{{ year }}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div ng-if="userInfo.dob_valid == false" class="bodErrMsg_A">
                        <span class="bodErrMsg_B">Homit liquor in {{userInfo.dob_diff}}&#8198days</span>
                    </div>
                </div>
                <!--First & Last Name-->
                <form layout="row" layout-align="center" name="names" style="margin: 0;">
                    <md-input-container class="md-block bigClass" flex="40">
                        <label class="inptLbl">First Name</label>
                        <input name="fname" maxlength="30" ng-pattern="/^[a-zA-Z]*$/" ng-model="userInfo.first_name" ng-blur="sanitizeInput(userInfo.first_name,'fname')"
                            type="text" required />
                        <div ng-messages="names.fname.$error">
                            <div ng-message="pattern" class="inptErMsg">Letters only</div>
                            <div ng-message="required" class="inptErMsg">Required</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block bigClass" flex="40">
                        <label class="inptLbl">Last Name</label>
                        <input name="lname" maxlength="30" ng-pattern="/^[a-zA-Z]*$/" ng-model="userInfo.last_name" ng-blur="sanitizeInput(userInfo.last_name,'lname')"
                            type="text" required/>
                        <div ng-messages="names.lname.$error">
                            <div ng-message="pattern" class="inptErMsg">Letters only</div>
                            <div ng-message="required" class="inptErMsg">Required</div>
                        </div>
                    </md-input-container>
                </form>
                <!--Email-->
                <form name="Email" class="inptFrm">
                    <md-input-container class="md-block bigClass" flex="80">
                        <label class="inptLbl">Email</label>
                        <input name="email" ng-pattern="/^.+@.+\..+$/" ng-diabled="userSignedIn" ng-model="userInfo.user_email" ng-blur="sanitizeInput(userInfo.user_email,'email')"
                            type="email" required/>
                        <div ng-messages="Email.email.$error">
                            <div ng-message="pattern" class="inptErMsg">Email format only</div>
                            <div ng-message="required" class="inptErMsg">Required</div>
                        </div>
                    </md-input-container>
                </form>
                <!--Phone Number-->
                <form name="Phone" class="inptFrm">
                    <md-input-container class="md-block bigClass" flex="80">
                        <label for="idCell" class="inptLbl">Phone</label>
                        <input id="gP_number" name="phone" minlength="5" maxlength="14" ng-pattern="/^[0-9()+ -]*$/" ng-model="userInfo.phone_number" ng-blur="sanitizeInput(userInfo.phone_number,'phone')"
                            placeholder="(403) 404-6648" type="text" required/>
                        <div ng-messages="Phone.phone.$error">
                            <div ng-message="pattern" class="inptErMsg">Numbers only</div>
                            <div ng-message="minlength" class="inptErMsg">Required</div>
                        </div>
                    </md-input-container>
                </form>
                <!--Delivery Address-->
                <form id="address" name="Address" class="inptFrm gu_address">
                    <md-input-container class="md-block bigClass" flex="80">
                        <label></label>
                        <address-autocomplete style="width: 300px;" input-class="adrInpt" icon-class="adrInpt_x_A" button-class="adrInpt_x" autocomplete="autocomplete"
                            on-address-selected="gotAddressResults" autocomplete-bounds="bounds"></address-autocomplete>
                        <div ng-messages="Address.address.$error">
                            <div ng-message="required" class="inptErMsg">Required</div>
                        </div>
                        <div ng-if="userInfo.address_valid == false" class="outPlgn_txt">Sorry, we do not deliver to your location at the moment</div>
                    </md-input-container>
                </form>
                <!-- Deliver Instruction -->
                <form id="driver-instruction" name="driverInstruction" class="inptFrm gu_address" style="display: flex; justify-content: flex-end;">
                    <md-input-container class="md-block bigClass" flex="50">
                        <label></label>
                        <input name="drInstruction" maxlength="60" ng-pattern="/^[a-zA-Z0-9 -]*$/" ng-model="userInfo.drInstruction" ng-blur="sanitizeInput(userInfo.drInstruction,'drInstruction')" placeholder="Driver Instruction" type="text"/>
                        <div ng-messages="driverInstruction.drInstruction.$error">
                            <div ng-message="pattern" class="inptErMsg">Number and letter only</div>
                            <div ng-message="maxlength" class="inptErMsg">Maximum 60 characters</div>
                        </div>
                        <div  class="outPlgn_txt"></div>
                    </md-input-container>
                </form>
                <!--Card Info-->
                <div class="container cardContainer" flex="80">
                    <div layout="row" layout-align="start center">
                        <div layout="row">
                            <div>
                                <img ng-src="{{'/resources/images/non-catalog-image/visa_logo.jpeg'}}" width="25px;" height="15.625px" />
                            </div>
                            <div>
                                <img ng-src="{{'/resources/images/non-catalog-image/mastercard_logo.jpeg'}}" width="25px;" height="15.625px" />
                            </div>
                            <div>
                                <img ng-src="{{'/resources/images/non-catalog-image/american-express_logo.jpeg'}}" width="25px;" height="15.625px" />
                            </div>
                        </div>
                        <md-button aria-label="ShowHideCardInfo" class="glypOpnCI" ng-click="userInfo.cardIsShown = !userInfo.cardIsShown">
                            <ng-md-icon ng-if="!userInfo.cardIsShown" icon="keyboard_arrow_down" class="opnCIsgn" size="25"></ng-md-icon>
                            <ng-md-icon ng-if="userInfo.cardIsShown" icon="keyboard_arrow_up" class="opnCIsgn" size="25"></ng-md-icon>
                        </md-button>
                    </div>
                </div>
                <!--Card Info Hidden Box-->
                <div id="helcimResults">
                    <form name="helcimForm" id="helcimForm" method="POST" novalidate>
                        <div ng-show="userInfo.cardIsShown">
                            <input type="hidden" id="token" value="{{helcimToken}}">
                            <input type="hidden" id="language" value="en">
                            <input type="hidden" id="test" value={{helcimTestMode}}>
                            <input type="hidden" id="amount" value={{receipt}}>
                            <input type="hidden" id="amountShipping" value={{delFee}}>
                            <input type="hidden" id="amountTax" value={{GST}}>
                            <input type="hidden" id="customerCode" value={{userInfo.id}}>
                            <input type="hidden" id="comments" value="no comments">
                            <div layout="row" layout-align="center">
                                <md-input-container class="md-block extInput" flex="50">
                                    <label class="inptLbl">Card Number</label>
                                    <input name="cardNumber" id="cardNumber" ng-pattern="/^[0-9]*$/" maxlength="16" ng-model="cardNumber" ng-blur="sanitizeInput(cardNumber,'cd_1')"
                                        type="text" required>
                                    <div ng-messages="helcimForm.cardNumber.$error">
                                        <div ng-message="pattern" class="inptErMsg">Numbers only</div>
                                        <div ng-message="required" class="inptErMsg">Required</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row" layout-align="center">
                                <md-input-container class="md-block extInput" flex="50">
                                    <label class="inptLbl">Expiry Date [MMYY]</label>
                                    <input name="expiryDate" id="cardExpiry" ng-pattern="/^[0-9]*$/" maxlength="4" ng-model="expirayDate" ng-blur="sanitizeInput(expirayDate,'cd_2')"
                                        type="text" required>
                                    <div ng-messages="helcimForm.expiryDate.$error">
                                        <div ng-message="pattern" class="inptErMsg">Numbers only</div>
                                        <div ng-message="required" class="inptErMsg">Required</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row" layout-align="center">
                                <md-input-container class="md-block extInput" flex="50">
                                    <label class="inptLbl inptLblSC1">CVV/CVC</label>
                                    <input name="cvv" id="cardCVV" ng-pattern="/^[0-9]*$/" maxlength="4" ng-model="cvv" ng-blur="sanitizeInput(cvv,'cd_3')" type="text"
                                        required>
                                    <div ng-messages="helcimForm.cvv.$error">
                                        <div ng-message="pattern" class="inptErMsg">Numbers only</div>
                                        <div ng-message="required" class="inptErMsg">Required</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="HomeItBtn">
                            <button ng-disabled="!userInfo.HomeIt" name="buttonProcess" id="buttonProcess" class="btn btn-success" onclick="javascript:helcimProcess();"
                                ng-click="HomeIt()">Home it</button>
                        </div>
                    </form>
                    <br>
                    <br>
                    <?xml version=\"1.0\"?>
                    <message>
                        <response></response>
                        <responseMessage></responseMessage>
                        <noticeMessage></noticeMessage>
                        <date></date>
                        <time></time>
                        <type></type>
                        <amount></amount>
                        <cardHolderName></cardHolderName>
                        <cardNumber></cardNumber>
                        <cardExpiry></cardExpiry>
                        <cardToken></cardToken>
                        <cardType></cardType>
                        <transactionId></transactionId>
                        <avsResponse></avsResponse>
                        <cvvResponse></cvvResponse>
                        <approvalCode></approvalCode>
                        <orderNumber></orderNumber>
                        <customerCode></customerCode>
                    </message>
                </div>
            </div>
            <!--Order Summary SideNav-->
            <md-sidenav class="md-sidenav-right mdSideNavL1" md-component-id="right" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
                <md-content layout-padding>
                    <div class="receiptB1">
                        <div class="summerLnP1">
                            <md-button ng-click="close()" aria-label="HideSideNav" hide-gt-md class="sidNav-close-button">
                                <ng-md-icon icon="keyboard_arrow_right"></ng-md-icon>
                            </md-button>
                            <span class="summerLnP2">Order Summary</span>
                        </div>
                        <div layout="row" layout-align="center" class="receiptB1b">
                            <div class="receiptB2">
                                <ul class="receiptB2a">
                                    <li>Cart:</li>
                                    <li>Delivery Fee:</li>
                                    <li>GST:</li>
                                </ul>
                            </div>
                            <div class="receiptB2">
                                <ul class="receiptB2b">
                                    <li>C${{totalAmount}}</li>
                                    <li>C${{delFee}}</li>
                                    <li>C${{GST}}</li>
                                </ul>
                            </div>
                        </div>
                        <div layout="row" layout-align="center">
                            <div class="receiptB3">
                                <ul class="receiptB3a">
                                    <li>Total:</li>
                                </ul>
                            </div>
                            <div class="receiptB3">
                                <ul class="receiptB3b">
                                    <li>C${{receipt}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="product-list">
                        <div ng-repeat="super_category in userCartToView" class="cartBItems1">
                            <div class="strBrk">
                                <div flex="10" class="strTypeLn"></div>
                                <span class="strType">{{ super_category[0] }}</span>
                                <div class="strTypeLn"></div>
                            </div>
                            <div ng-repeat="product in super_category[1]">
                                <div layout="row" layout-align="center">
                                    <div class="cartBItems2A" flex="30">
                                        <ul>
                                            <li>
                                                <md-button aria-label="plusItem" ng-click="plusItem(product)" class="plusItem">
                                                    <img class="orBtnSz" ng-src="{{'/resources/images/plusItem_Icon.svg'}}">
                                                </md-button>
                                            </li>
                                            <li>
                                                <md-button aria-label="minusItem" ng-click="minusItem(product)" class="minusItem">
                                                    <img class="orBtnSz" ng-src="{{'/resources/images/minusItem_Icon.svg'}}">
                                                </md-button>
                                            </li>
                                        </ul>
                                    </div>
                                    <div flex="35" layout="column">
                                        <li class="cartBItems2B1">
                                            <md-button aria-label="removeFromCart" ng-click="removeFromCart(product)" class="itemRemoveBtn1">
                                                <img class="itemRemoveBtn2" ng-src="{{'/resources/images/clearItem_Icon.svg'}}">
                                            </md-button>
                                        </li>
                                        <li>
                                            <img class="cartBItems2B2" ng-src={{product.image}}>
                                        </li>
                                    </div>
                                    <div class="cartBItems2C" flex="35">
                                        <ul class="cartBItems2C2">
                                            <li>{{product.brand}} {{product.name}}</li>
                                            <li>{{product.volume}}</li>
                                            <li>{{product.quantity}}&#8202X{{product.packaging}}</li>
                                            <li>C${{product.price}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-sidenav>
        </div>
        <!-- Payment Modal -->
        <div id="checkoutModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body" id="modalBody">
                        <div layout="column">
                            <div id="inProcess" ng-if="paymentResult == 'inProcess' ">
                                <div class="inPr_A">
                                    <span class="inPr_AA">Payment in process...</span>
                                </div>
                                <div class="inPr_B">
                                    <md-progress-circular md-colors="{color: 'primary'}" md-diameter="76" ng-disabled="paymentResult != 'inProcess' "></md-progress-circular>
                                </div>
                            </div>
                            <div id="paymentResult" ng-if="paymentResult == '1' || paymentResult == '0' || paymentResult == '01' || paymentResult == '10' || paymentResult == '11' ">
                                <div class="pR_A">
                                    <md-button class="modal-close-button" ng-click="clearPage()">
                                        <ng-md-icon icon="close" class="modal-close-button-icon"></ng-md-icon>
                                    </md-button>
                                    <md-button ng-click="clearPage()" class="clrPg">
                                        <ng-md-icon ng-if="paymentResult == '1' " icon="done" class="pR_A1"></ng-md-icon>
                                        <ng-md-icon ng-if="paymentResult == '11' " icon="warning" class="pR_A1 pR_A2"></ng-md-icon>
                                    </md-button>
                                    <ng-md-icon ng-if="paymentResult == '10' || paymentResult == '0'" icon="warning" class="pR_A10"></ng-md-icon>
                                    <ng-md-icon ng-if="paymentResult == '01' " icon="sentiment_dissatisfied" class="pR_A11"></ng-md-icon>
                                </div>
                                <div class="pR_B">
                                    <span class="pR_BA">{{paymentMessage_1}}{{userInfo.first_name}}</span>
                                </div>
                                <div class="pR_C">
                                    <span class="pR_CA">{{paymentMessage_2}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% if (!production) { %>
            <script src="/resources/directives/addressAutocomplete.js"></script>
            <script src="/resources/services/localStorage.js"></script>
            <script src="/resources/services/cartService.js"></script>
            <script src="/resources/services/mapServices.js"></script>
            <script src="/resources/services/date.js"></script>
            <script src="/resources/controllers/checkout.js"></script>
        <% } %>
        <script src="https://secure.myhelcim.com/js/version2.js"></script>
    </div>
</body>

</html>