<html ng-app="mainModule" style="overflow-y: hidden;">

<head ng-cloak>
    <%- include('partial/imports')%>
        <%- include('partial/header', {title: title}); %>
            <link href="/resources/css/checkout.css" rel="stylesheet">
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbxP17w7jZr5QNnLQUmCJ8X3h1kl4EtFs&libraries=places,geometry"></script>
</head>
<!--googleoff: snippet-->

<body class="fadeIn" ng-cloak>
    <div ng-controller="checkoutController">
        <section class="checkout-content">
            <button class="co-view-cart-btn box-center" ng-click="showUserCart()">
                <ng-md-icon ng-class="co_cart_show_icon" icon="arrow_drop_down"></ng-md-icon>View Basket
            </button>
            <section class="co-cart-sec">
                <cart can-remove="false" cart-ctrl="cart" on-cart-load="onCartLoad" on-price-change="onPriceChange"></cart>
            </section>
            <section class="co-userinfo-sec">
                <div class="seperation-line">&nbsp;Order Totals&nbsp;</div>
                <section class="order-summery-sec">
                    <table class="co-subtotals-table">
                        <tr>
                            <td>Basket Total:</td>
                            <td class="co-totals-num">C${{totalAmount}}</td>
                        </tr>
                        <tr>
                            <td>Delivery Fee:</td>
                            <td ng-if="!(delFee == 0 && receipt != 0)" class="co-totals-num">C${{delFee}}</td>
                            <td ng-if="delFee == 0 && receipt != 0" class="co-totals-num">FREE</td>
                        </tr>
                        <tr>
                            <td>GST:</td>
                            <td class="co-totals-num">C${{GST}}</td>
                        </tr>
                    </table>

                    <table class="order-coupons">
                        <tr class="coupons-tr" ng-repeat="coupon in userAppliedCoupons">
                            <td class="coupon-name-td">{{ coupon.message }}:</td>
                            <td class="co-totals-num">-C${{ coupon.off }}</td>
                        </tr>
                    </table>

                    <div class="totals-seperation-line"></div>
                    <table class="co-total-table">
                        <tr>
                            <td>Total:</td>
                            <td class="co-totals-num">C${{receipt}}</td>
                        </tr>
                    </table>
                </section>
                <div class="seperation-line">&nbsp;Customer Info&nbsp;</div>
                <input id="stripeToken" value="<%= stripeToken %>" hidden>
                <form name="checkoutInput" ng-submit="submitCheckout(checkoutInput.$valid)">
                    <div class="customer-info-p1 ci-p1-user" ng-if="userSignedIn && userInfo.dateOfBirth && userInfo.phone_number && userInfo.user_email"
                        ng-click="hrefTo('/myaccount')">
                        <ng-md-icon icon="mode_edit" class="ci-p1-user-edit" size="20"></ng-md-icon>
                        <div class="ci-p1-name-lname">{{ userInfo.first_name + " " + userInfo.last_name }}</div>
                        <div class="ci-p1-all">Date of Birth: <span>{{ userInfo.dateOfBirth }}</span></div>
                        <div class="ci-p1-all">Phone: <span>{{ userInfo.phone_number }}</span></div>
                        <div class="ci-p1-all">Email: <span>{{ userInfo.user_email }}</span></div>
                    </div>
                    <div class="customer-info-p1" ng-if="!(userSignedIn && userInfo.dateOfBirth && userInfo.phone_number && userInfo.user_email)">
                        <md-input-container class="md-block no-mar-bottom dob-input" ng-show="userInfo.hasLiquor">
                            <label></label>
                            <input id="date_of_birth" name="dob" ng-pattern="/^((0[13578]|1[02])[-.](29|30|31)[-.](18|19|20)[0-9]{2})|((01|0[3-9]|1[1-2])[-.](29|30)[-.](18|19|20)[0-9]{2})|((0[1-9]|1[0-2])[-.](0[1-9]|1[0-9]|2[0-8])[-.](18|19|20)[0-9]{2})|((02)[\/.]29[-.](((18|19|20)(04|08|[2468][048]|[13579][26]))|2000))$/"
                                ng-model="userInfo.dateOfBirth" ng-blur="checkDOB(userInfo.dateOfBirth)" ng-required="userInfo.hasLiquor"
                                placeholder="Date of birth MM-DD-YYYY" />
                            <div ng-messages="checkoutInput.dob.$error">
                                <div ng-message="pattern" class="error-message-txt error-text">Date format only</div>
                                <div ng-message="required" class="error-message-txt error-text">Required</div>
                            </div>
                            <div ng-if="userInfo.dob_not_valid" class="error-message-txt error-text">Not legal age</div>
                        </md-input-container>
                        <div class="name-lname-input ui-input">
                            <md-input-container class="md-block no-mar-bottom">
                                <label></label>
                                <input name="fname" maxlength="30" ng-pattern="/^[a-zA-Z]*$/" ng-disabled="userSignedIn" ng-model="userInfo.first_name" placeholder="First name"
                                    type="text" autocorrect="off" required />
                                <div ng-messages="checkoutInput.fname.$error">
                                    <div ng-message="pattern" class="error-message-txt error-text">Letters only</div>
                                    <div ng-message="required" class="error-message-txt error-text">Required</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block no-mar-bottom">
                                <label></label>
                                <input name="lname" maxlength="30" ng-pattern="/^[a-zA-Z]*$/" ng-disabled="userSignedIn" ng-model="userInfo.last_name" placeholder="Last name"
                                    type="text" autocorrect="off" required />
                                <div ng-messages="checkoutInput.lname.$error">
                                    <div ng-message="pattern" class="error-message-txt error-text">Letters only</div>
                                    <div ng-message="required" class="error-message-txt error-text">Required</div>
                                </div>
                            </md-input-container>
                        </div>
                        <md-input-container class="md-block no-mar-bottom ui-input">
                            <label></label>
                            <div class="email-check-div" ng-class="email_check_message" ng-click="subEmailToSuggested(suggestion)">Maybe
                                <span>{{suggestion}}</span>?</div>
                            <input id="email-input-co" name="email" ng-pattern="/^.+@.+\..+$/" ng-disabled="userSignedIn" ng-model="userInfo.user_email"
                                placeholder="Email" type="email" required />
                            <div ng-messages="checkoutInput.email.$error">
                                <div ng-message="pattern" class="error-message-txt error-text">Email format only</div>
                                <div ng-message="required" class="error-message-txt error-text">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block no-mar-bottom ui-input">
                            <label></label>
                            <input id="gP_number" name="phone" minlength="14" ng-pattern="/^[0-9()+ -]*$/" ng-model="userInfo.phone_number" placeholder="Phone"
                                required />
                            <div ng-messages="checkoutInput.phone.$error">
                                <div ng-message="pattern" class="error-message-txt error-text">Numbers only</div>
                                <div ng-message="minlength" class="error-message-txt error-text">Phone format only</div>
                                <div ng-message="required" class="error-message-txt error-text">Required</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="customer-info-p2">
                        <md-input-container id="address" class="md-block no-mar-bottom ui-input">
                            <label></label>
                            <address-autocomplete style="width: 300px;" input-class="address-input-checkout" icon-class="address-clear-icon" button-class="address-clear-btn"
                                autocomplete="autocomplete" on-address-selected="gotAddressResults" autocomplete-bounds="bounds"></address-autocomplete>
                            <div ng-messages="checkoutInput.address.$error">
                                <div ng-message="required" class="error-message-txt error-text">Required</div>
                            </div>
                            <div ng-if="userInfo.withinCoverage == false" class="error-message-txt error-text">Sorry, we
                                do not deliver to your location at the moment</div>
                        </md-input-container>
                        <md-input-container class="md-block no-mar-bottom ui-input">
                            <label></label>
                            <input name="driver_instruction" maxlength="60" ng-pattern="/^[\x00-\x7F]*$/" ng-model="userInfo.drInstruction" placeholder="Driver instructions"
                                type="text" autocorrect="off" />
                            <div ng-messages="checkoutInput.driver_instruction.$error">
                                <div ng-message="pattern" class="error-message-txt error-text">No special characters</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div ng-show="stores.length != 0" class="seperation-line">&nbsp;When&nbsp;</div>
                    <div id="del-opt-background" class="del-opt-background"></div>
                    <section class="when-section">
                        <div ng-repeat="store in stores track by $index" class="del-options-div">
                            <div ng-show="store.img" class="del-options-div-2" ng-style="(stores.length > 1 && $index != (stores.length - 1) ) && {'margin-bottom': '7px'}">
                                <img src="{{store.img}}">
                                <div class="do-txt-box">
                                    <div class="line-1">
                                        <div class="sch-store-name">{{store.name}}</div>
                                        <scheduler store-type="store.type" store-name="store.name" store-open="storeOpen" store-img="store.img"></scheduler>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="seperation-line">&nbsp;Coupons&nbsp;</div>
                    <section class="coupon-section">
                        <md-input-container class="md-block no-mar-bottom ui-input coupon-conteiner">
                            <label></label>
                            <input name="drInstruction" maxlength="30" ng-pattern="/^[a-zA-Z0-9 -]*$/" ng-model="couponCode" placeholder="Enter code here.."
                                type="text" />
                            <div ng-messages="checkoutInput.drInstruction.$error">
                                <div ng-message="pattern" class="error-message-txt error-text">Number and letter only</div>
                                <div ng-message="maxlength" class="error-message-txt error-text">Maximum 30 characters</div>
                            </div>
                        </md-input-container>
                        <button class="apply-button" ng-click="keyedCoupon(couponCode)" type="button">
                            <span ng-show="couponCode">Apply</span>
                        </button>
                    </section>
                    <div class="customer-info-p3" style="align-items: flex-start;" ng-show="userSignedIn && userInfo.card">
                        <div class="seperation-line">&nbsp;Payment Options&nbsp;</div>
                        <div style="display: flex; flex-direction: column;">
                            <label class="hmt-radio-container">{{ userInfo.card.type + " " + "**** **** **** " + userInfo.card.last4
                                + " (" + userInfo.card.exp + ")"}}
                                <input type="radio" ng-model="useDefaultCard" ng-value="true" ng-checked="useDefaultCard == true" />
                                <div class="control_indicator"></div>
                            </label>
                            <label class="hmt-radio-container">Different card
                                <input type="radio" ng-model="useDefaultCard" ng-value="false" ng-checked="useDefaultCard == false" />
                                <div class="control_indicator"></div>
                            </label>
                        </div>
                    </div>
                    <button class="CG-cur-button box-center" name="buttonProcess" type="submit">
                        <md-progress-circular ng-class="loading_spin" md-diameter="20"></md-progress-circular>
                        {{ payment_btn_txt }}
                    </button>
                </form>
            </section>
        </section>
        <!-- Payment Modal -->
        <div id="checkoutModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body" id="modalBody">
                        <div class="flex-column">
                            <div id="inProcess" ng-if="modalType == 'inProcess' ">
                                <div class="flex-center-row modal-header-ln1">
                                    <span class="modal-txt">Placing order...</span>
                                </div>
                                <div class="flex-center-row modal-header-ln2">
                                    <md-progress-circular md-colors="{color: 'primary'}" md-diameter="76" ng-disabled="modalType != 'inProcess' "></md-progress-circular>
                                </div>
                            </div>
                            <div id="paymentResult" ng-if="modalType != 'inProcess'">
                                <div class="flex-center-row modal-content-sign">
                                    <button class="modal-cls-btn" ng-click="clearPage()">
                                        <ng-md-icon icon="close"></ng-md-icon>
                                    </button>
                                    <div class="success-btn" ng-if="modalType == 'success'" ng-click="clearPage()">
                                        <svg class="sign-checkmark-svg" viewBox="0 0 80 80">
                                            <circle class="sign-checkmark-circle" cx="40" cy="40" r="39px" />
                                            <polyline class="sign-checkmark-line" points="16, 43 32, 63 65, 20" />
                                        </svg>
                                    </div>
                                    <ng-md-icon class="result-icon result-10" ng-if="modalType == 'warning'" icon="warning" size="85"></ng-md-icon>
                                </div>
                                <div class="flex-column result-msg-ln1">
                                    <span class="modal-txt result-msg-ln1-name">{{primaryMessage}}</span>
                                </div>
                                <div class="result-msg-ln2">
                                    <span class="modal-txt box-center">{{secondaryMessage}}</span>
                                </div>
                                <div class="result-msg-ln3">
                                    <span class="modal-txt del-time-msg">{{tertiaryMessage}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% if (!production) { %>
            <script src="/resources/services/localStorage.js"></script>
            <script src="/resources/services/cartService.js"></script>
            <script src="/resources/services/mapServices.js"></script>
            <script src="/resources/services/date.js"></script>
            <script src="/resources/services/userAction.js"></script>
            <script src="/resources/directives/addressAutocomplete.js"></script>
            <script src="/resources/directives/scheduler.js"></script>
            <script src="/resources/directives/cart.js"></script>
            <script src="/resources/controllers/checkout.js"></script>
            <% } %>
    </div>
</body>
<!--googleon: snippet-->

<footer>
    <%- include('partial/footer')%>
</footer>

</html>