<html ng-app="mainModule">

<head>
    <%- include('partial/imports')%>
        <%- include('partial/header', {title: title}); %>
            <link href="/resources/css/contact_us.css" rel="stylesheet">
</head>

<body ng-cloak>
    <div class="container">
        <div class="col-md-8 col-md-offset-2 content">
            <section itemscope itemtype="http://schema.org/ContactPage">
                <h1 class="top-header top-header-contact" itemprop="name">Question or Feedback?</h1>
                <article class="contact-top-subhead" itemprop="description">
                    Help us to Homit better.
                </article>
                <article layout="row" class="contact-info-box">
                    <div layout="column" class="icon-box">
                        <ng-md-icon class="email-icon icon" icon="email"></ng-md-icon>
                        <ng-md-icon class="icon" icon="local_phone"></ng-md-icon>
                    </div>
                    <div layout="column">
                        <a class="email" href="mailto:info@homit.ca" itemprop="email">info@homit.ca</a>
                        <div class="phone" itemprop="telephone">+1(403) 800-3460</div>
                    </div>
                </article>
            </section>
        </div>
    </div>
</body>
<footer>
    <%- include('partial/footer')%>
</footer>

</html>