<html ng-app="mainModule">

<head>
    <meta property="og:url" content="https://homit.ca/contact" />
    <meta name="description" content="Contact Homit. Let us know if you have a feedback or a question and help us to Homit better."
    />
    <meta property="og:description" content="Contact Homit. Let us know if you have a feedback or a question and help us to Homit better."
    />
    <%- include('partial/imports')%>
        <%- include('partial/header', {title: title}); %>
            <link href="/resources/css/contact.css" rel="stylesheet">

</head>

<body ng-cloak class="fadeIn">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 content">
            <section itemscope itemtype="http://schema.org/ContactPage">
                <h1 class="top-header top-header-contact" itemprop="name">Question or Feedback?</h1>
                <div class="description-div">
                    <h3>General communication</h3>
                    <p>For general inquiries, including customer support and partnership opportunities</p>
                </div>
                <div class="email-icon-div">
                    <a class="email" href="mailto:info@homit.ca" itemprop="email">
                        <ng-md-icon icon="mail_outline" size="170"></ng-md-icon>
                        <span>info@homit.ca</span>
                    </a>
                </div>
            </section>
        </div>
    </div>
    <% if (!production) { %>
        <script src="/resources/services/localStorage.js"></script>
        <% } %>
</body>
<footer>
    <%- include('partial/footer')%>
</footer>

</html>