<html ng-app="mainModule">
<head>
    <%- include('partial/imports')%>
    <%- include('partial/header', {title: title}); %>
    <link href="/resources/css/main.css" rel="stylesheet">
    <script src="http://maps.google.com/maps/api/js?sensor=false" 
          type="text/javascript"></script>
</head>
<body class="ng-cloak" style="width: 100%; height: 100%;">
    <div class="container" ng-controller="mainController">
        <!--<div class="weekSpecials">The Week Specials</div>-->

        <div class="row text-center">
            <h2>Coverage Map</h2>
            <div id="map" style="width: 100%; height: 400px;"></div>
        </div>
    </div>

    <script src="/resources/controllers/main.js"></script>
</body>
</html>
