<html ng-app="mainModule" lang="en">

<head ng-cloak>
    <meta property="og:url" content="https://homit.ca/main" />
    <meta name="description" content="From local stores to your doors, Calgary. Order Italian grocery online (Lina's Italian Market). Grocery, vegan chocolate, snacks and liquor delivery service in Calgary. Shop online and recieve under 45 minutes."
    />
    <meta property="og:description" content="From local stores to your doors, Calgary. Order Italian grocery online (Lina's Italian Market). Grocery, vegan chocolate, snacks and liquor delivery service in Calgary. Shop online and recieve under 45 minutes."
    />
    <%- include('partial/imports')%>
        <%- include('partial/header', {title: title}); %>
            <link href="/resources/css/main.css" rel="stylesheet">
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbxP17w7jZr5QNnLQUmCJ8X3h1kl4EtFs&libraries=places,geometry"></script>
</head>
<img class="none" alt="promotion1" ng-src="/resources/images/non-catalog-image/pages/main_promotion_1.jpeg">
<img class="none" alt="promotion2" ng-src="/resources/images/non-catalog-image/pages/main_promotion_2.jpeg">

<body ng-cloak>
    <!--googleoff: snippet-->
    <div ng-controller="mainController" class="main-controller">
        <img class="none" alt="calgary" ng-src="/resources/images/non-catalog-image/cover-image/landing_background.jpg">
        <section id="address" class="full-screen landing-section box-center">
            <div class="address-div" style="position: relative;">
                <div class="store-div-main fadeIn">
                    <ul class="store-list-ul" ng-cloak>
                        <li class="store-li-footer">Choose Store</li>
                        <li id="store_{{$index}}" class="store-li move-x fadeInStore" ng-repeat="store in hubStores | orderBy: 'display_name' ">
                            <div class="img-object">
                                <a href="/hub/{{store.name}}" target="_self">
                                    <img alt="{{store.name}}" ng-src="/resources/images/catalog-stores/logo/{{store.image}}">
                                </a>
                                <span class="main-trans-prop">{{store.display_name}}</span>
                                <ul class="store-li-free-delivery" ng-show="store.del_fee_primary == 0">
                                    <li class="free-txt">FREE</li>
                                    <li class="delivery-txt">Delivery</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="main-page-address-box">
                    <span class="address-input-sec">
                        <ng-md-icon class="place-icon" icon="place"></ng-md-icon>
                        <span class="address-input-span fadeIn" ng-cloak>
                            <address-autocomplete input-class="address-input" icon-class="address-input-icon" button-class="address-input-btn" autocomplete="autocomplete"
                                on-address-selected="gotAddressResults" autocomplete-bounds="bounds" show-coverage-map="showCoverageMap"></address-autocomplete>
                        </span>
                    </span>
                    <h1 class="location-msg location-msg-txt">{{ addressMessage }}</h1>
                    <!--googleon: snippet-->
                    <div class="ul-zero">
                        <h1 class="landing-message fadeIn">From Local Stores to Your Doors</h1>
                    </div>
                    <!--googleoff: snippet-->
                </div>
            </div>
            <div class="main-down-arrow-div" ng-click="scrollTo('infoSec')" style="width: 50px; height: 70px;">
                <svg class="svg-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 70">
                    <path class="arrow-path-1" d="m 15.6 15.6 l 18 0 c 3.3 0 4 1 3 3 l -9.5 15 c -0.7 1.2 -2.5 2.4 -4.2 0 l -9.5 -15 c -0.9 -1.6 -0.8 -3.4 3 -3" fill="#abb1cce0" stroke="#abb1cce0" stroke-width="1" />
                </svg>
                
                <svg class="svg-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 70">
                    <path class="arrow-path-2" d="m 15.6 15.6 l 18 0 c 3.3 0 4 1 3 3 l -9.5 15 c -0.7 1.2 -2.5 2.4 -4.2 0 l -9.5 -15 c -0.9 -1.6 -0.8 -3.4 3 -3" fill="#abb1cce0" stroke="#abb1cce0" stroke-width="1" />
                </svg>

            </div>
        </section>
        <section id="infoSec" class="info-sec-background">

            <div class="stripes main-pg-stipes">
                <span></span>
                <span></span>
            </div>
<!--googleon: snippet-->
            <span class="left-info-box">
                <span class="header">
                    <h2>Homit</h2>
                </span>
                <span class="leader">Local stores on one platform</span>
                <span class="center-align-secondary">
                    <span class="check-row">
                        <!-- checkmark -->
                        <img class="check-mark-icon" alt="check mark" ng-src="/resources/images/non-catalog-image/icons/check-mark-white.png"/>
                        <p>+1,750 online products</p>
                    </span>
                    <span class="check-row">
                        <!-- checkmark -->
                        <img class="check-mark-icon" alt="check mark" ng-src="/resources/images/non-catalog-image/icons/check-mark-white.png"/>
                        <p>On-demand delivery</p>
                    </span>
                    <span class="check-row">
                        <!-- checkmark -->
                        <img class="check-mark-icon" alt="check mark" ng-src="/resources/images/non-catalog-image/icons/check-mark-white.png"/>
                        <p>C$4.99 delivery fee</p>
                    </span>
                </span>
            </span>
            <span class="right-info-box">
                <iframe src="https://www.youtube.com/embed/BWOZDKD2DIY?&theme=light&color=white&keyboard=1&autohide=1&cc_load_policy=1&modestbranding=1&showinfo=0&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </span>
        </section>
        <section id="promotionSec" class="promotion-sec">
            <div class="promotion-1-2-sec">
                <div class="promotion-img-1"></div>
                <div class="fadeIn promotion-1-div">
                    <h2>Fresh pizza toppings and dough</h2>
                    <p>Making homemade pizza from prepared in Italian style dough was never so quick and easy. Pile on your
                        favorite toppings and get ready to chow down.</p>
                    <button ng-click="hrefTo('/hub/linas-italian-market/pasta-and-baking')" class="CG-cur-button box-center hover-raise">SHOP NOW</button>
                </div>
            </div>
            <div class="promotion-1-2-sec prm-sec-2-mob">
                <div class="fadeIn promotion-2-div">
                    <h2>Vegan chocolates and crunchy snacks</h2>
                    <p>Ever craved nut-free, dairy-free and vegan chocolates? Or late night munchies? Or forgot to stock your
                        bar? Shop now - receive in 45-MINUTES.</p>
                    <button ng-click="hrefTo('/hub/locally-made/dwarf-stars')" class="CG-cur-button box-center hover-raise">SHOP NOW</button>
                </div>
                <div class="promotion-img-2"></div>
            </div>
        </section>
<!--googleoff: snippet-->
        <section class="trending-prd-sec">
            <div class="tranding-hdr">
                <span class="text-affect-3D">Trending Products</span>
            </div>
            <div class="tranding-body">
                <div>
                    <a ng-repeat="item in mainSpecials[specialSelected].products" ng-click="productClick(item)" ng-href="{{item.product_url}}"
                        target="_blanc">
                        <ul class="prom-item-ul" data-aos="zoom-out">
                            <li class="box-center">
                                <img alt="{{item.name + ' ' + item.brand}}" ng-src="/resources/images/products/{{ item.store_name }}/{{ item.images.image_catalog }}">
                            </li>
                            <li class="prom-item-brand">{{ item.brand }}</li>
                            <li class="prom-item-name" ng-if="item.variance[0].packs[0].h_value > 1">
                                <span>{{ item.name }}
                                    <span class="prom-item-size"> {{ "(" + item.variance[0].packs[0].h_value + "x" + item.variance[0].preffered_unit_size + item.variance[0].preffered_unit + ")"}}</span>
                                </span>
                            </li>
                            <li class="prom-item-name" ng-if="!(item.variance[0].packs[0].h_value > 1)">
                                <span>{{ item.name }}
                                    <span class="prom-item-size"> {{ "(" + item.variance[0].preffered_unit_size + item.variance[0].preffered_unit + ")"}}</span>
                                </span>
                            </li>
                            <li class="item-price">{{ item.variance[0].packs[0].price }}
                                <span>C$</span>
                            </li>
                        </ul>
                    </a>
                </div>
            </div>
            <div class="box-center tranding-ftr">
                <div>
                    <button ng-repeat="(key, type) in  mainSpecials" ng-class="{'tranding-type-btn': !(key == specialSelected) }" ng-click="changeTranPrd(key)"
                        class="CG-cur-button box-center pad-zero tranding-btn-mob">{{type.display_name}}</button>
                </div>
            </div>
        </section>
        <section class="subscribe-section">
            <div class="subscribe-div">
                <div>
                    <input type="text" aria-label="Subscribe input" id="subscribe-input" ng-class="subscribeClassInput" class="homit-font" placeholder="your.email@example.com"
                        name="email" ng-focus="subscribeOnFocus()" ng-pattern="/^.+@.+\..+$/" type="email" ng-model="subscribeEmail"
                        required>
                    <button ng-click="subscribe()" ng-class="subscribeClassBtn" class="box-center homit-font">{{subscribeButtonText}}
                        <ng-md-icon icon="done" class="CG-done-icon" size="20"></ng-md-icon>
                    </button>
                </div>
                <span class="subscribe-error-message error-txt-color">{{subscribeErrorMessage}}</span>
            </div>
        </section>
<!--googleon: snippet-->
    </div>
    <% if (!production) { %>
        <script src="/resources/services/localStorage.js"></script>
        <script src="/resources/services/mapServices.js"></script>
        <script src="/resources/directives/addressAutocomplete.js"></script>
        <script src="/resources/controllers/main.js"></script>
        <% } %>
</body>

<footer>
    <%- include('partial/footer')%>
</footer>

</html>