<html ng-app="mainModule">

<head ng-cloak>
    <%- include('partial/imports')%>
        <%- include('partial/header', {title: title}); %>
            <link href="/resources/css/main.css" rel="stylesheet">
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbxP17w7jZr5QNnLQUmCJ8X3h1kl4EtFs&libraries=places,geometry"></script>
            <meta name="description" content="Homit is your very local and personal shopper in Calgary. Get your Italian grocery (Lina's Italian Market) delivered right to your door. 
            Snack, grocery and liquor delivery service in Calgary. We also deliver snacks for 24/7. Place your order online and watch us appear 
            at your doorstep shortly after." />
</head>
<img class="none" src="/resources/images/non-catalog-image/cover-image/calgary.jpg">
<img class="none" src="/resources/images/non-catalog-image/store-logo/liquor-station_icon.png">
<img class="none" src="/resources/images/non-catalog-image/store-logo/dwarf-stars_icon.png">
<img class="none" src="/resources/images/non-catalog-image/store-logo/linas-italian-store_icon.png">
<img class="none" src="/resources/images/non-catalog-image/store-logo/snack-vendor_icon.png">
<img class="none" src="/resources/images/non-catalog-image/pages/main_promotion_1.jpeg">
<img class="none" src="/resources/images/non-catalog-image/pages/main_promotion_2.jpeg">
<body ng-cloak>
    <div ng-controller="mainController" class="main-controller">
        <section id="address" class="full-screen address-section box-center">
            <div class="address-div">
                <div class="store-div-main fadeIn">
                    <ul class="store-list-ul" ng-cloak>
                        <li class="store-li-footer">Stores We Deliver</li>
                        <li class="store-li LIM-move move-x" ng-click="hrefTo('/catalog/liquor-station')">
                            <div class="img-object">
                                <img src="/resources/images/non-catalog-image/store-logo/liquor-station_icon.png">
                                <span class="main-trans-prop">Liquor Station</span>
                            </div>
                        </li>
                        <li class="store-li LS-move move-x" ng-click="hrefTo('/catalog/dwarf-stars')">
                            <div class="img-object" style="position: relative;">
                                <img src="/resources/images/non-catalog-image/store-logo/dwarf-stars_icon.png">
                                <span class="main-trans-prop">Dwarf Stars</span>
                                <ul class="store-li-free-delivery">
                                    <li class="free-txt">FREE</li>
                                    <li class="delivery-txt">Delivery</li>
                                </ul>
                            </div>
                        </li>
                        <li class="store-li LIM-move move-x" ng-click="hrefTo('/catalog/linas-italian-market')">
                            <div class="img-object">
                                <img src="/resources/images/non-catalog-image/store-logo/linas-italian-store_icon.png">
                                <span class="main-trans-prop">Lina's Italian Market</span>
                            </div>
                        </li>
                        <li class="store-li LS-move move-x" ng-click="hrefTo('/catalog/snack-vendor')">
                            <div class="img-object">
                                <img src="/resources/images/non-catalog-image/store-logo/snack-vendor_icon.png">
                                <span class="main-trans-prop">Snack Vendor</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="main-page-address-box">
                    <span class="address-input-sec">
                        <ng-md-icon class="place-icon" icon="place"></ng-md-icon>
                        <span class="address-input-span fadeIn" ng-cloak>
                            <address-autocomplete input-class="address-input" icon-class="address-input-icon" button-class="address-input-btn" autocomplete="autocomplete"
                                on-address-selected="gotAddressResults" autocomplete-bounds="bounds" show-coverage-map="showCoverageMap"></address-autocomplete>
                        </span>
                    </span>
                    <h1 class="location-msg location-msg-txt">{{ addressMessage }}</h1>
                    <div class="ul-zero">
                        <h1 class="landing-message fadeIn">From Local Stores to Your Doors</h1>
                    </div>
                </div>
            </div>
            <div class="main-down-arrow-div" ng-click="scrollTo('promotionSec')">
                <i class="material-icons main-down-arrow-icon">expand_more</i>
            </div>
        </section>
        <section id="promotionSec" class="promotion-sec">
            <div class="steps-div">
                <div class="fadeIn">
                    <h2>Shop at Store Catalog</h2>
                    <p><span class="span-text-step">Shopping for local stores was never this easy.</span> Browse conveniently designed product catalogs through variety of stores with over 1,700 popular items.</p>
                </div>
                <div class="fadeIn">
                    <h2>Keep Doing What You Love</h2>
                    <p>Every single piece of us will start working towards getting your products delivered to you in a timely manner the very same
                        moment you place order online.</p>
                </div>
                <div class="fadeIn">
                    <h2>Expirience Homit Magic</h2>
                    <p>24/7 and location independent delivery fee in Calgary area, because customer satisfaction is our driving force. <span class="span-text-step">Let us be your local and personal shopper.</span></p>
                </div>
            </div>
            <div class="promotion-1-2-sec">
                <div class="promotion-img-1">
                </div>
                <div class="fadeIn promotion-1-div">
                    <h2>Fresh pizza toppings and dough</h2>
                    <p>Making homemade pizza from prepared in Italian style dough was never so quick and easy. Pile on your favorite toppings and get ready to chow down.</p>
                    <button ng-click="hrefTo('/catalog/linas-italian-market/pasta-and-baking')" class="CG-cur-button box-center">SHOP NOW<ng-md-icon icon="done" class="CG-done-icon" size="20"></ng-md-icon></button>
                </div>
            </div>
            <div class="promotion-1-2-sec prm-sec-2-mob">
                <div class="fadeIn promotion-2-div">
                    <h2>Vegan chocolates and crunchy snacks</h2>
                    <p>Ever craved nut-free, dairy-free and vegan chocolates? Or late night munchies? Or forgot to stock your bar? Shop now - receive in 45-MINUTES.</p>
                    <button ng-click="hrefTo('/catalog/dwarf-stars/chocolate-and-bar')" class="CG-cur-button box-center">SHOP NOW<ng-md-icon icon="done" class="CG-done-icon" size="20"></ng-md-icon></button>
                </div>
                <div class="promotion-img-2">
                </div>
            </div>
        </section>
<!--googleoff: snippet-->
        <section class="trending-prd-sec">
            <div class="tranding-hdr">
                <span class="text-affect-3D">Trending Products</span>
            </div>
            <div class="tranding-body">
                <div>
                    <ul ng-click="hrefPrdPage(item)" ng-repeat="item in trandingProducts[trandingSelected]" class="prom-item-ul turn-back">
                        <li class="box-center">
                            <img ng-src="/resources/images/products/{{ item.category }}/{{ item.image }}">
                        </li>
                        <li class="box-center prom-item-brand" ng-if="item.packaging > 1"><span>{{ item.brand + " " + item.name }}<span class="prom-item-size"> {{ "(" + item.packaging + "x" + item.volume + ")"}}</span></span></li>
                        <li class="box-center prom-item-brand" ng-if="!(item.packaging > 1)"><span>{{ item.brand + " " + item.name }}<span class="prom-item-size"> {{ "(" + item.volume + ")"}}</span></span></li>
                        <li class="item-price">{{ item.price }}</li>
                    </ul>
                </div>
            </div>
            <div class="box-center tranding-ftr">
                <div>
                    <button id="homit_mix" ng-click="changeTranPrd('homit_mix')" class="CG-cur-button box-center pad-zero tranding-type-btn tranding-btn-mob">HOMIT MIX</button>
                    <button id="popular" ng-click="changeTranPrd('popular')" class="CG-cur-button pad-zero box-center tranding-btn-mob">POPULAR</button>
                    <button id="new_on_homit" ng-click="changeTranPrd('new_on_homit')" class="CG-cur-button pad-zero box-center tranding-type-btn tranding-btn-mob">NEW ON HOMIT</button>
                </div>
            </div>
        </section>
        <section class="subscribe-section">
            <div class="subscribe-div">
                <div style="display: flex; flex-direction: row;">
                    <input type="text" id="subscribe-input" ng-class="subscribeClassInput" class="homit-font" placeholder="your.email@example.com" name="email" ng-focus = "subscribeOnFocus()" ng-pattern="/^.+@.+\..+$/" type="email" ng-model="subscribeEmail" required>
                    <button ng-click="subscribe()" ng-class="subscribeClassBtn" class="box-center homit-font">{{subscribeButtonText}}<ng-md-icon icon="done" class="CG-done-icon" size="20"></ng-md-icon></button>
                </div>
                <span class="subscribe-error-message">{{subscribeErrorMessage}}</span>
            </div>
        </section>
<!--googleon: snippet-->
    </div>
    <% if (!production) { %>
        <script src="/resources/services/localStorage.js"></script>
        <script src="/resources/services/mapServices.js"></script>
        <script src="/resources/directives/addressAutocomplete.js"></script>
        <script src="/resources/controllers/main.js"></script>
        <% } %>
</body>

<footer>
    <%- include('partial/footer')%>
</footer>

</html>