<html ng-app="mainModule">

<head ng-cloak>
    <%- include('partial/imports')%>
        <%- include('partial/header', {title: title}); %>
            <link href="/resources/css/main.css" rel="stylesheet">
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbxP17w7jZr5QNnLQUmCJ8X3h1kl4EtFs&libraries=places,geometry"></script>
            <meta name="description" content="Homit is your very local and personal shopper in Calgary. Get your Italian gorecy (Lina's Italian Market) delivered right to your door. 
            Snack, grocery and liquor delivery service in Calgary. We also deliver snacks for 24/7. Place your order online and watch us appear 
            at your doorstep shortly after." />
</head>

<body ng-cloak>
    <div ng-controller="mainController">
        <img class="none" src="/resources/images/non-catalog-image/pages/calgary.jpg">
        <img class="none" src="/resources/images/non-catalog-image/homit_hub/homit-hub-cover.png">
        <img class="none" src="/resources/images/non-catalog-image/homit_hub/linas-italian-store_icon.png">
        <img class="none" src="/resources/images/non-catalog-image/homit_hub/snack-vendor_icon.png">
        <img class="none" src="/resources/images/non-catalog-image/homit_hub/liquor-station_icon.png">
        <img class="none" src="/resources/images/non-catalog-image/pages/homit-step_1.png">
        <img class="none" src="/resources/images/non-catalog-image/pages/homit-step_2.png">
        <img class="none" src="/resources/images/non-catalog-image/pages/homit-step_3.png">

        <section id="address" class="full-screen address-section box-center">
            <div class="main-page-address-box">
                <div class="ul-zero-margin-padding">
                    <h1 class="main-page-address-box-text">There is No Such Thing as Shopping Too Much</h1>
                </div>
                <span class="address-input-sec">
                    <span class="address-input-span" ng-cloak>
                        <i>
                            <ng-md-icon icon="place" size="35"></ng-md-icon>
                        </i>
                        <address-autocomplete input-class="address-input" icon-class="address-input-icon" button-class="address-input-btn" autocomplete="autocomplete"
                            on-address-selected="gotAddressResults" autocomplete-bounds="bounds" show-coverage-map="showCoverageMap"></address-autocomplete>
                    </span>
                    <div id="coverage" class="covergae-map-box" ng-show="showCoverageMap">
                        <!--googleoff: snippet-->
                        <div class="address-message">
                            <div class="message-cover"></div>
                            <span class="address-message-text">Comming to your area soon.</span>
                        </div>
                        <!--googleon: snippet-->
                        <div id="map" class="area-map"></div>
                    </div>
                </span>
            </div>
            <div class="go-to-homit-hub">
                <button id="goToHomitHubArrowBtn" ng-click="scrollTo('homitHub')">
                    <div layout="column">
                        <img class="go-to-homit-hub-icon" src="/resources/images/non-catalog-image/arrow_down.png">
                    </div>
                </button>
            </div>
        </section>
        <section id="homit-order-steps" class="full-screen about-homit-section box-center">
            <div flex="100" class="order-steps-section">
                <div flex="30" class="order-step box-center">
                    <img class="order-step-img order-stp-1-img" src="/resources/images/non-catalog-image/pages/homit-step_1.png">
                    <article>
                        <h2 class="order-step-header">Shop at Store Catalog</h2>
                        <br class="test">
                        <p class="order-step-p">We are here to bring shopping experience to the next level! Shopping for local stores without leaving
                            your comfort zone was never this easy. <span class="step-desc-2">Browse our conveniently designed product catalogs through
                            variety of stores with more than 1,500 popular items to choose from. Place your order online and
                            watch us appear at your doorstep shortly after.</span></p>
                    </article>
                </div>
                <div flex="30" class="order-step box-center">
                    <img class="order-step-img" src="/resources/images/non-catalog-image/pages/homit-step_2.png">
                    <article>
                        <h2 class="order-step-header">Keep Doing What You Love</h2>
                        <p class="order-step-p">Every single piece of us will start working towards getting your products delivered to you in a timely manner the very same
                            moment you place order online. <span class="step-desc-2">Homit has one of the biggest delivery coverages in Calgary area.
                            All we want from you is to continue spending quality time by doing what you love to do the most.</span>
                        </p>
                    </article>
                </div>
                <div flex="30" class="order-step box-center">
                    <img class="order-step-img" src="/resources/images/non-catalog-image/pages/homit-step_3.png">
                    <article>
                        <h2 class="order-step-header">Experience "Homit" Magic</h2>
                        <p class="order-step-p">Homit offers 24-hour delivery service and location independent delivery fee in Calgary area since
                            customer satisfaction is our driving force. <span class="step-desc-2">Also Homit helps local businesses to grow by delivering
                            from local stores in communities. Thank you for letting us be your very local and personal shopper.</span></p>
                    </article>
                </div>
            </div>
        </section>

        <section id="homitHub" class="full-screen homit-hub-section homit-hub">
            <div class="hub-container">
                <h2 class="homit-hub-header homit-hub-text">Homit Hub</h2>
                <div class="homit-hub-stores">
                    <div id="snack-vendor" class="store-window snack-vendor" ng-click="hrefTo('/catalog/snack-vendor')">
                        <div id="snack-vendor-icon" class="store-background-image"></div>
                        <div class="homit-hub-text store-name">
                            <a class="homit-hub-text" href="https://homit.ca/catalog/snack-vendor">Snack Vendor</a>
                        </div>
                    </div>
                    <div id="lina-store" class="store-window" ng-click="hrefTo('/catalog/linas-italian-market')">
                        <div id="lina-store-icon" class="store-background-image"></div>
                        <div class="homit-hub-text store-name">
                            <a class="homit-hub-text" href="https://homit.ca/catalog/linas-italian-market">Lina's Italian Market</a>
                        </div>
                    </div>
                    <div id="liquor-station" class="store-window liquor-station" ng-click="hrefTo('/catalog/liquor-station')">
                        <div id="liquor-station-icon" class="store-background-image"></div>
                        <div class="homit-hub-text store-name">
                            <a class="homit-hub-text" href="https://homit.ca/catalog/liquor-station">Liquor Station</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    </div>

    <% if (!production) { %>
        <script src="/resources/directives/addressAutocomplete.js"></script>
        <script src="/resources/services/mapServices.js"></script>
        <script src="/resources/controllers/main.js"></script>
        <% } %>
</body>

<footer>
    <%- include('partial/footer')%>
</footer>

</html>