<html ng-app="mainModule">
<head>
    <%- include('partial/header', {title: title}); %>
</head>
<body>
    <div ng-controller="mainController">

    <div><h1>The Week Specials</h1></div>

    <script src="/resources/controllers/main.js"></script>
</body>
</html>
