<html ng-app="mainModule">

<head>
    <%- include('partial/imports')%>
        <%- include('partial/header', {title: title}); %>
            <link href="/resources/css/main.css" rel="stylesheet">
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbxP17w7jZr5QNnLQUmCJ8X3h1kl4EtFs&libraries=places"></script>
</head>

<body ng-cloak>
    <div ng-controller="mainController">
        <div id="address" class="full-screen flex-box">
            <div class="main-page-address-box">
                <div class="ul-zero-margin-padding">
                    <h1 class="main-page-address-box-text">Order Snacks and Beverage from Your Local Stores</h1>
                </div>
                <span class="srchAddrsC">
                    <span class="srchAddrsCA">
                        <i class="srchAddrsCAA">
                            <ng-md-icon icon="place" class="srchAddrsCAAA"></ng-md-icon>
                        </i>
                        <address-autocomplete input-class="srchAddrsCAB" icon-class="srchAddrsCACA" button-class="srchAddrsCAC" autocomplete-bounds="map.getBounds()"
                            autocomplete="autocomplete" on-address-selected="gotAddressResults"></address-autocomplete>
                    </span>
                </span>
            </div>
        </div>
        <div id="coverage" class="full-screen flex-box area-map-page">
            <div class="addressMessage-text">{{addressMessage}}</div>
            <div id="map" class="area-map"></div>
            <div class="area-map-text-box" itemscope itemtype="http://schema.org/LocalBusiness">
                <h2 class="area-map-text-A">Coverage Map</h2>
                <h2 class="area-map-text-B">
                    <span itemprop="name" content="Homit"></span>
                    <span itemprop="logo" content="https://homit.ca/resources/images/Homit_Logo_TM.jpeg"></span>
                    <span itemprop="addressLocality">Calgary</span>,
                    <span itemprop="addressRegion">AB</span>
                </h2>
            </div>
        </div>
        <div id="homitHub" class="full-screen homit-hub">
            <h2 class="hmtHubA hmtHubTxt">Homit Hub</h2>
            <div class="hmtHubB">
                <div flex="30" ng-click="hrefTo('/catalog/snack-vendor')" class="hmtHubBA" id="snack-vendor">
                    <ul layout="column" class="hmtHubBAA">
                        <li class="hmtHubBAAA">
                            <ng-md-icon icon="panorama_vertical" class="snack-vendor-icon"></ng-md-icon>
                        </li>
                        <li>
                            <h3><a class="hmtHubABAB hmtHubTxt" href="https://homit.ca/catalog/snack-vendor">Snack Vendor</a></h3>
                        </li>
                    </ul>
                    <div class="store-sign-background-box"></div>
                </div>
                <div flex="30" ng-click="hrefTo('/catalog/liquor-station')" class="hmtHubBA" id="liquer-station">
                    <ul layout="column" class="hmtHubBAA">
                        <li class="hmtHubBAAA">
                            <ng-md-icon icon="local_bar" class="liquer-station-icon"></ng-md-icon>
                        </li>
                        <li>
                            <h3><a class="hmtHubABAB hmtHubTxt" href="https://homit.ca/catalog/liquor-station">Liquor Station</a></h3>
                        </li>
                    </ul>
                    <div class="store-sign-background-box"></div>
                </div>
            </div>
        </div>
    </div>

    <% if (!production) { %>
        <script src="/resources/directives/addressAutocomplete.js"></script>
        <script src="/resources/services/mapServices.js"></script>
        <script src="/resources/controllers/main.js"></script>
        <% } %>
</body>

<footer>
    <%- include('partial/footer')%>
</footer>

</html>