<html ng-app="mainModule">
<head>
    <%- include('partial/imports')%>
    <%- include('partial/header', {title: title}); %>
    <link href="/resources/css/main.css" rel="stylesheet">
</head>
<body class="ng-cloak">
    <div ng-controller="mainController">
        <!--<div class="weekSpecials">The Week Specials</div>-->
    </div>
    <script src="/resources/controllers/main.js"></script>
</body>
</html>
