<html ng-app="mainModule">

<head>
    <%- include('partial/imports')%>
        <%- include('partial/header', {title: title}); %>
            <link href="/resources/css/main.css" rel="stylesheet">
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbxP17w7jZr5QNnLQUmCJ8X3h1kl4EtFs&libraries=places"></script>
</head>

<body ng-cloak>
    <div ng-controller="mainController">
        <div id="address" class="full-screen flex-box">
            <div class="main-page-address-box">
                <ul class="ul-zero-margin-padding">
                    <li class="main-page-address-box-text">Order Bevarages and Snacks from Your Local Stores</li>
                </ul>
                <span class="srchAddrsC">
                    <span class="srchAddrsCA">
                        <i class="srchAddrsCAA">
                            <ng-md-icon icon="place" class="srchAddrsCAAA"></ng-md-icon>
                        </i>
                        <address-autocomplete input-class="srchAddrsCAB" icon-class="srchAddrsCACA" button-class="srchAddrsCAC" autocomplete-bounds="map.getBounds()"
                            autocomplete="autocomplete" on-address-selected="gotAddressResults"></address-autocomplete>
                    </span>
                </span>
            </div>
        </div>
        <div id="coverage" class="full-screen flex-box area-map-page">
            <div class="addressMessage-text">{{addressMessage}}</div>
            <div id="map" class="area-map"></div>
            <ul class="area-map-text-box">
                <li class="area-map-text-A">Coverage Map</li>
                <li class="area-map-text-B">Calgary, AB</li>
            </ul>
        </div>
        <div id="homitHub" class="full-screen homit-hub">
            <div class="hmtHubA hmtHubTxt">Homit Hub</div>
            <div  class="hmtHubB">
                <div flex="30" ng-click="hrefTo('/catalog/snack-vendor')" class="hmtHubBA" id="snack-vendor">
                    <ul layout="column" class="hmtHubBAA">
                        <li class="hmtHubBAAA">
                            <ng-md-icon icon="panorama_vertical" class="snack-vendor-icon"></ng-md-icon>
                        </li>
                        <li class="hmtHubABAB hmtHubTxt">Snack Vendor</li>
                    </ul>
                    <div class="store-sign-background-box"></div>
                </div>
                <div flex="30" ng-click="hrefTo('/catalog/liquor-station')" class="hmtHubBA" id="liquer-station">
                    <ul layout="column" class="hmtHubBAA">
                        <li class="hmtHubBAAA">
                            <ng-md-icon icon="local_bar" class="liquer-station-icon"></ng-md-icon>
                        </li>
                        <li class="hmtHubABAB hmtHubTxt">Liquor Station</li>
                    </ul>
                    <div class="store-sign-background-box"></div>
                </div>
            </div>
        </div>
    </div>

    <% if (!production) { %>
        <script src="/resources/directives/addressAutocomplete.js"></script>
        <script src="/resources/services/mapServices.js"></script>
        <script src="/resources/controllers/main.js"></script>
        <% } %>
</body>

<footer>
    <%- include('partial/footer')%>
</footer>

</html>