<html ng-app="mainModule">

<head ng-cloak>
    <%- include('partial/imports')%>
        <%- include('partial/header', {title: title}); %>
            <link href="/resources/css/main.css" rel="stylesheet">
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbxP17w7jZr5QNnLQUmCJ8X3h1kl4EtFs&libraries=places,geometry"></script>
</head>

<body ng-cloak>
    <div ng-controller="mainController">
        <img class="none" src="/resources/images/non-catalog-image/calgary.jpg">
        <img class="none" src="/resources/images/non-catalog-image/homit-hub-cover.png">
        <div id="calgary-image" class="full-screen"></div>
        <div id="address" class="full-screen flex-box">
            <div class="main-page-address-box">
                <div class="ul-zero-margin-padding">
                    <h1 class="main-page-address-box-text">Order Snacks and Beverages from Your Local Stores</h1>
                </div>
                <span class="srchAddrsC">
                    <span class="srchAddrsCA">
                        <i class="srchAddrsCAA">
                            <ng-md-icon icon="place" class="srchAddrsCAAA"></ng-md-icon>
                        </i>
                            <address-autocomplete input-class="srchAddrsCAB" icon-class="srchAddrsCACA" button-class="srchAddrsCAC" autocomplete="autocomplete"
                            on-address-selected="gotAddressResults" autocomplete-bounds="bounds"></address-autocomplete>
                    </span>
                </span>
            </div>
            <div class="go-to-homit-hub">
                <button id="goToHomitHubArrowBtn" ng-click="scrollTo('homitHub')">
                    <div layout="column">
                        <ng-md-icon icon="keyboard_arrow_down" class="go-to-homit-hub-icon"></ng-md-icon>
                    </div>
                </button>
            </div>
        </div>
        <div id="coverage" class="full-screen flex-box area-map-page">
            <!--googleoff: snippet-->
            <div class="addressMessage-text">{{addressMessage}}</div>
            <!--googleon: snippet-->
            <div id="map" class="area-map"></div>
            <div class="area-map-text-box" itemscope itemtype="http://schema.org/Thing">
                <h2 class="area-map-text-A">See If We There Yet</h2>
                <h2 class="area-map-text-B">
                    <span itemprop="name" content="Homit"></span>
                    <span itemprop="image" content="https://homit.ca/resources/images/Homit_Logo_TM.jpeg"></span>
                    <span itemprop="description" content="Snacks and Beverage Delivery in Calgary. Let us Home It and liberate your precious time.">Calgary,&nbsp</span>
                    <span>AB</span>
                </h2>
            </div>
        </div>
        <div id="homitHub" class="full-screen homit-hub">
            <h2 class="homit-hub-header homit-hub-text">Homit Hub</h2>
            <div class="homit-hub-stores">
                <div id="snack-vendor" class="store-window snack-vendor" ng-click="hrefTo('/catalog/snack-vendor')">
                    <div id="snack-vendor-icon" class="store-window store-background-image"></div>
                    <h3>
                        <a class="homit-hub-text store-name-text" href="https://homit.ca/catalog/snack-vendor">Snack Vendor</a>
                    </h3>
                    <button class="homit-hub-text">Shop Now</button>
                </div>
                <div id="liquor-station" class="store-window liquor-station" ng-click="hrefTo('/catalog/liquor-station')">
                    <div id="liquor-station-icon" class="store-window store-background-image"></div>
                    <h3>
                        <a class="homit-hub-text store-name-text" href="https://homit.ca/catalog/liquor-station">Liquor Station</a>
                    </h3>
                    <button class="homit-hub-text">Shop Now</button>
                </div>
            </div>
        </div>
    </div>
    </div>

    <% if (!production) { %>
        <script src="/resources/directives/addressAutocomplete.js"></script>
        <script src="/resources/services/mapServices.js"></script>
        <script src="/resources/controllers/main.js"></script>
        <% } %>
</body>

<footer>
    <%- include('partial/footer')%>
</footer>

</html>