<html ng-app="mainModule">
<head>
    <%- include('partial/imports')%>
    <%- include('partial/header', {title: title}); %>
</head>
<body ng-controller="myaccountController" class="ng-cloak">
    <div>
        <br><br><br><br><br>
        <!-- toolbar part -->
        <div class="col-md-4">
            <div class="well well-lg">
                <ul class="nav nav-pills nav-stacked">
                <li><a href="#infoSection" data-toggle="tab">Info</a></li>
                <li><a href="#orderSection" data-toggle="tab">Order history</a></li>
                <li><a href="#passwordSection" data-toggle="tab">Change password</a></li>
                <li class="pull-right"><button ng-click="signout();"><strong>Log out</strong></button></li>
                </ul>
            </div>
        </div>

        <!-- main part -->
        <div class="col-md-8">
            <div class="well well-lg">
                <div class="tab-content">
                    <div id="welcomeTab" class="tab-pane active text-center">
                        <h2>Welcome, {{ firstname + lastname }}</h2>
                    </div>
                    
                     <div id="infoSection" class="tab-pane" style="padding: 30px;">
                        <form name="infoSectionForm" class=".form-horizontal">
                            <input class="form-control" name="input-fname" ng-model="user.first_name" placeholder="First name">
                            <input class="form-control" name="input-lname" ng-model="user.last_name" placeholder="Last name">
                            <input class="form-control" name="input-email" ng-model="user.user_email" placeholder="Email">
                            <input class="form-control" name="input-phone" ng-model="user.phone_number" placeholder="Phone">
                            <input class="form-control" name="input-addr1" ng-model="user.address1" placeholder="Address 1">
                            <input class="form-control" name="input-addr2" ng-model="user.address2" placeholder="Address 2">
                            <input class="form-control" name="input-addr3" ng-model="user.address3" placeholder="Address 3">
                            <button class="btn btn-primary pull-right" ng-click="updateUserInfo()">Update</button>
                        </form>
                    </div>

                    <div id="orderSection" class="tab-pane" style="padding: 30px;">
                        <h1>Orders</h1>
                    </div>

                    <div id="passwordSection" class="tab-pane text-center" style="padding: 30px;">
                        <form name="passwordSectionForm">
                            <div class="form-group">
                                <input type="password" class="form-control" ng-model="currentPassword" 
                                        placeholder="current password" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" ng-model="newPassword" 
                                        placeholder="new password" ng-change="passwordMatched();" required>
                            </div>
                            <div class="form-group">
                                <div class="input-group full-width">
                                    <input type="password" class="form-control" ng-model="confirmPassword" 
                                        placeholder="confirm password" ng-change="passwordMatched();" aria-describledby="addon-nomatch" 
                                        ng-class= "{genericError: showError}" required>
                                    <span class="input-group-addon" id="addon-nomatch" ng-show="showError">
                                            Doesn't match!
                                    </span>
                                </div>
                            </div>
                            <button class="btn btn-primary pull-right" ng-class="{disabled:!enablePasswordChanges()}">Change</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/resources/controllers/myaccount.js"></script>
</body>
</html>
