<html ng-app="mainModule">

<head ng-cloak>
    <%- include('partial/imports')%>
    <%- include('partial/header', {title: title}); %>
            <link href="/resources/css/myaccount.css" rel="stylesheet">
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbxP17w7jZr5QNnLQUmCJ8X3h1kl4EtFs&libraries=places,geometry"></script>
</head>

<body class="flex-row flex-space-between flex-100 container" ng-controller="myaccountController" ng-cloak>
    
    <!-- Sidebar -->
    <div class="back-drop"></div>
    <aside class="sidebar-default">
        <div class="close-button" ng-click="closeSidebar();"><span>Close</span></div>
        <ul class="vertical-lists">
            <li ng-class="{'selected': section == 0}" ng-click="selectSection(0)">Profile</li>
            <li ng-class="{'selected': section == 1}" ng-click="selectSection(1)">Delivery Address </li>            
            <li ng-class="{'selected': section == 2}" ng-click="selectSection(2)">Payment methods </li>
            <li ng-class="{'selected': section == 3}" ng-click="selectSection(3)">Security Settings </li>
            <span class="divider"></span>
            <li ng-class="{'selected': section == 4}" ng-click="selectSection(4)">Orders</li>
        </ul>
    </aside>

    <!-- Main Content -->
    <main>
        <input id="stripeToken" value="<%= stripeToken %>" hidden>

        <!-- Profile -->
        <section ng-show="section == 0">
            <div class="flex-row flex-100 section-header">
                <span class="burger-menu" ng-click="openSidebar()">Menu</span>
                <h1>Profile</h1>
            </div>
            
            <span class="divider" style="width:100%"></span>

            <button class="configButton edtitButton" ng-show="!editEnabled" ng-click="editEnabled = true">Edit</button>

            <div class="flex-column flex-100">
                <span class="flex-centered">
                    <form name="profile" ng-submit="updateProfile(profile.$valid)" class="form-profile">
                        <md-input-container class="md-block container-margin" flex="100">
                            <label>First Name</label>
                            <input name="fname" maxlength="30" ng-pattern="/^[a-zA-Z]*$/" ng-disabled="!editEnabled" ng-model="fname" type="text" required/>
                            <div ng-messages="profile.fname.$error">
                                <div ng-message="pattern">Letters only</div>
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block container-margin" flex="100">
                            <label>Last Name</label>
                            <input name="lname" maxlength="30" ng-pattern="/^[a-zA-Z]*$/" ng-disabled="!editEnabled" ng-model="lname" type="text" required/>
                            <div ng-messages="profile.lname.$error">
                                <div ng-message="pattern">Letters only</div>
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block container-margin" flex="100">
                            <label>Date of Birth MM-DD-YYYY</label>
                            <input id ="date_of_birth" name="dob" ng-pattern="dobPattern" ng-disabled="!editEnabled" ng-model="dob" ng-blur="checkDOB()"/>
                            <div ng-messages="profile.dob.$error" ng-messages-multiple>
                                <div ng-message="pattern">Date format only</div>
                                <div ng-message="required">Required</div>
                            </div>
                            <div ng-if="userInfo.dob_not_valid" class="error-message">Not legal age</div>
                        </md-input-container>
                        <md-input-container class="md-block container-margin" flex="100">
                            <label>Email</label>
                            <input name="email" ng-pattern="/^.+@.+\..+$/" ng-disabled="!editEnabled" ng-model="email" type="email" required/>
                            <div ng-messages="profile.email.$error">
                                <div ng-message="pattern">Email format only</div>
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block container-margin" flex="100">
                            <label>Phone</label>
                            <input id="phone-number" name="phone" minlength="5" maxlength="14" ng-pattern="/^[0-9()+ -]*$/" ng-disabled="!editEnabled" ng-model="phone"/>
                            <div ng-messages="checkoutInput.phone.$error">
                                <div ng-message="pattern">Numbers only</div>
                                <div ng-message="minlength">Required</div>
                            </div>
                        </md-input-container>
                        <button class="configButton updateButton" ng-show="editEnabled" flex="100" type="submit">Update</button>
                    </form>
                    <button class="configButton cancelButton" ng-show="editEnabled" ng-click="resetProfileSection();">Cancel</button>                     
                </span>
            </div>
        </section>
    
        <!-- Delivery Address -->
        <section ng-show="section == 1">
            <div class="flex-row flex-100 section-header">
                <span class="burger-menu" ng-click="openSidebar()">Menu</span>
                <h1>Delivery Address</h1>                   
            </div>

            <span class="divider" style="width:100%"></span>

            <button class="configButton edtitButton" ng-show="!editEnabled" ng-click="editEnabled = true">Edit</button>
            <div class="flex-column flex-100">
                <span class="flex-centered">
                    <md-input-container class="address-input-container md-block container-margin" ng-disabled="!editEnabled" flex="100">
                        <label style="display: none"></label>
                        <address-autocomplete input-class="address-input" icon-class="address-icon" button-class="address-input-btn" autocomplete="autocomplete"
                            on-address-selected="gotAddressResults" input-disabled="!editEnabled" autocomplete-bounds="bounds"></address-autocomplete>
                        <div ng-messages="checkoutInput.address.$error">
                            <div ng-message="required" class="inptErMsg">Required</div>
                        </div>
                        <div ng-if="withinCoverage == false" class="outPlgn_txt">Sorry, we do not deliver to your location at the moment</div>
                    </md-input-container>
                    <button class="configButton updateButton margin-btom-5" ng-show="editEnabled" ng-click="updateDeliveryAddress()">Update</button>
                    <button class="configButton cancelButton" ng-show="editEnabled" ng-click="resetDeliveryAddressSection();">Cancel</button>
                </span>
            </div>
        </section>

        <!-- Payment Methods -->
        <section ng-show="section == 2">
            <div class="flex-row flex-100 section-header">
                <span class="burger-menu" ng-click="openSidebar()">Menu</span>
                <h1>Payment Method</h1>                              
            </div>

            <span class="divider" style="width:100%"></span>
            
            <button class="configButton edtitButton" ng-show="!editEnabled" ng-click="editEnabled = true">Edit</button>

            <div class="flex-column flex-100">
                <span class="flex-centered">
                    <!-- If edit card -->
                    <form class="form-card" name="payment_method" ng-submit="updatePaymentMethod(payment_method.$valid)" ng-show="editEnabled">
                        <div style="display: flex; flex-direction: row;">
                            <md-input-container class="cad-name md-block container-margin" flex="50">
                                <label>Name</label>
                                <input name="fname" maxlength="30" ng-pattern="/^[a-zA-Z ]*$/" ng-disabled="!editEnabled" ng-model="card_name" type="text" ng-required="" />
                                <div ng-messages="profile.fname.$error">
                                    <div ng-message="pattern">Letters only</div>
                                    <div ng-message="required">Required</div>
                                </div>
                            </md-input-container>
                        </div>
                        <md-input-container class="md-block container-margin" flex="100">
                            <!-- <label>Card</label> -->
                            <div id="card"></div>
                        </md-input-container>
                        <button class="configButton updateButton margin-top-40" type="submit" ng-show="editEnabled">Update</button> 
                    </form>
                    <button class="configButton cancelButton" ng-show="editEnabled" ng-click="resetPaymentMethodsSection();">Cancel</button>

                    <!-- Only show, no edit -->
                    <div ng-show="!editEnabled">
                        <!-- If no card information exists -->
                        <div ng-show="!card">
                            No payment information. Click edit to add one
                        </div>

                        <!-- If card information exists -->
                        <div ng-show="card">
                            <label ng-show="card">{{ card.type + ': ' + '**** **** **** ' + card.last4 + ' (' + card.exp + ')' }}</label>
                        </div>
                    </div>
                </span>
            </div>
        </section>

        <!-- Security Settings -->
        <section ng-show="section == 3">
            <div class="flex-row flex-100 section-header">
                <span class="burger-menu" ng-click="openSidebar()">Menu</span>
                <h1>Security Settings</h1>                
            </div>

            <span class="divider" style="width:100%"></span>

            <button class="configButton edtitButton" ng-show="!editEnabled" ng-click="editEnabled = true">Edit</button>

            <div class="flex-column flex-100">
                    <span class="flex-centered">
                        <!-- <input ng-model="old_pass" placeholder="old pass" ng-disabled="!editEnabled">
                        <input ng-model="new_pass" placeholder="new pass" ng-disabled="!editEnabled">
                        <input ng-model="confirm_pass" placeholder="confirm pass" ng-disabled="!editEnabled"> -->

                        <form class="form-password" name="security_set" ng-submit="updateSecuritySettings(security_set.$valid)">
                            <md-input-container class="md-block container-margin" flex="100">
                                <label>Old Password</label>
                                <input id="current_pass" name="current_pass" ng-pattern="/^(?:([^\?\$\{\}\^\(\)\!\'\[\<\ \>\,\+\”\/\;\\\|\%\&\#\@]))*$/" ng-model="current_pass" ng-disabled="!editEnabled"/>
                                <div ng-messages="security_set.current_pass.$error">
                                    <div ng-message="pattern">Invalid Characters</div>
                                    <div ng-message="minlength">Required</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block container-margin" flex="100">
                                <label>New Password</label>
                                <input id="new_pass" name="new_pass" ng-pattern="/^(?:([^\?\$\{\}\^\(\)\!\'\[\<\ \>\,\+\”\/\;\\\|\%\&\#\@]))*$/" ng-disabled="!editEnabled" ng-model="new_pass" ng-required="old_pass"/>
                                <div ng-messages="security_set.new_pass.$error">
                                    <div ng-message="pattern">Invalid Characters</div>
                                    <div ng-message="minlength">Required</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block container-margin" flex="100">
                                <label>Confirm Password</label>
                                <input id="confirm_pass" name="confirm_pass" ng-pattern="/^(?:([^\?\$\{\}\^\(\)\!\'\[\<\ \>\,\+\”\/\;\\\|\%\&\#\@]))*$/" ng-disabled="!editEnabled" ng-model="confirm_pass" ng-required="old_pass"/>
                                <div ng-messages="security_set.confirm_pass.$error">
                                    <div ng-message="pattern">Invalid Characters</div>
                                    <div ng-message="minlength">Required</div>
                                </div>
                            </md-input-container>
                            <button class="configButton updateButton margin-top-40" type="submit" ng-show="editEnabled">Update</button>
                        </form>
                        <button class="configButton cancelButton" ng-show="editEnabled" ng-click="resetSecuritySettingsSection();">Cancel</button>
                    </span>
                </div>
        </section>

        <!-- Orders -->
        <section ng-show="section == 4">
            <div class="flex-row flex-100 section-header">
                <span class="burger-menu" ng-click="openSidebar()">Menu</span>
                <h1>Orders</h1>                
            </div>
            <span class="divider"></span>
            <div class="flex-column flex-100">
                <div ng-show="!orders || orders.length == 0" ng-bind="orderSectionText"></div>
                <div ng-show="orders" ng-repeat="order in orders">
                    <div class="order" ng-click="order.showDetails = !order.showDetails">
                        <span class="header">
                            <h3 class="flex-center"><span class="view-link">View</span> Order #{{order.id}}</h3>
                            <span class="flex-center">|</span>
                            <h3 class="flex-center" ng-bind="order.date_delivered"></h3>
                        </span>
                        <p class="p-order"><span>Address:&nbsp</span> {{ order.delivery_address }}</p>
                        <p class="p-order"><span>Store:&nbsp</span> {{ order.store }}</p>
                        <p class="p-order"><span>Payment:&nbsp</span> **** **** **** {{ order.card_digits }}</p>
                        <div class="order-content">
                            <span class="order-items" ng-show="order.showDetails" ng-repeat="item in order.items">
                                <div class="item">
                                    <img width="100" height="100" ng-src="{{'/resources/images/products/' + item.category.toLowerCase() + '/' + item.image}}">
                                    <span class="details">
                                        {{ item.volume }}
                                        {{ item.brand }}
                                    </span>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>



    <% if (!production) { %>
        <script src="/resources/directives/addressAutocomplete.js"></script>
        <script src="/resources/services/sessionStorage.js"></script>
        <script src="/resources/services/date.js"></script>
        <script src="/resources/services/mapServices.js"></script>
        <script src="/resources/controllers/myaccount.js"></script>        
    <% } %>
</body>

</html>