<html ng-app="mainModule">

<head ng-cloak>
    <%- include('partial/imports')%>
        <%- include('partial/header', {title: title}); %>
            <link href="/resources/css/myaccount.css" rel="stylesheet">
</head>

<body ng-controller="myaccountController as myaccount" ng-cloak>
    <!-- main part -->
    <div id="mainPart">
        <div class="container-fluid content cntnt_SH" layout="row">
            <md-sidenav class="md-sidenav-left contentLC" flex="40" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
                <md-content>
                    <div class="contentLCA" layout="column" layout-align="center center">
                        <img class="usrImg">
                        <md-divider style="margin: 1em;"></md-divider>
                        <ul layout="column" class="contentLCAC">
                            <li id="myAcTi0" class="myTabs selectedTab">
                                <a ng-click="myaccount.updateTab(0)" class="myTabsA">Me</a>
                            </li>
                            <li id="myAcLi0" class="myTabsBtmLn selectedTabLn"></li>
                            <li id="myAcTi1" class="myTabs">
                                <a ng-click="myaccount.updateTab(1)" class="myTabsA myTabsTM">Contact</a>
                            </li>
                            <li id="myAcLi1" class="myTabsBtmLn"></li>
                            <li id="myAcTi2" class="myTabs">
                                <a ng-click="myaccount.updateTab(2)" class="myTabsA myTabsTM">Address</a>
                            </li>
                            <li id="myAcLi2" class="myTabsBtmLn"></li>
                            <li id="myAcTi3" class="myTabs">
                                <a ng-click="myaccount.updateTab(3)" class="myTabsA myTabsTM">Password</a>
                            </li>
                            <li id="myAcLi3" class="myTabsBtmLn"></li>
                            <md-divider style="margin: 2em;"></md-divider>
                            <li id="myAcTi4" class="myTabs">
                                <a ng-click="myaccount.updateTab(4)" class="myTabsA">Credit Crad</a>
                            </li>
                            <li id="myAcLi4" class="myTabsBtmLn"></li>
                            <md-divider style="margin: 2em;"></md-divider>
                            <li id="myAcTi5" class="myTabs">
                                <a ng-click="myaccount.updateTab(5)" class="myTabsA">Order History</a>
                            </li>
                            <li id="myAcLi5" class="myTabsBtmLn"></li>
                        </ul>
                    </div>
                </md-content>
            </md-sidenav>
            <div flex="60" layout="column" class="contentRC RC_SH">
                <md-button aria-label="toggleLeft" ng-click="toggleLeft()" class="tglLbtn" hide-gt-md>
                    <ng-md-icon icon="keyboard_arrow_left" class="contentRCBAA"></ng-md-icon>
                </md-button>
                <div class="contentRCA">
                    <div ng-if="myaccount.selectedTab != 5" class="contentRCAB" layout="row">
                        <md-button id="editButton" aria-label="editButton" ng-if="!myaccount.edit" ng-click="myaccount.editButton();" class="contentRCABA">
                            <ng-md-icon icon="mode_edit" class="contentRCBAA"></ng-md-icon>
                        </md-button>
                        <md-button id="cancelEdit" aria-label="cancelEdit" ng-if="myaccount.edit" ng-click="myaccount.cancelEdit()" class="contentRCABA">
                            <ng-md-icon icon="close" class="contentRCBAB"></ng-md-icon>
                        </md-button>
                    </div>
                    <!-- Me -->
                    <div ng-if="myaccount.selectedTab == 0">
                        <form name="names" layout="row" layout-align="center" style="margin: 0;">
                            <md-input-container class="md-block" flex="40">
                                <label>First Name</label>
                                <input name="fname" maxlength="30" ng-pattern="/^[a-zA-Z]*$/" ng-model="myaccount.user.firstName" ng-disabled="!myaccount.edit" ng-blur="myaccount.sanitizeInput(myaccount.user.firstName,'fname')" type="text" required/>
                                <div ng-messages="names.fname.$error">
                                    <div ng-message="pattern" class="ma_inptErMsg">Letters only</div>
                                    <div ng-message="required" class="ma_inptErMsg">Required</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex="40">
                                <label class="inptLbl">Last Name</label>
                                <input name="lname" maxlength="30" ng-pattern="/^[a-zA-Z]*$/" ng-model="myaccount.user.lastName" ng-disabled="!myaccount.edit" ng-blur="myaccount.sanitizeInput(myaccount.user.lastName,'lname')" type="text" required/>
                                <div ng-messages="names.lname.$error">
                                    <div ng-message="pattern" class="ma_inptErMsg">Letters only</div>
                                    <div ng-message="required" class="ma_inptErMsg">Required</div>
                                </div>
                            </md-input-container>
                        </form>
                        <div layout="row" layout-align="center">
                            <md-input-container class="md-block">
                                <label class="inptLbl">Date</label>
                                <md-select ng-disabled="!myaccount.edit" ng-model="myaccount.user.birthDay" ng-change="updateBDays();">
                                    <md-option ng-value="-1" ng-disabled="true">Day</md-option>
                                    <md-option ng-value="day" ng-repeat="day in myaccount.b_days">{{ day }}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label class="inptLbl">of</label>
                                <md-select ng-disabled="!myaccount.edit" ng-model="myaccount.user.birthMonth" ng-change="updateBDays();">
                                    <md-option ng-value="-1" ng-disabled="true">Month</md-option>
                                    <md-option ng-value="month" ng-repeat="month in myaccount.b_months">{{ month }}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label class="inptLbl">Birth</label>
                                <md-select ng-disabled="!myaccount.edit" ng-model="myaccount.user.birthYear" ng-change="updateBDays();">
                                    <md-option ng-value="-1" ng-disabled="true">Year</md-option>
                                    <md-option ng-value="year" ng-repeat="year in myaccount.b_years">{{ year }}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="invInptErrMsg_A"><span class="invInptErrMsg_B">{{myaccount.input_invalid_message}}</span></div>
                        <div ng-if="myaccount.edit" class="svBtn">
                            <md-button ng-if="!myaccount.info_updated" aria-label="updateMe" ng-click="myaccount.updateMe()" class="md-raised md-primary" flex="15">Save</md-button>
                            <div name="success" ng-if="myaccount.info_updated" class="scss_A"><ng-md-icon icon="done" class="scss_B"></ng-md-icon></div>
                        </div>
                    </div>
                    <!-- Contact -->
                    <form name="contact" ng-if="myaccount.selectedTab == 1" layout="column" style="margin: 0;">
                        <ul layout-align="center">
                            <li class="flxCntrLn">
                                <md-input-container class="md-block" flex="70">
                                    <label>Email</label>
                                    <input name="email" ng-pattern="/^.+@.+\..+$/" ng-model="myaccount.user.email" ng-disabled="!myaccount.edit" ng-blur="myaccount.sanitizeInput(myaccount.user.email,'email')" type="text" required/>
                                    <div ng-messages="contact.email.$error">
                                        <div ng-message="pattern" class="inptErMsg">Email format only</div>
                                        <div ng-message="required" class="inptErMsg">Required</div>
                                    </div>
                                </md-input-container>
                            </li>
                            <li class="flxCntrLn">
                                <md-input-container class="md-block" flex="70">
                                    <label class="inptLbl">Phone Number</label>
                                    <input name="phone" maxlength="14" ng-pattern="/^[0-9()+-]*$/" ng-model="myaccount.user.phoneNumber" ng-disabled="!myaccount.edit" ng-blur="myaccount.sanitizeInput(myaccount.user.phoneNumber,'phone')" type="text" required/>
                                    <div ng-messages="contact.phone.$error">
                                        <div ng-message="pattern" class="inptErMsg">Numbers only</div>
                                        <div ng-message="required" class="inptErMsg">Required</div>
                                    </div>
                                </md-input-container>
                            </li>
                            <li class="invInptErrMsg_A"><span class="invInptErrMsg_B">{{myaccount.input_invalid_message}}</span></li>
                            <div ng-if="myaccount.edit" class="svBtn">
                                <md-button ng-if="!myaccount.info_updated" aria-label="updateContact" class="md-raised md-primary" ng-click="myaccount.updateContact()" flex="15">Save</md-button>
                                <div name="success" ng-if="myaccount.info_updated" class="scss_A"><ng-md-icon icon="done" class="scss_B"></ng-md-icon></div>
                            </div>
                        </ul>
                    </form>
                    <!-- Address -->
                    <div ng-if="myaccount.selectedTab == 2">
                        <div class="flxCntrLn">
                            <md-tabs md-selected="0" md-border-bottom md-autoselect md-center-tabs="true" flex="80">
                                <md-tab label="Address 1">
                                    <md-tab-body>
                                        <div layout="row" layout-align="center center">
                                            <md-input-container class="md-block" flex="60">
                                                <label>Shortname</label>
                                                <input name="address" type="text" ng-model="myaccount.user.address1_shortname" ng-disabled="!myaccount.edit" />
                                            </md-input-container>
                                        </div>
                                        <div layout="row" layout-align="center center">
                                            <md-input-container class="md-block" flex="60">
                                                <label>Address</label>
                                                <input name="address" type="text" ng-model="myaccount.user.address1" ng-disabled="!myaccount.edit" ng-required="myaccount.edit"
                                                />
                                            </md-input-container>
                                        </div>
                                    </md-tab-body>
                                </md-tab>
                                <md-tab label="Address 2" ng-disabled="!myaccount.edit">
                                    <md-tab-body>
                                        <div layout="row" layout-align="center center">
                                            <md-input-container class="md-block" flex="60">
                                                <label>Shortname</label>
                                                <input name="address" type="text" ng-model="myaccount.user.address2_shortname" ng-disabled="!myaccount.edit" />
                                            </md-input-container>
                                        </div>
                                        <div layout="row" layout-align="center center">
                                            <md-input-container class="md-block" flex="60">
                                                <label>Address</label>
                                                <input name="address" type="text" ng-model="myaccount.user.address2" ng-disabled="!myaccount.edit" />
                                            </md-input-container>
                                        </div>
                                    </md-tab-body>
                                </md-tab>
                                <md-tab label="Address 3" ng-disabled="!myaccount.edit">
                                    <md-tab-body>
                                        <div layout="row" layout-align="center center">
                                            <md-input-container class="md-block" flex="60">
                                                <label>Shortname</label>
                                                <input name="address" type="text" ng-model="myaccount.user.address3_shortname" ng-disabled="!myaccount.edit" />
                                            </md-input-container>
                                        </div>
                                        <div layout="row" layout-align="center center">
                                            <md-input-container class="md-block" flex="60">
                                                <label>Address</label>
                                                <input name="address" type="text" ng-model="myaccount.user.address3" ng-disabled="!myaccount.edit" />
                                            </md-input-container>
                                        </div>
                                    </md-tab-body>
                                </md-tab>
                            </md-tabs>
                        </div>
                        <div ng-if="myaccount.edit" class="svBtn">
                            <md-button aria-label="updateAddress" class="md-raised md-primary" ng-click="myaccount.updateAddress()" flex="15">Save</md-button>
                        </div>
                    </div>
                    <!-- Change password -->
                    <form name="changePassword" ng-show="myaccount.selectedTab == 3" layout="column" style="margin: 0;">
                        <ul class="ulMP_0">
                            <li class="flxCntrLn">
                                <md-input-container class="md-block" flex="70">
                                    <label>Current password</label>
                                    <input name="crPsswrd" maxlength="30" ng-pattern="/^(?:([^\?\$\{\}\^\(\)\!\'\[\<\ \>\,\+\”\/\;\\\|\%\&\#\@]))*$/" ng-model="myaccount.password" ng-disabled="!myaccount.edit" ng-blur="myaccount.sanitizeInput(myaccount.password,'crPsswrd')" type="Password" required/>
                                    <div ng-messages="changePassword.cPassword.$error">
                                        <div ng-message="pattern" class="ma_inptErMsg">"? $ ! ^ % ' / { [ ( < | > ) ] } \ , + ” ; & # @" Can't be used</div>
                                        <div ng-message="required" class="ma_inptErMsg">Required</div>
                                    </div>
                                </md-input-container>
                            </li>
                            <li class="flxCntrLn">
                                <md-input-container class="md-block" flex="70">
                                    <label>New password</label>
                                    <input name="new1Psswrd" maxlength="30" ng-pattern="/^(?:([^\?\$\{\}\^\(\)\!\'\[\<\ \>\,\+\”\/\;\\\|\%\&\#\@]))*$/" ng-model="myaccount.new_password" ng-disabled="!myaccount.edit" ng-blur="myaccount.sanitizeInput(myaccount.new_password,'new1Psswrd'); myaccount.checkPassword();" type="password" required/>
                                    <div ng-messages="changePassword.new1Psswrd.$error">
                                        <div ng-message="pattern" class="ma_inptErMsg">"? $ ! ^ % ' / { [ ( < | > ) ] } \ , + ” ; & # @" Can't be used</div>
                                        <div ng-message="required" class="ma_inptErMsg">Required</div>
                                    </div>
                                </md-input-container>
                            </li>
                            <li class="flxCntrLn">
                                <md-input-container class="md-block" flex="70">
                                    <label>Confirm password</label>
                                    <input name="new2Psswrd" maxlength="30" ng-pattern="/^(?:([^\?\$\{\}\^\(\)\!\'\[\<\ \>\,\+\”\/\;\\\|\%\&\#\@]))*$/" ng-model="myaccount.confirm_password" ng-disabled="!myaccount.edit" ng-blur="myaccount.sanitizeInput(myaccount.confirm_password,'new2Psswrd'); myaccount.checkPassword(); " type="password" required/>
                                    <div ng-messages="changePassword.new2Psswrd.$error">
                                        <div ng-message="pattern" class="ma_inptErMsg">"/ { [ ( < | > ) ] } \ ? $ ! ^ % ' , + ” ; & # @" Can't be used</div>
                                        <div ng-message="required" class="ma_inptErMsg">Required</div>
                                        <div ng-if="myaccount.passwordError" class="ma_inptErMsg">Don't match</div>
                                    </div>
                                </md-input-container>
                            </li>
                            <li class="invInptErrMsg_A"><span class="invInptErrMsg_B">{{myaccount.input_invalid_message}}</span></li>
                            <div class="svBtn" ng-if="myaccount.edit">
                                <md-button ng-if="!myaccount.info_updated" class="md-raised md-primary" ng-click="myaccount.changePassword()" flex="15">Save</md-button>
                                <div name="success" ng-if="myaccount.info_updated" class="scss_A"><ng-md-icon icon="done" class="scss_B"></ng-md-icon></div>
                            </div>
                        </ul>
                    </form>
                    <!-- Credit Card -->
                    <div ng-if="myaccount.selectedTab == 4">
                        <ul layout="column" class="flxCntrLn">
                            <li layout="row" layout-align="center">
                                <md-input-container class="md-block" flex="40">
                                    <label>First Name</label>
                                    <input required ng-model="myaccount.card.firstName" ng-disabled="!myaccount.edit" type="text" />
                                </md-input-container>
                                <md-input-container class="md-block" flex="40">
                                    <label class="inptLbl">Last Name</label>
                                    <input required ng-model="myaccount.card.lastName" ng-disabled="!myaccount.edit" type="text" />
                                </md-input-container>
                            </li>
                            <li class="flxCntrLn">
                                <md-input-container class="md-block" flex="40">
                                    <label class="inptLbl">Crad Number</label>
                                    <input required ng-model="myaccount.card.number" ng-disabled="!myaccount.edit" type="text" />
                                </md-input-container>
                            </li>
                            <li layout="row" class="flxCntrLn">
                                <md-input-container class="md-block extInput" flex="25">
                                    <label class="inptLbl">Expiry</label>
                                    <md-select ng-disabled="!myaccount.edit" ng-model="myaccount.card.month">
                                        <md-option ng-value="0">Month</md-option>
                                        <md-option ng-value="1">Jan</md-option>
                                        <md-option ng-value="2">Feb</md-option>
                                        <md-option ng-value="3">Mar</md-option>
                                        <md-option ng-value="4">Apr</md-option>
                                        <md-option ng-value="5">May</md-option>
                                        <md-option ng-value="6">Jun</md-option>
                                        <md-option ng-value="7">Jul</md-option>
                                        <md-option ng-value="8">Aug</md-option>
                                        <md-option ng-value="9">Sep</md-option>
                                        <md-option ng-value="10">Oct</md-option>
                                        <md-option ng-value="11">Nov</md-option>
                                        <md-option ng-value="12">Dec</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="md-block extInput" flex="25">
                                    <label class="inptLbl">Date</label>
                                    <md-select ng-disabled="!myaccount.edit" ng-model="myaccount.card.year">
                                        <md-option ng-value="0">Year</md-option>
                                        <md-option ng-value="2017">2017</md-option>
                                        <md-option ng-value="2018">2018</md-option>
                                        <md-option ng-value="2019">2019</md-option>
                                        <md-option ng-value="2020">2020</md-option>
                                        <md-option ng-value="2021">2021</md-option>
                                        <md-option ng-value="2022">2022</md-option>
                                        <md-option ng-value="2023">2023</md-option>
                                        <md-option ng-value="2024">2024</md-option>
                                        <md-option ng-value="2025">2025</md-option>
                                        <md-option ng-value="2026">2026</md-option>
                                        <md-option ng-value="2027">2027</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="md-block" flex="25">
                                    <label>Security Code</label>
                                    <input ng-disabled="!myaccount.edit" required name="cardSecCode" ng-model="myaccount.card.secCode" type="text" />
                                </md-input-container>
                            </li>
                            <div ng-if="myaccount.edit" class="svBtn">
                                <md-button aria-label="updateCard" class="md-raised md-primary" ng-click="card.updateCard()" flex="15">Save</md-button>
                            </div>
                        </ul>
                    </div>
                    <!-- Order History -->
                    <div ng-if="myaccount.selectedTab == 5" class="contentRCorHist">
                        <ul layout="row" class="flxCntrLn">
                            <li flex="15" layout="row" class="flxCntrLn">
                                <span class="ordCntHdr ordCntTxt">Order</span>
                            </li>
                            <li flex="15" class="ordCntHdr ordCntTxt flxCntrLn">Date</li>
                            <li flex="15" class="ordCntHdr ordCntTxt flxCntrLn">Store</li>
                            <li flex="15" class="ordCntHdr ordCntTxt flxCntrLn">Price</li>
                            <li flex="15" class="ordCntHdr ordCntTxt flxCntrLn">Address</li>
                        </ul>
                        <div class="ordHist">
                            <div ng-repeat="order in myaccount.foundOrders">
                                <ul layout="row" class="flxCntrLn">
                                    <li flex="15" layout="row" class="flxCntrLn">
                                        <span>#{{order.order_id}}</span>
                                        <md-button aria-label="ShowHideCardInfo" ng-click="myaccount.getOrderContent(order.order_id);" class="ordHistCntBtn">
                                            <ng-md-icon icon="keyboard_arrow_down"></ng-md-icon>
                                        </md-button>
                                    </li>
                                    <li flex="15" class="ordCntTxt flxCntrLn">{{order.date_placed}}</li>
                                    <li flex="15" class="ordCntTxt flxCntrLn">Liquor Station</li>
                                    <li flex="15" class="ordCntTxt flxCntrLn">$CXXX</li>
                                    <li flex="15" class="ordCntTxt flxCntrLn">{{order.delivery_address}}</li>
                                </ul>
                                <div id="{{order.order_id}}" class="cntBx">
                                    <div ng-value="item" class="cntBxA">
                                        <div flex="40" layout="row" class="cntBxAA" ng-repeat="item in myaccount.foundTheOrder">
                                            <ul class="cntBxAAA">
                                                <img class="cntBxAAAA" ng-src="{{'/resources/images/products/' + item.super_category + '/' + item.category + '/' + item.image}}">
                                            </ul>
                                            <div layout="row" class="cntBxAAB">
                                                <ul layout="column" class="cntBxAABA">
                                                    <li class="cntBxAABAA">{{item.brand}}</li>
                                                    <li class="cntBxAABAA">#{{item.packaging}}</li>
                                                    <li class="cntBxAABAA">{{item.volume}}</li>
                                                    <li class="cntBxAABAA">C${{item.price}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="/resources/services/date.js"></script>
    <script src="/resources/controllers/myaccount.js"></script>
</body>

</html>