<html ng-app="mainModule">

<head>
    <%- include('partial/imports')%>
        <%- include('partial/header', {title: title}); %>
            <link href="/resources/css/myaccount.css" rel="stylesheet">
</head>

<body ng-controller="myaccountController as myaccount" class="ng-cloak">
    <!-- main part -->
    <div id="mainPart">
        <div class="container-fluid content cntnt_SH" layout="row">
            <md-sidenav class="md-sidenav-left contentLC" flex="40" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
                <md-content>
                    <div class="contentLCA" layout="column" layout-align="center center">
                        <img class="usrImg">
                        <md-divider style="margin: 1em;"></md-divider>
                        <ul layout="column" class="contentLCAC">
                            <li id="myAcTi0" class="myTabs selectedTab">
                                <a ng-click="myaccount.updateTab(0)" class="myTabsA">Me</a>
                            </li>
                            <li id="myAcLi0" class="myTabsBtmLn selectedTabLn"></li>
                            <li id="myAcTi1" class="myTabs">
                                <a ng-click="myaccount.updateTab(1)" class="myTabsA myTabsTM">Contact</a>
                            </li>
                            <li id="myAcLi1" class="myTabsBtmLn"></li>
                            <li id="myAcTi2" class="myTabs">
                                <a ng-click="myaccount.updateTab(2)" class="myTabsA myTabsTM">Address</a>
                            </li>
                            <li id="myAcLi2" class="myTabsBtmLn"></li>
                            <li id="myAcTi3" class="myTabs">
                                <a ng-click="myaccount.updateTab(3)" class="myTabsA myTabsTM">Password</a>
                            </li>
                            <li id="myAcLi3" class="myTabsBtmLn"></li>
                            <md-divider style="margin: 2em;"></md-divider>
                            <li id="myAcTi4" class="myTabs">
                                <a ng-click="myaccount.updateTab(4)" class="myTabsA">Credit Crad</a>
                            </li>
                            <li id="myAcLi4" class="myTabsBtmLn"></li>
                            <md-divider style="margin: 2em;"></md-divider>
                            <li id="myAcTi5" class="myTabs">
                                <a ng-click="myaccount.updateTab(5)" class="myTabsA">Order History</a>
                            </li>
                            <li id="myAcLi5" class="myTabsBtmLn"></li>
                        </ul>
                    </div>
                </md-content>
            </md-sidenav>
            <div flex="60" layout="column" class="contentRC RC_SH">
                <md-button aria-label="toggleLeft" ng-click="toggleLeft()" class="tglLbtn" hide-gt-md>
                    <ng-md-icon icon="keyboard_arrow_left" class="contentRCBAA"></ng-md-icon>
                </md-button>
                <div class="contentRCA">
                    <div ng-if="myaccount.selectedTab != 5" class="contentRCAB" layout="row">
                        <md-button aria-label="editButton" ng-if="!myaccount.edit" ng-click="myaccount.editButton();" class="contentRCABA">
                            <ng-md-icon icon="mode_edit" class="contentRCBAA"></ng-md-icon>
                        </md-button>
                        <md-button aria-label="cancelEdit" ng-if="myaccount.edit" ng-click="myaccount.cancelEdit()" class="contentRCABA">
                            <ng-md-icon icon="close" class="contentRCBAB"></ng-md-icon>
                        </md-button>
                    </div>
                    <!-- Me -->
                    <div ng-if="myaccount.selectedTab == 0">
                        <div layout="row" layout-align="center">
                            <md-input-container class="md-block" flex="40">
                                <label>First Name</label>
                                <input required ng-model="myaccount.user.firstName" ng-disabled="!myaccount.edit" type="text" />
                            </md-input-container>
                            <md-input-container class="md-block" flex="40">
                                <label class="inptLbl">Last Name</label>
                                <input required ng-model="myaccount.user.lastName" ng-disabled="!myaccount.edit" type="text" />
                            </md-input-container>
                        </div>
                        <div layout="row" layout-align="center">
                            <md-input-container class="md-block">
                                <label class="inptLbl">Date</label>
                                <md-select ng-disabled="!myaccount.edit" ng-model="myaccount.user.birthDay">
                                    <md-option ng-value="0" ng-disabled="true">Day</md-option>
                                    <md-option ng-value="1">1</md-option>
                                    <md-option ng-value="2">2</md-option>
                                    <md-option ng-value="3">3</md-option>
                                    <md-option ng-value="4">4</md-option>
                                    <md-option ng-value="5">5</md-option>
                                    <md-option ng-value="6">6</md-option>
                                    <md-option ng-value="7">7</md-option>
                                    <md-option ng-value="8">8</md-option>
                                    <md-option ng-value="9">9</md-option>
                                    <md-option ng-value="10">10</md-option>
                                    <md-option ng-value="11">11</md-option>
                                    <md-option ng-value="12">12</md-option>
                                    <md-option ng-value="13">13</md-option>
                                    <md-option ng-value="14">14</md-option>
                                    <md-option ng-value="15">15</md-option>
                                    <md-option ng-value="16">16</md-option>
                                    <md-option ng-value="17">17</md-option>
                                    <md-option ng-value="18">18</md-option>
                                    <md-option ng-value="19">19</md-option>
                                    <md-option ng-value="20">20</md-option>
                                    <md-option ng-value="21">21</md-option>
                                    <md-option ng-value="22">22</md-option>
                                    <md-option ng-value="23">23</md-option>
                                    <md-option ng-value="24">24</md-option>
                                    <md-option ng-value="25">25</md-option>
                                    <md-option ng-value="26">26</md-option>
                                    <md-option ng-value="27">27</md-option>
                                    <md-option ng-value="28">28</md-option>
                                    <md-option ng-value="29">29</md-option>
                                    <md-option ng-value="30">30</md-option>
                                    <md-option ng-value="31">31</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>of</label>
                                <md-select ng-disabled="!myaccount.edit" ng-model="myaccount.user.birthMonth">
                                    <md-option ng-value="0" ng-disabled="true">Month</md-option>
                                    <md-option ng-value="1">Jan</md-option>
                                    <md-option ng-value="2">Feb</md-option>
                                    <md-option ng-value="3">Mar</md-option>
                                    <md-option ng-value="4">Apr</md-option>
                                    <md-option ng-value="5">May</md-option>
                                    <md-option ng-value="6">Jun</md-option>
                                    <md-option ng-value="7">Jul</md-option>
                                    <md-option ng-value="8">Aug</md-option>
                                    <md-option ng-value="9">Sep</md-option>
                                    <md-option ng-value="10">Oct</md-option>
                                    <md-option ng-value="11">Nov</md-option>
                                    <md-option ng-value="12">Dec</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Birth</label>
                                <md-select ng-disabled="!myaccount.edit" ng-model="myaccount.user.birthYear">
                                    <md-option ng-value="0" ng-disabled="true">Year</md-option>
                                    <md-option ng-value="2017">2017</md-option>
                                    <md-option ng-value="2016">2016</md-option>
                                    <md-option ng-value="2015">2015</md-option>
                                    <md-option ng-value="2014">2014</md-option>
                                    <md-option ng-value="2013">2013</md-option>
                                    <md-option ng-value="2012">2012</md-option>
                                    <md-option ng-value="2011">2011</md-option>
                                    <md-option ng-value="2010">2010</md-option>
                                    <md-option ng-value="2009">2009</md-option>
                                    <md-option ng-value="2008">2008</md-option>
                                    <md-option ng-value="2007">2007</md-option>
                                    <md-option ng-value="2006">2006</md-option>
                                    <md-option ng-value="2005">2005</md-option>
                                    <md-option ng-value="2004">2004</md-option>
                                    <md-option ng-value="2003">2003</md-option>
                                    <md-option ng-value="2002">2002</md-option>
                                    <md-option ng-value="2001">2001</md-option>
                                    <md-option ng-value="2000">2000</md-option>
                                    <md-option ng-value="1999">1999</md-option>
                                    <md-option ng-value="1998">1998</md-option>
                                    <md-option ng-value="1997">1997</md-option>
                                    <md-option ng-value="1996">1996</md-option>
                                    <md-option ng-value="1995">1995</md-option>
                                    <md-option ng-value="1994">1994</md-option>
                                    <md-option ng-value="1993">1993</md-option>
                                    <md-option ng-value="1992">1992</md-option>
                                    <md-option ng-value="1991">1991</md-option>
                                    <md-option ng-value="1990">1990</md-option>
                                    <md-option ng-value="1989">1989</md-option>
                                    <md-option ng-value="1988">1988</md-option>
                                    <md-option ng-value="1987">1987</md-option>
                                    <md-option ng-value="1986">1986</md-option>
                                    <md-option ng-value="1985">1985</md-option>
                                    <md-option ng-value="1984">1984</md-option>
                                    <md-option ng-value="1983">1983</md-option>
                                    <md-option ng-value="1982">1982</md-option>
                                    <md-option ng-value="1981">1981</md-option>
                                    <md-option ng-value="1980">1980</md-option>
                                    <md-option ng-value="1979">1979</md-option>
                                    <md-option ng-value="1978">1978</md-option>
                                    <md-option ng-value="1977">1977</md-option>
                                    <md-option ng-value="1976">1976</md-option>
                                    <md-option ng-value="1975">1975</md-option>
                                    <md-option ng-value="1974">1974</md-option>
                                    <md-option ng-value="1973">1973</md-option>
                                    <md-option ng-value="1972">1972</md-option>
                                    <md-option ng-value="1971">1971</md-option>
                                    <md-option ng-value="1970">1970</md-option>
                                    <md-option ng-value="1969">1969</md-option>
                                    <md-option ng-value="1968">1968</md-option>
                                    <md-option ng-value="1967">1967</md-option>
                                    <md-option ng-value="1966">1966</md-option>
                                    <md-option ng-value="1965">1965</md-option>
                                    <md-option ng-value="1964">1964</md-option>
                                    <md-option ng-value="1963">1963</md-option>
                                    <md-option ng-value="1962">1962</md-option>
                                    <md-option ng-value="1961">1961</md-option>
                                    <md-option ng-value="1960">1960</md-option>
                                    <md-option ng-value="1959">1959</md-option>
                                    <md-option ng-value="1958">1958</md-option>
                                    <md-option ng-value="1957">1957</md-option>
                                    <md-option ng-value="1956">1956</md-option>
                                    <md-option ng-value="1955">1955</md-option>
                                    <md-option ng-value="1954">1954</md-option>
                                    <md-option ng-value="1953">1953</md-option>
                                    <md-option ng-value="1952">1952</md-option>
                                    <md-option ng-value="1951">1951</md-option>
                                    <md-option ng-value="1950">1950</md-option>
                                    <md-option ng-value="1949">1949</md-option>
                                    <md-option ng-value="1948">1948</md-option>
                                    <md-option ng-value="1947">1947</md-option>
                                    <md-option ng-value="1946">1946</md-option>
                                    <md-option ng-value="1945">1945</md-option>
                                    <md-option ng-value="1944">1944</md-option>
                                    <md-option ng-value="1943">1943</md-option>
                                    <md-option ng-value="1942">1942</md-option>
                                    <md-option ng-value="1941">1941</md-option>
                                    <md-option ng-value="1940">1940</md-option>
                                    <md-option ng-value="1939">1939</md-option>
                                    <md-option ng-value="1938">1938</md-option>
                                    <md-option ng-value="1937">1937</md-option>
                                    <md-option ng-value="1936">1936</md-option>
                                    <md-option ng-value="1935">1935</md-option>
                                    <md-option ng-value="1934">1934</md-option>
                                    <md-option ng-value="1933">1933</md-option>
                                    <md-option ng-value="1932">1932</md-option>
                                    <md-option ng-value="1931">1931</md-option>
                                    <md-option ng-value="1930">1930</md-option>
                                    <md-option ng-value="1929">1929</md-option>
                                    <md-option ng-value="1928">1928</md-option>
                                    <md-option ng-value="1927">1927</md-option>
                                    <md-option ng-value="1926">1926</md-option>
                                    <md-option ng-value="1925">1925</md-option>
                                    <md-option ng-value="1924">1924</md-option>
                                    <md-option ng-value="1923">1923</md-option>
                                    <md-option ng-value="1922">1922</md-option>
                                    <md-option ng-value="1921">1921</md-option>
                                    <md-option ng-value="1920">1920</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div ng-if="myaccount.edit" class="svBtn">
                            <md-button aria-label="updateMe" ng-click="myaccount.updateMe()" class="md-raised md-primary" flex="15">Save</md-button>
                        </div>
                    </div>
                    <!-- Contact -->
                    <div ng-if="myaccount.selectedTab == 1" layout="column">
                        <ul layout-align="center">
                            <li class="flxCntrLn">
                                <md-input-container class="md-block" flex="70">
                                    <label>Email</label>
                                    <input required name="userFname" ng-model="myaccount.user.email" ng-disabled="!myaccount.edit" type="text" />
                                </md-input-container>
                            </li>
                            <li class="flxCntrLn">
                                <md-input-container class="md-block" flex="70">
                                    <label class="inptLbl">Phone Number</label>
                                    <input required name="lName" ng-model="myaccount.user.phoneNumber" ng-disabled="!myaccount.edit" type="text" />
                                </md-input-container>
                            </li>
                            <div ng-if="myaccount.edit" class="svBtn">
                                <md-button aria-label="updateContact" class="md-raised md-primary" ng-click="myaccount.updateContact()" flex="15">Save</md-button>
                            </div>
                        </ul>
                    </div>
                    <!-- Address -->
                    <div ng-if="myaccount.selectedTab == 2">
                        <div class="flxCntrLn">
                            <md-tabs md-selected="0" md-border-bottom md-autoselect md-center-tabs="true" flex="80">
                                <md-tab label="Address 1">
                                    <md-tab-body>
                                        <div layout="row" layout-align="center center">
                                            <md-input-container class="md-block" flex="60">
                                                <label>Shortname</label>
                                                <input name="address" type="text" ng-model="myaccount.user.address1_shortname" ng-disabled="!myaccount.edit" />
                                            </md-input-container>
                                        </div>
                                        <div layout="row" layout-align="center center">
                                            <md-input-container class="md-block" flex="60">
                                                <label>Address</label>
                                                <input name="address" type="text" ng-model="myaccount.user.address1" ng-disabled="!myaccount.edit" ng-required="myaccount.edit"
                                                />
                                            </md-input-container>
                                        </div>
                                    </md-tab-body>
                                </md-tab>
                                <md-tab label="Address 2" ng-disabled="!myaccount.edit">
                                    <md-tab-body>
                                        <div layout="row" layout-align="center center">
                                            <md-input-container class="md-block" flex="60">
                                                <label>Shortname</label>
                                                <input name="address" type="text" ng-model="myaccount.user.address2_shortname" ng-disabled="!myaccount.edit" />
                                            </md-input-container>
                                        </div>
                                        <div layout="row" layout-align="center center">
                                            <md-input-container class="md-block" flex="60">
                                                <label>Address</label>
                                                <input name="address" type="text" ng-model="myaccount.user.address2" ng-disabled="!myaccount.edit" />
                                            </md-input-container>
                                        </div>
                                    </md-tab-body>
                                </md-tab>
                                <md-tab label="Address 3" ng-disabled="!myaccount.edit">
                                    <md-tab-body>
                                        <div layout="row" layout-align="center center">
                                            <md-input-container class="md-block" flex="60">
                                                <label>Shortname</label>
                                                <input name="address" type="text" ng-model="myaccount.user.address3_shortname" ng-disabled="!myaccount.edit" />
                                            </md-input-container>
                                        </div>
                                        <div layout="row" layout-align="center center">
                                            <md-input-container class="md-block" flex="60">
                                                <label>Address</label>
                                                <input name="address" type="text" ng-model="myaccount.user.address3" ng-disabled="!myaccount.edit" />
                                            </md-input-container>
                                        </div>
                                    </md-tab-body>
                                </md-tab>
                            </md-tabs>
                        </div>
                        <div ng-if="myaccount.edit" class="svBtn">
                            <md-button aria-label="updateAddress" class="md-raised md-primary" ng-click="myaccount.updateAddress()" flex="15">Save</md-button>
                        </div>
                    </div>
                    <!-- Change password -->
                    <div ng-show="myaccount.selectedTab == 3" layout="column">
                        <ul class="ulMP_0">
                            <li class="flxCntrLn">
                                <md-input-container class="md-block" flex="70">
                                    <label>Current password</label>
                                    <input name="password" type="password" ng-model="myaccount.password" ng-disabled="!myaccount.edit" autocomplete="off" required/>
                                </md-input-container>
                            </li>
                            <li class="flxCntrLn">
                                <md-input-container class="md-block" flex="70">
                                    <label>New password</label>
                                    <input name="npassword" type="password" ng-change="myaccount.checkPassword()" ng-model="myaccount.new_password" ng-disabled="!myaccount.edit"
                                        autocomplete="off" required/>
                                </md-input-container>
                            </li>
                            <li class="flxCntrLn">
                                <md-input-container class="md-block" flex="70" ng-class="{'md-input-invalid': myaccount.passwordError}">
                                    <label>Confirm password</label>
                                    <input name="cpassword" type="password" ng-change="myaccount.checkPassword()" ng-model="myaccount.confirm_password" ng-disabled="!myaccount.edit"
                                        autocomplete="off" required/>
                                </md-input-container>
                            </li>
                            <div class="svBtn" ng-if="myaccount.edit">
                                <md-button class="md-raised md-primary" ng-click="myaccount.changePassword()" flex="15">Save</md-button>
                            </div>
                        </ul>
                    </div>
                    <!-- Credit Card -->
                    <div ng-if="myaccount.selectedTab == 4">
                        <ul layout="column" class="flxCntrLn">
                            <li layout="row" layout-align="center">
                                <md-input-container class="md-block" flex="40">
                                    <label>First Name</label>
                                    <input required ng-model="myaccount.card.firstName" ng-disabled="!myaccount.edit" type="text" />
                                </md-input-container>
                                <md-input-container class="md-block" flex="40">
                                    <label class="inptLbl">Last Name</label>
                                    <input required ng-model="myaccount.card.lastName" ng-disabled="!myaccount.edit" type="text" />
                                </md-input-container>
                            </li>
                            <li class="flxCntrLn">
                                <md-input-container class="md-block" flex="40">
                                    <label class="inptLbl">Crad Number</label>
                                    <input required ng-model="myaccount.card.number" ng-disabled="!myaccount.edit" type="text" />
                                </md-input-container>
                            </li>
                            <li layout="row" class="flxCntrLn">
                                <md-input-container class="md-block extInput" flex="25">
                                    <label class="inptLbl">Expiry</label>
                                    <md-select ng-disabled="!myaccount.edit" ng-model="myaccount.card.month">
                                        <md-option ng-value="0">Month</md-option>
                                        <md-option ng-value="1">Jan</md-option>
                                        <md-option ng-value="2">Feb</md-option>
                                        <md-option ng-value="3">Mar</md-option>
                                        <md-option ng-value="4">Apr</md-option>
                                        <md-option ng-value="5">May</md-option>
                                        <md-option ng-value="6">Jun</md-option>
                                        <md-option ng-value="7">Jul</md-option>
                                        <md-option ng-value="8">Aug</md-option>
                                        <md-option ng-value="9">Sep</md-option>
                                        <md-option ng-value="10">Oct</md-option>
                                        <md-option ng-value="11">Nov</md-option>
                                        <md-option ng-value="12">Dec</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="md-block extInput" flex="25">
                                    <label class="inptLbl">Date</label>
                                    <md-select ng-disabled="!myaccount.edit" ng-model="myaccount.card.year">
                                        <md-option ng-value="0">Year</md-option>
                                        <md-option ng-value="2017">2017</md-option>
                                        <md-option ng-value="2018">2018</md-option>
                                        <md-option ng-value="2019">2019</md-option>
                                        <md-option ng-value="2020">2020</md-option>
                                        <md-option ng-value="2021">2021</md-option>
                                        <md-option ng-value="2022">2022</md-option>
                                        <md-option ng-value="2023">2023</md-option>
                                        <md-option ng-value="2024">2024</md-option>
                                        <md-option ng-value="2025">2025</md-option>
                                        <md-option ng-value="2026">2026</md-option>
                                        <md-option ng-value="2027">2027</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="md-block" flex="25">
                                    <label>Security Code</label>
                                    <input ng-disabled="!myaccount.edit" required name="cardSecCode" ng-model="myaccount.card.secCode" type="text" />
                                </md-input-container>
                            </li>
                            <div ng-if="myaccount.edit" class="svBtn">
                                <md-button aria-label="updateCard" class="md-raised md-primary" ng-click="card.updateCard()" flex="15">Save</md-button>
                            </div>
                        </ul>
                    </div>
                    <!-- Order History -->
                    <div ng-if="myaccount.selectedTab == 5" class="contentRCorHist">
                        <ul layout="row" class="flxCntrLn">
                            <li flex="15" layout="row" class="flxCntrLn">
                                <span class="ordCntHdr ordCntTxt">Order</span>
                            </li>
                            <li flex="15" class="ordCntHdr ordCntTxt flxCntrLn">Date</li>
                            <li flex="15" class="ordCntHdr ordCntTxt flxCntrLn">Store</li>
                            <li flex="15" class="ordCntHdr ordCntTxt flxCntrLn">Price</li>
                            <li flex="15" class="ordCntHdr ordCntTxt flxCntrLn">Address</li>
                        </ul>
                        <div class="ordHist">
                            <div ng-repeat="order in myaccount.foundOrders">
                                <ul layout="row" class="flxCntrLn">
                                    <li flex="15" layout="row" class="flxCntrLn">
                                        <span>#{{order.order_id}}</span>
                                        <md-button aria-label="ShowHideCardInfo" ng-click="myaccount.getOrderContent(order.order_id);" class="ordHistCntBtn">
                                            <ng-md-icon icon="keyboard_arrow_down"></ng-md-icon>
                                        </md-button>
                                    </li>
                                    <li flex="15" class="ordCntTxt flxCntrLn">{{order.date_received}}</li>
                                    <li flex="15" class="ordCntTxt flxCntrLn">Liquor Station</li>
                                    <li flex="15" class="ordCntTxt flxCntrLn">$CXXX</li>
                                    <li flex="15" class="ordCntTxt flxCntrLn">{{order.fe_address}}</li>
                                </ul>
                                <div id="{{order.order_id}}" class="cntBx">
                                    <div ng-value="item" class="cntBxA">
                                        <div flex="40" layout="row" class="cntBxAA" ng-repeat="item in myaccount.foundTheOrder">
                                            <ul class="cntBxAAA">
                                                <img class="cntBxAAAA" ng-src="{{'/resources/images/products/' + item.super_category + '/' + item.category + '/' + item.image}}">
                                            </ul>
                                            <div layout="row" class="cntBxAAB">
                                                <ul layout="column" class="cntBxAABA">
                                                    <li class="cntBxAABAA">{{item.brand}}</li>
                                                    <li class="cntBxAABAA">#{{item.packaging}}</li>
                                                    <li class="cntBxAABAA">{{item.volume}}</li>
                                                    <li class="cntBxAABAA">C${{item.price}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="/resources/services/date.js"></script>
    <script src="/resources/controllers/myaccount.js"></script>
</body>

</html>