<html ng-app="mainModule">

<head>
    <%- include('partial/imports')%>
        <link href="/resources/css/orders.css" rel="stylesheet">
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbxP17w7jZr5QNnLQUmCJ8X3h1kl4EtFs&libraries=places"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
</head>

<body class="ng-cloak">
    <div ng-controller="adminController as adctrl">
        <div class="adminPtopA">
            <span class="adminPtopAA">{{pageName}}</span>
            <md-button aria-label="logOut" ng-click="logoutBtn()" class="adminPtopAB">
                <ng-md-icon icon="logout" class="adminPtopABA"></ng-md-icon>
            </md-button>
        </div>
        <input id="mode" value="<%= mode %>" hidden>
        <!-- Order history -->
        <!-- Start -->
        <div ng-show="page == 1">
            <div class="container-fluid adminPtop">
                <md-container class="md-block adminPtopB">
                    <md-input-container class="adminPtopBD">
                        <md-select ng-model="searchBy" placeholder="Seacrh By" ng-change="callSearch()">
                            <md-option ng-value="1">Email</md-option>
                            <md-option ng-value="2">Phone</md-option>
                            <md-option ng-value="3">Order ID</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="adminPtopBB">
                        <label></label>
                        <input id="csr_Search" ng-model="searchCriteria" class="adminPtopBBB">
                    </md-input-container>
                    <md-button aria-label="searchOrClear" class="adminPtopBC" ng-click="searchCriteria = ''; foundUsers = ''; foundTransactions = ''; foundOrderContent = ''; adctrl.reqeustType = 0">
                        <ng-md-icon ng-if="!searchCriteria" icon="search" class="adminPtopBAA"></ng-md-icon>
                        <ng-md-icon ng-if="searchCriteria" icon="clear" class="adminPtopBCA"></ng-md-icon>
                    </md-button>
                </md-container>
            </div>
            <div class="container">
                <div class="gtDataA" style="width: 100%;">
                    <md-radio-group>
                        <md-radio-button id="usrRbtn" aria-label="selectUser" class="gtDataAA" ng-value="user" ng-repeat="user in foundUsers" ng-click="selectedUserID(user)">
                            <ul layout="row" class="gtDataAAA" style="width: 60%; display: flex; justify-content: space-between;">
                                <li class="gtDataAAAA">First Name: {{' ' + user.first_name + '; '}}</li>
                                <li class="gtDataAAAA">Last Name: {{' ' + user.last_name + '; '}}</li>
                                <li class="gtDataAAAA">Email: {{' ' + user.user_email + '; '}}</li>
                                <li ng-show="!user.is_guest" class="gtDataAAAA">Phone: {{' ' + user.phone_number + '; '}}</li>
                                <li ng-show="user.is_guest" class="gtDataAAAA">User : Guest</li>
                            </ul>
                        </md-radio-button>
                    </md-radio-group>
                </div>
                <div ng-if="foundTransactions != '' " class="gtDataAB"></div>

                <div class="gtDataA">
                    <md-radio-group>
                        <md-radio-button aria-label="transactions" class="gtDataAA" ng-repeat="transaction in foundTransactions" ng-value="transaction"
                            ng-click="selectedTransactionID(transaction)">
                            <ul layout="row" class="gtDataAAA">
                                <li class="gtDataAAAA">Date Placed: {{' ' + transaction.date_placed + '; '}}</li>
                                <li class="gtDataAAAA">Total Paid: {{' C$' + transaction.total_price + '; '}}</li>
                                <li class="gtDataAAAA">Cart Total: {{' C$' + transaction.total_amount + '; '}}</li>
                                <li class="gtDataAAAA">Delivery Fee: {{' C$' + transaction.delivery_fee + '; '}}</li>
                                <li class="gtDataAAAA">Phone: {{ transaction.phone_number + '; '}}</li>
                                <li class="gtDataAAAA">Delivery Address: {{' ' + transaction.delivery_address + '; '}}</li>
                            </ul>
                        </md-radio-button>
                    </md-radio-group>
                </div>
                <div ng-if="foundTransactions != '' " class="gtDataAB"></div>

                <div class="gtDataB">
                    <md-radio-group>
                        <md-radio-button id="{{order.order_id}}" aria-label="selectOrder" class="gtDataBA" ng-value="order" ng-repeat="order in foundOrders"
                            ng-click="selectOrderId(order)">
                            <ul layout="row" class="gtDataBAA">
                                <li class="gtDataBAAA">Order Id: {{ order.order_id }};</li>
                                <li class="gtDataBAAA">Assigned At: {{ order.date_assigned }};</li>
                                <li class="gtDataBAAA">Driver Id: {{ order.driver_id }};</li>
                                <li class="gtDataBAAA">Arrived Store At: {{ order.date_arrived_store }};</li>
                                <li class="gtDataBAAA">Picked At: {{ order.date_picked }};</li>
                                <li class="gtDataBAAA">Arrived Customer At: {{ order.date_arrived_customer }};</li>
                                <li class="gtDataBAAA">Delivered At: {{ order.date_delivered }};</li>
                                <li layout="row">
                                    <span>Order Refused: </span>
                                    <ng-md-icon ng-if="!order.refused" style="fill: rgb(31, 196, 157);" icon="highlight_off" size="17"></ng-md-icon>
                                    <ng-md-icon ng-if="order.refused" style="fill: red;" icon="done" size="17"></ng-md-icon>
                                </li>
                            </ul>
                        </md-radio-button>
                    </md-radio-group>
                </div>
                <div ng-if="foundOrders  != '' " class="gtDataBB"></div>
                <div aria-label="orderItems" class="gtDataC">
                    <div ng-if="foundOrderContent  != ''" class="gtDataCA">Order List</div>
                    <div style="display: flex; justify-content: center; flex-wrap: wrap;">
                        <div ng-value="item" ng-repeat="item in foundOrderContent">
                            <div layout="row" class="gtDataCBA">
                                <ul ng-show="adctrl.reqeustType == 2 || adctrl.reqeustType == 4">
                                    <li>
                                        <md-button ng-click="addItem(item)" aria-label="addItem">
                                            <ng-md-icon icon="add_circle_outline" style="fill: rgba(5, 26, 25, 0.6);" size="20"></ng-md-icon>
                                        </md-button>
                                    </li>
                                    <li>
                                        <md-button ng-click="minusItem(item)" aria-label="minusItem">
                                            <ng-md-icon icon="remove_circle_outline" style="fill: rgba(5, 26, 25, 0.6);" size="20"></ng-md-icon>
                                        </md-button>
                                    </li>
                                </ul>
                                <ul class="gtDataCBAA" style="margin: 0; padding: 0;">
                                    <img class="gtDataCBAAA" ng-src="{{'/resources/images/products/' + item.super_category_custom + '/' + item.category + '/' + item.image}}">
                                </ul>
                                <ul layout="column" class="gtDataCBABB" style="margin: 0; padding: 0;">
                                    <li class="gtDataStrCBABAB">{{ item.store_type }}</li>
                                    <li class="gtDataCBABAB">{{ item.brand + " " + item.name }}</li>
                                    <li class="gtDataCBABAB">{{ item.volume + " x " + item.packaging }}</li>
                                    <li class="gtDataPrCBABAB">C${{ item.price }}</li>
                                    <li class="gtDataPrCBABAB">#{{ item.quantity }}</li>
                                    <li ng-if="adctrl.reqeustType == 2 || adctrl.reqeustType == 4" class="gtDataPrCBABAB" style="color: red; font-weight: 450;">#{{item.modify_number}}</li>
                                </ul>
                            </div>
                            <div class="gtDataCBB"></div>
                        </div>
                    </div>
                </div>
                <div ng-if="foundOrderContent  != '' " style="position: relative; top: 60px; display: flex; justify-content: center; align-items: center;"
                    class="gtDataCA" layout="column">
                    <div layout="row">
                        <div style="font-size: 14px;">
                            <md-input-container class="adminPtopBD" style="min-width: 120px; width: 150px;">
                                <md-select ng-model="adctrl.reqeustType" placeholder="Request" ng-change="reqeustType_change(adctrl.reqeustType)">
                                    <md-option ng-value="1" ng-disabled="!selectedOrder.date_arrived_customer">Refund Order</md-option>
                                    <md-option ng-value="2" ng-disabled="!selectedOrder.date_arrived_customer">Refund Product</md-option>
                                    <md-option ng-value="3" ng-disabled="selectedOrder.date_arrived_customer">Cancel Order</md-option>
                                    <md-option ng-value="4" ng-disabled="selectedOrder.date_arrived_customer">Cancel Product</md-option>
                                    <md-option ng-value="5" ng-disabled="selectedOrder.date_arrived_customer">Add New Item</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="adctrl.reqeustType == 3" style="width: 60%;">
                <ul style="margin: 0; padding: 0; font-size: 14px; color: rgba(0,0,0,0.9);">
                    <li>
                        <md-input-container class="md-block">
                            <label for="idCell" class="inptLbl">Order Comment</label>
                            <input id="gP_number" name="orderComment" ng-model="req_1.order_comment" type="text" required/>
                        </md-input-container>
                    </li>
                    <li>
                        <md-datepicker ng-model="req_1.date" md-placeholder="Pick up Date" md-open-on-focus required></md-datepicker>
                    </li>
                    <li>
                        <md-input-container class="md-block bigClass" style="width: 20%;">
                            <label>Pick up Time</label>
                            <input maxlength="4" ng-model="req_1.time" type="text" required/>
                        </md-input-container>
                    </li>
                    <li>
                        <md-input-container class="md-block">
                            <label for="idCell" class="inptLbl">Time Comment</label>
                            <input id="gP_number" name="orderComment" ng-model="req_1.time_comment" type="text" required/>
                        </md-input-container>
                    </li>
                </ul>
            </div>
            <div ng-if="adctrl.reqeustType">
                <div layout="row">
                    <div layout="column" ng-if="adctrl.reqeustType != 6 ">
                        <ul>Charged Money</ul>
                        <div layout="row">
                            <ul style="margin: 0; padding: 0;">
                                <li style="font-size: 13px; color: rgba(0,0,0,0.9); display: flex; justify-content: flex-start;">Cart Total</li>
                                <li style="font-size: 13px; color: rgba(0,0,0,0.9); display: flex; justify-content: flex-start;">Delivery Fee</li>
                                <li style="font-size: 13px; color: rgba(0,0,0,0.9); display: flex; justify-content: flex-start;">Gst</li>
                                <li style="font-size: 13px; color: rgba(0,0,0,0.9); display: flex; justify-content: flex-start;">Total Amount</li>
                            </ul>
                            <ul style="margin: 0; padding: 0;">
                                <li style="font-size: 13px; color: rgba(0,0,0,0.9); display: flex; justify-content: flex-start;">{{selectedOrder.cartTotal}}</li>
                                <li style="font-size: 13px; color: rgba(0,0,0,0.9); display: flex; justify-content: flex-start;">{{selectedOrder.delFee}}</li>
                                <li style="font-size: 13px; color: rgba(0,0,0,0.9); display: flex; justify-content: flex-start;">{{selectedOrder.GST}}</li>
                                <li style="font-size: 13px; color: rgba(0,0,0,0.9); display: flex; justify-content: flex-start;">{{selectedOrder.totAmount}}</li>
                            </ul>
                        </div>
                    </div>
                    <div layout="column">
                        <ul ng-if="adctrl.reqeustType == 6 ">Money to be charged</ul>
                        <ul ng-if="adctrl.reqeustType != 6 ">Money to be refunded</ul>
                        <div layout="row">
                            <ul style="margin: 0; padding: 0;">
                                <li style="font-size: 13px; color: rgba(0,0,0,0.9); display: flex; justify-content: flex-start;">Cart Total</li>
                                <li style="font-size: 13px; color: rgba(0,0,0,0.9); display: flex; justify-content: flex-start;">Delivery Fee</li>
                                <li style="font-size: 13px; color: rgba(0,0,0,0.9); display: flex; justify-content: flex-start;">Gst</li>
                                <li style="font-size: 13px; color: rgba(0,0,0,0.9); display: flex; justify-content: flex-start;">Total Amount</li>
                            </ul>
                            <ul style="margin: 0; padding: 0;">
                                <li style="font-size: 13px; color: rgba(0,0,0,0.9); display: flex; justify-content: flex-start;">{{ref_chr_Money.cartTotal}}</li>
                                <li style="font-size: 13px; color: rgba(0,0,0,0.9); display: flex; justify-content: flex-start;">{{ref_chr_Money.delFee}}</li>
                                <li style="font-size: 13px; color: rgba(0,0,0,0.9); display: flex; justify-content: flex-start;">{{ref_chr_Money.GST}}</li>
                                <li style="font-size: 13px; color: rgba(0,0,0,0.9); display: flex; justify-content: flex-start;">{{ref_chr_Money.totAmount}}</li>
                            </ul>
                        </div>
                    </div>
                    <md-button class="md-raised md-primary" ng-click="sendRequest()">Submit</md-button>
                </div>
            </div>
        </div>
        <!-- Dispatch Room -->
        <!-- Start -->
        <div ng-show="page == 2" class="container-fluid">
            <div layout="row">
                <div id="drMap" class="disRoomMap"></div>
                <div class="ADL_POL_tbl" layout="column">
                    <div layout="column">
                        <div class="ADL">
                            <div layout="column" class="ADL_POL_A_w">
                                <md-input-container layout="row" class="srchCntr drTblLn">
                                    <md-button aria-label="searchOrClear" class="srchBtn srchBtnDr" ng-click="adl_Search = '' ">
                                        <ng-md-icon ng-if="!adl_Search" icon="search" size="18"></ng-md-icon>
                                        <ng-md-icon ng-if="adl_Search" icon="clear" size="18"></ng-md-icon>
                                    </md-button>
                                    <label>
                                    </label>
                                    <input id="adlSearch" ng-model="adl_Search" class="srchInpt" placeholder="Active Driver List">
                                </md-input-container>
                                <div class="listBx drTblLn">
                                    <md-radio-group id="activeDriverList" ng-model="ADL_radioGroup" class="ADL_POL">
                                        <md-radio-button aria-label="seeDriverRoute" id="{{driver.order_id}}" ng-value="{{driver}}" ng-click="showDriverRoute(driver)"
                                            ng-repeat="driver in online_driverList | orderBy : '-on_shift' | filter : {driver_id : adl_Search}">
                                            <ul layout="row">
                                                <li>ID: {{driver.driver_id}}&nbsp</li>
                                                <li>On-line: {{driver.on_shift}}</li>
                                            </ul>
                                        </md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="slctAllBx drTblLn">
                                    <md-checkbox class="slctAllCheck" ng-click="selectAll('driver',online_driverList)" ng-model="ADL_SelectAll">Select All</md-checkbox>
                                </div>
                            </div>
                        </div>
                        <div class="POL">
                            <div layout="column" class="ADL_POL_A_w">
                                <md-input-container layout="row" class="srchCntr cusTblLn">
                                    <md-button aria-label="searchOrClear" class="srchBtn srchBtnCus" ng-click="POL_search = '' ">
                                        <ng-md-icon ng-if="!POL_search" icon="search" size="18"></ng-md-icon>
                                        <ng-md-icon ng-if="POL_search" icon="clear" size="18"></ng-md-icon>
                                    </md-button>
                                    <label>
                                    </label>
                                    <input id="polSearch" ng-model="POL_search" class="srchInpt" placeholder="Pending Order List">
                                </md-input-container>
                                <div class="listBx cusTblLn">
                                    <md-radio-group id="pendingOrderList" class="ADL_POL" ng-model="POL_radioGroup">
                                        <md-radio-button aria-label="selectOrder" id="{{order.order_id}}" ng-value="order" ng-click="showOrder(order)" ng-repeat="order in customer_pendingList | orderBy : '-WT' | filter : {order_id : POL_search}">
                                            <ul layout="row">
                                                <li>Order ID: </li>
                                                <li style="font-weight: 550;">&nbsp{{order.order_id}}</li>
                                                <li>&nbsp Paired:&nbsp</li>
                                                <li>
                                                    <ng-md-icon ng-if="order.dispatched" style="fill: rgb(31, 196, 157);" icon="done" size="17"></ng-md-icon>
                                                    <ng-md-icon ng-if="!order.dispatched" style="fill: red;" icon="highlight_off" size="17"></ng-md-icon>
                                                </li>
                                                <li>&nbsp WT:&nbsp</li>
                                                <li ng-style="(order.WT > 40) && {'color': 'red', 'font-weight':'600'}">{{order.WT}}</li>
                                            </ul>
                                        </md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="slctAllBx cusTblLn">
                                    <md-checkbox class="slctAllCheck" ng-click="selectAll('order',customer_pendingList)" ng-model="POL_SelectAll">Select All</md-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Log Stream -->
        <!-- Start -->
        <div ng-show="page == 3" style="background-color: rgba(253,253,253,1);">
            <div class="container">
                <div style="color: rgba(0,0,0,0.85); font-weight: 500;">{{logStreamPrevious}}</div>
                <div style="color: rgba(0,0,0,1); font-weight: 550;">{{logStreamNew}}</div>
            </div>
        </div>

        <!-- CM Dashboard -->
        <!-- Start -->
        <div ng-show="page == 4" style="background-color: rgba(253,253,253,1);">
            <div class="container">
                <h2 style="text-align: center;">Connection to CM (
                    <span id="connection">fetching data...</span>)</h2>
                <h3>
                    <span style="color: #ff0000;">Uptime:</span>&nbsp;
                    <span class="w3-center w3-animate-top" id="uptime">N/A</span>
                </h3>
                <h3>
                    <span style="color: #ff0000;">Core Engine:</span>
                    <span class="w3-center w3-animate-top" id="running">N/A</span>
                </h3>
                <h3>
                    <span style="color: #ff0000;">Exceptions:</span>
                    <span class="w3-center w3-animate-top" id="exceptions">N/A</span>
                </h3>
                <h3>
                    <span style="color: #ff0000;">Online Drivers:</span>
                    <span class="w3-center w3-animate-top" id="online_drivers">N/A</span>
                </h3>
                <h3>
                    <span style="color: #ff0000;">Orders in que:</span>
                    <span class="w3-center w3-animate-top" id="order_queue">N/A</span>
                </h3>
                <h3>
                    <span style="color: #ff0000;">Dispatched Orders:</span>
                    <span class="w3-center w3-animate-top" id="dispatched_orders">N/A</span>&nbsp;
                </h3>
                <h3>
                    <span style="color: #ff0000;">Database connection:</span>
                    <span class="w3-center w3-animate-top" id="db_connection">N/A</span>&nbsp;
                </h3>
            </div>
        </div>

        <div layout="column" class="doc">
            <md-button aria-label="OH" id="pg_1" ng-click="toPage(1)" flex="33" class="pageDocBtn">
                <ng-md-icon icon="history" class="pageDocHvrIcon1 pageDocIcon"></ng-md-icon>
            </md-button>
            <md-button aria-label="DR" id="pg_2" ng-click="toPage(2)" flex="33" class="pageDocBtn">
                <ng-md-icon icon="person_pin_circle" class="pageDocHvrIcon2 pageDocIcon"></ng-md-icon>
            </md-button>
            <md-button aria-label="DR" id="pg_3" ng-click="toPage(3)" flex="33" class="pageDocBtn">
                <ng-md-icon icon="insert_comment" class="pageDocHvrIcon3 pageDocIcon"></ng-md-icon>
            </md-button>
            <md-button aria-label="DR" id="pg_4" ng-click="toPage(4)" flex="33" class="pageDocBtn">
                <span ng-class="cm_icon" class="pageDocHvrIcon3 pageDocIcon">
                    <i class="material-icons">favorite</i>
                </span>
            </md-button>
        </div>
    </div>
    <% if (!production) { %>
        <script src="/resources/services/sessionStorage.js"></script>
        <script src="/resources/services/mapServices.js"></script>
        <script src="/resources/controllers/orders.js"></script>
        <% } %>
</body>

</html>