<html ng-app="mainModule">
    <head>
        <%- include('partial/imports')%>
        <link href="/resources/css/orders.css" rel="stylesheet">
    </head>

    <body class="ng-cloak">
            <div ng-controller="adminController">
                <div class="container-fluid adminPtop">
                    <div class="adminPtopA">
                        <span class="adminPtopAA">Admin Page</span>
                        <md-button aria-label="logOut" ng-click="logoutBtn()" class="adminPtopAB">
                            <ng-md-icon icon="logout" class="adminPtopABA"></ng-md-icon>
                        </md-button>
                    </div>
                    <md-container  class="md-block adminPtopB">
                        <md-input-container class="adminPtopBD">
                            <label class="inptLbl">Seacrh By</label>
                            <md-select ng-model="searchBy">
                                <md-option ng-value="1">Email</md-option>
                                <md-option ng-value="2">Phone</md-option>
                                <md-option ng-value="3">Order ID</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="adminPtopBB">
                            <label></label>
                            <input ng-model="searchCriteria" class="adminPtopBBB" placeholder="4033977020">
                        </md-input-container>
                        <md-button aria-label="searchUserHistory" ng-click="searchUserHistory(searchBy)" class="adminPtopBA">
                            <ng-md-icon icon="search" class="adminPtopBAA"></ng-md-icon>
                        </md-button>
                        <md-button aria-label="searchOrClear" class="adminPtopBC" ng-click="searchCriteria = ''; foundUsers = ''; foundOrders = ''; foundOrderContent = '';">
                            <ng-md-icon icon="clear" class="adminPtopBCA"></ng-md-icon>
                        </md-button>
                    </md-container>
                </div>
                <div class="container">
                    <md-radio-group class="gtDataA">
                        <md-radio-button aria-label="selectUser" class="gtDataAA" ng-value="user" ng-repeat="user in foundUsers" ng-click="selectedUserID(user)">
                            <ul layout="row" class="gtDataAAA">
                                <li class="gtDataAAAA">First Name: </li>
                                <li class="gtDataAAAB">&nbsp{{user.first_name}};&nbsp&nbsp</li>
                                <li class="gtDataAAAA">Last Name: </li>
                                <li class="gtDataAAAB">&nbsp{{user.last_name}};&nbsp&nbsp</li>
                                <li class="gtDataAAAA">Email: </li>
                                <li class="gtDataAAAB">&nbsp{{user.user_email}};&nbsp&nbsp</li>
                                <li class="gtDataAAAA">Phone: </li>
                                <li class="gtDataAAAB">&nbsp{{user.phone_number}};&nbsp&nbsp</li>
                            </ul>
                        </md-radio-button>
                        <div ng-if="foundUsers != '' " class="gtDataAB"></div>
                    </md-radio-group>
                    <md-radio-group class="gtDataB">
                        <md-radio-button aria-label="selectOrder" class="gtDataBA" ng-value="order" ng-repeat="order in foundOrders" ng-click="selectedOrderId(order)">
                            <ul layout="row" class="gtDataBAA">
                                <li class="gtDataBAAA">Order Id: </li>
                                <li class="gtDataBAAB">&nbsp{{order.order_id}};&nbsp&nbsp</li>
                                <li class="gtDataBAAA">Delivery Date: </li>
                                <li class="gtDataBAAB">&nbsp{{order.date_received}};&nbsp&nbsp</li>
                                <li class="gtDataBAAA">Delivery Address: </li>
                                <li class="gtDataBAAB">&nbsp{{order.delivery_address}};&nbsp&nbsp</li>
                            </ul>
                        </md-radio-button>
                        <div ng-if="foundOrders  != '' " class="gtDataBB"></div>
                    </md-radio-group>
                    <div aria-label="orderItems" class="gtDataC">
                        <div class="gtDataCA" ng-if="foundOrderContent  != '' ">Order List</div>
                        <div ng-value="item" ng-repeat="item in foundOrderContent">
                            <div layout="row" class="gtDataCBA">
                                <ul class="gtDataCBAA"><img  class="gtDataCBAAA" ng-src="{{'/resources/images/products/' + item.super_category + '/' + item.category + '/' + item.image}}"></ul>
                                <div layout="row" class="gtDataCBAB">
                                    <ul layout="column" class="gtDataCBABA">
                                        <li class="gtDataCBABAA">Store: </li>
                                        <li class="gtDataCBABAB">&nbsp{{item.super_category}};&nbsp&nbsp</li>
                                        <li class="gtDataCBABAA">Category: </li>
                                        <li class="gtDataCBABAB">&nbsp{{item.subcategory}};&nbsp&nbsp</li>
                                        <li class="gtDataCBABAA">Brand: </li>
                                        <li class="gtDataCBABAB">&nbsp{{item.brand}};&nbsp&nbsp</li>
                                    </ul>
                                    <ul layout="column" class="gtDataCBABB">
                                        <li class="gtDataCBABAA">Packaging: </li>
                                        <li class="gtDataCBABAB">&nbspX{{item.packaging}};&nbsp&nbsp</li>
                                        <li class="gtDataCBABAA">Volume: </li>
                                        <li class="gtDataCBABAB">&nbsp{{item.volume}};&nbsp&nbsp</li>
                                        <li class="gtDataCBABAA">Price: </li>
                                        <li class="gtDataCBABAB">&nbspC${{item.price}};&nbsp&nbsp</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="gtDataCBB"></div>
                        </div>
                    </div>
                </div>
            </div>
        <script src="/resources/controllers/orders.js"></script>
    </body>
</html>