<html ng-app="mainModule">
    <head>
        <%- include('partial/imports')%>
        <link href="/resources/css/orders.css" rel="stylesheet">
    </head>

    <body class="ng-cloak">
        <div class="container-fluid" style="padding: 0;">
            <div ng-controller="adminController">
                <div style="width: 100%; height: 50px; display: flex; justify-content: center; align-items: center; background-color: rgba(42,81,145,0.7);">
                    <span style="font-size: 25px; color: rgba(255,255,255,1); font-weight: 650;">Admin Page</span>
                    <md-button ng-click="logoutBtn()" style="position: absolute; right: 0px; margin: 0; padding: 0;">
                        <ng-md-icon icon="logout" size="30" style="fill: rgba(255,255,255,1);"></ng-md-icon>
                    </md-button>
                </div>
                <md-container  style="display: flex; justify-content: center; position: relative; top: 30px;">
                    <md-button aria-label="searchOrder" ng-click="searchOrder()" style="height: 30px; margin: 0; padding: 0; border-bottom: 1px solid gray; border-radius: 0;" >
                        <ng-md-icon icon="search" class="header-search-icon" size="20"></ng-md-icon>
                    </md-button>
                    <md-input-container style="width: 40%; margin: 0; margin-top: 4px;">
                        <label class="mnSrchAA">
                        </label>
                        <input ng-model="whichOrder" style="font-size: 18px; padding-bottom: 7px; border-bottom: 1px solid gray;" placeholder="4033977020">
                    </md-input-container>
                    <md-button aria-label="searchOrClear" ng-click="whichOrder = undefined;" style="height: 30px; margin: 0; padding: 0; border-bottom: 1px solid gray; border-radius: 0;">
                        <ng-md-icon icon="clear" class="header-search-icon" size="20"></ng-md-icon>
                    </md-button>
                </md-container>
            </div>
        </div>
        <script src="/resources/controllers/orders.js"></script>
    </body>
</html>