<html ng-app="mainModule">

<head>
    <%- include('partial/imports')%>
        <%- include('partial/header', {title: title}); %>
            <link href="/resources/css/page404.css" rel="stylesheet">
</head>

<body class="ng-cloak">
    <div ng-controller="page404Controller">
        <div class="image-404">
            <img ng-src="{{'/resources/images/non-catalog-image/404.jpg'}}" width="730px" height="330px" />
        </div>
    </div>
    <% if (!production) { %>
        <script src="/resources/controllers/page404.js"></script>
        <% } %>
</body>

<footer>
    <%- include('partial/footer')%>
</footer>

</html>