<html ng-app="mainModule">

<head>
    <%- include('partial/imports')%>
        <%- include('partial/header', {title: title}); %>
            <link href="/resources/css/refund.css" rel="stylesheet">
</head>

<body ng-cloak>
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <section>
                <h1 class="refund-policy">Return & Refund Policy</h1>
                <p>Dear Homiters,</p>
                <article>Thanks for shopping via Homit. If you are not entirely satisfied with your purchase, we're here to help.</article>
                <h4 class="paragraph-header">Returns</h4>
                <article>
                    You have five (5) calendar days to return an item(s) from the date you received the order. In order to be eligible for a
                    return:
                </article>
                <article>
                    <ul>
                        <li>your item(s) must be unused and in the same condition that you received it;</li>
                        <li>your item(s) must be in the original packaging;</li>
                        <li>you must have the receipt or proof of purchase from Homit.</li>
                    </ul>
                </article>
                <p>Please, note that delivery fee will not be refunded once driver arrives at your location.</p>
                <h4 class="paragraph-header">Refunds</h4>
                <article>
                    If you wish to return an item purchased via Homit, please contact us at
                    <a href="mailto:info@homit.ca">info@homit.ca</a> with the following information:
                </article>
                <ul>
                    <li>pick-up address;</li>
                    <li>pick-up date;</li>
                    <li>pick-up time;</li>
                    <li>order number;</li>
                </ul>
                <article class="m-b_10">
                    You can also give us a call at +1(403) 800-3460 and our customer services will be glad to help you with your inquiry.
                </article>
                <article class="m-b_10">
                    Consecutively, Homit team member will pick up an undesired item(s) and return to the respective store. Please, note that
                    returned items are subject to an inspection at the door for the requirements mentioned in the section
                    above.
                </article>
                <article class="m-b_10">
                    If your return is approved, we will initiate a refund to your credit card. You will receive the credit within a certain amount
                    of days, depending on your card issuer's policies.
                </article>
                <h4 class="paragraph-header">Contact Us</h4>
                <article>
                    Do not hesitate a moment to
                    <a href="/contactus" target="_self">Contact Us</a> if you have any concerns and/or questions on how to return your item(s). We are happy
                    to assist you.
                </article>
                <article class="effective-date">
                    <em>Effective Date: January 15, 2018</em>
                </article>
            </section>
        </div>
    </div>
</body>

<footer>
    <%- include('partial/footer')%>
</footer>

</html>