<html ng-app="mainModule">

<head>
    <title><%= title %></title>
    <%- include('partial/imports')%>
    <link href="/resources/css/reset_password.css" rel="stylesheet">
</head>

<body class="ng-cloak">
    <div ng-controller="resetPasswordController">
        <!-- Change password -->
        <md-input-container class="md-block">
            <label>New password</label>
            <input name="new1Psswrd" maxlength="30" ng-pattern="/^(?:([^\?\$\{\}\^\(\)\!\'\[\<\ \>\,\+\”\/\;\\\|\%\&\#\@]))*$/" ng-model="new_password"
                type="password" required/>
            <div ng-messages="changePassword.new1Psswrd.$error">
                <div ng-message="pattern" class="ma_inptErMsg">"? $ ! ^ % ' / { [ (
                    < |> ) ] } \ , + ” ; & # @" Can't be used</div>
                <div ng-message="required" class="ma_inptErMsg">Required</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block">
            <label>Confirm password</label>
            <input name="new2Psswrd" maxlength="30" ng-pattern="/^(?:([^\?\$\{\}\^\(\)\!\'\[\<\ \>\,\+\”\/\;\\\|\%\&\#\@]))*$/" ng-model="confirm_password"
                type="password" required/>
            <div ng-messages="changePassword.new2Psswrd.$error">
                <div ng-message="pattern" class="ma_inptErMsg">"/ { [ (
                    < |> ) ] } \ ? $ ! ^ % ' , + ” ; & # @" Can't be used</div>
                <div ng-message="required" class="ma_inptErMsg">Required</div>
                <div ng-if="myaccount.passwordError" class="ma_inptErMsg">Don't match</div>
            </div>
        </md-input-container>
        <md-button class="md-raised md-primary" ng-click="resetPassword()" ng-disabled="!(new_password && confirm_password)">Reset</md-button>
    </div>
    <script src="/resources/controllers/reset_password.js"></script>
</body>
</html>