<html ng-app="mainModule">

<head ng-cloak>
    <%- include('partial/imports')%>
        <%- include('partial/header', {title: title}); %>
            <link href="/resources/css/search.css" rel="stylesheet">
</head>
<!--googleoff: snippet-->

<body>
    <div class="search-controller" ng-controller="searchController" ng-init="searchText = '<%= search_text %>'" ng-cloak>
        <h3 class="search-text" ng-show="searchText && search_result.products">Search results for '<em ng-bind-html="searchText"></em>'</h3>
        <div class="no-results-div box-center" ng-show="search_result.products.length">
            <img class="fadeIn" ng-src="/resources/images/non-catalog-image/pages/no_search_result.png">
            <h4>Oops.. No results found for '<em ng-bind-html="searchText"></em>'</h4>
        </div>
        <h5 class="result-length" ng-show="result_length">{{result_length}} results found</h5>
        <section class="product-section" ng-repeat="(key, value) in search_result.products">
            <div class="did-you-mean" ng-show="key != searchText" ng-click="searchSuggestion(key)">Did you mean <em>'{{key}}'</em>
                ?</div>
            <div ng-repeat="product in value" class="product-div">
                <div class="content-div fadeIn">
                    <a ng-href="{{product.url}}" target="_self"><img ng-src="{{product.images.catalog_image_url}}"></a>
                    <div class="info-div">
                        <a class="brand" ng-href="{{product.url}}" target="_self">{{product.brandname}}</a>
                        <div layout="row" class="location-map">
                            <a class="store-a" href="/hub/product.store.name" target="_self">{{product.store.display_name}}</a>
                            <a class="category-a" href="/hub/{{product.store.name}}/{{product.category.category_name}}" target="_self">{{product.category.category_display_name}}</a>
                        </div>
                        <p class="type" ng-if="product.variance[0].packs[0].h_value > 1 && product.variance[0].preffered_unit"> {{
                            product.variance[0].packs[0].h_value + "x" + product.variance[0].preffered_unit_size + product.variance[0].preffered_unit
                            }} <span>{{product.container}}</span> C${{product.variance[0].packs[0].price}} </p>
                        <p class="type" ng-if="product.variance[0].packs[0].h_value == 1 && product.variance[0].preffered_unit"> {{
                            product.variance[0].preffered_unit_size + product.variance[0].preffered_unit }} <span>{{product.container}}</span>
                            C${{product.variance[0].packs[0].price}} </p>
                        <p class="description" ng-show="(product.details.untagged_description)"><span>{{product.details.untagged_description}}</span></p>
                        <p class="description" ng-show="!(product.details.untagged_description)"><span>Country of Origin:
                                {{" " + product.details.country_of_origin.description}}</span></p>
                    </div>
                </div>
            </div>
        </section>
        <div class="recomended-products" ng-show="recommended_products">
            <section layout="row" class="recomended-products-header">
                <div class="recomended-products-header-line"></div>
                <div class="rec-prod-hdr-text text-affect-3D">People also Homit</div>
            </section>
            <section class="recomended-item fadeIn">
                <div class="recomended-item-div">
                    <a ng-repeat="item in recommended_products" href="{{item.product_url}}" ng-cklick="peopleHomitPrdClicked(item)" target="_self">
                        <ul class="recomended-item-ul">
                            <li class="also-image-li box-center">
                                <img ng-src="/resources/images/products/{{ item.store_type_name }}/{{ item.images.image_catalog }}">
                            </li>
                            <li class="recomended-item-brand">{{ item.brand }}</li>
                            <li class="recomended-item-name" ng-if="item.variance[0].packs[0].h_value > 1 && item.variance[0].preffered_unit"><span>{{
                                    item.name }}<span class="recomended-item-size"> {{ "(" + item.variance[0].packs[0].type
                                        + "x" + item.variance[0].preffered_unit_size + item.variance[0].preffered_unit +
                                        ")"}}</span></span></li>
                            <li class="recomended-item-name" ng-if="!(item.variance[0].packs[0].h_value > 1) && item.variance[0].preffered_unit"><span>{{
                                    item.name }}<span class="recomended-item-size"> {{ "(" + item.variance[0].preffered_unit_size
                                        + item.variance[0].preffered_unit + ")"}}</span></span></li>
                            <li class="recomended-item-name" ng-if="!item.variance[0].preffered_unit"><span>{{ item.name
                                    }}<span class="recomended-item-size"> {{ "(" + item.variance[0].preffered_unit_size +
                                        ")"}}</span></span></li>
                            <li class="item-price">{{ item.variance[0].packs[0].price }}
                                <span>C$</span>
                            </li>
                        </ul>
                    </a>
                </div>
            </section>
        </div>
    </div>
    <% if (!production) { %>
        <script src="/resources/services/localStorage.js"></script>
        <script src="/resources/controllers/search.js"></script>
        <% } %>
</body>
<!--googleon: snippet-->
<footer>
    <%- include('partial/footer')%>
</footer>

</html>