<html ng-app="mainModule">

<head>
    <%- include('partial/imports')%>
    <%- include('partial/header', {title: title}); %>
    <link href="/resources/css/terms_of_use.css" rel="stylesheet">
</head>

<body>
    
</body>

<footer>
    <%- include('partial/footer')%>
</footer>

</html>