
body
{
    height: 2000px;
}

.brandname
{
    text-align: left;
    position: fixed;
    top: 0.5%;
    left: 5%;
    font-size: 15px;
    background-color: gainsboro;
    font-family: Georgia;
    border: solid;
    border-width: 2px;
    border-color: darkgrey;
}

.login
{
    right: 12%;
    position: fixed;
    top: 0.5%;
    font-size: 15px;
    background-color: gainsboro;
    border-style: solid;
    border-width: 2px;
    border: solid;
    border-width: 2px;
    border-color: darkgrey;
    font-family: Georgia;
}

.myaccount
{
    right: 5%;
    position: fixed;
    top: 0.5%;
    font-size: 15px;
    background-color: gainsboro;
    border-style: solid;
    border-width: 2px;
    border: solid;
    border-width: 2px;
    border-color: darkgrey;
    font-family: Georgia;
}

.sbar
{
    width: 90%;
    box-sizing: border-box;
    font-size: 22.5px;
    position: fixed;
    top: 5.0%;
    left: 5%;
    background-color: gainsboro;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: darkgrey;
    border-width: 2px;
    font-family: Georgia;
}

.special
{
    left: 5%;
    position: fixed;
    top: 12.5%;
    width:15%;
    font-size: 22.5px;
    background-color: gainsboro; 
    border: solid;
    border-width: 2px;
    border-color: darkgrey;
    font-family: Georgia;
}

.wines
{
    left: 30%;
    position: fixed;
    top: 12.5%;
    width:15%;
    font-size: 22.5px;
    background-color: gainsboro; 
    border: solid;
    border-width: 2px;
    border-color: darkgrey;
    font-family: Georgia;
}

.beers
{
    left: 55%;
    position: fixed;
    top: 12.5%;
    width:15%;
    font-size: 22.5px;
    background-color: gainsboro;  
    border: solid;
    border-width: 2px;
    border-color: darkgrey;
    font-family: Georgia;
}

.hardliq
{
    right: 5%;
    position: fixed;
    top: 12.5%;
    width:15%;
    font-size: 22.5px;
    background-color: gainsboro; 
    border: solid;
    border-width: 2px;
    border-color: darkgrey;
    font-family: Georgia;
}

h1
{
    left: 39.5%;
    position: fixed;
    top: 56%;
    width:30%;
    font-size: 33.75px;
    font-family: Georgia;

}

.box1
{
    left: 5%;
    position: fixed;
    top: 70%;
    border-style: solid;
    border-color: darkgrey;
    border-width: 2px;
    width: 25%;
    height: 30%;
    font-size: 32.5px;
    text-align: center; 
    font-family: Georgia;
}

.box2
{
    left: 37.5%;
    position: fixed;
    top: 70%;
    border-style: solid;
    border-color: darkgrey;
    border-width: 2px;
    width: 25%;
    height: 30%;
    font-size: 32.5px; 
    text-align: center; 
    font-family: Georgia;
}

.box3
{
    right: 5%;
    position: fixed;
    top: 70%;
    border-style: solid;
    border-color: darkgrey;
    border-width: 2px;
    width: 25%;
    height: 30%;
    font-size: 32.5px;
    text-align: center; 
    vertical-align: 50%;
    font-family: Georgia;
}

.box4
{
    left: 5%;
    position: fixed;
    top: 110%;
    border-style: solid;
    border-color: darkgrey;
    border-width: 2px;
    width: 25%;
    height: 30%;
    font-size: 32.5px;
    text-align: center; 
    font-family: Georgia;
}

.box5
{
    left: 37.5%;
    position: fixed;
    top: 110%;
    border-style: solid;
    border-color: darkgrey;
    border-width: 2px;
    width: 25%;
    height: 30%;
    font-size: 32.5px; 
    text-align: center; 
    font-family: Georgia;
}

.box6
{
    right: 5%;
    position: fixed;
    top: 110%;
    border-style: solid;
    border-color: darkgrey;
    border-width: 2px;
    width: 25%;
    height: 30%;
    font-size: 32.5px;
    text-align: center; 
    font-family: Georgia;
}