<link href="/resources/css/body.css" rel="stylesheet">
<div ng-app="mainModule" ng-controller="mainController">

<div class="headbox">
    <div class="navbar_a">
      <button class="brandname">Delivery</button>
      <form class="search-form">
        <input type="text" class="search-box" placeholder="Search">
      </form>
      <button class="login">Log In</button>
      <!--<button class="myacc">My Account</button>-->
    </div>
    <div>
      <button class="special">Special</button>
      <button class="Wines">Wines</button>
      <button class="beers">Beers</button>
      <button class="spirits">Spirits</button>
    </div>
</div>
<div><h1>The Week Specials</h1></div>

<script src="/resources/controllers/main.js"></script>
</div>