<h1> Hello World! Chingiz </h1>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Zaman;s info</a></li>
    <li><a href="#">Chingiz is true leader</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="https://lh4.googleusercontent.com/-YnqlsvEAvFk/AAAAAAAAAAI/AAAAAAAAAQw/IFxTjyiUyJc/photo.jpg">Elnar's private pictures</a></li>
  </ul>
</div>