<link href="/resources/css/body.css" rel="stylesheet">
<div ng-app="mainModule" ng-controller="mainController">

<div class="headbox">
    <div class="navbar_a">
      <button class="brandname">Delivery</button>
      <form class="search-form">
        <input type="text" class="search-box" placeholder="Search">
      </form>
      <button id="sign" class="login">Sign</button>
      <!--<button class="myacc">My Account</button>-->
    </div>
    <div id="sign_modal" class="s_modal">
      <div class="in_modal">
        <div>
          <label for="email">Email</label>
          <input type="text" id="email" name="Email" placeholder="Email address..">
        </div>
        <div>
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="fname" placeholder="Your name..">
        </div>
        <div>
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lname" placeholder="Your last name..">
        </div>
          <input type="submit" id="submit" value="Sabmit">
        </div>
      <span class="close">&times;</span>
    </div>
    <div>
      <button class="special">Special</button>
      <button class="Wines">Wines</button>
      <button class="beers">Beers</button>
      <button class="spirits">Spirits</button>
    </div>
</div>
<div><h1>The Week Specials</h1></div>

<script>
  var modal = document.getElementById('sign_modal');
  var buttn = document.getElementById("sign");
  var span=document.getElementsByClassName("close")[0];

  buttn.onclick=function () {
      modal.style.display="block";
  }
  span.onclick=function(){
      modal.style.display="close";
  }
  window.onclick=function(event){
      if(event.target==modal){
        modal.style.display="none";
      }
  }
</script>
<script src="/resources/controllers/main.js"></script>
