<p>Hello, </p>
<p>To reset your password please click the link below. If you have not requested to reset your password please contact us at <em>info@homit.ca</em></p>
<h3><a href="<%= resetLink %>">Reset password</a></h3>
<p>Thanks,</p>
<p>Homit</p>