body
{
    height: 250%;
    min-width: 800px;
    overflow-x: scroll;
    overflow-y: scroll;
}

.hdr-button1 {
    font-family: tahoma;
    border: 1px solid gainsboro;
    border-radius: 3.2px;
    background-color: #f7f8f8 ;
}

.hdr-button2 {
    font-family: tahoma;
    border: 1px solid gainsboro;
    border-radius: 3.2px;
    background-color: #f5f5f5 ;
}

.headbox
{
    position: fixed;
    width: 90%; height: 80px;
    top: 0; left: 5%;
    border: 1px solid darkgray;
    z-index: 1;
}

.navbar_a
{
    display: flex;
    /*display: -webkit-flex;*/
    align-items: baseline;
    white-space: nowrap;
    top: 0%;
}

.brandname
{
    position: relative;
    left: 0%;
    width: 14%; 
    min-width: 65px;
}

.bttn-sign
{
    position: relative;
    right: 0%;
    width: 14%;
}

.myacc
{
    position: relative;
    right: 0;
    width: 14%;
    border: 1px solid darkgrey;
    background-color: gainsboro;
}

.search-form
{
    min-width: 100px;
    flex-grow: 1;
    
}

.search-box
{   
    position: relative;
    font-family: tahoma;
    left: 0.5%;
    height: 26.5px;
    min-height: 26.5px;
    width: 93%;
    border: 1px solid gainsboro;
    border-radius: 3.2px 0 0 3.2px;
    overflow-x: scroll;
}

.hdr-clear
{
    font-family: tahoma;
    width: 6.1%;
    min-width: 35px;
    border: 1px solid gainsboro;
    border-radius: 0 3.2px 3.2px 0;
    background-color: #f7f8f8 ; 
}

.navbar_b
{
    align-items: baseline;
    font-family: Georgia;
    bottom: 0%;
    display: flex;
}

.hdr-special
{
    position: relative;
    float: left;
    width: 22%;
    font-size: 150%;
}

.hdr-wines 
{
    position: relative;
    float: left;
    margin-left: 4%;
    width: 22%; 
    font-size: 150%;
}

.hdr-beers 
{
    position: relative;
    float: left;
    margin-left: 4%;
    width: 22%; 
    font-size: 150%;
}

.hdr-spirits 
{
    position: relative;
    float: left;
    margin-left: 4%;
    width: 22%; 
    font-size: 150%;
}

h1
{
    position: absolute;
    margin-left: 41%; 
    top: 60%;
    font-size: 50%;
    font-size: 33.75px;
    font-family: Georgia;
    white-space: nowrap;
}

.modal
{
    display: none;
    position: fixed;
    z-index: 2;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4)
}

.sign_modal
{
    background-color: white;
    padding: 30px;
    margin: 15% auto;
    border: 1px solid #888; border-radius: 8px;
    width: 400px; height: 180px;
}

.sign2_modal
{
    height: 180px;
}

.signIn_modal
{
    height: 210px;
}

.signUp_modal
{
    height: 364px;
}

.inputBox
{
    position: relative;
    width: 250px; height: 29px;
    font-family: tahoma;
    border: 2px solid gainsboro;
    text-align: center;
}

.emailNext
{
    top: 25px; left: 45px;
    border-bottom: 1px; border-radius: 0 0 0 0 ;
}

.emailNext2
{
    top: 25px; left: 45px;
    border-bottom: 1px; border-radius: 3.2px 3.2px 0 0 ;
}

.midInputBox
{
    top: 25px; left: 45px;
    border-bottom: 1px; border-radius: 0 0 0 0;
}

.dobSignUp
{
    text-align: center;
}

.submitBtn
{
    position: relative;
    font-family: tahoma; font-size: 15px; color: #fff;
    width: 250px; height: 29px;
    border: 2px solid #2e6da4; 
    background-color: #337ab7;
    cursor: pointer;
}

.nextToInBtn
{   
    top: 25px; left: 49px;
    border-top: 1px; border-radius: 0 0 15px 15px;
}

.nextToIn2Btn
{
    top: 25px; left: 49px;
    border-top: 1px; border-radius: 0 0 0 0;
}

.goToUpBtn
{
    top: 25px; left: 49px;
    border-top: 1px; border-radius: 0 0 15px 15px;
}

.signInBtn
{
    top: 25px; left: 49px;
    border-top: 1px; border-radius: 0 0 15px 15px;
}

.signUpBtn
{
    top: 25px; left: 49px;
    border-top: 1px; border-radius: 0 0 15px 15px;
}

.wrongP2
{
    font: 10px arial;
    color: red;
}

.inputBox:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}