body
{
    height: 100%;
    min-width: 800px;
    overflow-x: scroll;
    overflow-y: scroll;
}

.headbox
{
    position: fixed;
    width: 90%; height: 80px;
    top: 0.5%; left: 5%;
    border: 1px solid darkgray;
    z-index: 1;
}

.navbar_a
{
    display: flex;
    display: -webkit-flex;
    align-items: baseline;
    font-family: Georgia;
    white-space: nowrap;
    top: 0%;
}

.brandname
{
    position: relative;
    left: 0%;
    width: 14%; 
    border: 1px solid darkgrey;
    background-color: gainsboro; 
}

.bttn-sign
{
    position: relative;
    right: 0%;
    width: 14%;
    border: 1px solid darkgrey;
    background-color: gainsboro;
}

.myacc
{
    position: relative;
    right: 0;
    width: 14%;
    border: 1px solid darkgrey;
    background-color: gainsboro;
}

.search-form
{
    flex-grow: 20;
    min-width: 30px;
    
}

.search-box
{   
    position: relative;
    left: 0.5%;
    height: 34%;
    width: 99%;
    background-color: lightgrey;
    overflow-x: scroll;
}

.navbar_b
{
    align-items: baseline;
    font-family: Georgia;
    bottom: 0%;
    display: flex;
}

.special
{
    position: relative;
    float: left;
    border: 1px solid darkgrey;
    background-color: gainsboro; 
    width: 22%;
    font-size: 150%;
}

.wines 
{
    position: relative;
    float: left;
    margin-left: 4%;
    border: 1px solid darkgrey;
    background-color: gainsboro; 
    width: 22%; 
    font-size: 150%;
}

.beers 
{
    position: relative;
    float: left;
    margin-left: 4%;
    border: 1px solid darkgrey;
    background-color: gainsboro; 
    width: 22%; 
    font-size: 150%;
}

.spirits 
{
    position: relative;
    float: left;
    margin-left: 4%;
    border: 1px solid darkgrey;
    background-color: gainsboro; 
    width: 22%; 
    font-size: 150%;
}

h1
{
    position: absolute;
    margin-left: 41%; 
    top: 60%;
    font-size: 50%;
    font-size: 33.75px;
    font-family: Georgia;
    white-space: nowrap;
}

.modal
{
    display: none;
    position: fixed;
    z-index: 2;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(211,211,211,0.4)
}

.sign_modal
{
    background-color: snow;
    margin: 15% auto;
    border: 1px solid #888;
    border-radius: 15px;
    width: 30%;
    height: 40%;
    padding: 30px;
}

.wrongP2
{
    font: 10px arial;
    color: red;
}
