
body
{
    height: 1400px;
    min-width: 1000px;
    overflow-x: scroll;
    overflow-y: scroll;
}
.ln1
{
    position: fixed;
    width: 90%;
    height: 95px;
    left: 5%;
    border: 1px solid blue;
    background-color: lightblue;
    box-sizing: border-box;
    z-index: 301;
    top: 0.5%;
}

.brandname
{
    position: relative;
    top: 0.2%;
    left: 0%;
    width: 14%;
    font-size: 15px;
    background-color: gainsboro;
    font-family: Georgia;
    border: 1px solid darkgrey;
}

.login
{
    position: relative;
    top: 0%;
    left: 65%;
    width: 10%;
    font-size: 15px;
    background-color: gainsboro;
    font-family: Georgia;
    border: 1px solid darkgrey;
}

.login:hover
{
    background-color:yellow;
}

.myaccount
{
    position: relative;
    top: 0%;
    left: 65.35%;
    width: 10%;
    font-size: 15px;
    background-color: gainsboro;
    font-family: Georgia;
    border: 1px solid darkgrey;
}

.sbar
{
    position: relative;
    top: 34%;
    left: 0%;
    font-size: 22px;
    background-color: gainsboro;
    font-family: Georgia;
    border: 1px solid darkgrey;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    
    /*background-image: url('searchicon.png');*/
    background-position: 10px 10px;
    background-repeat: no-repeat;   
}

.special
{
    position: relative;
    top: 8%;
    left: 5%;
    font-size: 22.5px;
    background-color: gainsboro;
    font-family: Georgia;
    border: 1px solid darkgrey;
    width:15%;
}

.wines
{
    position: relative;
    top: 8%;
    left: 15%;
    font-size: 22.5px;
    background-color: gainsboro; 
    font-family: Georgia;
    border: 1px solid darkgrey;
    width: 15%;
}

.beers
{
    position: relative;
    top: 8%;
    left: 25%;
    font-size: 22.5px;
    background-color: gainsboro; 
    font-family: Georgia;
    border: 1px solid darkgrey;
    width:15%;
    
}

.hardliq
{  
    position: relative;
    top: 8%;
    left:34.2%;
    font-size: 22.5px;
    background-color: gainsboro; 
    font-family: Georgia;
    border: 1px solid darkgrey;
    width:15%;
}

h1
{
    left: 39.5%;
    position: absolute;
    top: 55%;
    width:30%;
    font-size: 33.75px;
    font-family: Georgia;
}

.box1
{
    position: absolute;
    top: 70%;
    left: 5%;
    border-style: solid;
    border-color: darkgrey;
    border-width: 2px;
    width: 25%;
    height: 30%;
    font-size: 32.5px;
    text-align: center; 
    font-family: Georgia;
}

.box2
{
    position: absolute;
    top: 70%;
    left: 37.5%;
    border-style: solid;
    border-color: darkgrey;
    border-width: 2px;
    width: 25%;
    height: 30%;
    font-size: 32.5px; 
    text-align: center; 
    font-family: Georgia;
}

.box3
{
    position: absolute;
    top: 70%;
    right: 5%;
    border-style: solid;
    border-color: darkgrey;
    border-width: 2px;
    width: 25%;
    height: 30%;
    font-size: 32.5px;
    text-align: center; 
    font-family: Georgia;
}

.box4
{
    position: absolute;
    top: 110%;
    left: 5%;
    border-style: solid;
    border-color: darkgrey;
    border-width: 2px;
    width: 25%;
    height: 30%;
    font-size: 32.5px;
    text-align: center; 
    font-family: Georgia;
}

.box5
{
    position: absolute;
    top: 110%;
    left: 37.5%;
    border-style: solid;
    border-color: darkgrey;
    border-width: 2px;
    width: 25%;
    height: 30%;
    font-size: 32.5px; 
    text-align: center; 
    font-family: Georgia;
}

.box6
{
    position: absolute;
    top: 110%;
    right: 5%;
    border-style: solid;
    border-color: darkgrey;
    border-width: 2px;
    width: 25%;
    height: 30%;
    font-size: 32.5px;
    text-align: center; 
    font-family: Georgia;
}

a:link
{
    //
}

a:hover
{

}
