html {
    background-color: rgb(252, 252, 252);
    overflow-y: auto;
}

body {
    top: 71px;
    background-color: rgb(252, 252, 252);
    letter-spacing: 0.01em;
    font-family: 'Nunito', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

button {
    font-family: 'Nunito', sans-serif;
}

.align-center {
    display: flex;
    align-items: center;
}

.catalog-text {
    color: rgba(0, 0, 0, 0.66);
    letter-spacing: 0.02em;
    -webkit-font-smoothing: antialiased;
}

.catalog-store-info {
    position: relative;
    height: 300px;
    width: 100%;
    user-select: none;
}

.catalog-store-cover-div {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.catalog-store-cover {
    position: absolute;
    background-size: cover;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.4s linear;
}

.store-info-txt-box {
    width: 1180px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
}

.store-name-txt a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: color 0.4s ease;
}

.store-name-txt a:hover {
    color: rgb(188, 205, 233);
    text-decoration: none;
}

.store-DF {
    width: 150px;
    height: 28px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: black;
    letter-spacing: 0.04em;
}

.store-hrs-txt {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

.store-oval {
    text-align: center;
    border-radius: 15px;
}

.store-open-hrs {
    height: 30px;
    width: 280px;
    padding: 3px 4px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
}

.catalog-content {
    position: relative;
    width: 1180px;
    margin: 5px auto 0 auto;
    transition: width 0.3s ease;
}

.cat-body-cat {
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
    padding-left: 1px;
    font-size: 20px;
}

.cat-body-cat:hover {
    padding-left: 0;
    border-left: 1px solid rgba(24, 136, 24, 0.685);
}

.catalog-sub-hdr {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid rgba(42, 81, 145, 0.2);
    box-shadow: 0 0px 3px 1px rgba(42, 81, 145, 0.16);

    .cat-hdr-sep-line {
        width: 2px;
        height: 30px;
        background-color: rgba(217, 219, 224, 0.5);
        margin: auto 10px;
    }
}

.category-hdr-div {
    position: relative;
    width: 1180px;
    height: 60px;
    margin: 0 auto;
    padding-left: 4px;
    display: flex;
    flex-direction: row;
    transition: width 0.3s ease;
}

.catalog-sub-hdr-fixed {
    position: fixed;
    top: 70px;
    z-index: 10;
}

.sub-hdr-catalog-cnt {
    top: 61px;
}

.category-extension-div {
    border-bottom: 1px solid rgba(42, 81, 145, 0.2);
    overflow-y: auto;
    scroll-behavior: smooth;
}

.cat-ext-box {
    width: 1180px;
    height: 0px;
    margin: 0 auto;
    transition: height 0.6s ease;
}

.cat-ext-content {
    width: 100%;
    h2{
        width: 100%;
        color: #bbb;
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
        text-align: center;
    }
    .box-a-div{
        width: 87%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        padding-bottom: 30px;
    }
    .cat-ext-a{
        margin: 12.5px;
        padding: 0;
        box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.12);
        transition: all 0.4s ease;
        img {
            width: 180px;
            height: 243px;
        }
    }
    .cat-ext-a:hover {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    a, a:hover, a:active, a:visited, a:focus {
        text-decoration: none;
    }
}

.cat-ext-li {
    padding: 5px;
    font-size: 15px;
    color: #4d4d4f;
    -webkit-font-smoothing: antialiased;
}

.cat-ext-box-grow {
    display: flex;
    height: 350px;
    background-color: #fff;
    transition: height 0.6s ease;
}

.category-div {
    padding-right: 10px;
}

.category-div span {
    width: 160px;
    font-size: 16px;
    padding-right: 10px;
    color: #2f2f58;
    text-shadow: 0 2px 2px rgba(47, 47, 88, 0.1);
}

.category-div ng-md-icon {
    fill: #454575;
}

.category-div:focus {
    outline: 0;
}

.filter-div {
    padding: 0 10px;
}

.filter-div span {
    font-size: 16px;
    color: #2f2f58;
    padding-right: 30px;
    text-shadow: 0 2px 2px rgba(47, 47, 88, 0.1);
}

.filter-div ng-md-icon {
    fill: #454575;
}

.filter-div:focus, .sort-div:focus {
    outline: none;
}

.cat-filter-extension {
    left: 85px;
    width: 250px;
    height: 330px;

    .filter-clr-btn {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 25px;
        width: 25px;
        display: flex;
        justify-content: flex-end;
        padding: 0px 2px 5px 0;
        border: none;
        background-color: transparent;
    }

    .filter-clr-btn {
        color: #5ece99;
    }
}

.sort-div {
    padding: 0 10px;
}

.sort-div span {
    margin-right: 30px;
    font-size: 16px;
    color: #2f2f58;
    text-shadow: 0 2px 2px rgba(47, 47, 88, 0.1);
}

.sort-div ng-md-icon {
    fill: #454575;
}

.sort-ext-body {
    padding: 5px 0;
}

.cat-sort-extension {
    left: 208px;
    width: 250px;
    height: 240px;
}

.cat-filter-extension, .cat-sort-extension {
    position: absolute;
    top: 70px;
    border: 1px solid rgba(220, 220, 220, 0.99);
    border-radius: 4px;
    background-color: #fbfbfb;
    box-shadow: 0 0 0 1px rgba(136, 152, 170, 0.1), 0 15px 35px 0 rgba(49, 49, 93, 0.1), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
    z-index: 10;

    .filter-ext-hdr, .sort-ext-hdr {
        position: absolute;
        top: -7px;
        right: 30px;
        width: 13px;
        height: 13px;
        background-color: #fff;
        border: 1px solid rgba(220, 220, 220, 0.99);
        border-radius: 4px 0 0 0;
        border-right: none;
        border-bottom: none;
        transform: rotate(45deg);
        z-index: 11;
    }

    .filter-ext-body, .sort-ext-body {
        background-color: #fff;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        overflow-y: auto;
    }

    .filter-ext-body {
        padding: 10px 0;
    }

    .subcat-checkboxes {
        padding-left: 15px;
        padding-right: 10px;
    }

    .subcat-checkboxes:focus {
        outline: none;
    }

    .radio-btn-div {
        padding: 0px 10px;
    }

    .radio-btn-div md-radio-button {
        margin-bottom: 0;
        padding: 8px 0px;
        font-size: 16px;
    }

    .subcat-cb-div div:hover, .radio-btn-div:hover {
        background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    md-checkbox {
        margin-bottom: 0px !important;
        padding: 8px 0;
    }
}

.catalog-cart-div {
    display: flex;
    align-items: center;
    margin-left: auto;

    .cart-div-content {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        background-color: transparent;
        width: 160px;
        height: 44px;
        padding-right: 5px;
        border-radius: 22px;
    }

    .cart-seperation-line {
        width: 1px;
        height: 30px;
        background-color: rgba(217, 219, 224, 0.5);
    }

    .cart-items-txt {
        margin-left: 33px;
        font-size: 16px;
        color: #2d2d61;
        font-weight: 500;
        text-shadow: 0 2px 2px rgba(47, 47, 88, 0.1);
    }
}

.items-section {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 25px 30px 25px;
    padding-bottom: 30px;

    .subcat-sep-line {
        width: 100%;
        display: flex;
    }

    .subcat-sep-line div {
        position: absolute;
        width: calc(100% - 58px);
        height: 1px;
        background-color: rgba(217, 219, 224, 0.7);
    }

    .subcat-sep-line span {
        padding: 7px;
        font-size: 15px;
        color: #2f2f58c2;
        background-color: rgb(252, 252, 252);
        z-index: 0;
    }

    .item-subcat-sec {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    a, a:hover, a:active, a:visited, a:focus {
        text-decoration: none;
    }
}

.item-box {
    position: relative;
    width: 217.25px;
    margin: 2px 4px 4px 4px;
    padding-top: 45px;
    border: lightgray solid 1px;
    border-radius: 1px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.12);
    user-select: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.item-box:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

.item-box-ul {
    margin: 0;
    padding: 0 20px 0 20px;
}

.item-price {
    height: 55px;
    width: 45px;
    font-weight: 600;
    color: #fff;
}

.item-curency {
    position: absolute;
    top: 2px;
    right: 2px;
    text-align: right;
    font-size: 9px;
}

.pac-vol-text {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.025em;
    -webkit-font-smoothing: antialiased;
}

.item-pic {
    width: calc(100% - 20px);
    height: auto;
    margin: auto;
    padding: 20px 10px 10px 10px;
}

.item-pic img {
    width: 150px;
    height: 150px;
}

.item-pic:focus, .item-brand:focus {
    outline: none;
}

.item-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    width: 100%;
    .catalog-item-brand{
        margin-top: 3px;
        font-size: 12px; 
        color: #81848c;
        letter-spacing: 0.2px;
    }
    .catalog-item-name{
        text-align: left; 
        font-size: 14px;
        color: #3e4248;
    }
}

.item-brand div {
    color: #939aaa;
    font-size: 13px;
}

/* start of window shrinkage affect solution */
@media (max-width: 1190px) and (min-width: 400px) {
    .item-subcat-sec {
        justify-content: center;
    }
}

@media (max-width: 1190px) and (min-width: 980px) {
    .catalog-content, .store-info-txt-box, .category-hdr-div, .items-section {
        width: 960px;
    }

    .catalog-sub-hdr {
        width: 100vw;
    }
}

@media (max-width: 979px) and (min-width: 856px) {
    .catalog-content, .store-info-txt-box, .category-hdr-div, .items-section {
        width: 855px;
    }

    .catalog-sub-hdr {
        width: 100vw;
    }
}

@media (max-width: 855px) and (min-width: 571px) {
    .catalog-content, .store-info-txt-box, .category-hdr-div, .items-section {
        width: 570px;
    }

    .catalog-sub-hdr {
        width: 100vw;
    }

    .sort-div, .sort-sl.cat-hdr-sep-line {
        display: none;
    }

    .del-opt-info {
        flex-direction: column;
        align-items: flex-start !important;
        height: 66px !important;

        .store-hrs-txt {
            margin: 3px 0 5px 0;
        }

        ng-md-icon {
            display: none;
        }
    }
}

@media (max-width: 570px) {
    .catalog-content, .store-info-txt-box, .category-hdr-div, .items-section {
        width: 285px;
    }

    .catalog-sub-hdr {
        width: 100vw;
    }

    .category-div, .sort-div, .sort-sl.cat-hdr-sep-line, .del-opt-info ng-md-icon {
        display: none;
    }

    .del-opt-info {
        flex-wrap: wrap;
    }

    .store-name-txt a {
        font-size: 28px;
    }

    .items-section {
        left: 0;
        top: 4px;
    }

    .cat-filter-extension {
        left: 0;
    }

    .filter-ext-hdr {
        left: 100px;
    }

    .del-opt-info {
        flex-direction: row;
        align-items: flex-start !important;
        height: 66px !important;

        .store-hrs-txt {
            font-size: 15px;
            margin: 3px 0 5px 0;
        }

        ng-md-icon {
            display: none;
        }
    }
}

/* start of non-mobile/tablet styles */
@media screen and (min-device-width: 769px) {
    .checkout-menu-btn-div {
        position: absolute;
        left: 35px;
        bottom: 0px;
        z-index: 10;
    }

    .checkout-menu-btn {
        border: none;
        background-color: transparent;
        height: 44px;
    }

    .checkout-menu-btn ng-md-icon {
        fill: #2d2d61;
    }

    .checkout-menu-btn ng-md-icon svg {
        filter: drop-shadow(0 2px 2px rgba(47, 47, 88, 0.1));
        width: 23px;
        height: 23px;
    }

    .items-num {
        bottom: 9.5px;
        left: 58px;
        border: none;
        background-color: transparent;
        font-size: 16px;
        color: #2d2d61;
        text-shadow: 0 2px 2px rgba(47, 47, 88, 0.1);
    }

    .mob-filter-sort {
        display: none;
    }
}

/* start of mobile/tablet styles */
@media screen and (max-device-width: 768px) {

    body {
        top: 55px;
    }

    .items-section {
        max-width: 570px;
        left: 0;
    }

    .catalog-content-mobile {
        height: calc(100vh - 250px);
        overflow-y: hidden;
    }

    .category-div {
        display: none;
    }

    .mob-filter-sort {
        position: fixed;
        bottom: 0px;
        left: 0;
        height: 40px;
        width: 100vw;
        background-color: #fff;
        transition: bottom 0.2s ease, height 0.4s ease;
        z-index: 6;
    }

    .filter-clr-btn {
        position: absolute;
        top: 40px;
        right: 0px;
        height: 35px;
        width: 35px;
        padding: 0px 2px 5px 0;
        border: none;
        background-color: transparent;
    }

    .mob-grow-filter-bar {
        height: 250px;
        transition: height 0.4s ease;
    }

    .mob-hide-filter-bar {
        bottom: -100px;
        transition: bottom 0.2s ease;
    }

    .mob-fs-hdr {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        background-color: rgb(62, 111, 190);
    }

    .mob-fs-hdr .fs-name {
        width: 50%;
        height: 100%;
        color: #fff;
        font-size: 16px;
    }

    .filter-icon, .sort-icon {
        fill: #fff;
    }

    .catalog-sub-hdr {
        background-color: transparent;
        border: none;
        box-shadow: none;
        height: 0px;

        .filter-div, .cart-items-txt, .cart-seperation-line, .cat-hdr-sep-line {
            display: none;
        }
    }

    .catalog-cart-div {
        margin: 0;

        .cart-div-content {
            position: fixed;
            top: 0px;
            right: 16%;
            height: 55px;
            width: 15vw;
            padding: 0;
            z-index: 11;
        }

        .checkout-menu-btn-div {
            width: 15vw;

            .checkout-menu-btn ng-md-icon {
                fill: #fff;
            }
        }
    }

    .mob-fs-background {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 5;
    }

    .mob-filter-div, .mob-sort-div {
        height: calc( 250px - 40px);
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    .mob-filter-div .subcat-cb-div, .mob-sort-div {
        padding: 15px;
    }

    .mob-fs-seperation-line {
        width: 2px;
        height: 30px;
        margin: auto 11px auto 9px;
        background-color: rgba(217, 219, 224, 0.5);
    }
}

/* start of medium tablet styles */
@media screen and (min-device-width: 480px) and (max-device-width: 776px) {
    .m-hub-header {
        font-size: 30px;
        margin: 15px 0px;
    }

    .store-info-txt-box, .catalog-content {
        width: calc(100vw - 5%);
    }

    .items-section {
        max-width: calc(100vw - 5%);
        width: calc(100vw - 5%);
    }
}

/* start of phone styles */
@media screen and (max-device-width: 479px) {
    .store-name-txt a {
        font-size: 22px;
    }

    .del-opt-info {
        flex-direction: column;
        align-items: flex-start !important;
        flex-wrap: nowrap;
        height: 63px !important;

        .store-hrs-txt {
            font-size: 15px;
        }
    }

    .del-opt-info ng-md-icon {
        display: none;
    }

    .sub-hdr-catalog-cnt {
        top: 0px;
    }

    .store-oval {
        text-align: left;
    }

    .catalog-store-info {
        height: 200px;
    }

    .store-info-txt-box {
        width: calc(100vw - 30px);
    }

    .store-hrs-txt {
        font-size: 15px;
        margin-bottom: 2px;
    }

    .search-btn-mob {
        margin-right: 80px;
    }

    .catalog-content {
        width: 100vw;
    }

    .items-section {
        position: relative;
        margin: auto;
        top: 0;
        padding: 0;
        width: 350px;

        .item-subcat-sec {
            justify-content: center;
        }
    }

    .item-box {
        position: relative;
        width: 170px;
        margin: 3px 3px 0 0;
        margin-top: 3px;
        box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.15);
    }

    .item-box:hover {
        box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.22);
    }

    .item-box-ul {
        margin-top: 0;
        padding: 0;
    }

    .item-pic {
        width: 120px;
        height: 120px;
        margin: auto;
        padding: 0px 10px 10px 10px;
    }

    .item-pic img {
        width: 110px;
        height: 110px;
    }

    .item-brand {
        width: 168px;
        left: 0px;
    }

    .item-brand div {
        font-size: 11px;
        padding: 0 5px;
    }

    .item-info-icon svg {
        width: 18px;
        height: 18px;
    }

    .store-open-hrs {
        width: 260px;
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 400;
    }
}

@media screen and (max-device-width: 359px) {
    .item-box {
        width: 157px;
        margin: 3px 1px 0 2px;
    }

    .item-brand {
        width: 155px;
        left: 0px;
    }

    .store-hrs-txt {
        font-size: 13px;
    }
}
