.box
{
    position: relative;
    margin-top: 2.5%;
}

.sizeStage11
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
.sizeStage12 {font-size: 14px;}

.sizeStage21
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}
.sizeStage22 {font-size: 14px;}

.sizeStage31
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
.sizeStage32 {font-size: 14px;}

ul {
 list-style-type: none;
 }

 .brandBox
 {
     height: 240px;
     width: 270px;
     float: left;
     overflow-y: scroll;
     border: solid 2px transparent;
 }
