@import "default/module";

html {
    background-color: rgb(253, 253, 253);
    overflow-y: auto;
}

body {
    background-color: rgb(252, 252, 252);
    letter-spacing: 0.01em;
    font-family: 'Nunito', sans-serif;
}

button {
    font-family: 'Nunito', sans-serif;
}

.catalog-text {
    color: rgba(0, 0, 0, 0.66);
    letter-spacing: 0.02em;
    -webkit-font-smoothing: antialiased;
}

.catalog-store-info {
    position: relative;
    height: 300px;
    width: 100%;
    top: -1px;
    border-bottom: 2px solid rgba(42, 81, 145, 0.7);
    user-select: none;
}

.catalog-store-cover::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
}

.catalog-store-cover {
    position: absolute;
    background-size: cover;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.store-info-txt-box {
    width: 1140px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
}

.store-name-txt {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
}

.store-hrs-txt {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

.store-oval {
    text-align: center;
    border-radius: 15px;
}

.store-open-hrs {
    height: 30px;
    width: 280px;
    padding: 3px 4px;
    background-color: rgb(223, 88, 88);
    color: #fff;
    font-size: 17px;
    font-weight: 600;
}

.catalog-content {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.cat-section {
    overflow-y: hidden;
    width: 285px;
    margin: 2px 0 0 0;
    min-height: 300px;
    background-color: rgb(255, 255, 255);
    border: rgb(211, 211, 211) solid 1px;
    border-radius: 5px;
    box-shadow: 0 0px 1px 0px rgba(0, 0, 0, 0.26);
}

.cat-subcat-absolute {
    position: absolute;
}

.cat-section-fixed {
    position: fixed;
    top: 50px;
}

.cat-subcat-header {
    height: 40px;
    padding-bottom: 2px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    user-select: none;
    color: rgba(0, 0, 0, 0.25);
    font-size: 24px;
    transition: all 0.6s ease-out;
}

.store-shelf{
    width: 100px;
    text-align: center;
}

.sep-line-hdr-cs {
    font-size: 35px;
    padding: 0 10px;
    color: rgba(39, 9, 9, 0.9);
}

.header-line, .mh-header-line {
    height: 2px;
    margin: auto;
    width: 0;
    border-bottom: 2px solid rgba(172, 51, 51, 0.747);
    transition: width 0.4s ease-out;
}

.header-line-grow {
    width: 100%;
    margin: auto;
    transition: width 0.4s ease-out;
}

.hdr-hilight-cs {
    color: rgba(39, 9, 9, 0.9);
    transition: all 0.6s ease-out;
}

.cat-subcat-header:focus {
    outline: 0;
}

.cat-body-cat {
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
    padding-left: 1px;
    font-size: 20px;
}

.cat-body-cat:hover {
    padding-left: 0;
    border-left: 1px solid rgba(24, 136, 24, 0.685);
}

.cat-subcat-body {
    position: relative;
    overflow-y: auto;
    outline: none;
    height: 645px;
    background-color: white;
    border-radius: 0 0 5px 5px;
    z-index: 2;
}

.category-box {
    position: absolute;
    top: 50px;
    width: 283px;
}

.cat-list {
    line-height: 2.5;
    margin-bottom: 0;
    padding: 0;
    outline: none;
}

.category-list {
    display: flex;
    align-items: center;
    padding-left: 1px;
}

.category-list:hover {
    text-decoration: none;
    padding-left: 0;
    border-left: 1px solid rgba(24, 136, 24, 0.685);
}

.category-list span {
    line-height: 43px;
    margin-left: 30px;
    text-transform: capitalize;
    letter-spacing: 0.024em;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.45);
}

.items-section {
    position: relative;
    left: 285px;
    display: flex;
    flex-wrap: wrap;
    max-width: 885px;
}

.item-box {
    position: relative;
    width: 281px;
    margin: 2px 0 2px 4px;
    padding-top: 45px;
    border: lightgray solid 1px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0px 1px 0px rgba(0, 0, 0, 0.26);
}

.item-box-ul {
    margin: 0;
    padding: 0 20px 0 20px;
}

.add-to-cart-btn {
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    height: 40px;
    border-width: 2px 0 2px 2px;
    border-color: rgba(33, 241, 193, 0.1);
    border-style: solid;
    background-color: rgba(33, 241, 193, 0.089);
    color: rgba(0, 94, 92, 0.8);
    font-weight: 600;
    border-radius: 4px 4px 0 0;
    transition: background-color 0.3s;
}

.add-to-cart-btn:hover {
    background-color: rgba(50, 168, 141, 0.4);
    transition: background-color 0.3s;
}

.add-to-cart-btn:hover.add-to-cart-btn ng-md-icon {
    fill: rgba(0, 94, 92, 1);
}

.add-to-cart-btn ng-md-icon {
    fill: rgba(0, 94, 92, 0.8);
}

.ng-md-icon svg {
    width: 28px;
    height: 28px;
}

.pac-vol-text {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.025em;
    -webkit-font-smoothing: antialiased;
}

.item-pic {
    width: 225px;
    height: 225px;
    margin: auto;
    padding: 10px 10px 0 10px;
}

.item-pic img {
    width: 205px;
    height: 205px;
}

.item-pic:focus, .item-brand:focus {
    outline: none;
}

.item-brand {
    position: relative;
    left: -11px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 270px;
}

.item-brand div {
    text-align: center;
    padding: 0;
    font-size: 13px;
    color: rgb(150, 150, 150);
}

.item-brand span {
    font-size: 15px;
    color: rgb(20, 20, 20);
}

.item-info-icon {
    position: absolute;
    fill: white;
    transition: fill 0.3s;
}

.item-info-icon svg {
    width: 20px;
    height: 20px;
}

.item-price {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 12px;
}

/*When Subcategory selected, change style*/
/*Changes default border color*/
md-radio-button .md-off {
    border-color: rgba(0, 0, 0, 0.4);
}

/*Chenages font color/size  and background-color of selected Categories*/
md-radio-group .cat-body-cat.ng-scope.md-checked {
    font-weight: 600;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.55);
    background-color: rgba(0, 0, 0, 0.05);
}

/*Chenages font color/size of Select All button*/
md-radio-group .cat-body-cat.md-checked {
    font-weight: 600;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.55);
    background-color: rgba(0, 0, 0, 0.05);
}

/*Margein-left for radio-button container*/
md-radio-group .md-container.md-ink-ripple {
    margin-left: 15px;
}

md-radio-group .cat-body-cat:hover .md-container.md-ink-ripple {
    margin-left: 14px;
}

/*Change default radio-button colors*/
md-radio-button:focus {
    outline: none;
}

md-radio-button .md-on {
    background-color: rgba(0, 189, 149, 0.67);
}

md-radio-button.md-checked .md-off {
    border-color: rgba(0, 189, 149, 0.67);
}

md-radio-button .md-label {
    padding-left: 20px;
}

.highlighted {
    z-index: 10000;
    transition: 0.5s;
    box-shadow: 0 0px 100px 0px rgba(0, 0, 0, 0.8);
}

#addItem [aria-hidden="true"] {
    visibility: hidden;
}

/* start of window shrinkage affect solution */
@media (max-width: 1140px) and (min-width: 856px) {
    .catalog-content, .store-info-txt-box {
        width: 855px;
    }

    .items-section {
        max-width: 570px;
    }
}

@media (max-width: 855px) and (min-width: 571px) {
    .catalog-content, .store-info-txt-box {
        width: 570px;
    }

    .items-section {
        max-width: 285px;
    }
}

@media (max-width: 570px) {
    .catalog-content, .store-info-txt-box {
        width: 285px;
    }

    .store-name-txt {
        font-size: 28px;
    }

    .store-hrs-txt {
        font-size: 17px;
    }

    .store-DF {
        height: 26px;
        width: 160px;
        font-size: 15px;
        border-radius: 13px;
    }

    .cat-section {
        display: none;
    }

    .items-section {
        left: 0;
    }

    .store-shelf{
        width: auto;
    }
}

/* start of non-mobile/tablet styles */
@media screen and (min-device-width: 768px) {}

/* start of medium tablet styles */
@media screen and (min-device-width: 480px) and (max-device-width: 767px) {}

.cart-btn-catalog {
    position: absolute !important;
    top: 445px !important;
}

/* start of phone styles */
@media screen and (max-device-width: 479px) {
    .store-name-txt {
        font-size: 22px;
    }

    .del-opt-info ng-md-icon {
        display: none;
    }

    .del-opt-info {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .store-oval {
        text-align: left;
    }

    .catalog-store-info {
        height: 200px;
    }

    .store-info-txt-box {
        width: calc(100vw - 30px);
    }

    .store-hrs-txt {
        font-size: 15px;
        margin-bottom: 2px;
    }

    .search-btn-mob {
        margin-right: 80px;
    }

    .mobile-hub-section {
        position: fixed;
        top: 50px;
        width: 100vw;
        height: 0;
        background-color: white;
        transition: all 0.5s ease;
        z-index: 10;
    }

    .mobile-hub-section-grow {
        height: calc(100vh - 50px);
    }

    .m-hub-header {
        height: 60px;
        // padding-bottom: 2px;
        margin: 5px 0 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        user-select: none;
        color: rgba(0, 0, 0, 0.25);
        font-size: 23px;
        transition: all 0.6s ease-out;
    }

    .mhh-highlight {
        color: rgba(39, 9, 9, 0.9);
    }

    .mh-store-selected {
        border: 1px solid rgba(37, 67, 116, 0.5);
        box-shadow: 0 0px 4px 1px rgba(37, 67, 116, 0.3);
        border-radius: 15px;
        background-color: rgb(245, 245, 245);
    }

    .mh-cat-selected {
        background-color: rgba(0, 189, 149, 0.7);
        font-size: 21px !important;
        color: white !important;
        font-weight: 600;
    }

    .icon-rot-1 {
        transform: rotate(180deg);
        transition: transform 0.4s ease-out;
    }

    .icon-rot-2 {
        transform: rotate(0deg);
        transition: transform 0.4s ease-out;
    }

    .mh-body {
        position: absolute;
        display: flex;
        flex-direction: column;
        height: calc(100vh - 165px);
        width: 100vw;
    }

    .mh-store-box{
        position: relative; 
        display: flex; 
        align-items: center; 
        height: calc(100vh - 165px);
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    .mh-store {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        height: calc( ( (100vw - 80px)/2 + 40px)*2);
        margin-top: 0px !important;
    }

    .mh-store-div {
        width: calc( (100vw - 80px)/2);
        height: calc( (100vw - 80px)/2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

    .mh-store-div span {
        width: 100%;
        text-align: center;
        font-size: 15px;
        color: #20475f;
        padding-top: 10px;
    }

    .mh-store-div img {
        width: 55%;
        height: 55%;
    }

    .variant-txt {
        font-size: 22px;
        color: rgb(80, 80, 80);
    }

    md-radio-group .cat-body-cat.ng-scope.md-checked {
        font-weight: 400;
    }

    .mh-cat-div {
        text-transform: capitalize;
        font-size: 20px;
        color: #35353582;
        padding: 5px 0 5px 20px;
    }

    .catalog-content-mobile {
        height: calc(100vh - 250px);
        overflow-y: hidden;
    }

    .p-1, .p-2, .p-3 {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 15px 0 5px 0px;
    }

    .store-DF {
        height: 26px;
        width: 160px;
        font-size: 15px;
        border-radius: 13px;
    }

    .cart-btn-catalog {
        position: absolute !important;
        top: 345px !important;
    }

    .catalog-content {
        width: 100vw;
    }

    .cat-section {
        display: none;
    }

    .items-section {
        position: relative;
        margin: auto;
        max-width: 346px;
    }

    .item-box {
        position: relative;
        width: 170px;
        margin: 3px 3px 0 0;
        margin-top: 3px;
    }

    .item-box-ul {
        margin-top: 0;
        padding: 0;
    }

    .item-pic {
        width: 120px;
        height: 120px;
        margin: auto;
        padding: 0px 10px 10px 10px;
    }

    .item-pic img {
        width: 110px;
        height: 110px;
    }

    .item-brand {
        width: 168px;
        left: 0px;
    }

    .item-brand div{
        font-size: 11px;
    }

    .item-brand span {
        padding-left: 5px;
        font-size: 12px;
        font-weight: 500;
    }

    .item-info-icon svg {
        width: 18px;
        height: 18px;
    }

    .add-to-cart-btn {
        height: 30px;

    }

    .add-to-cart-btn svg{
        width: 20px;
        height: 20px;
    }

    .item-pic:hover ~ .item-brand .item-info-icon, .item-brand:hover .item-info-icon {
        fill: rgba(29, 202, 255, 0.7) !important;
    }

    .add-to-cart-btn:hover {
        background-color: rgba(33, 241, 193, 0.089) !important;
    }

    .store-open-hrs {
        font-size: 16px;
        font-weight: 400;
        width: 260px;
    }
}

@media screen and (max-device-width: 359px) {
    .item-box {
        width: 157px;
        margin: 3px 1px 0 2px;
    }

    .item-brand {
        width: 155px;
        left: 0px;
    }
}
