/*#beers_tab {
    width: 100%;
    margin-top: 8%;
}

.beers_navigation {
    padding: 1%;
    width: 20%;
    height: 100%;
    background-color: cadetblue;
    border-right-style: solid 2px;
    border-style: solid 0.5px;
    margin: 1%;
    text-align: left;
    position: fixed;
    float: left;
}

.beers_resultsarea {
    width: 77%;
    height: auto;
    background-color: lightgreen;
    text-align: center;
    margin: 1% 0.5% 0% 21%;
    float: left;
}

.result_container {
    float: left;
    margin: 0.7%;
    padding: .1%;
    width: 23%;
}*/

.catalogBox
{   
    border: solid 1.5px lightgrey;
    top: 10vh;
}

.sizeStage11
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
.sizeStage12 {font-size: 14px;}

.sizeStage21
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}
.sizeStage22 {font-size: 14px;}

.sizeStage31
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
.sizeStage32 {font-size: 14px;}