#whole_tab {
    width: 100%;
    margin-top: 8%;
}

#beers_navigation {
    padding: 10%;
    float: left;
    width: 20%;
    height: 70%;
    background-color: cadetblue;
    border-right-style: solid 2px;
    border-style: solid 0.5px;
    margin: 1%;
    text-align: center;
}

#beers_resultsarea {
    padding: 5%;
    width: 79%;
    float: left;
    background-color: lightgreen;
    text-align: center;
}