/*Column-1 consists of Types, Brands, Subcategories etc
Columns-2,3,4 consist of items and items' info*/

html {
    background-color: rgb(252, 252, 252);
}

body {
    background-color: rgb(252, 252, 252);
    letter-spacing: 0.01em;
    font-family: 'Nunito', sans-serif;
}

.box-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.same-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.catalog-text {
    color: rgba(0, 0, 0, 0.66);
    letter-spacing: 0.02em;
    -webkit-font-smoothing: antialiased;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.catalog-content {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.section-header {
    color: rgba(0, 0, 0, 0.69);
    font-size: 22px;
    font-weight: 600;
}

.cat-section {
    width: 285px;
    margin: 4px 0 0 0;
    min-height: 300px;
    background-color: rgb(255, 255, 255);
    border: rgb(211, 211, 211) solid 1px;
    border-radius: 5px;
    box-shadow: 0 0px 1px 0px rgba(0, 0, 0, 0.26);
}

.cat-section-absolute {
    position: absolute;
}

.cat-section-fixed {
    position: fixed;
    top: 50px;
}

.cat-section-header {
    height: 48px;
    text-transform: capitalize;
    margin-bottom: 10px;
    padding-left: 50px;
}

.cat-section-header:focus {
    outline: none;
}

.cat-body-cat {
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
    padding-left: 1px;
    font-size: 20px;
}

.cat-body-cat:hover {
    padding-left: 0;
    border-left: 1px solid rgba(24, 136, 24, 0.685);
}

.filter-cat-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 40px;
    margin: 4px 0;
    background-color: rgba(255, 255, 255, 1);
    transition: background-color 0.3s;
    border: 0;
    border-radius: 3px;
    transform: rotateY(-180deg);
    z-index: 3;
}

.filter-cat-btn svg {
    width: 35px;
    height: 35px;
    fill: rgba(0, 189, 149, 1);
}

.filter-cat-btn:hover {
    background-color: rgba(235, 235, 235, 1) !important;
    transition: background-color 0.3s;
}

.rot-cat-btn_1 svg {
    transform: rotateY(-180deg);
    transition: 0.5s;
    fill: rgba(42, 81, 145, 0.95);
}

.rot-cat-btn_2 svg {
    transform: rotateY(0deg);
    transition: 0.5s;
    fill: rgba(0, 189, 149, 1);
}

.cat-body-cubcat {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 285px;
    height: calc(100% + 2px);
    min-height: 580px;
    background-color: white;
    border: lightgray solid 1px;
    border-radius: 5px;
    box-shadow: 0 0px 1px 0px rgba(0, 0, 0, 0.26);
    z-index: 2;
}

.cat-list {
    line-height: 2.5;
    margin-bottom: 0;
    padding: 0;
    outline: none;
}

.category-list {
    display: flex;
    align-items: center;
    padding-left: 1px;
}

.category-list:hover {
    text-decoration: none;
    padding-left: 0;
    border-left: 1px solid rgba(24, 136, 24, 0.685);
}

.category-list span {
    line-height: 43px;
    margin-left: 30px;
    text-transform: capitalize;
    letter-spacing: 0.024em;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.45);
}

.items-section {
    position: relative;
    left: 285px;
    display: flex;
    flex-wrap: wrap;
    max-width: 885px;
}

.item-box {
    position: relative;
    width: 281px;
    margin: 4px 0 0 4px;
    padding-top: 45px;
    border: lightgray solid 1px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0px 1px 0px rgba(0, 0, 0, 0.26);
}

.item-box-ul {
    margin: 0;
    padding: 0 20px 0 20px;
}

.add-to-cart-btn {
    position: absolute;
    right: 0;
    top: 5px;
    width: 100px;
    height: 40px;
    border-width: 2px 0 2px 2px;
    border-color: rgba(33, 241, 193, 0.1);
    border-style: solid;
    background-color: rgba(33, 241, 193, 0.089);
    border-radius: 6px 0 0 6px;
    transition: background-color 0.3s;
}

.add-to-cart-btn:hover {
    background-color: rgba(50, 168, 141, 0.4);
    transition: background-color 0.3s;
}

.add-to-cart-btn:hover.add-to-cart-btn ng-md-icon {
    fill: rgba(0, 94, 92, 1);
}

.add-to-cart-btn ng-md-icon {
    fill: rgba(0, 94, 92, 0.8);
}

.ng-md-icon svg {
    width: 28px;
    height: 28px;
}

.pack-vol-section {
    position: absolute;
    left: 0px;
    top: 5px;
    width: 100px;
    height: 40px;
    border-width: 2px 2px 2px 0;
    border-color: rgba(33, 241, 193, 0.1);
    border-style: solid;
    border-radius: 0 6px 6px 0;
    background-color: rgba(33, 241, 193, 0.089);
    z-index: 0;
}

.pac-vol-ul {
    display: flex;
    flex-direction: row;
    height: 19px;
}

.pac-vol-li {
    position: absolute;
    height: 100%;
}

.pac-vol-li-left {
    left: 8px;
}

.pac-vol-li-mid {
    width: 40px;
    left: 28px;
    text-align: center;
}

.pac-vol-li-right {
    right: 8px;
}

.pac-vol-btn {
    width: 25px;
    height: 19px;
    padding: 0;
    background-color: transparent;
    border: none;
}

.pac-vol-btn ng-md-icon {
    fill: rgba(0, 0, 0, 0.55);
}

.pac-vol-btn svg {
    width: 19px;
    height: 19px;
}

.pac-vol-text {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.025em;
    -webkit-font-smoothing: antialiased;
}

.item-pic {
    width: 225px;
    height: 225px;
    margin: auto;
    padding: 10px 10px 0 10px;
}

.item-pic img {
    width: 205px;
    height: 205px;
}

.item-pic:focus, .item-brand:focus {
    outline: none;
}

.item-pic:hover ~ .item-brand .item-info-icon, .item-brand:hover .item-info-icon {
    fill: rgba(22, 132, 165, 0.7) !important;
    transition: fill 0.3s;
}

.item-brand {
    position: relative;
    left: -11px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    // max-width: 240px;
    width: 270px;
}

.item-brand div {
    text-align: center;
}

.item-brand span {
    padding-left: 25px;
    font-size: 15px;
    font-weight: 600;
}

.item-info-icon {
    position: absolute;
    fill: rgba(29, 202, 255, 0.7);
    transition: fill 0.3s;
}

.item-info-icon svg {
    width: 20px;
    height: 20px;
}

.item-price {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 12px;
}

.catalog-store-closed {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    height: 347px;
    width: 279px;
}

/*When Subcategory selected, change style*/
/*Changes default border color*/
md-radio-button .md-off {
    border-color: rgba(0, 0, 0, 0.4);
}

/*Chenages font color/size  and background-color of selected Categories*/
md-radio-group .cat-body-cat.ng-scope.md-checked {
    font-weight: 600;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.55);
    background-color: rgba(0, 0, 0, 0.05);
}

/*Chenages font color/size of Select All button*/
md-radio-group .cat-body-cat.md-checked {
    font-weight: 600;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.55);
    background-color: rgba(0, 0, 0, 0.05);
}

/*Margein-left for radio-button container*/
md-radio-group .md-container.md-ink-ripple {
    margin-left: 15px;
}

md-radio-group .cat-body-cat:hover .md-container.md-ink-ripple {
    margin-left: 14px;
}

/*Change default radio-button colors*/
md-radio-button:focus {
    outline: none;
}

md-radio-button .md-on {
    background-color: rgba(0, 189, 149, 0.67);
}

md-radio-button.md-checked .md-off {
    border-color: rgba(0, 189, 149, 0.67);
}

md-radio-button .md-label {
    padding-left: 20px;
}

.highlighted {
    z-index: 10000;
    transition: 0.5s;
    box-shadow: 0 0px 100px 0px rgba(0, 0, 0, 0.8);
}

#addItem [aria-hidden="true"] {
    visibility: hidden;
}

/* start of window shrinkage affect solution */
@media (max-width: 1140px) and (min-width: 856px) {
    .catalog-content {
        width: 855px;
    }

    .items-section {
        max-width: 570px;
    }
}

@media (max-width: 855px) and (min-width: 571px) {
    .catalog-content {
        width: 570px;
    }

    .items-section {
        max-width: 285px;
    }
}

@media (max-width: 570px) {
    .catalog-content {
        width: 285px;
    }

    .cat-section {
        display: none;
    }

    .items-section {
        left: 0;
    }
}

/* start of non-mobile/tablet styles */
@media screen and (min-device-width: 768px) {
    .item-pack-vlo-mob {
        display: none;
    }
}

/* start of medium tablet styles */
@media screen and (min-device-width: 480px) and (max-device-width: 767px) {
    .item-pack-vlo-mob {
        display: none;
    }
}

/* start of phone styles */
@media screen and (max-device-width: 479px){
    .typesSdNB1 {
        display: none;
    }

    .navigate-icon-mob {
        display: none;
    }

    .volPackMob {
        display: none;
    }

    .catalog-content {
        width: 100vw;
    }

    .cat-section {
        display: none;
    }

    .nav-btn-mob {
        position: fixed;
        bottom: 20%;
        left: 3px;
        width: 60px;
        height: 60px;
        border-radius: 30px;
        background-color: rgba(42, 81, 145, 0.9);
        border: 1px solid rgba(42, 81, 145, 1);
        box-shadow: 0 0px 0px 2px rgba(255, 255, 255, 1);
        z-index: 2;
    }

    .nav-btn-mob ng-md-icon {
        fill: rgba(255, 255, 255, 1);
    }

    .nav-btn-mob ng-md-icon svg {
        width: 35px;
        height: 35px;
    }

    .md-sidenav-mob {
        position: fixed;
        left: 0;
        top: 0;
        min-height: 100vh !important;
        height: 100vh;
        min-width: 70vw !important;
        width: 70vw;
    }

    .md-content-mob {
        width: 100%;
        height: 100%;
        background-color: rgba(140, 140, 140, 1);
    }

    .nav-mob-header {
        height: 40px;
        display: flex;
        flex-direction: row;
        padding: 5px 0;
    }

    .nav-mob-header-txt {
        margin-left: calc(35vw - 50px);
        color: #2a5191;
        font-weight: 600;
        font-size: 20px;
    }

    .nav-mob-cls-btn {
        position: relative;
        margin-left: auto;
        padding: 0;
        margin-right: 10px;
        height: 30px;
        width: 25px;
        background-color: transparent;
        border: none;
    }

    .nav-mob-cls-btn ng-md-icon {
        fill: rgba(42, 81, 145, 1);
    }

    .nav-mob-cls-btn ng-md-icon svg {
        width: 30px;
        height: 30px;
    }

    .nav-mob-content {
        position: relative;
        top: 20px;
        padding-bottom: 80px;
    }

    .str-ul {
        margin: 0;
        padding: 0;
    }

    .str-aisle-ul {
        padding-left: 10px;
    }

    .nav-mob-str-ln {
        padding-left: 10px;
        display: flex;
        align-items: center;
        font-size: 18px;
    }

    .str-ln-1 {
        margin-bottom: 5px;
    }

    .nav-mob-str-ln ng-md-icon {
        fill: rgba(42, 81, 145, 0.9);
    }

    .nav-mob-str-ln ng-md-icon svg {
        width: 22px;
        height: 22px;
    }

    .nav-mob-aisle-ln {
        display: flex;
        align-items: center;
        margin-bottom: 2px;
    }

    .nav-mob-aisle-ln a {
        text-transform: capitalize;
        font-size: 17px;
        color: rgba(255, 255, 255, 1);
    }

    .nav-mob-aisle-ln ng-md-icon {
        fill: rgba(42, 81, 145, 0.9);
    }

    .nav-mob-aisle-ln ng-md-icon svg {
        width: 20px;
        height: 20px;
    }

    .variant-txt {
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
    }

    .nav-sep-line-str, .nav-sep-line-aisle, .nav-sep-line-cat {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
        color: rgba(0, 0, 0, 0.55);
        font-size: 13px;
    }

    .nav-sep-line-aisle {
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .nav-sep-line-cat {
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .nav-sep-line-str::before, .nav-sep-line-aisle::before, .nav-sep-line-cat::before,
    .nav-sep-line-str::after, .nav-sep-line-aisle::after, .nav-sep-line-cat::after {
        content: "";
        display: inline-block;
        padding-bottom: 4px;
        border-top: 1px solid rgba(0, 0, 0, 0.25);
    }

    .nav-sep-line-str::before,
    .nav-sep-line-str::after {
        width: calc(40vw - 50px);
    }

    .nav-sep-line-aisle::before,
    .nav-sep-line-aisle::after {
        width: calc(40vw - 70px);
    }

    .nav-sep-line-cat::before,
    .nav-sep-line-cat::after {
        width: calc(40vw - 63px);
    }

    ::after,
    ::before {
        box-sizing: border-box;
    }

    .items-section {
        position: relative;
        margin: auto;
        max-width: 346px;
    }

    .item-box {
        position: relative;
        width: 170px;
        margin: 3px 3px 0 0;
        margin-top: 3px;
    }

    .catalog-store-closed {
        height: 243px;
        width: 170px;
        z-index: 1;
    }

    .item-box-ul {
        margin-top: 0;
        padding: 0;
    }

    .pac-vol-li-mid {
        display: none;
    }

    .pac-vol-li {
        height: 50px;
        width: 30px;
    }

    .pac-vol-btn {
        width: 100%;
        height: 100%;
    }

    .pac-vol-btn ng-md-icon {
        position: absolute;
        top: 0;
        right: 0;
        fill: rgba(0, 0, 0, 0.4);
    }

    .pac-vol-btn svg {
        width: 26px;
        height: 26px;
    }

    .pack-vol-section {
        all: initial;
    }

    .pac-vol-ul {
        height: 0;
        width: 0;
    }

    .volume-minus, .volume-plus {
        position: absolute;
        top: 70px;
    }

    .pack-minus, .pack-plus {
        position: absolute;
        top: 120px;
    }

    .item-pic {
        width: 110px;
        height: 110px;
        margin: auto;
        padding: 10px 10px 0 10px;
    }

    .item-pic img {
        width: 100px;
        height: 100px;
    }

    .item-brand {
        width: 168px;
        left: 0px;
    }

    .item-brand span {
        padding-left: 20px;
        font-size: 12px;
        font-weight: 500;
    }

    .item-info-icon svg {
        width: 18px;
        height: 18px;
    }

    .pack-vol-prc-mob-txt {
        font-weight: 600;
        font-size: 10px;
    }

    .add-to-cart-btn {
        position: absolute;
        left: 0;
        top: 0px;
        width: 100%;
        border-width: 2px 0 2px 0;
        border-radius: 0;
    }

    .item-pic:hover ~ .item-brand .item-info-icon, .item-brand:hover .item-info-icon {
        fill: rgba(29, 202, 255, 0.7) !important;
    }

    .add-to-cart-btn:hover {
        background-color: rgba(33, 241, 193, 0.089) !important;
    }
}

@media screen and (max-device-width: 359px){
    .item-box{
        width: 160px;
    }

}

// Loading-Animation css
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.lds-spinner {
    position: relative;
}

.lds-spinner div {
    left: 94px;
    top: 48px;
    position: absolute;
    -webkit-animation: lds-spinner linear 0.8s infinite;
    animation: lds-spinner linear 0.8s infinite;
    background: #2a5191;
    width: 12px;
    height: 24px;
    border-radius: 40%;
    -webkit-transform-origin: 6px 52px;
    transform-origin: 6px 52px;
}

.lds-spinner div:nth-child(1) {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation-delay: -0.733333333333333s;
    animation-delay: -0.733333333333333s;
}

.lds-spinner div:nth-child(2) {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-animation-delay: -0.666666666666667s;
    animation-delay: -0.666666666666667s;
}

.lds-spinner div:nth-child(3) {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(4) {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation-delay: -0.533333333333333s;
    animation-delay: -0.533333333333333s;
}

.lds-spinner div:nth-child(5) {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
    -webkit-animation-delay: -0.466666666666667s;
    animation-delay: -0.466666666666667s;
}

.lds-spinner div:nth-child(6) {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(7) {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-animation-delay: -0.333333333333333s;
    animation-delay: -0.333333333333333s;
}

.lds-spinner div:nth-child(8) {
    -webkit-transform: rotate(210deg);
    transform: rotate(210deg);
    -webkit-animation-delay: -0.266666666666667s;
    animation-delay: -0.266666666666667s;
}

.lds-spinner div:nth-child(9) {
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg);
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(10) {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-animation-delay: -0.133333333333333s;
    animation-delay: -0.133333333333333s;
}

.lds-spinner div:nth-child(11) {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
    -webkit-animation-delay: -0.066666666666667s;
    animation-delay: -0.066666666666667s;
}

.lds-spinner div:nth-child(12) {
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.lds-spinner {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
