.md-sidenav-backdrop {
    position: fixed;
}

.md-sidenav-right {
    position: fixed;
}

.box-center {
    display: flex;
    justify-content: center;
    align-content: center;
}

.checkout-menu-btn-div {
    font-family: 'Nunito', sans-serif;
}

.checkout-menu-btn {
    position: relative;
    border-style: none;
}

.checkout-menu-btn:active {
    transition: all 0.3s ease;
}

.items-num {
    position: absolute;
    min-width: 23px;
    height: 25px;
    z-index: 20;
}

.items-num-mob {
    top: 3px;
    right: 0px;
    left: inherit;
    background-color: rgb(234, 80, 80);
    height: 22;
    min-width: 20px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    border: none;
}

.checkout-sn {
    max-width: 450px !important;
    width: 450px;
    height: 80%;
    margin-top: 50px;
    border: 2px solid rgba(42, 81, 145, 0.1);
    border-radius: 5px 0 0 5px;
    box-shadow: none;
    overflow-y: hidden !important;
}

.checkout-sn-content {
    height: 100%;
    overflow-y: scroll;
}

.sidenav-header {
    position: fixed;
    width: 100%;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    border-bottom: rgba(63, 222, 17, 0.1) solid 1px;
    z-index: 1;
}

.cart-items-content{
    top: 88px;
    background-color: rgb(255, 255, 255);
}

.cart-tot {
    height: 2.5em;
    background-color: rgb(42,81,145);
    border-radius: 5px 5px 0 0;
}

.sidenav-cls-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    margin: 0 65px 0 10px;
    padding: 0;
    border: none;
    fill: rgba(255, 255, 255, 1);
}

.sidenav-cls-btn ng-md-icon {
    fill: rgba(255, 255, 255, 1);
}

.sidenav-cls-btn ng-md-icon svg {
    width: 35px;
    height: 35;
}

.total-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto 0 0;
    padding: 0;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.to-checkout-div {
    margin-bottom: 10px;
    margin-top: 6px;
}

.to-checkout-btn {
    height: 100%;
    font-size: 20px;
    letter-spacing: 0.025em;
    color: rgba(255, 255, 255, 1);
    background-color: rgb(79, 126, 202);
    border: 1px solid #4d7eb6;
    transition: background-color 0.3s;
    outline: none;
    opacity: 1;
    border-radius: 5px;
}

.to-checkout-btn:hover {
    background-color: rgb(42,81,145);
    transition: all 0.4s ease;
}

.store-name {
    text-align: center;
    padding: 5px;
    color: rgba(0, 0, 0, 0.55);
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    text-transform: uppercase;
}

.item-img{
    padding: 0;
}

.product-quantity{
    top: 25px;
    left: 10px;
}

/* start of mobile/tablet styles */
@media screen and (max-device-width: 768px) {
    .checkout-menu-btn-div{
        position: fixed;
        top: 0px;
        right: 16%;
        width: 15%;
        margin: 0;
        z-index: 11;
        .checkout-menu-btn {
            height: 55px;
            width: 100%;
            padding: 0;
            background-color: transparent;
            box-shadow: none;
            border: none;
        }
        .checkout-menu-btn ng-md-icon svg {
            width: 33px;
            height: 33px;
            margin-right: 0px;
            fill: #f9f9f9;
            transform: rotateY(0deg);
        }
    }
}

/* start of medium tablet styles */
@media screen and (min-device-width: 480px) and (max-device-width: 768px) {
    .items-num-mob{
        right: 24%;
    }
}

/* start of phone styles */
@media screen and (max-device-width: 479px) {

    .product-quantity{
        top: 25px !important;
    }

    .checkout-sn {
        position: fixed;
        right: 0;
        top: 0;
        min-height: 100vh !important;
        height: 100vh;
        min-width: 70vw !important;
        width: 80vw;
        margin: 0;
    }

    .sidenav-header {
        transform: translateZ(0) !important;
        -webkit-transform: translateZ(0) !important;
    }

    .sidenav-cls-btn {
        margin: 0;
    }

    .store-seper:before {
        content: "";
        width: 20px;
    }

    .store-name {
        font-size: 10px;
    }

    .sidenav-cls-btn ng-md-icon svg {
        width: 30px;
        height: 30px;
    }

    .total-ul {
        font-size: 17px;
    }

    .to-checkout-btn {
        height: 30px;
        font-size: 17px;
    }
    
}
