
@import "default/module";

.md-sidenav-backdrop {
    position: fixed;
}

.md-sidenav-right {
    position: fixed;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

.box-center {
    display: flex;
    justify-content: center;
    align-content: center;
}

.checkout-menu-btn-div {
    position: fixed;
    right: 20px;
    top: 200px;
    margin: 10px;
    font-family: 'Nunito', sans-serif;
    z-index: 1;
}

.checkout-menu-btn {
    position: relative;
    top: 5px;
    height: 60px;
    width: 60px;
    background-color: #00cc99;
    box-shadow: 0 0px 6px 2px rgba(0, 0, 0, 0.35);
    border-radius: 30px;
    border-style: none;
    transition: all 0.3s ease;
}

.checkout-menu-btn:active {
    transition: all 0.3s ease;
}

.checkout-menu-btn ng-md-icon {
    fill: #f9f9f9;
}

.checkout-menu-btn ng-md-icon svg {
    width: 35px;
    height: 35;
}

.items-num {
    position: absolute;
    bottom: 45px;
    left: 42px;
    min-width: 23px;
    height: 25px;
    background-color: orangered;
    color: ghostwhite;
    font-size: 14px;
    font-weight: 700;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 3px;
    z-index: 20;
}

.checkout-sn {
    max-width: 450px !important;
    width: 450px;
    height: 80%;
    margin-top: 50px;
    border: 2px solid rgba(63, 222, 17, 0.1);
    border-radius: 5px 0 0 5px;
    box-shadow: none;
    overflow-y: hidden !important;
}

.checkout-sn-content {
    height: 100%;
    overflow-y: scroll;
}

.sidenav-header {
    position: fixed;
    width: 100%;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    border-bottom: rgba(63, 222, 17, 0.1) solid 1px;
    z-index: 1;
}

.cart-tot {
    height: 2.5em;
    background-color: #00cc99;
    border-radius: 5px 5px 0 0;
}

.sidenav-cls-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    margin: 0 65px 0 10px;
    padding: 0;
    border: none;
    fill: rgba(255, 255, 255, 1);
}

.sidenav-cls-btn ng-md-icon {
    fill: rgba(255, 255, 255, 1);
}

.sidenav-cls-btn ng-md-icon svg {
    width: 35px;
    height: 35;
}

.total-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto 0 0;
    padding: 0;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.to-checkout-div {
    margin-bottom: 10px;
    margin-top: 6px;
}

.to-checkout-btn {
    height: 100%;
    font-size: 20px;
    letter-spacing: 0.025em;
    color: rgba(255, 255, 255, 1);
    background-color: #00cc99;
    border: 1px solid rgba(0, 189, 149, 0.8);
    transition: background-color 0.3s;
    outline: none;
    border-radius: 5px;
}

.to-checkout-btn:hover {
    background-color: rgb(9, 160, 127);
    border: 1px solid rgb(5, 134, 106);
    box-shadow: 0 0px 3px 1px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease;
}

.store-name {
    text-align: center;
    padding: 5px;
    color: rgba(0, 0, 0, 0.55);
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    text-transform: uppercase;
}



/* start of non-mobile/tablet styles */
@media screen and (min-device-width: 768px) {
    .item-pack-vlo-mob {
        display: none;
    }
}

/* start of medium tablet styles */
@media screen and (min-device-width: 480px) and (max-device-width: 767px) {
    .item-pack-vlo-mob {
        display: none;
    }
}

/* start of phone styles */
@media screen and (max-device-width: 479px) {
    .checkout-menu-btn-div {
        right: -1 !important;
    }

    .product-quantity{
        top: 25px !important;
    }

    .checkout-menu-btn {
        border: 1px solid rgba(33, 211, 172, 1);
        box-shadow: 0 0px 0px 2px rgba(255, 255, 255, 1);
    }

    .checkout-sn {
        position: fixed;
        right: 0;
        top: 0;
        min-height: 100vh !important;
        height: 100vh;
        min-width: 70vw !important;
        width: 70vw;
        margin: 0;
    }

    .sidenav-header {
        transform: translateZ(0) !important;
        -webkit-transform: translateZ(0) !important;
    }

    .sidenav-cls-btn {
        margin: 0;
    }

    .store-seper:before {
        content: "";
        width: 20px;
    }

    .store-name {
        font-size: 10px;
    }

    .sidenav-cls-btn ng-md-icon svg {
        width: 30px;
        height: 30px;
    }

    .total-ul {
        margin: auto auto auto 8px;
        font-size: 17px;
    }

    .to-checkout-btn {
        height: 30px;
        font-size: 17px;
    }
    
}
