ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

label {
    font-weight: 400 !important;
}

body {
    position: relative;
    top: 50px;
    background-color: rgb(252, 252, 252);
    letter-spacing: 0.01em;
    font-family: 'Nunito', sans-serif;
}

md-backdrop.md-opaque {
    background-color: rgba(33, 33, 33, 0.7);
    z-index: 1;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.flex-center-row {
    display: flex;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.box-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-message-txt {
    font-size: 9px;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    color: rgb(238, 8, 8);
}

.input-center {
    display: flex;
    justify-content: center;
}

.no-mar-bottom {
    margin-bottom: 0px;
}

.input-label {
    margin-bottom: 0px;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
}

.store-seper {
    flex-direction: row;
    width: 100%;
}

.store-name {
    text-align: center;
    padding: 5px;
    color: rgba(0, 0, 0, 0.55);
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    text-transform: uppercase;
}

.store-seper:before {
    content: "";
    width: 50px;
    height: 1px;
    margin: auto 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.store-seper:after {
    content: "";
    flex-grow: 3;
    height: 1px;
    margin: auto 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

::after,
::before {
    box-sizing: border-box;
}

.checkout-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: calc(100% - 55px);
}

.checkout-content-col-left {
    position: relative;
    margin-top: 1px;
    background-color: rgb(255, 255, 255);
    border: rgb(233, 233, 233) solid 1px;
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.col-left-header {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0px;
    right: 0;
    width: 75px;
    height: 35px;
}

.show-sn-btn {
    margin: 0;
    padding: 0;
    height: 35px;
    width: 50px;
    background-color: transparent;
    border: none;
    border-left: 1px solid rgba(200, 200, 200, 1);
}

.show-sn-btn ng-md-icon {
    fill: rgba(255, 255, 255, 1);
}

.show-sn-btn ng-md-icon svg {
    width: 25px;
    height: 25px;
}

.delivery-time-message {
    height: 35px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.delivery-time-message span {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.address-input-checkout {
    width: 100%;
    height: 30px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.85);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-radius: 0;
    overflow-y: hidden;
    outline-width: 0;
}

.address-input-checkout::placeholder {
    color: rgba(0, 0, 0, 0.38);
    font-size: 15px;
}

.address-clear-btn {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    right: 0px;
    top: 0px;
    min-width: 30px;
    min-height: 30px;
    margin: 0;
    border-bottom: rgba(0, 0, 0, 0.12);
}

.address-clear-icon {
    fill: rgba(0, 0, 0, 0.4);
}

.address-clear-icon svg {
    width: 20px;
    height: 20px;
}

/* Google Search autocomplete non-mobile */
.predictions-container {
    background: rgba(255, 255, 255, 1) !important;
    border: 1px solid rgba(180, 180, 180, 0.8) !important;
    width: 99% !important;
    z-index: 100;
}

.predictions-item {
    padding-left: 5px !important;
    line-height: 35px !important;
    font-size: 15px !important;
    font-weight: 300 !important;
}

.powered-by-google img {
    width: 110px !important;
    height: 15px !important;
}

#driver-instruction md-input-container {
    margin: 0 10% 0 0;
}

#driver-instruction md-input-container label {
    display: none;
}

#driver-instruction md-input-container input {
    margin: 0;
    padding: 0;
}

#address md-input-container label {
    display: none;
}

.HomeItBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.HomeItBtn button {
    font-weight: bold;
    font-size: 17px;
}

.checkout-side-nav {
    width: 100%;
    height: 100%;
    margin-top: 1px;
    border: rgb(233, 233, 233) solid 1px;
    border-radius: 5px;
    box-shadow: none;
    z-index: 1;
}

md-sidenav {
    max-width: 475px !important;
}

.side-nav-header {
    position: fixed;
    width: 100%;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(233, 233, 233);
    z-index: 1;
}

.sn-header-top {
    display: flex;
    flex-direction: row;
    height: 2.5em;
    background-color: rgba(31, 77, 148, 1);
    border-radius: 5px 5px 0 0;
}

.sn-cls-btn {
    position: absolute;
    left: 0;
    width: 70px;
    height: 35px;
    background-color: rgba(31, 77, 148, 1);
    border: none;
    fill: rgba(255, 255, 255, 1);
    padding: 0;
}

.sn-cls-btn ng-md-icon {
    fill: rgba(255, 255, 255, 1);
}

.sn-cls-btn ng-md-icon svg {
    width: 30px;
    height: 30px;
}

.sn-header-top-txt {
    display: flex;
    letter-spacing: 0.02em;
    font-size: 19px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.sn-header-body {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sn-header-body-ul {
    margin-bottom: 0;
    width: 150px;
    line-height: 1.3;
    font-size: 15px;
    color: rgb(105, 105, 105);
    border-bottom: 1px solid rgb(195, 195, 195);
}

.sn-header-body-left {
    padding-left: 50px;
    border-top-left-radius: 5px;
}

.sn-header-body-right {
    padding-left: 40px;
    border-top-right-radius: 5px;
}

.total-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.total-div-ln {
    line-height: 1.3;
    font-size: 15px;
    color: rgb(105, 105, 105);
}

.total-ul {
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    color: rgb(95, 95, 95);
    font-weight: bold;
    background-color: rgb(224, 234, 248);
}

.total-ul-left {
    padding-left: 50px;
    border-bottom-left-radius: 5px;
}

.total-ul-right {
    padding-left: 40px;
    border-bottom-right-radius: 5px;
}

.side-nav-content {
    margin-top: 145px;
}

.side-nav-content-div {
    padding: 0;
    background-color: rgb(255, 255, 255);
    padding-bottom: 20px;
}

.item-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.item-div-left {
    flex-direction: column;
    margin-top: 4em;
}

.item-div-mid {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.item-div-right {
    margin-top: 3em;
    text-align: center;
    width: 35%;
}

.item-div-right li {
    font-size: 15px;
}

.item-btn {
    width: 85px;
    height: 35px;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.item-btn svg {
    width: 25px;
    height: 25px;
}

.item-btn:hover, .modal-cls-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.remove-btn {
    margin-left: auto;
}

.remove-btn ng-md-icon {
    fill: rgb(198, 70, 5);
}

.item-img {
    width: 125px;
    position: relative;
    margin: 0 auto;
    height: 125px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.item-clsed-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 125px;
    width: 110px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-left: 22px;
}

#checkoutModal .modal-dialog {
    top: 20%;
}

#checkoutModal .modal-content {
    width: 400px;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    height: initial !important;
}

.modal-sm {
    width: 400px !important;
}

.modal-txt {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.78);
    -webkit-font-smoothing: antialiased;
}

.modal-header-ln1 {
    width: 100%;
}

.modal-header-ln1 span {
    font-size: 29px;
}

.modal-header-ln2 {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.modal-content-sign {
    position: relative;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-cls-btn {
    position: absolute;
    right: -10px;
    top: -22;
    margin: 0;
    padding: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    z-index: 100;
    transition: background-color 0.3s ease;
    border: none;
}

.modal-cls-btn ng-md-icon {
    fill: rgb(173, 173, 173);
}

.modal-cls-btn ng-md-icon svg {
    width: 20px;
    height: 20px;
}

.modal-sign-btn {
    margin: 0;
    padding: 0;
    min-height: 81px;
    height: 81px;
    min-width: 81px;
    width: 81px;
    border-radius: 40px;
    background-color: rgba(0, 189, 149, 1);
    transition: background-color 0.3s ease;
}

.modal-sign-btn:hover {
    background-color: rgb(12, 156, 125);
    transition: background-color 0.3s ease;
}

.modal-sign-btn-icon {
    fill: rgba(255, 255, 255, 0.95);
    border-radius: 40px;
    width: 80px;
    height: 80px;
}

.icon-size-70 svg {
    width: 70px;
    height: 70px;
}

.icon-size-80 svg {
    width: 80px;
    height: 80px;
}

.icon-size-85 svg {
    width: 85px;
    height: 85px;
}

.result-icon {
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 40px;
    z-index: 1;
}

.result-0-03-10 {
    fill: rgba(209, 58, 58, 0.95);
}

.result-01-02 {
    fill: rgba(42, 81, 145, 0.95);
}

.result-msg-ln1 {
    justify-content: center;
    width: 100%;
}

.result-msg-ln1-name {
    text-align: center;
    font-size: 25px;
}

.str-close-msg {
    font-size: 18px;
    text-align: center;
}

.modal-txt span {
    color: rgb(0, 149, 207);
}

.result-msg-ln2 {
    width: 100%;
    margin-bottom: 10px;
}

.result-msg-ln2 span {
    font-size: 16px;
}

.result-msg-ln3 {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.del-time-msg {
    font-size: 13px;
    font-weight: 600;
    color: rgba(39, 126, 39, 1);
}

@media (min-width: 495px) {
    .checkout-content-col-left {
        width: 475px !important;
    }
}

@media (max-width: 494px) {
    .checkout-content-col-left {
        width: calc(100% - 10px);
    }
}

@media (max-width: 1280px) {
    .checkout-side-nav {
        height: 80%;
    }

    .sn-header-top-txt {
        display: flex;
        margin-left: calc((100% - 150px)/2 + 15px);
        margin-right: calc((100% - 150px)/2 - 15px);
    }

    md-sidenav {
        overflow-y: hidden;
    }

    md-sidenav md-content {
        overflow-y: scroll;
        height: 100%;
    }

    .side-nav-header {
        position: fixed;
        border-width: 0 0 1px 0 !important;

        /*forces the browser to use hardware acceleration to access the device’s GPU (Graphical Processing Unit)*/
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
        z-index: 5;
    }

    .sidNav-close-button {
        margin-right: auto !important;
    }
}

@media (max-width: 570px) and (min-width: 476px) {
    .homit-nav-content {
        width: 475px;
    }

    .search-sec {
        display: none;
    }

    #sign-btns {
        display: none;
    }
}

@media (max-width: 475px) {
    .homit-nav-content {
        width: 100%;
    }

    .search-sec {
        display: none;
    }

    #sign-btns {
        display: none;
    }
}

/* start of medium tablet styles */
@media screen and (max-device-width: 767px) and (min-device-width: 480px) {}

/* start of phone styles */
@media screen and (max-device-width: 479px) {
    .modal-content {
        width: calc(100vw - 20px) !important;
    }

    .dob-input {
        max-width: 55% !important;
    }

    input {
        font-size: 16px;
    }

    .address-input, .predictions-container {
        width: calc(100% - 4px) !important;
    }

    .checkout-side-nav {
        top: -50px;
        margin: 0;
        height: 100% !important;
        min-width: 260px !important;
        width: 260px !important;
        z-index: 10;
    }

    #sign-btns {
        display: initial;
    }

    .sn-header-top-txt {
        font-size: 18px;
    }

    .sn-header-body-ul {
        font-size: 13px;
    }

    .total-ul {
        width: 130px;
        font-size: 14px;
    }

    .total-ul-left {
        padding-left: 30px;
    }

    .store-name {
        font-size: 12px;
    }

    .store-seper:before {
        width: 20px;
    }

    .item-img {
        width: 80px;
        height: 80px;
    }

    .item-div-right {
        margin-top: 2em;
    }

    .item-div-right li {
        font-size: 12px;
    }

    .item-div-left {
        margin-top: 2em;
    }

    .item-btn:hover {
        background-color: transparent;
    }

    .item-btn {
        width: 60px;
        height: 30px;
    }

    .item-btn svg {
        width: 20px;
        height: 20px;
    }
}
