/*Column-1 consists of User Info
Columns-2 consist of items and items' info*/
@media(min-width: 495px){
    .col1{
        width: 475px !important;
    }
}
@media(max-width: 494px){
    .col1{
        width: 400px;
    }
}
@media(min-width: 1200px){
   md-sidenav{
        max-width: 475px !important;
    } 
}
@media(max-width: 1280px){
    .mdSideNavL1{
        top: 53px;
    }
    .receiptB1{
        position: fixed;
        border-width: 0 0 1px 0 !important;
        /*forces the browser to use hardware acceleration to access the device’s GPU (Graphical Processing Unit)*/
        transform: translateZ(0);-webkit-transform: translateZ(0);
        z-index: 5;
    }
    .glyClsBtn{
        margin-right: auto !important;
    }
    .summerLnP2{
        display: flex;
        margin-right: 31%;
    }
   
    md-sidenav{
        overflow-y: hidden;
    }
    .userPic{
        margin-top: 0 !important;
    }
     md-sidenav md-content{
        overflow-y: scroll;
        height: 100%;
    }
}

@media(max-height: 399px){
    .col1{
        height: 82%;
    }
    .mdSideNavL1{
        height: 82%;
    }
}
@media(max-height: 499px) and (min-height: 400px){
    .col1{
        height: 87%;
    }
    .mdSideNavL1{
        height: 87%;
    }
}
@media(max-height: 624px) and (min-height: 500px){
    .col1{
        height: 89%;
    }
    .mdSideNavL1{
        height: 89%;
    }
}
@media(max-height: 825px) and (min-height: 625px){
    .col1{
        height: 91%;
    }
    .mdSideNavL1{
        height: 91%;
    }
}
@media(max-height: 870px) and (min-height: 826px){
    .col1{
        height: 92.5%;
    }
    .mdSideNavL1{
        height: 92.5%;
    }
}
@media(min-height: 871px){
    .col1{
        height: 93.5%;
    }
    .mdSideNavL1{
        height: 93.5%;
    }
}

body{
    background-color: rgb(249, 249, 249);
    letter-spacing: 0.01em;
}
ul {
    list-style-type: none;
}
li {
    list-style-type: none;
}
label{
    font-weight: 400 !important;
}
md-content{
    padding: 0 !important;
}
navbar{
    min-width: 400px !important; max-height: 1em !important;
}
.col1{
    margin-top: 3px;
    background-color: rgb(255,255,255);
    border: rgb(233,233,233) solid 1px; border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.col1ChevRgt{
    display: flex; 
    justify-content: flex-end;
}
.userPic{
    display: flex;
    justify-content: center; 
    margin-top: 2.5em;
}
.glypOpnSN
{   
    margin:0px 2px 0px 2px;
    background-color: white !important;
    min-width: 1px !important; min-height: 1px !important; 
    height: 2.5em!important; width:75px !important; 
    box-shadow: none !important;
}
.glypOpnSNsgn{
    fill: rgb(63,81,181);
}
.bigClass{
    margin-bottom: 0px;
}
.inptLbl{
    margin-bottom: 0px;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
}
.flName{
    position: relative;
    display: inline-block;
    flex: 40%;
}
.addressNavBar{
    top: 6px; left: 26%;
    width: 200px;
    font-size: 16.5px;
    text-align: center;
}
md-tabs-wrapper{
    border-width: 0px 0px 0px !important;
}
.adTb{
    min-height: 150px !important;
}
.HomeItBtn{
    position: relative;
    top: 25px; left: 40%;
}
.cardContainer{
    padding:0 0 0 2px;
}
.extBoxTtl{
    position: relative;
    left: 12%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #333;
}
.glypOpnCI
{   
    /* position: relative;
    left: 12%; */
    margin:0px 2px 0px 2px;
    background-color: white !important;
    min-width: 1px !important; min-height: 1px !important; 
    height: 50px; width: 50px !important; 
    box-shadow: none !important;
}
.opnCIsgn{
    fill: rgb(63,81,181);
}
.extInput{
    margin-bottom: 0px;
}
.mdSideNavL1{
    width: 100%;
    margin-top: 3px; 
    border: rgb(233,233,233) solid 1px ;border-radius: 5px; 
    box-shadow: none;
    z-index: 10;
}
.glyClsBtn{
    margin: 0; padding: 0;
}
.glyClsBtnSgn{
    color: rgb(254,254,254);
    font-size: 14px;
}
.receiptB1{
    position: fixed;
    width: 100%;
    padding: 0px;
    background-color: rgb(255,255,255);
    border: 1px solid rgb(233,233,233);
    z-index: 1;
}
.receiptB1b{
    margin-top: 10px;
}
.receiptB2{
    display: flex; 
    align-items: center;
    justify-content: center;
}
.receiptB2a{
    padding-left: 50px;
    margin-bottom: 0;
    width: 150px; line-height: 1.3;
    font-family: "adobe-clean", "adobe-clean-han-japanese", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px; color: rgb(105,105,105);
    border-bottom: 1px solid rgb(195,195,195);
    border-top-left-radius: 5px;
}
.receiptB2b{
    padding-left: 40px;
    margin-bottom: 0;
    width: 150px; line-height: 1.3;
    font-family: "adobe-clean", "adobe-clean-han-japanese", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px; color: rgb(105,105,105);
    border-bottom: 1px solid rgb(195,195,195);
    border-top-right-radius: 5px; 
}
.receiptB3{
    line-height: 1.3;
    font-family: "adobe-clean", "adobe-clean-han-japanese", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px; color: rgb(105,105,105);
}
.receiptB3a{
    width: 150px;
    padding-top: 5px; padding-bottom: 5px; padding-left: 50px;
    font-family: "adobe-clean", "adobe-clean-han-japanese", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px; color: rgb(95,95,95);
    font-weight: bold;
    background-color: rgb(224,234,248);
    border-bottom-left-radius: 5px;
}
.receiptB3b{
    width: 150px;
    padding-top: 5px; padding-bottom: 5px; padding-left: 40px;
    font-family: "adobe-clean", "adobe-clean-han-japanese", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px; color: rgb(95,95,95);
    font-weight: bold;
    background-color: rgb(224,234,248);
    border-bottom-right-radius: 5px;
}
.summerLnP1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    background-color: rgba(31,77,148,1);
    border-radius: 5px 5px 0 0;
}
.summerLnP2{
    display: flex;
    letter-spacing: 0.02em;
    font-size: 19px; font-weight: bold;
    color: rgb(255,255,255);
}
.cartBItems1{
    position: relative; 
    top: 140px; 
    padding: 0;
    background-color: rgb(255,255,255);
    padding-bottom: 20px;
}
.cartBItems2A{
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    margin-top: 4em;
}
.cartBItems2B1{
    display: flex; 
    justify-content: flex-end;
}
.cartBItems2B2{
    width: 125px !important; height: 125px !important;
    margin: 0; padding: 0;
    display: flex; 
    justify-content: center;
}
.cartBItems2B2 img{
    width: 100%; height: auto;
}
.cartBItems2C{
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    text-align: center;
}
.cartBItems2C2{
    margin: 0; padding: 0;
}
.orBtnSz{
    font-size: 25px;
}
.plusItem{
    padding: 0 !important;
    margin: 0 !important;
}
.minusItem{
    padding: 0 !important;
    margin: 0 !important;
}
.itemRemoveBtn{
    background-color: rgb(255,255,255); color: red;
    font-size: 20px;
}

/*Mobile screens*/
@media screen and (max-device-width: 480px) {
    .mdSideNavL1{
        max-width: 800px !important;
        width: 60% !important; height: 96% !important;
    }
    .col1{
        width: 100% !important; height: 96% !important;
        line-height: 1.6em;
        font-size: 150% !important;
    }
    .extBoxTtl{
        font-family: "adobe-clean", "adobe-clean-han-japanese", "Helvetica Neue", Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 500;
    }
    .glypOpnCIsgn{
        font-size: 19px;
        color: rgb(63,81,181);
    }
    .glypOpnSN
    {   
        height: 3em!important; width:85px !important; 
        z-index: 4;
    }
    .glypOpnSNsgn{
        font-size: 19px;
    }

    .summerLnP1{
        height: 3.5em;
    }
    .summerLnP2{
        font-size: 26px;
    }
    .glyClsBtnSgn{
        font-size: 20px;
    }
    .receiptB2a{
        padding-left: 65px;
        width: 200px; line-height: 1.6;
        font-size: 19px;
    }
    .receiptB2b{
        padding-left: 55px;
        width: 200px; line-height: 1.6;
        font-size: 19px;
    }
    .receiptB3a{
        padding-left: 65px;
        width: 200px;
        font-size: 20px;
    }
    .receiptB3b{
        padding-left: 55px;
        width: 200px;
        font-size: 20px;
    }
    .cartBItems1{
        position: relative; 
        top: 195px; 
    }
    .cartBItems2B2{
        width: 175px !important; height: 175px !important;
        margin: 0; padding: 0;
        display: flex; 
        justify-content: center;
    }
    .cartBItems2B2 img{
        width: 100%; height: auto;
    }
    .cartBItems2C2{
        font-family: "adobe-clean", "adobe-clean-han-japanese", "Helvetica Neue", Helvetica, sans-serif;
        font-size: 18px;
        color: rgb(95,95,95);
        letter-spacing: 0.02em;
    }
    .btn{
        font-size: 25px;
    }
    .orBtnSz{
        font-size: 30px;
    }
    .md-input-has-value.bigClass > input {
        font-size: 30px;
    }
    .bigClass{
        margin-top: 30px;
    }
    .inptLbl{
        margin-bottom: 0px; 
    }
    .inptLblSC1{
        bottom: 56px !important; 
    }
    .inptLblSC2{
        height: 37px !important;
        padding-top: 0 !important; padding-bottom: 0 !important;
    }
}
md-backdrop.md-opaque {
    background-color: rgba(33,33,33,0.7);
}
.strBrk{
    display: flex; align-items: center; 
    margin: 15px 0 0px 0;
}

.strTypeLn { 
    width: 100%; 
    border-bottom: 1px solid rgba(0,0,0, 0.866); 
    line-height: 1px; margin: 5px 0 5px; 
} 
.strType { 
    background:#fff; padding:0 5px; 
    font-family: "adobe-clean", "adobe-clean-han-japanese", "Helvetica Neue", Helvetica, sans-serif;
    letter-spacing: 0.045em;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    text-transform: uppercase; 
}

#helcimResults{
    color: rgba(255,255,255,1);
}
#checkoutModal .modal-dialog{
    top: 20%;
}
#checkoutModal .modal-content{
    width: 400px;
}

.inPr_A{
    display: flex; justify-content: center;
    width: 100%; 
}
.inPr_AA{
    font-size: 29px; font-weight: 500; 
    color: rgba(0,0,0,0.78); 
    font-family: 'adobe-clean', 'adobe-clean-han-japanese', 'Helvetica Neue', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased; 
}
.inPr_B{
    display: flex; justify-content: center;
    width: 100%;
    margin-top: 20px; margin-bottom: 10px; 
}
.pR_A{
    display: flex; justify-content: center;
    width: 100%; 
    margin-top: 10px; margin-bottom: 10px;
}
.pR_A1{
    fill: rgba(255,255,255,0.95);
    border-radius: 40px;
    width: 80px; height: 80px; 
}
.pR_A1 svg{
    width: 80px; height: 80px;
}
.pR_A10{
    fill: rgba(209, 58, 58, 0.95); 
    background-color: rgba(255,255,255,1);
    border-radius: 40px;
}
.pR_A10 svg{
    width: 80px; height: 80px;
}
.pR_B{
    display: flex; justify-content: center;
    width: 100%; 
}
.pR_BA{
    font-size: 25px; font-weight: 500; 
    color: rgba(0,0,0,0.78);
    font-family: 'adobe-clean', 'adobe-clean-han-japanese', 'Helvetica Neue', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.pR_C{
    width: 100%; 
    margin-top: 5px; margin-bottom: 10px;
}
.pR_CA{
    display: flex; justify-content: center; align-items: center; 
    font-size: 14px; font-weight: 400; 
    color: rgba(0,0,0,0.78);
    font-family: 'adobe-clean', 'adobe-clean-han-japanese', 'Helvetica Neue', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.clrPg{
    margin: 0; padding: 0; 
    min-height: 81px; height: 81px; 
    min-width: 81px; width: 81px; 
    border-radius: 40px; 
    background-color: rgba(0, 189, 149,1);
}

.inptErMsg{
    font-size: 9px;
    -webkit-font-smoothing: antialiased;
    font-weight: 400; 
}
.inptFrm{
    display: flex; justify-content: center;
    margin: 0;
}
.bodErrMsg_A{
    display: flex; justify-content: center; margin-top: 4px;
}
.bodErrMsg_B{
    font-size: 14px; font-weight: 400;
    color: rgba(209, 58, 58, 0.95);
    font-family: 'adobe-clean', 'adobe-clean-han-japanese', 'Helvetica Neue', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}