/*2 below keep SideNav fixed*/
.md-sidenav-backdrop {
    position: fixed;
}
.md-sidenav-right {
    position: fixed;
}
/*General Tags*/
ul {
    list-style-type: none;
}
li {
    list-style-type: none;
}

@media(max-width: 1280px){
    .sdNavFB1{
        position: fixed;
        border-width: 0 0 1px 0 !important;
        /*forces the browser to use hardware acceleration to access the device’s GPU (Graphical Processing Unit)*/
        transform: translateZ(0); -webkit-transform: translateZ(0);
        z-index: 5;
    }
}

@media(min-width: 400px){
    md-sidenav{
        max-width: 400px !important;
    } 
    .mdSideNavR1{
        overflow-y: hidden !important;
    }
     .mdSideNavR2{
        overflow-y: scroll;
        height: 100%;
    }
    .shopping-cart svg{
        height: 38px; width: 38px;
        fill: rgba(0,94,92,0.8);
    }
}

/*User Cart SideNav*/
.mdSideNavR1{
    width: 100%; height: 80%;
    margin-top: 61px; 
    border: rgba(63,222,17,0.1) solid 1.5px ;border-radius: 5px; 
    box-shadow: none;
}
/*SideNav fixed box, i.e. "Checkout" btn, close btn, "Cart Tot"*/
.sdNavFB1{
    position: fixed;
    width: 100%;
    padding: 0px;
    background-color: rgb(255,255,255);
    border-bottom: rgba(63,222,17,0.1) solid 1.5px;
    z-index: 1;
}
.sdNavFB2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    background-color: rgba(63,222,17,1);
    border-radius: 5px 5px 0 0;
}
.sdNavFB3{
    line-height: 1.3;
    font-family: "adobe-clean", "adobe-clean-han-japanese", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px; color: rgb(105,105,105);
}
.sdNavFB3a{
    width: 150px;
    padding-top: 5px; padding-bottom: 5px; padding-left: 50px;
    font-family: "adobe-clean", "adobe-clean-han-japanese", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px; color: rgb(95,95,95);
    font-weight: bold;
    background-color: rgb(236,253,231);
    border-bottom-left-radius: 5px;
}
.sdNavFB3b{
    width: 150px;
    padding-top: 5px; padding-bottom: 5px; padding-left: 40px;
    font-family: "adobe-clean", "adobe-clean-han-japanese", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px; color: rgb(95,95,95);
    font-weight: bold;
    background-color: rgb(236,253,231);
    border-bottom-right-radius: 5px;
}
/*Cart - cart item list */
.cart1{
    position: fixed;
    right: 5px;
    top: 30%; 
    z-index: 1;
}
.cart2a{
    position: relative; 
    top: 5px;
    background-color: rgba(63,222,17,0.8) !important;
    box-shadow: 0 0px 10px 0px rgba(0,0,0,.26) !important;
}
.cart2aa{
    margin: 0; padding: 0;
    margin-left: 4px;
}
.cart2b{
    display: flex; 
    justify-content: center; align-items: center;
}
.cartNotificationNumber{
    position: relative;
    bottom: 65px; left: 45px;
    width: 30%; height: 20px;
    background-color: orangered;
    color: ghostwhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 12px; font-weight: 700;
    border: solid 2px rgb(255,255,255); border-radius: 3px;
    z-index: 20;
}
.cartBItems1{
    position: relative; 
    top: 80px; 
    padding: 0;
    background-color: rgb(255,255,255);
    padding-bottom: 20px;
}
.cartBItems2A{
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    margin-top: 3em;
}
.cartBItems2B1{
    display: flex; 
    justify-content: flex-end;
}
.cartBItems2B2{
    width: 125px ; height: 125px;
    margin: 0; padding: 0;
    display: flex; 
    justify-content: center;
}
.cartBItems2C{
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    text-align: center;
}
.cartBItems2C2{
    margin: 0; padding: 0;
    font-size: 14px;
}

/*Order Summaty Buttons*/
.ClsBtn{
    display: flex; align-items: center; justify-content: center;
    margin-right: auto;
    height: 100%;
    margin-left: 0;
    padding: 0;
}
.glyClsBtnSgn{
    color: rgb(0,94,92);
    font-size: 14px;
}
.ClsBtnCart{
    width: 25px; height: 25px;
}
.chckOut{
    height: 100%;
    color: rgb(255,255,255) !important; 
    margin-right: 36%; 
    font-family: "adobe-clean", "adobe-clean-han-japanese", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 19px; font-weight: 550;
}
.orBtnSz{
    height: 25px;
    width: 25px;
}
.plusItem{
    padding: 0 !important;
    margin: 0 !important;
}
.minusItem{
    padding: 0 !important;
    margin: 0 !important;
}
.itemRemoveBtn1{
    padding: 0; margin: 0;
}
.itemRemoveBtn2{
    font-size: 20px;
}
.clrCart{
    position: relative; top: 75px;
    width: 100%; 
    display: flex; 
    justify-content: center; align-content: center; 
    font-family: "adobe-clean", "adobe-clean-han-japanese", "Helvetica Neue", Helvetica, sans-serif;
}


/*Mobile screens*/
@media screen and (max-device-width: 600px) {
    .shopping-cart svg{
        height: 85px; width: 85px;
        fill: rgba(0,94,92,0.8);
    }
    .cart1{
        top: 35%; right: 0;
    }
    .md-button.md-fab{
        width: 115px; height: 115px;
    }
    .cart2a{
        background-color: rgba(63,222,17,1) !important;
        border: 4px solid rgba(255,255,255,0.7);
        box-shadow: none !important;
    }
    .cart2aa{
        width: 85px !important; height: 85px !important;
        margin-left: 7px; margin-top: 7px;
    }
    .cartNotificationNumber{
        position: relative;
        bottom: 125px; left: 85px;
        width: 28%; height: 35px;
        background-color: orangered;
        color: ghostwhite;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
        font-size: 20px; font-weight: 700;
        border: solid 2px rgb(255,255,255); border-radius: 3px;
        z-index: 20;
    }
    /*SideNav*/
    .mdSideNavR1{
        min-width: 65% !important; min-height: 100% !important;
        width: 65%;
        margin-top: 0;
        top: 1px;
        border: rgba(180,180,180,0.5) solid 2px ;border-radius: 5px; 
        box-shadow: none;
        z-index: 100; 
    }
    .mdSideNavR2{
        overflow-y: scroll;
        height: 100%;
    }

    md-backdrop.md-opaque {
        background-color: rgba(33,33,33,0.7);
    }
    /*SideNav fixed box, i.e. "Checkout" btn, close btn, "Cart Tot"*/
    .sdNavFB1{
        position: fixed;
        /*forces the browser to use hardware acceleration to access the device’s GPU (Graphical Processing Unit)*/
        transform: translateZ(0);-webkit-transform: translateZ(0);
    }
    .sdNavFB2{
        padding: 0;
        margin-top: 0; margin-bottom: 0;
        height: 5em;
    }
    .sdNavFB3{
        line-height: 2.5em;
    }
    .sdNavFB3a{
        width: 220px;
        padding-left: 70px;
        font-size: 30px;
        font-weight: bold;
    }
    .sdNavFB3b{
        width: 220px;
        padding-left: 15px;
        padding-right: 60px;
        font-size: 30px;
    }
    /*Buttons*/
    .ClsBtn{
        padding: 0;
        margin-top: 0; margin-bottom: 0; margin-left: 0;
    }
    .glyClsBtnSgn{
        font-size: 20px;
    }
    .ClsBtnCart{
        width: 50px; height: 50px;
    }
    
    .chckOut{
        padding: 0;
        margin-top: 0; margin-bottom: 0; margin-left: 0; margin-right: 30%;
        color: rgb(255,255,255) !important; 
        font-size: 40px; font-weight: 600;
    }
    .clrCart{
        top: 115px;
        min-height: 50px !important;
    }
    .clrCartbtn{
        font-size: 20px;
        font-family: "adobe-clean", "adobe-clean-han-japanese", "Helvetica Neue", Helvetica, sans-serif;
    }
    /*Cart Items*/
    .orBtnSz{
        font-size: 45px;
    }
    .itemRemoveBtn2{
        font-size: 40px;
    }
    .cartBItems1{
        top: 130px; 
    }
    .cartBItems2B2{
        width: 200px ; height: 200px;
    }
    .cartBItems2C{
        display: flex; 
        justify-content: center;
        align-items: center;
        margin-top: 3em;
        text-align: center;
    }
    .cartBItems2C2{
        font-size: 22px;
        margin: 0; padding: 0;
    }
}
md-checkbox.md-checked .md-ink-ripple {
     color: rgba(63,222,17,0.87); 
}
md-checkbox.md-checked .md-icon {
    background-color: rgba(63,222,17,0.87);
}
