/*General Input format*/
.inpt1{
    margin-bottom: 0px;
}

.userInfoArea{
    background-color: rgb(254,254,254);
    margin-top: 55px;
    border:solid 2px black;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.cartItemsArea{
    background-color: rgb(254,254,254);
    margin-top: 55px;
    border:solid 2px black;
    height: 100%;
    overflow-y: scroll;
}

ul {list-style-type: none;}
li {list-style-type: none;}

.itemImageBox{
    position: relative;
    top:10%; left: 3em;
    line-height: 12em;
    width: 86px;height: 86px;
    display: inline-block;
    align-content: center;
}

.plusMinusBox{
    position: relative;
    left: 70px; top: 15px;
    width: 86px;height: 86px;
    display: inline-block;
    align-content: center;
}

.cartItemTextBox{
    position: relative;
    width: 86px;height: 86px;
    top: 25px; left: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    display: inline-block;
    align-content: center;
}

.removeBtn{
    position: relative;
    top: 1em;
    left: 270px;
}

.userPic{
    position: relative;
    margin-top: 30px;
    width: 135px; height: 135px;
    left: 35%;
    background-color: whitesmoke;
    border: whitesmoke; border-radius: 8px; 
}

.flName{
    position: relative;
    display: inline-block;
    flex: 40%;
}

.itemRemoveBtn{
    background-color: red; color: ghostwhite;
    font-weight: bold;
    border-radius: 15px; border: 15px;
}

.addressNavBar{
    top: 6px; left: 26%;
    width: 200px;
    font-size: 16.5px;
    text-align: center;
}

.HomeItBtn{
    position: relative;
    top: 25px; left: 40%;
}

.receiptBox{
    width:100%;
    line-height: 1.28;
    border-width: 0 0 1px; border-style: solid; border-color: rgb(169,169,169);
    text-align: center;
    font-size: 15px; color: rgb(169,169,169);
    font-family: "FF Clan";
}

/*Card Info Container*/
.cardContainer{
    padding:0 0 0 2px;
}

/*glyphicon for extension Box*/
.glypExtBox
{   
    margin:0px 2px 0px 2px;
    background-color: white !important;
    min-width: 1px !important; min-height: 1px !important; 
    height: 25px !important; width:25px !important; 
    box-shadow: none !important;
}
/*glyphicon Sign*/
.glypExtSign{
    font-size: 13px;
    color: rgb(63,81,181);
}
/*Extension Box Title*/
.extBoxTtl{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #333;
}
/*Extension Box Input format*/
.extInput{
    margin-bottom: 0px;
}
/*Address tab */
.adTb{
    min-height: 150px !important;
    
}
md-tabs-wrapper{
    border-width: 0px 0px 0px !important;
}