md-progress-circular svg path { 
    stroke: rgba(226, 226, 226, 0.75); 
}

.update-spin-co{
    position: absolute; 
    top: 13.5px;
    left: 18px;
}

label {
    font-weight: 400 !important;
}

.flex-center-row {
    display: flex;
    justify-content: center;
}

.error-message-txt {
    font-size: 12px;
}

//Address Input checkout-customizing
.address-input-checkout {
    width: 100%;
    height: 30px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.85);
    border: 1px solid rgba(0, 0, 0, 0.25) ;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-radius: 0;
    overflow-y: hidden;
    outline-width: 0;
}

.address-input-checkout::placeholder {
    color: rgba(0, 0, 0, 0.38);
    font-size: 15px;
}

#autocompleteAddressInputBox {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.address-input-blured {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25) !important;
    border-radius: 0px !important;
}

.address-clear-btn {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    right: 0px;
    top: 0px;
    min-width: 30px;
    min-height: 30px;
    margin: 0;
    border-bottom: rgba(0, 0, 0, 0.12);
}

.address-clear-icon {
    fill: rgba(0, 0, 0, 0.4);
}

.address-clear-icon svg {
    width: 20px;
    height: 20px;
}

.predictions-container {
    background: rgba(255, 255, 255, 1) !important;
    border: 1px solid rgba(180, 180, 180, 0.8) !important;
    width: 99% !important;
    z-index: 100;
}

.predictions-item {
    padding-left: 5px !important;
    line-height: 35px !important;
    font-size: 15px !important;
    font-weight: 300 !important;
}

.powered-by-google img {
    width: 110px !important;
    height: 15px !important;
}

body, body button{
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: rgb(253, 253, 253);
    letter-spacing: 0.01em;
    overflow-y: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

md-input-container .md-input {
    border-color: rgba(0, 0, 0, 0.25) !important;
}

md-input-container input::placeholder {
    color: rgba(0, 0, 0, 0.4) !important;
}

md-input-container {
    margin-top: 3px;
}

.co-userinfo-sec .seperation-line, .order-summery-sec .seperation-line {
    color: rgba(0, 0, 0, 0.9);
    font-size: 13px;
    text-transform: capitalize;
}

.checkout-content {
    position: relative;
    width: 1180px;
    display: flex;
    flex-direction: row;
    margin: 70px auto;
}

.success-btn:focus{
    outline: 0;
}

.co-cart-sec {
    width: 688px;
}

.cart-items-content {
    padding-top: 70px !important;
}

.item-img {
    border: 1px solid rgba(175, 175, 175, 0.34);
    border-radius: 5px;
    padding: 2px;
}

.item-left-div, .item-right-div {
    margin-top: 0px !important;
}

.product-quantity {
    top: -10px;
    left: 45px;
}

.co-userinfo-sec {
    width: 492px;
    border: 1px solid rgba(175, 175, 175, 0.34);
    border-radius: 2px;
    margin: 10px 0 20px 40px;
    padding: 30px 10px;
    background-color: #fff;
}

.order-summery-sec {
    margin: 0 15px 30px 15px;
    padding: 15px;
    border: 2px solid rgba(175, 175, 175, 0.33);
    border-radius: 15px;
}

.order-summery-sec table td {
    width: 50%;
}

.co-subtotals-table {
    width: 76%;
    margin: 0 auto;
    font-size: 15px;
    color: rgb(100, 100, 100);
}

.co-subtotals-table tr, .co-total-table tr {
    width: 100%;
}

.co-totals-num {
    padding-left: 28%;
}

.order-coupons{
    width: 76%; 
    margin: 0 auto; 
    font-size: 15px;
    .coupons-tr{
        width: 100%; 
        color: #da1a36;
    }
}

.totals-seperation-line {
    width: 100%;
    height: 1px;
    margin: 10px auto;
    border-top: 1px solid rgba(155, 155, 155, 0.55);
}

.co-total-table {
    width: 70%;
    margin: 0 auto;
    font-size: 16px;
    color: rgb(13, 13, 13);
}

.customer-info-p1, .customer-info-p2, .customer-info-p3 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    padding: 15px;
    border: 2px solid rgba(175, 175, 175, 0.33);
    border-radius: 15px;
}

.customer-info-p1{
    margin: 15px auto 15px auto;
}

.customer-info-p2{
    margin: 15px auto 30px auto;
}

.customer-info-p3{
    margin: 30px auto 30px auto;
}

.ci-p1-user {
    align-items: flex-start;
    padding-left: 10%;
    user-select: none;
    cursor: pointer;
}

.ci-p1-user-edit{
    position: absolute; 
    top: 7px;
    right: 7px;
    fill: rgb(42,81,145);
    opacity: 0;
    transition: opacity 0.2s ease;
}

.ci-p1-user:hover .ci-p1-user-edit{
    opacity: 1;
    transition: opacity 0.2s ease;
}

.ci-p1-name-lname {
    font-size: 18px;
    color: #0d0d0d;
    margin-bottom: 4px;
}

.ci-p1-all {
    font-size: 15px;
    color: #646464;
    margin-bottom: 1px;
}

.ci-p1-all span {
    color: #0d0d0d;
}

.dob-input {
    width: 60%;
}

.name-lname-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

.name-lname-input md-input-container {
    width: 50%;
}

.ui-input {
    width: 90%;
}

.del-options-sec{
    flex-direction: column;
}

.del-options-div {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.del-opt-box{
    right: 0;
}

.del-options-div-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 5px 0 15px;
}

.del-options-div-2 img {
    width: 40px;
    height: 40px;
}

.do-txt-box {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.do-txt-box .line-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.store-hrs-txt {
    color: rgba(39, 9, 9, 0.45);
    font-size: 14px;
    font-weight: 400;
}

.store-clsd-txt {
    color: #ca0000;
    font-size: 14px;
    font-weight: 400;
}

.sch-store-name {
    font-size: 14px !important;
    padding-right: 5px;
}

.del-opt-btn {
    min-width: 160px !important;
    font-size: 14px;
}

#del-opt-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 0;
}

.del-opt-background-1 {
    height: calc( 100% + 50px) !important;
}

.co-userinfo-sec .seperation-line {
    margin-bottom: 10px !important;
}

.CG-cur-button {
    position: relative;
    width: 190px;
    height: 48px;
    padding-left: 0px;
    border-radius: 24px;
    font-size: 16px;
    background-color: #698fcc;
    margin: 30px auto;
}

.co-view-cart-btn {
    height: 40px;
    margin: 5px auto 0 auto;
    background-color: rgb(42, 81, 145);
    border: none;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 22px;
}

.co-view-cart-btn ng-md-icon {
    fill: #fff;
}

.co-view-cart-btn svg {
    width: 30px;
    height: 30px;
}

// Checkout Notification Modal
#checkoutModal .modal-dialog {
    top: 20%;
}

#checkoutModal .modal-content {
    width: 400px;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    height: initial !important;
}

.modal-txt {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.78);
    -webkit-font-smoothing: antialiased;
}

.modal-header-ln1 {
    width: 100%;
}

.modal-header-ln1 span {
    font-size: 29px;
}

.modal-header-ln2 {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.result-msg-ln2{
    text-align: center;
}

.result-msg-ln3{
    text-align: center;
}

.result-msg-ln1-name {
    text-align: center;
    font-size: 25px;
}

.del-time-msg{
    font-size: 12px;
    color: #188c5d;
}

.modal-content-sign {
    position: relative;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-cls-btn {
    position: absolute;
    right: -10px;
    top: -22;
    margin: 0;
    padding: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    z-index: 100;
    transition: background-color 0.3s ease;
    border: none;
}

.modal-cls-btn ng-md-icon {
    fill: rgb(173, 173, 173);
}

.modal-cls-btn ng-md-icon svg {
    width: 20px;
    height: 20px;
}

.result-icon {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 40px;
    z-index: 1;
}

.result-10 {
    fill: rgba(209, 58, 58, 0.95);
}

/* start of window shrinkage affect solution */
@media (max-width: 1190px) and (min-width: 885px) {
    .checkout-content {
        width: calc(100vw - 30px);
        margin: 55px auto;
    }

    .co-cart-sec {
        width: calc(100% - 468px);
    }
}

@media (min-width: 885px) {
    .co-view-cart-btn {
        display: none;
    }
}

@media (max-width: 884px) and (min-width: 571px) {
    .co-cart-sec , .co-view-cart-btn{
        width: 492px;
    }
}


/* start of medium tablet styles */
@media screen and (min-device-width: 480px) and (max-device-width: 776px) {
    // Checkout Notification Modal
    #checkoutModal .modal-dialog {
        top: 30%;
    }

    #checkoutModal .modal-content {
        left: calc((100vw - 400px)/2) !important;
    }
}

@media (max-width: 884px) and (min-width: 400px){
    .co-view-cart-btn{
        margin-top: 57px;
    }
}

@media (max-width: 884px) and (min-width: 400px) , screen and (max-device-width: 479px){
    .checkout-content {
        width: calc(100vw - 30px);
        margin: 0 auto 30px auto;
        flex-direction: column;
    }

    .co-cart-sec {
        margin: 0 auto;
        height: 0px;
        transition: height 0.6s ease;
    }

    .cart-items-content {
        display: none;
    }

    .co-userinfo-sec {
        margin: 0 auto;
        border-radius: 0 0 2px 2px;
    }

    .cart-sec-grow {
        display: initial;
        height: 300px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-left: 1px solid rgba(175, 175, 175, 0.34);
        border-right: 1px solid rgba(175, 175, 175, 0.34);
        background-color: #fff;
        overflow-y: auto;
        transition: height 0.6s ease;
    }

    .cart-empty {
        height: 250px !important;
    }
}

@media (max-width: 570px) and (min-width: 400px) {
    .co-userinfo-sec, .co-cart-sec, .co-view-cart-btn {
        width: 400px;
        transition: width 0.3s ease;
    }

    .checkout-content {
        width: 100vw;
    }
}

/* start of non-phone styles */
@media screen and (min-device-width: 480px) {
    .modal-sm {
        width: 400px !important;
    }
}

/* start of phone styles */
@media screen and (max-device-width: 479px) {

    .checkout-content {
        width: calc( 100vw - 4px);
        margin: 0 auto;
    }

    .co-view-cart-btn{
        margin-top: 60px;
    }

    .co-userinfo-sec{
        width: 100%;
    }

    .co-cart-sec , .co-view-cart-btn{
        width: 100%;
    }

    .product-quantity {
        top: -15px;
        left: 15px;
    }

    .del-options-sec {
        position: initial !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .co-subtotals-table, .order-coupons{
        width: 96%;
        font-size: 14px;
    }

    form input{
        font-size: 16px;
    }

    .sch-store-name{
        font-size: 13px !important;
        padding-right: 5px;
    }

    .del-opt-btn {
        min-width: 150px !important;
        font-size: 13px;
    }

    #checkoutModal .modal-dialog{
        top: 32%;
    }

    .modal-sm {
        width: calc(100vw - 10px) !important;
    }

    #checkoutModal .modal-content{
        width: calc(100vw - 10px) !important;
    }

    .modal-dialog{
        margin: 5px;
    }

}