footer{
    color: white;
    /* background-color: #afbdca57; */
}
footer a {
    cursor: pointer;
    outline: none;
}
footer a:hover{
    text-decoration: none !important;
    color: rgba(28, 38, 87, 0.85); 
}
main{
    width: 100%;
    background-color: #afbdca57;
}
.col_1{
    padding: 0;
    margin: 22px 0 5px auto;
    text-align: right;
}
.col_1_A{
    display: flex; align-items: flex-end;
}
.col_1_AA{
    margin-right: 0; 
    max-width: 350px; 
    margin-top: 2px; margin-bottom: 2px;
}
.col_1_1_A{
    position: relative; right: 20px; 
}
.col_1_2_A{
    position: relative; right: 40px; 
}
.col_1_3_A{
    position: relative; right: 60px; 
}
.col_1_4_A{
    position: relative; right: 40px; 
}
.col_1_5_A{
    position: relative; right: 20px; 
}
.col_2{
    margin: 15px 0 6px 0;
    display: flex; justify-content: center; align-items: center; 
    height: 95px; width: 95px; 
    border: 1px solid rgba(42,81,145,1); border-radius: 60px;
    background-color: rgba(42,81,145,1);  
    box-shadow: 0 0px 4px 3px rgba(0,0,0,0.5);
}
.col_3{
    padding: 0;
    margin: 22px auto 5px 0;
    text-align: left;
}
.col_3_A{
    display: flex; align-items: flex-start;
}
.col_3_AA{
    margin-left: 0; 
    max-width: 350px; 
    margin-top: 2px; margin-bottom: 2px;
}
.col_3_1_A{
    position: relative; left: 20px; 
}
.col_3_2_A{
    position: relative; left: 40px; 
}
.col_3_3_A{
    position: relative; left: 60px; 
}
.col_3_4_A{
    position: relative; left: 40px; 
}
.col_3_5_A{
    position: relative; left: 20px; 
}
#fd_tx:hover + #fd_ln{
	margin: auto;
    width: 100%;
    border-bottom: 2px solid rgba(42,81,145,0.5);
    transition: width .6s ease, background-color .5s ease;
    position: relative; 
    left: 40px; 
    margin-left: 0; 
    max-width: 350px;
}
#if_tx:hover + #if_ln{
	margin: auto;
    width: 100%;
    border-bottom: 2px solid rgba(42,81,145,0.5);
    transition: width .6s ease, background-color .5s ease;
    position: relative; 
    left: 60px; 
    margin-left: 0; 
    max-width: 350px;
}
#is_tx:hover + #is_ln{
	margin: auto;
    width: 100%;
    border-bottom: 2px solid rgba(42,81,145,0.5);
    transition: width .6s ease, background-color .5s ease;
    position: relative; 
    left: 40px; 
    margin-left: 0; 
    max-width: 350px;
}

#tu_tx:hover + #tu_ln{
	margin: auto;
    width: 100%;
    border-bottom: 2px solid rgba(42,81,145,0.5);
    transition: width .6s ease, background-color .5s ease;
    position: relative; 
    right: 40px; 
    margin-right: 0; 
    max-width: 350px;
}
#pp_tx:hover + #pp_ln{
	margin: auto;
    width: 100%;
    border-bottom: 2px solid rgba(42,81,145,0.5);
    transition: width .6s ease, background-color .5s ease;
    position: relative; 
    right: 60px; 
    margin-right: 0; 
    max-width: 350px;
}
#cu_tx:hover + #cu_ln{
	margin: auto;
    width: 100%;
    border-bottom: 2px solid rgba(42,81,145,0.5);
    transition: width .6s ease, background-color .5s ease;
    position: relative; 
    right: 40px; 
    margin-right: 0; 
    max-width: 350px;
}
.text{
    font-size: 13;
    color: rgba(28, 38, 87, 0.85);
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}
.lnk_ln{
    height: 2px;
	width: 0px;
}
.homit-copyright{
    width: 100%;
    display: flex; justify-content: flex-end; 
    margin: auto;
    font-size: 12px; font-weight: 400; color: rgb(27, 27, 27);
    -webkit-font-smoothing: antialiased;
    background-color: #afbdca57;
}
a{
    text-decoration: none !important;
}