.full-width{
    width: 100%;
    min-width: 100%;
}

.nav-pills{
    font-size: 20px;
}

.genericError{
    border-color: red;
}

.genericError:focus{
    border-color: red;
}

.brand-input{
    border: none;
    border-bottom: 1px;
    border-bottom-color: #eee;
    border-bottom-style: solid;
}

.brand-input:focus{
    border: none;
    border-bottom: 2px;
    border-bottom-color: #eee;
    border-bottom-style: solid;
    outline: none;
}

.box-borders-default{
    border: lightgray solid 1px;
    border-radius: 5px;
    background-color: white;
}