button:focus, input:focus {
    outline: none;
}

.store-div, .myAccount-box-li, .navigate-search {
    outline: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.store-div {
    padding-top: 10px;
}

nav {
    letter-spacing: 0.01em;
    font-family: 'Nunito', sans-serif;
}

.rgb-logo {
    display: none;
}

.user-btn-notification{
    padding-left: 5px;
    padding-right: 5px;
    svg{
        width: 38px !important;
        height: 38px !important;
        border-radius: 19px;
        border: 2px solid rgb(194, 83, 83);
    }
}

.homit-nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(42, 81, 145, 1);
    width: 100%;
    max-height: 80px;
    transition: height 0.4s ease;
    z-index: 11;
    .header-notification{
        display: flex; 
        flex-direction: row; 
        width: 100vw; 
        height: 25px; 
        background-color: #6AB5B1;
        div{
            min-width: 150px; 
            height: 17px; 
            border: none; 
            margin: 4px auto 0 auto; 
            background-color: transparent; 
            color: rgb(194, 83, 83); 
            border-radius: 3px; 
            font-size: 12px; 
            letter-spacing: 0.5px;
            transition: color 0.4s ease;
            span{
                font-weight: 600;
                text-decoration: underline rgb(194, 83, 83);
            }
        }
        div:focus {
            outline: 0;
        }
        .notification-clr-btn{
            height: 100%;
            background-color: transparent; 
            border: none; 
            ng-md-icon{
                fill: rgb(194, 83, 83);
            }
        }
    }
}

.homit-nav-content {
    max-width: 1180px;
    width: 1180px;
    height: 55px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: width 0.3s ease;
}

.logo-img {
    width: 108px;
    height: 33px;
}

.hub-header{
    height: 58px;
    font-size: 22px; 
    color: #525f7f;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.button-sec {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 235px;
}

.hub-btn {
    height: 37px;
    margin-right: 20px;
    margin-bottom: 4px;
    padding-bottom: 4px;
    border: none;
    font-family: 'Dosis', sans-serif;
    font-size: 26px;
    font-weight: 600;
    background-color: transparent;
    color: white;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s;
}

.logIn-btn {
    border: 1px solid white;
    color: white;
    transition: background-color 0.3s;
}

.signUp-btn {
    border-style: solid;
    border-width: 1px;
    color: rgb(42, 81, 145);
}

.logIn-btn:hover {
    background-color: rgb(46, 88, 155);
    transition: background-color 0.3s;
}

.signUp-btn:hover {
    background-color: rgba(250, 250, 250, 1);
    transition: background-color 0.3s;
}

.user-signed-btn {
    background-color: transparent;
    border: none;
}

.user-signed-btn ng-md-icon {
    fill: rgba(255, 255, 255, 1);
}

.user-signed-btn ng-md-icon svg {
    width: 34px;
    height: 34px;
}

.header-sign-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.myAccount-box {
    position: absolute;
    top: 60px;
    right: -24px;
    height: 148px;
    width: 230px;
    border: 1px rgba(220, 220, 220, 0.99) solid;
    border-radius: 4px;
    background-color: #fdfdfd;
    box-shadow: 0 0 0 1px rgba(136,152,170,.1), 0 15px 35px 0 rgba(49,49,93,.1), 0 5px 15px 0 rgba(0,0,0,.08);
    z-index: 100;
    .box-extBox{
        left: 76%;
    }
    .box-li-g1{
        font-weight: 600; 
        letter-spacing: 0.7px; 
        font-size: 19px; 
        margin-bottom: 5px;
    }
    .box-li-g2{
        margin-bottom: 3px;
    }
    .coupon-num{
        position: relative; 
        top: -1px; 
        width: 22px; 
        height: 22px; 
        margin-left: 75px;
        padding: 4px 8px; 
        border-radius: 20px; 
        font-size: 12px;  
        font-weight: 600; 
        letter-spacing: 01px; 
        color: #fff; 
    }
}

.coupon-num-seen{
    animation: couponSeenNotification 3.3s linear;
}

.box-extBox {
    position: absolute;
    top: -7px;
    width: 14px;
    height: 14px;
    border: 1px rgba(220, 220, 220, 0.99) solid;
    border-right-color:#fdfdfd;
    border-bottom-color: #fdfdfd;
    background-color: #fdfdfd;
    transform: rotate(45deg);
    border-radius: 4px;
    z-index: 0;
}

.myAccount-box ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px 0 5px 0;
}

.myAccount-box-li {
    width: 100%;
    padding: 3px 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #313b52;
    letter-spacing: 0.025em;
    -webkit-font-smoothing: antialiased;
}

.myAccount-box-li:hover {
    background-color: rgba(42, 81, 145, 0.1);
    transition: background-color 0.3s ease;
}

.myAccount-box-line {
    margin: 2px 0 1px 0;
    width: 100%;
    height: 2px;
    border-top: 1px solid rgba(196, 196, 196, 0.692);
}

.header-hub {
    position: absolute;
    top: 60px;
    height: 400px;
    width: 270px;
    border: 1px rgba(220, 220, 220, 0.99) solid;
    border-radius: 4px;
    background-color: rgb(253, 253, 253);
    box-shadow: 0 0 0 1px rgba(136,152,170,.1), 0 15px 35px 0 rgba(49,49,93,.1), 0 5px 15px 0 rgba(0,0,0,.08);
    z-index: 100;
    .box-extBox{
        left: 73%;
    }
}

.fadeIn-hdr {
    animation: fadein 150ms;
}

.hub-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hub-box h3 {
    color: #525f7f;
    font-size: 13px;
    padding-top: 10px;
}

.store-div {
    height: 140px;
    width: 50%;
    margin-bottom: 30px;
    text-align: center;
}

.store-div img {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    box-shadow: 0 0px 6px 3px rgba(0, 0, 0, 0.15);
}

.store-div:hover {
    background-color: rgba(42, 81, 145, 0.1);
    border-radius: 3px;
    transition: background-color 0.3s;
}

.snack-vendor-div {
    margin-bottom: 20px;
}

h3 {
    font-size: 17px;
    margin: 0;
}

.hub-box a {
    color: #20475f;
}

.hub-box a:hover {
    text-decoration: none;
}

/* start of window shrinkage affect solution */
@media (max-width: 1190px) and (min-width: 980px) {
    .homit-nav-content {
        width: 960px;
    }
}

@media (max-width: 979px) and (min-width: 856px) {
    .homit-nav-content {
        width: 855px;
    }
}

@media (max-width: 855px) and (min-width: 571px) {
    .global-search-header {
        display: none;
    }

    .homit-nav-content {
        width: 570px;
    }
}

@media (max-width: 570px) {
    .homit-nav-content {
        width: 285px;
    }

    #sign-btns {
        display: none;
    }

    .global-search-header {
        display: none;
    }
}

/* start of non-mobile/tablet styles */
@media screen and (min-device-width: 777px) {
    .hdr-logo-H, .hdr-mob-button, .hdr-search-cover-img {
        display: none;
    }

    .hdr-ext-content {
        width: 40%;
    }
}

/* start of tablet and mobile devices */
@media screen and (max-device-width: 776px) {
    .white-logo {
        display: none;
    }

    .hdr-mob-button ng-md-icon {
        fill: #fff;
    }

    .hdr-mob-button .clear-svg {
        fill: rgb(198, 70, 5);
    }

    .global-search-header {
        display: initial;
        width: 100vw;
        max-width: 500px;
    }

    .search-sec {
        height: 60px !important;
        top: 10px;
    }

    .search-btn {
        width: 64px !important;
        border-bottom: 2px solid rgba(42, 81, 145, 1) !important;
        border-top: 2px solid rgba(42, 81, 145, 1) !important;
        border-left: none !important;
        border-radius: 0 !important;
    }

    .search-input {
        border-bottom: 2px solid rgba(42, 81, 145, 1) !important;
        border-top: 2px solid rgba(42, 81, 145, 1) !important;
        border-right: none !important;
        border-radius: 0 !important;
        font-size: 19px !important;
    }

    .search-result-box {
        top: 60px !important;
        border-left: none !important;
        border-right: none !important;
        padding-bottom: 10px;
        -webkit-overflow-scrolling: touch;
    }

    .hdr-ext-content {
        position: fixed;
        top: 55px;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 0px;
        background-color: #fff;
        overflow-y: auto;
        transition: height 0.4s ease;

        .mob-menu-div, .mob-search-div {
            height: 100%;
        }
    }

    .hdr-search-cover-img {
        position: relative;
        top: 30%;
        display: flex;
        height: 200px;
        width: 250px;
        margin: auto;
        filter: grayscale(100%);
        opacity: 0.1;
    }

    .grow-mob-ext-content {
        display: flex;
        height: calc(100vh - 50px);
        border-bottom: 1px solid rgba(175, 175, 175, 0.34);
        transition: height 0.4s ease;
    }

    .hdr-mob-button {
        position: relative;
        width: 16%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: transparent;
        border: none;
    }

    .hdr-logo-H {
        width: 36%;
    }

    .hdr-logo-H a {
        width: 48px;
        height: 48px;
        margin: 0 auto;
        border-radius: 25px;
        background-color: #fff;
    }

    .hdr-logo-H img {
        width: auto;
        height: 36px;
    }

    #sign-btns {
        display: none;
    }

    .mob-menu-div {
        width: 100%;
        padding: 0px;
        background-color: white;
        border-bottom: rgba(63, 222, 17, 0.1) solid 1px;
        z-index: 1;

        .mob-menu-selection-div {
            height: 40px;
            display: flex;
            flex-direction: row;
            margin-top: 5px;

            button {
                width: 50%;
                height: 100%;
                border-left: none;
                border-right: none;
                font-size: 18px;
                transition: background-color 0.2s ease;
            }
        }

        .mob-menu-stores {
            width: 100vw;
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            padding: 50px 0;
            color: #8f95a3;
        }

        .mob-menu-stores a {
            width: 140px;
            height: 140px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 15px;
            color: #4d4d4f;
            text-decoration: none;

            img {
                margin-top: 5px; 
                width: 100px;
                height: 100px;
            }
        }

        .mob-menu-categories {
            width: 100vw;
            height: calc(100% - 55px);
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;

            .mob-menu-cat-div {
                width: 140px;
                height: 220px;
                margin: 10px;
                padding: 0;
                box-shadow: 0 0px 6px 2px rgba(0, 0, 0, 0.15);
                border-radius: 2px;
                h5{
                    padding-left: 4px;
                    padding-top: 4px;
                }
            }

            .mob-menu-cat-div img {
                width: 140px; 
                height: 189px;
            }

            .mob-menu-cat-div h5 {
                margin: 5px 0;
                padding-left: 5px;
                color: #4d4d4f;
                -webkit-font-smoothing: antialiased;
            }
        }
    }

    .selected-mob-menu-btn {
        text-transform: uppercase;
        background-color: rgb(0, 204, 153);
        border: none;
        color: #fff;
    }

    .width-100{
        width: 100% !important;
    }

    .not-selected-mob-menu-btn {
        background-color: transparent;
        border-bottom: 2px solid rgb(0, 204, 153);
        border-top: 2px solid rgb(0, 204, 153);
        color: #8f95a3;
    }
}

/* start of medium tablet styles */
@media screen and (min-device-width: 480px) and (max-device-width: 776px) {
    .homit-nav-content {
        width: calc(100vw - 20px);
    }

    .hub-btn {
        display: none;
    }

    .button-sec{
        width: 16%;
        display: flex;
        justify-content: center;
    }
}

/* start of phone styles */
@media screen and (max-device-width: 479px) {
    .sign-checkmark-svg{
        width: 80px;
        height: 80px;
    }

    .sign-checkmark-line{
        stroke-width: 4; 
    }
}

/* start of phone styles */
@media screen and (max-device-width: 479px) {
    .cart1 {
        display: none;
    }

    .homit-nav-content {
        width: 100%;
    }

    #sign-btns {
        display: none;
    }

    .sign-btn {
        min-width: 40px;
    }

    .hub-btn {
        display: none;
    }

    .signUp-btn {
        display: none;
    }

    .myAccount-box {
        right: 5px;
        top: 53px;
        height: 152px;
        width: 232px;
    }

    .myAccount-box .box-extBox {
        left: 89%;
    }

    .user-signed-btn {
        padding: 0 7px;
    }
}
