@import "styles/_buttons";

[aria-hidden="true"] {
    visibility: hidden;
}

button:focus, input:focus {
    outline: none;
}

.store-div, .myAccount-box-li, .navigate-search {
    outline: none;
}

nav {
    letter-spacing: 0.01em;
    font-family: 'Nunito', sans-serif;
}

.homit-nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(42, 81, 145, 1);
    width: 100vw;
    height: 50px;
    z-index: 4;
}

.homit-nav-content {
    max-width: 1140px;
    width: 1140px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-img {
    width: 108px;
    height: 33px;
}

.search-sec {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 31px;
}

.search-btn {
    width: 40px;
    border: 1px solid rgba(150, 150, 150, 1);
    border-right: none;
    border-radius: 4px 0 0 4px;
    background-color: #f5f5f5;
    transition: background-color 0.3s;
}

.search-btn svg {
    fill: rgba(42, 81, 145, 0.7);
}

.search-btn:hover {
    background-color: #dfdede;
    transition: background-color 0.3s;
}

.search-input {
    width: 100%;
    padding-left: 10px;
    border: 1px solid rgba(150, 150, 150, 1);
    border-left: none;
    border-radius: 0 4px 4px 0;
    color: rgba(0, 0, 0, 0.8);
    font-size: 17px;
    text-transform: capitalize;
}

.search-sec input::-webkit-input-placeholder {
    color: rgba(42, 81, 145, 0.6) !important;
    font-size: 17px;
}

.highlighted-arrow {
    background-color: rgba(196, 217, 255, 0.3) !important;
    transition: background-color 0.3s;
}

//Non-mobile search section - NM
.NM-search-box {
    position: absolute;
    top: 30px;
    width: 100%;
    max-height: 460px;
    border: 1px solid rgba(145, 143, 143, 0.856);
    border-radius: 0 0 5px 5px;
    border-top: 1px solid rgba(145, 143, 143, 0.3);
    background-color: rgba(255, 255, 255, 0.99);
    overflow-y: scroll;
    z-index: 1000;
}

.NM-search-box ul {
    margin: 0;
    padding: 0;
}
#hub-background-image{
    position: fixed;
    width: 270px; height: 400px;
    background-size: cover; 
    background-image: url('/resources/images/non-catalog-image/homit_hub/homit-hub-cover.png'); 
    background-position: center;
    background-repeat:no-repeat;
    z-index: 0;
}

.NM-search-box li:hover {
    background-color: rgba(230, 230, 230, 1);
    transition: background-color 0.3s;
}

.NM-search-box li a {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}
#hdrHub1{
    background-image: url('/resources/images/non-catalog-image/homit_hub/homit-hub-cover.png');
}

.NM-search-box li a span {
    padding-left: 25px;
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
}

.NM-search-box li a span img {
    width: 50px;
    height: 50px;
}

.NM-search-box-line {
    display: flex;
    justify-content: center;
}

.NM-search-box-line div {
    width: 90%;
    border-bottom: 1px solid rgba(105, 103, 103, 0.15);
    line-height: 1px;
    margin: 5px 0 5px;
}

.NM-product-details {
    padding-left: 35px;
    display: flex;
    align-items: center;
    font-size: 16px !important;
    font-weight: 500 !important;
    color: rgba(0, 0, 0, 0.55);
}

.NM-not-found {
    height: 35px;
    display: flex;
    align-content: center;
}

.NM-not-found span {
    padding-left: 35px;
    display: flex;
    align-items: center;
    font-size: 20px !important;
    font-weight: 500 !important;
    font-size: 15px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.55);
}

.button-sec {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 225px;
}

.hub-btn {
    height: 37px;
    margin-right: 20px;
    margin-bottom: 4px;
    padding-bottom: 4px;
    border: none;
    font-family: 'Dosis', sans-serif;
    font-size: 26px;
    font-weight: 600;
    background-color: transparent;
    color: white;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s;
}

.hub-btn:hover, .hub-selected {
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    transition: border-color 0.3s;
}

.logIn-btn {
    border: 1px solid white;
    color: white;
    transition: background-color 0.3s;
}

.signUp-btn {
    border-style: solid;
    border-width: 1px;
    transition: background-color 0.3s;
}

.logIn-btn:hover {
    background-color: rgb(22, 62, 128);
    transition: background-color 0.3s;
}

.signUp-btn:hover {
    background-color: rgba(230, 230, 230, 1);
    transition: background-color 0.3s;
}

.btn-font {
    font-size: 19px;
}

.user-signed-btn {
    background-color: rgba(42, 81, 145, 1);
    border: none;
}

.user-signed-btn ng-md-icon {
    fill: rgba(255, 255, 255, 1);
}

.user-signed-btn ng-md-icon svg {
    width: 34px;
    height: 34px;
}

.header-sign-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.myAccount-box {
    position: absolute;
    top: 60px;
    right: -24px;
    height: 120px;
    width: 200px;
    border: 1px rgba(220, 220, 220, 0.99) solid;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.box-extBox {
    position: absolute;
    left: 73%;
    top: -7;
    width: 13px;
    height: 13px;
    border: 1px rgba(220, 220, 220, 0.99) solid;
    border-right-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 1);
    transform: rotate(45deg);
    z-index: 0;
}

.myAccount-box ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 15px 0;
}

.myAccount-box-li {
    width: 100%;
    padding: 0 15px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.95);
    letter-spacing: 0.025em;
    -webkit-font-smoothing: antialiased;
}

.myAccount-box-li:hover {
    background-color: rgba(42, 81, 145, 0.3);
    transition: background-color 0.3s;
}

.myAccount-box-ln3 {
    margin-bottom: 3px;
}

.myAccount-box-line {
    margin: 7px auto;
    width: 90%;
    height: 2px;
    border-top: 1px solid rgba(196, 196, 196, 0.692);
}

.header-hub {
    position: absolute;
    top: 60px;
    height: 400px;
    width: 270px;
    border: 1px rgba(220, 220, 220, 0.99) solid;
    border-radius: 2px;
    background-color: rgba(250, 250, 250, 1);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.hub-box {
    margin: 30px 0;
}

.store-div {
    height: 150px;
    width: 100%;
    text-align: center;
}

.store-div img {
    width: 100px;
    height: 100px;
}

.store-div:hover {
    background-color: rgba(220, 220, 220, 1);
    transition: background-color 0.3s;
}

.snack-vendor-div {
    margin-bottom: 30px;
}

h3 {
    font-size: 17px;
    margin: 0;
}

.hub-box a {
    color: rgba(0, 0, 0, 0.9);
}

.hub-box a:hover {
    text-decoration: none;
}

.hub-shop-btn {
    width: 120px;
    height: 23px;
    margin-top: 7px;
    background-color: rgba(42, 81, 145, 0.8);
    color: white;
    border: 1px solid rgba(42, 81, 145, 1);
    border-radius: 3px;
    font-size: 13px;
}

/* start of window shrinkage affect solution */
@media (max-width: 1140px) and (min-width: 856px) {
    .homit-nav-content {
        width: 855px;
    }
}

@media (max-width: 855px) and (min-width: 571px) {
    .homit-nav-content {
        width: 570px;
    }

    .search-sec {
        display: none;
    }
}

@media (max-width: 570px) {
    .homit-nav-content {
        width: 285px;
    }

    .search-sec {
        display: none;
    }

    #sign-btns {
        display: none;
    }
}

/* start of non-mobile/tablet styles */
@media screen and (min-device-width: 768px) {}

/* start of medium tablet styles */
@media screen and (min-device-width: 480px) and (max-device-width: 767px) {}

/* start of phone styles */
@media screen and (max-device-width: 479px) {
    .cart1 {
        display: none;
    }

    .homit-nav-content {
        width: 100%;
    }

    #sign-btns {
        display: inline;
    }

    .search-sec {
        display: none;
    }

    .hub-btn {
        display: none;
    }

    .logIn-btn {
        padding: 3px;
    }

    .signUp-btn {
        padding: 3px;
        margin-right: 2px;
    }

    .myAccount-box {
        right: 5px;
    }

    .myAccount-box .box-extBox {
        left: 87%;
    }

    .search-btn-mob {
        height: 35px;
        width: 40px;
        background-color: transparent;
        border: none;
    }

    .search-icon-mob {
        height: 29px;
        min-width: 29px;
        border: none;
        fill: white;
    }

    .search-icon-mob svg {
        margin-top: 3px;
        margin-bottom: 3px;
        width: 29px;
        height: 29px;
    }

    .mob-global-search-input {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100vw;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    .mob-global-search-input div {
        display: flex;
        flex-direction: row;
    }

    .mob-search-input-icon {
        height: 50px;
        min-width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 1);
        border: none;
        fill: rgba(0, 0, 0, 0.65);
    }

    .mob-search-input-icon svg {
        width: 29px;
        height: 29px;
    }

    .mob-search-input {
        width: 100%;
        border: none;
        border-radius: 0;
        text-transform: capitalize;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.85);
    }

    .mob-global-search-input input::placeholder {
        color: rgba(0, 0, 0, 0.55);
        font-size: 20px;
    }

    .mob-search-result {
        position: absolute;
        top: 100px;
        left: 0;
        width: 100vw;
        max-height: 60vh;
        background-color: rgba(254, 254, 254, 1);
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-top-width: 1px;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        z-index: 1000;
    }

    .search-res-ul {
        margin: 5px 0px;
        padding: 0;
    }

    .search-res-ul-product {
        margin: 15px 0px;
        padding: 0;
    }

    .search-res-li {
        display: flex;
        align-items: center;
    }

    .search-res-li-product {
        margin: 3px 0;
        padding: 0;
    }

    .search-res-a {
        width: 100%;
        margin-bottom: 5px;
        padding-left: 30px;
    }

    .search-res-a-product {
        width: 100%;
        margin-bottom: 15px;
        padding-left: 30px;
    }

    .search-res-span {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.9);
    }

    .search-res-span-product {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.85);
        margin-left: 5px;
    }

    .search-res-product-img {
        width: 70px;
        height: 70px;
    }

    .search-res-line {
        display: flex;
        justify-content: center;
    }

    .search-res-line div {
        margin: 3px 0 3px;
        width: 90%;
        line-height: 1px;
        border-bottom: 1px solid rgba(105, 103, 103, 0.15);
    }
}
