@media screen and (min-device-width: 480px) {
 .mVer{
     display: none;
    }
}

@media screen and (max-device-width: 480px) {
    .wVer{
        display: none;
    }
    
    md-icon svg {
      fill: rgb(42,81,145);
    }
}