li {list-style-type: none;}
.cartIcon
{   
    top: -0.5px ;
    height: 35px;
    padding-right: 5px; padding-left: 10px; margin-right: 1em !important;
    font-size: 16px;    
    display: flex; align-items: center;
}
.cartBox
{
    position: absolute;
    top: 34px; right: -10px;
    color: black;
    height: 300px; width: 300px;
    border: solid 2px #D5D5D5;  border-radius: 5px;
    background-color: white;
    z-index: 10;
    display:none;
    overflow-y: scroll;
}
.cartBox.active {display:block;}
.cartNotificationNumber{
    position: relative;
    top: -19.5px; right: -3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 12px;
    color: ghostwhite; background-color: red;
    border: solid 2px red;  border-radius: 3px;
}
.cartBoxUl {
    display: inline-block;
    align-content: center;
  
}
.cartBoxText{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}
.cartBoxRemoveBtn{
    background-color: red; color: ghostwhite;
    font-weight: bold;
    border-radius: 15px; border: 15px;
}
.plusMinusItem
{
    font-weight: bold;
    border-radius: 15px; border: 15px;
    top:15px; left:-10px;
}
