.main-controller {
    background-color: rgb(249, 249, 249);
}

body {
    background-color: transparent;
    letter-spacing: 0.01em;
    font-family: 'Nunito', sans-serif;
    overflow-y: scroll;
    user-select: none;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
}

.myAccount-box{
    top: 50px;
}

.fadeInStore {
    visibility: visible;
    animation: fadein 1.2s ease, scale9_to_10 0.7s ease-in-out;
}

.user-signed-btn ng-md-icon {
    fill: rgb(42, 81, 145);
}

.homit-nav{
    display: flex;
    flex-direction: column;
    border-bottom: none;
    .homit-nav-content{
        justify-content: space-between;
        background-color: transparent !important;
    }
    .hdr-mob-button{
        display: none;
    }
    .sign-btn {
        box-sizing: border-box;
        background-color: transparent;
        height: 38px;
        padding: 8px 10px;
        line-height: 20px;
        font-size: 17px;
        letter-spacing: 0.2px;
        transition: all 0.3s ease;
    }

    .logIn-btn {
        border: 1px solid rgb(42, 81, 145);
        border-radius: 20px;
        color: rgb(42, 81, 145);
    }
}

.address-input-span input::-webkit-input-placeholder {
    font-family: 'Nunito', sans-serif;
    font-size: 21px !important;
    color: rgba(0, 0, 0, 0.45);
    text-transform: none;
}

.address-input-blured{
    border: 1px solid rgba(42,81,145,0.5);
    border-radius: 3px;
}

.CG-cur-button{
    width: 180px;
    height: 54px;
    border-radius: 27px;
}

.store-list-ul {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 850px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    padding-top: 10px;
}

.img-object {
    position: relative;
}

.store-li-free-delivery {
    position: absolute;
    top: -10px;
    right: -10px;
    margin: 0;
    padding: 10px;
    background-color: rgb(0, 204, 153);
    border-radius: 50%;
}

.free-txt {
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.8px;
}

.delivery-txt {
    color: white;
    font-size: 11px;
    text-align: center;
}

.store-li-footer {
    position: absolute;
    top: -60px;
    left: calc((100% - 285px)/2);
    font-size: 35px;
    opacity: 0.6;
    color: #39435a;
    text-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.store-list-ul li {
    outline: none;
}

.store-li {
    position: relative;
    display: block;
    margin: 0 20px;
}

.store-li span {
    position: absolute;
    will-change: opacity, transform;
}

.location-msg {
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    padding: 15px 0;
    text-align: center;
    user-select: none;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    border-radius: 10px;
    opacity: 0;
    z-index: -1;
    will-change: opacity, width;
}

.location-msg-txt {
    color: #396885;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 0.065em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-trans-prop {
    color: #396885;
    user-select: none;
    will-change: opacity, transform;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    border-radius: 10px;
    opacity: 0;
}

.store-li span {
    left: 50%;
    bottom: -20px;
    padding: 4px 10px;
    font-size: 16px;
    transform: translate(-50%, -15px);
    white-space: nowrap;
    transition: opacity, transform 0.25s ease-out;
}

.store-li:hover span {
    opacity: 1;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

.store-li img {
    height: 160px;
    width: 160px;
    border-radius: 95px;
    border: none;
    box-shadow: 0 15px 35px rgba(100,100,100,0.2), 0 3px 10px rgba(100,100,100,0.17) ;
    will-change: padding, height, width;
    transition: all 0.4s ease-out;
}

.search-sec, .hub-btn {
    display: none;
}

.homit-nav, .user-signed-btn {
    background-color: transparent;
}

.homit-nav {
    position: absolute;
}

.logo-img {
    filter: drop-shadow(0 0px 2px rgba(0, 0, 0, 0.3));
}

.full-screen {
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll;
}

.address-section {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
}

.address-section {
    background-image: url("/resources/images/non-catalog-image/cover-image/calgary.jpg");
}

.predictions-container {
    width: 540px;
    z-index: 1;
}

.address-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.store-div-main {
    position: relative;
    height: 230px;
    width: 100%;
    background-color: rgba(230, 230, 230, 1);
    box-shadow: 0 0px 6px 2px rgba(0, 0, 0, 0.2);
    background-attachment: fixed;
    background-position: center;
    background-image: url("/resources/images/non-catalog-image/cover-image/hub-main_cover.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

.address-input-sec {
    position: relative;
    width: 550px;
    height: 55px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: all 0.4s ease-in;
}

.address-input-span {
    position: relative;
    display: flex;
    align-items: center;
}

.place-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    fill: rgba(0, 0, 0, 0.6);
    z-index: 1;
    transition: all 0.4s ease-in;
}

.place-icon svg {
    width: 36px;
    height: 36px;
}

.address-input {
    padding-left: 40px;
    width: 540px;
    height: 47px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.85);
    border: 1px solid rgba(200, 200, 200, 0.8);
    border-radius: 1px;
    outline-width: 0;
    transition: all 0.4s ease;
}

.address-input-btn {
    position: absolute;
    right: 1px;
    top: 2px;
    min-width: 47px;
    min-height: 43px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0;
}

.address-input-icon {
    fill: rgba(42, 81, 145, 0.9);
}

.address-input-icon svg {
    width: 25px;
    height: 25px;
}

.main-page-address-box {
    position: relative;
    top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    z-index: 1;
}

.landing-message-box {
    position: relative;
    top: 50px;
}

.landing-message {
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 0.065em;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    color: rgba(203, 157, 114, 1);
    user-select: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.fadeIn {
    animation: fadein 0.2s;
}

.promotion-sec {
    width: 100%;
}

.steps-div {
    width: 1140px;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10vh 0;
}

.steps-div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;
    border-left: 2px solid rgb(220, 220, 220);
    padding: 0 20px;
}

.steps-div h2 {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.steps-div p {
    font-size: 17px;
    color: rgb(75, 75, 75);
    letter-spacing: 0.2px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.promotion-1-2-sec {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
}

.promotion-1-div {
    height: 100%;
    width: 35%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.promotion-2-div {
    height: 100%;
    width: 35%;
    margin-left: 15%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.promotion-1-div h2, .promotion-2-div h2 {
    font-size: 38px;
    margin-bottom: 20px;
    text-align: left;
    letter-spacing: 0.4px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.promotion-1-div p, .promotion-2-div p {
    font-size: 18px;
    color: rgb(143, 149, 163);
    margin-bottom: 20px;
    letter-spacing: 0.2px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.promotion-img-1 {
    height: 100%;
    width: 50%;
    background-image: url("/resources/images/non-catalog-image/pages/main_promotion_1.jpeg");
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    overflow-y: hidden;
}

.promotion-img-2 {
    height: 100%;
    width: 50%;
    background-image: url("/resources/images/non-catalog-image/pages/main_promotion_2.jpeg");
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    overflow-y: hidden;
}

.trending-prd-sec {
    height: 110vh;
    width: 100%;
    padding: 5vh 0;
}

.tranding-hdr {
    height: 78px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.tranding-hdr span {
    height: calc(100% - 25px);
    padding: 0 30px;
    font-size: 33px;
}

.tranding-body {
    height: calc(100vh - 170px);
    width: 1140px;
    margin: 10px auto 24px auto;
    overflow-y: hidden;
    a, a:hover{
        color: initial;
    }
    a, a:hover, a:active, a:visited, a:focus {
        text-decoration: none;
    }
}

.tranding-body div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.prom-item-ul {
    position: relative;
    height: calc(100% / 3 - 10px);
    width: calc(100% / 6 - 10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: #fff;
    width: 175px;
    margin: 5px;
    box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.4s ease;
    min-height: 200px;
    transition: all 0.4s ease;
    .prom-item-brand{
        margin-top: 3px;
        font-size: 11px; 
        color: #81848c;
        letter-spacing: 0.2px;
    }
    .prom-item-name {
        height: 30px !important;
        text-align: left; 
        font-size: 13px;
        color: #3e4248;
    }
}

.prom-item-ul:focus{
    outline: none;
}

.prom-item-ul:hover {
    opacity: 0.7 !important;
    box-shadow: 0 0px 4px 2px rgba(0, 0, 0, 0.15);
}

.prom-item-ul li img {
    height: auto;
    width: calc(100% - 50px);
    padding: 5px 0;
}

.item-price{
    height: 45px;
    width: 37px;
    font-size: 12px;
    padding-top: 17px;
    span{
        position: relative; 
        top: -35px; 
        right: -10;
        font-size: 10px; 
    }
}

.tranding-ftr {
    height: 78px;
    width: 100%;
}

.tranding-ftr div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    width: calc(185px * 3 + 40px);
    height: 100%;
    padding: 0 20px;
}

.tranding-prd-type {
    font-size: 25px;
    padding: 5px;
    padding-top: 15px;
    width: 185px;
    text-align: center;
    color: rgb(87, 94, 110);
    letter-spacing: 0.2px;
    transition: all 0.4s ease;
}

.tranding-type-btn {
    color: rgb(4, 160, 121);
    background-color: transparent;
    border: 2px solid rgb(4, 160, 121);
    transition: all 0.4s ease;
}

.subscribe-section {
    width: 1140px;
    height: 180px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.subscribe-div {
    width: 60%;
    display: flex;
    flex-direction: column;
    div{
        display: flex; 
        flex-direction: row;
    }
}

.subscribe-input {
    font-size: 18px;
    height: 50px;
    width: calc( 100% - 180px);
    padding: 12px;
    border-radius: 2px 0 0 2px;
    margin: auto;
    border: 1px solid rgb(0, 204, 153);
    border-right: none;
    transition: width 0.4s ease;
}

.subscribe-input::placeholder {
    color: rgba(0, 0, 0, 0.4);
    font-size: 18px;
}

.subscribe-input:focus {
    box-shadow: 0 0px 6px 2px rgba(3, 189, 142, 0.3);
}

.subscribe-input:focus .subscribe-input::placeholder {
    color: rgba(0, 0, 0, 0.9);
}

.subscribe-button {
    position: relative;
    overflow: hidden;
    width: 180px;
    height: 50px;
    font-size: 18px;
    padding: 0 15px 0 35px;
    background-color: rgb(0, 204, 153);
    color: white;
    margin: 8px 0;
    border: none;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    transition: padding-left 0.3s ease, width 0.4s ease;
}

.subscribe-button-suc {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 50px;
    font-size: 18px;
    padding: 10px 15px 10px 35px;
    background-color: rgb(0, 204, 153);
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    transition: padding-left 0.3s ease;
    border-radius: 2px;
    transition: all 0.8s ease;
}

.subscribe-input-suc {
    width: 0px;
    border: 0;
    padding: 0;
    border-radius: 0px;
    transition: all 0.8s ease;
}

.subscribe-button:hover .CG-done-icon {
    right: -5px;
}

.subscribe-button:hover {
    padding-left: 15px;
}

.subscribe-error-message {
    padding: 1px 1px 1px 1px;
    font-size: 18px;
}

.main-down-arrow-div{
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    outline: none;
    color: #475073e0;
    animation: moveUpDown 2.5s linear infinite;
}

.main-down-arrow-icon{
    font-size: 3.5em;
}

.info-sec-background{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    min-height: 400px;
    color: #cb9c72;
    background-color: #5ece99;

    @media (max-width: 1100px) {
        flex-direction: column;
    }

    .df-condition{
        width: 320px;
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        ul{
            li{
                display: flex; 
                flex-direction: row; 
                align-items: center; 
                color: #cb9c72;
                font-size: 20px;
                ng-md-icon{
                    margin-right: 2px;
                    fill: #5ece99;
                    svg{
                        width: 35px;
                        height: 35px;
                    }
                }
            }
        }
    }
}

.left-info-box{
    position: relative;
    height: 80%;
    width: 40%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;

    border-radius: 10px;
    z-index: 2;

    -webkit-box-shadow: 0 0px 15px 6px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 15px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0px 15px 6px rgba(0, 0, 0, 0.15);

    .header{
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-bottom: 0.5px solid #cb9c72;

        h2{
            font-size: 35px;

            @media (max-width: 1100px) {
                font-size: 30px;
            }
        }
    }

    .lead-sec{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;

        .leader{
            font-size: 50px;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

            @media (max-width: 1100px) {
                font-size: 40px;
            }
        }

        .follower{
            font-size: 22px;
            padding: 20px;

            @media (max-width: 1100px) {
                font-size: 18px;
            }
        }
    }

    .center-align {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-top: 50px;
    }

    .center-align-secondary {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;

        p {
            font-size: 20px;
        }
    }

    @media (max-width: 1100px) {
        width: 95%;
        margin: 10px 0 10px 0;
        
    }
}

.right-info-box{
    position: relative;
    height: 80%;
    width: 50%;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -10px;

    .header{
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        h2{
            font-size: 35px;
        }
    }

    .lead-sec{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;

        .leader{
            font-size: 50px;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

            @media (max-width: 1100px) {
                font-size: 30px;
                margin: 20px 0 0 0;
            }
        }

        .follower{
            font-size: 22px;
            padding: 20px;

            @media (max-width: 1100px) {
                font-size: 18px;
            }
        }
    }

    .center-align {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-top: 50px;

        p {
            font-size: 20px;
        }
    }

    .center-align-secondary {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 20px 0 0 80px;
        width: 300px;

        p {
            font-size: 20px;
        }

        @media (max-width: 1100px) {
            margin: 20px 0 0 60px;
        }
    }

    .check-row{
        display: flex;
        flex-direction: row;
    }

    @media (max-width: 1100px) {
        width: 100%;
        margin: 10px 0 10px 0;
        border-radius: 0px;
    }
}

/* start of window shrinkage affect solution */
@media (max-width: 1140px) and (min-width: 856px) {
    .homit-nav-content, .steps-div, .subscribe-section {
        width: 855px;
    }

    .promotion-1-div {
        width: 45%;
        min-height: 400px;
    }

    .promotion-2-div {
        width: 45%;
        margin-left: 4%;
        padding-right: 1%;
        min-height: 400px;
    }

    .steps-div {
        padding: 5vh 0;
    }

    .span-text-step {
        display: none;
    }

    .steps-div h2 {
        font-size: 30px;
    }

    .tranding-body {
        width: calc(100vw - 10px);
    }

    .tranding-body div {
        flex-direction: column;
        overflow-x: scroll;
    }

    .store-list-ul {
        width: 800px;
    }

    .store-li img {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 855px) and (min-width: 400px), screen and (max-device-width: 479px) {
    .main-controller {
        background-color: #fff;
    }

    .subscribe-error-message {
        padding-top: 0;
        font-size: 15px;
    }

    .log-in-icon {
        fill: rgb(42, 81, 145);
    }

    .promotion-sec {
        width: 100vw;
    }

    .steps-div {
        width: 100vw;
        height: 535px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0;
        padding: 0;
    }

    .steps-div div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 94%;
        border-left: 2px solid rgb(230, 226, 226);
        margin: 0 3%;
    }

    .steps-div h2 {
        text-align: left;
        font-size: 25px;
        margin-bottom: 15px;
        margin-top: 0;
        margin-bottom: 10px;
        letter-spacing: 0.1px;
    }

    .steps-div p {
        font-size: 16px;
        margin-bottom: 0;
        color: #8f95a3;
    }

    .span-text-step {
        display: none;
    }

    .promotion-1-2-sec {
        margin-top: 35px;
        width: 100vw;
        height: 470px;
        display: flex;
        flex-direction: column;
    }

    .prm-sec-2-mob {
        flex-direction: column-reverse;
    }

    .promotion-img-1 {
        position: relative;
        height: 45%;
        width: auto;
        background-attachment: inherit !important;
        background-position: center;
        background-size: cover;
    }

    .promotion-1-div h2, .promotion-2-div h2 {
        font-size: 27px;
        margin-bottom: 10px;
        text-align: center;
        letter-spacing: 0.1px;
    }

    .promotion-1-div, .promotion-2-div {
        height: 58%;
        width: 100%;
        padding-left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 0;
    }

    .promotion-1-div p, .promotion-2-div p {
        margin-bottom: 16px;
        margin-top: 16px;
        text-align: center;
    }

    .CG-cur-button {
        margin: 0 auto;
    }

    .promotion-img-2 {
        position: relative;
        height: 45%;
        width: auto;
        background-attachment: inherit !important;
        background-position: center;
        background-size: cover;
    }

    .tranding-body {
        width: calc(100vw - 10px);
    }

    .tranding-body div {
        flex-direction: column;
        overflow-x: scroll;
    }

    .prom-item-ul {
        width: calc(( 100vw - 30px)/2);
        height: 180px;
    }

    .tranding-ftr {
        height: 55px;
    }

    .tranding-btn-mob {
        width: 33%;
    }

    .subscribe-section {
        width: 100vw;
        height: 110px;
    }

    .subscribe-div {
        width: calc(100% - 10px);
    }

    .subscribe-button {
        width: 100px;
        font-size: 14px;
        padding: 0;
    }

    .subscribe-input {
        width: calc(100% - 100px);
        font-size: 16px;
    }

    .subscribe-input::placeholder {
        color: rgba(0, 0, 0, 0.4);
        font-size: 16px;
    }

    .CG-done-icon {
        display: none;
        padding-left: 0;
    }
}

@media (max-width: 855px) and (min-width: 571px) {
    .main-page-address-box, .address-input-sec, .predictions-container {
        width: 570px;
        transition: initial;
    }

    .address-input {
        width: 556px;
    }

    .landing-message, .location-msg {
        font-size: 35px;
    }
}

@media (max-width: 570px) {
    .homit-nav-content, .main-page-address-box, .address-input-sec {
        width: 400px;
        transition: initial;
    }

    #sign-btns {
        display: flex;
    }

    .address-input {
        width: 386px;
    }

    .landing-message, .location-msg {
        font-size: 28px;
    }
}

@media (max-height: 680px) and (min-width: 600px) {
    .store-div-main {
        height: 150px;
    }

    .store-li img {
        height: 120px;
        width: 120px;
    }

    .store-li span {
        font-size: 14px;
        padding: 2px 5px;
    }

    .main-page-address-box {
        top: 40px;
    }

    .landing-message-box {
        top: 20px;
    }

    .landing-message {
        font-size: 40px;
    }

    .predictions-container {
        max-height: 200px;
    }

    .predictions-item {
        line-height: 33px;
        font-size: 16px;
    }
}

@media (max-width: 855px) and (min-width: 755px) {
    .store-li img {
        width: 155px;
        height: 155px;
        transition: all 0.3s ease;
    }

    .store-list-ul {
        width: 650px;
    }

    .store-li img {
        width: 130px;
        height: 130px;
    }
}

@media (max-width: 754px) and (min-width: 700px) {
    .store-li img {
        width: 150px;
        height: 150px;
        transition: all 0.3s ease;
    }

    .store-list-ul {
        width: 550px;
    }

    .store-li img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 699px) and (min-width: 650px) {
    .store-li img {
        width: 145px;
        height: 145px;
        transition: all 0.3s ease;
    }
}

@media (max-width: 699px) and (min-width: 560px) {
    .address-section {
        overflow-x: hidden;
    }

    .store-list-ul {
        width: 600px;
    }

    .store-li img {
        width: 130px;
        height: 130px;
    }

    .img-object {
        animation: icon-move-x 20000ms linear infinite;
    }
}

@media (max-width: 559px) and (min-width: 480px) {
    .store-list-ul {
        width: 500px;
    }

    .store-li img {
        width: 120px;
        height: 120px;
    }

    .img-object {
        animation: icon-move-x 20000ms linear infinite;
    }
}

@media (max-width: 579px) and (min-width: 400px) {
    .address-section {
        overflow-x: hidden;
    }

    .store-list-ul {
        width: 450px;
    }

    .store-li img {
        width: 110px;
        height: 110px;
    }

    .img-object {
        animation: icon-move-x 20000ms linear infinite;
    }

    .free-txt {
        font-size: 13px;
        letter-spacing: 0.3px;
    }
    
    .delivery-txt {
        font-size: 8px;
    }
}

.LS-move {
    animation-name: icon-move-y;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.LIM-move {
    animation-name: icon-move-y;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* start of non-mobile/tablet styles */
@media screen and (min-device-width: 768px) {
}

/* start of medium tablet styles */
@media screen and (max-device-width: 768px) and (min-device-width: 480px) {

    .homit-nav-content {
        .logo-sec{
            display: initial !important;
            margin-bottom: 0px;
            .logo-img {
                width: 108px;
                height: 33px;
            }
        }
    }

    .promotion-1-2-sec{
        margin-top: 10px;
        height: 435px;
    }

    .promotion-1-div, .promotion-2-div{
        padding: 0 2.5%;
    }

    .trending-prd-sec{
        padding-top: 0px;
    }

    .button-sec{
        display: initial;
        #sign-btns{
            display: initial;
            .signUp-btn{
                display: none;
            }
        }
    }

    .hdr-logo-H{
        display: none;
    }

    .homit-nav-content {
        .logo-sec{
            margin-bottom: 0px;
            .logo-img {
                width: 108px;
                height: 33px;
            }
        }
    }

    #sign-btns{
        width: 175px;
    }

    .logIn-btn{
        text-align: center;
    }

    .signUp-btn{
        display: initial !important;
    }

}

/* start of phone styles */
@media screen and (max-device-width: 479px) and (min-device-width: 360px) {
    .store-div-main {
        width: 100vw;
        height: 150px;
    }

    .store-list-ul {
        width: 100vw;
    }

    .store-li {
        position: relative;
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 0 10px;
    }

    .store-li img {
        width: calc((100vw - 3*2*15px)/3);
        height: calc((100vw - 3*2*15px)/3);
        box-shadow: 0 0px 6px 3px rgba(0, 0, 0, 0.15);
        user-select: none;
    }

    #address {
        overflow-x: hidden;
    }

    .store-li:hover span {
        opacity: initial;
        -webkit-transform: translate(-50%, -15px);
        transform: translate(-50%, -15px);
    }

    .store-li span {
        bottom: -20px;
        left: 50%;
        padding: 4px;
        font-size: 11px;
        transform: translate(-50%, -55px);
        opacity: 1;
        user-select: none;
    }

    .store-li:hover img {
        box-shadow: 0 0px 6px 2px rgba(0, 0, 0, 0.4);
        transition: all 0.4s ease-out;
    }

    .address-input-span input::-webkit-input-placeholder {
        font-family: 'Nunito', sans-serif;
        font-size: 20px !important;
        color: rgba(0, 0, 0, 0.45);
        text-transform: none;
    }

    .landing-message-box {
        top: 30px;
    }

    .logIn-btn {
        margin-right: 5px;
    }
}

@media screen and (max-device-width: 479px) {

    .homit-nav-content {
        .logo-sec{
            display: initial !important;
            margin-bottom: 0px;
            .logo-img {
                width: 108px;
                height: 33px;
            }
        }
    }

    .store-li:hover span {
        opacity: initial;
        -webkit-transform: translate(-50%, -55px);
        transform: translate(-50%, -55px);
    }

    .log-in-icon {
        fill: rgb(42, 81, 145);
    }

    .promotion-1-div, .promotion-2-div{
        padding: 0 2%;
    }

    .tranding-body {
        height: 420px;
    }

    .trending-prd-sec {
        height: 660px;
    }

    .right-info-box{
        .header{
            top: -20px;
            h2{
                font-size: 27px;
            }
        }
        .lead-sec{
            .leader{
                font-size: 35px;
            }
        }
        .center-align{
            margin-top: 23px;
        }
        .center-align-secondary p{
            font-size: 19px;
            margin: 5px;
            margin-top: 0;
        }
    }

    .check-mark-icon{
        width: 30px;
        height: 30px;
    }

    .logIn-btn {
        display: flex;
        align-items: center;
        padding: 5px;
        font-size: 17px;
        margin-right: 5px;
    }

    .store-li-footer {
        top: -40px;
        left: calc((100% - 220px)/2);
        font-size: 25px;
        opacity: 0.8;
    }

    .store-li-free-delivery {
        top: -15px;
        right: -15px;
        padding: 8px;
    }
    
    .free-txt {
        font-size: 12px;
        letter-spacing: 0.6px;
    }
    
    .delivery-txt {
        color: white;
        font-size: 8px;
        text-align: center;
    }

    .main-down-arrow-icon{
        font-size: 2.5em;
    }

    .img-object {
        animation: icon-move-x 30000ms linear infinite;
    }

    .LS-move {
        animation-duration: 5500ms;
    }

    .LIM-move {
        animation-duration: 8s;
    }

    .promotion-1-2-sec{
        margin-top: 10px;
    }

    .info-sec-background{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
        min-height: 400px;
        color: #cb9c72;
        background-color: #5ece99;
    
        @media (max-width: 1100px) {
            flex-direction: column;
        }

        .left-info-box{
            .header h2{
                font-size: 20px;
            }
        }

        .check-row{
            .check-mark-icon{
                height: 22px;
                width: 22px;
                margin: 0 3px 3px 0;
            }
            p{
                font-size: 17px;
            }
        }

        .right-info-box{
            .center-align-secondary{
                margin: 10px 0 0 60px;
            }
        }
    
        .df-condition{
            ul{
                li{
                    font-size: 17px;
                    ng-md-icon{
                        svg{
                            width: 22px;
                            height: 22px;
                        }
                    }
                }
            }
        }
    }

    .homit-nav-content {
        .logo-sec{
            margin-bottom: 0px;
            .logo-img {
                width: 108px;
                height: 33px;
            }
        }
    }

    .hdr-logo-H{
        display: none;
    }

    #sign-btns{
        width: 161px;
    }

    .logIn-btn{
        text-align: center;
    }
    
    .signUp-btn{
        display: initial !important;
    }

    .address-section {
        background-attachment: inherit !important;
        /*forces the browser to use hardware acceleration to access the device’s GPU (Graphical Processing Unit)*/
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
    }
}

@media screen and (max-device-width: 359px) {
    .store-div-main {
        width: 100vw;
        height: 130px;
    }

    .store-list-ul {
        width: 100vw;
    }

    .store-li {
        position: relative;
        margin: 0 5px;
    }

    .store-li img {
        width: calc((100vw - 3*2*10px)/3);
        height: calc((100vw - 3*2*10px)/3);
        box-shadow: 0 0px 6px 3px rgba(0, 0, 0, 0.15);
        user-select: none;
    }

    .store-li:hover span {
        opacity: initial;
        -webkit-transform: translate(-50%, -55px);
        transform: translate(-50%, -15px);
    }

    .store-li span {
        bottom: -30px;
        padding: 3px;
        font-size: 10px;
        transform: translate(-50%, -55px);
        opacity: 1;
        user-select: none;
    }

    .landing-message-box {
        top: 20px;
    }

    .main-page-address-box {
        top: 40px;
    }

    .logIn-btn {
        margin-right: 5px;
    }

    .promotion-sec {
        height: 1610px;
    }

    .promotion-1-2-sec {
        height: 500px;
    }

    .tranding-hdr span {
        font-size: 31px;
    }
}

.check-mark-icon{
    margin: 0 10px 10px 0;
    color: white;
    height: 35px;
    width: 35px;
}