ul {list-style-type: none;}
li {list-style-type: none;}
.ul-zero-margin-padding{
    margin: 0; padding: 0;
}
.none{
    display: none;
}
.address-section, .about-homit-section, .homit-hub-section{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.address-section{
    background-image: url('/resources/images/non-catalog-image/pages/calgary.jpg');
    min-height: 100vh;
}
.about-homit-section{
    background-color: rgba(255,255,255,1);
    min-height: 100vh;
}
.homit-hub-section{
    background-image: url('/resources/images/non-catalog-image/homit_hub/homit-hub-cover.png');
    min-height: 100vh;
}

body{
    background-color: transparent;
    letter-spacing: 0.01em;
    font-family: 'Nunito', sans-serif;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.srchAddrsC{
    width: 730px; 
    height: 60px;
    display: flex; justify-content: center; align-items: center;
    background-color: rgba(255,255,255,1);
    border-radius: 5px;
    box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.8);
    transition: all 0.4s ease-in;
}
.covergae-map-box{
    display: flex; justify-content: center;
    width: 716px; height: 0px; 
    background-color: white; 
    text-align: center; 
}
.srchAddrsCA{
    position: relative;
    display: flex; align-items: center;
}
.srchAddrsCAA{
    position: absolute; padding-left: 5px;
}
.srchAddrsCAAA{
    fill: rgba(42,81,245,0.9);
}
.srchAddrsCAAA svg{
    width: 35px; height: 35px;
}
.srchAddrsCAB{
    padding-left: 40px;
    width: 716px; height: 46px;
    font-size: 18px;
    color: rgba(0,0,0,0.85);
    border: 1px solid rgba(200,200,200,0.8); border-radius: 2px;
    outline-width: 0;
}
.srchAddrsCAC{
    position: absolute; 
    right: 0; top: 0;
    min-width: 45px; min-height: 45px; margin: 0;
}
.srchAddrsCACA{
    fill: rgba(0,0,0,0.4);
}
.srchAddrsCACA svg{
    width: 20px; height: 20px;
}
#homit-order-steps{
    background-color: white;
}
.order-steps-section{
    display: flex; flex-direction: row; 
    justify-content: space-around;
    height: 100%; 
}
.order-step{
    height: 100%;
    text-align: center; display: flex; flex-flow: column; justify-content: center; align-items: center;
}
.order-step-img{
    width: 300px; height: 300px; 
    filter: drop-shadow(0 0px 6px rgba(0,0,0,0.65));
}
.order-step-header{
    margin-top: 50px;
    text-align: center; 
}
.order-step-p{
    margin: 30px 5% 0 5%;
    padding-left: 15px;
    font-size: 17px;
    text-align: left; 
    border-left: 2px solid rgba(42, 81,145, 0.4); 
}

.area-map{
    position: relative;
    height: 100%; width: 100%;
    border-radius: 0 0 3px 3px;
}
.area-map-text-box{
    position: relative; 
    top: 40%;
    margin: 0; padding: 0;
}
.area-map-text-A{
    display: flex; justify-content: center;
    font-size: 35px; font-weight: 450; 
}
.area-map-text-B{
    display: flex; justify-content: center;
    font-size: 25px; font-weight: 400; 
}
.addressMessage{
    position: absolute;
    display: none;
    width: 100%;
    height: 35px;
    margin-top: 10px; 
    z-index: 100;
}
.addressMessage-text{
    font-size: 20px; font-weight: 400;  
    color: rgba(42,81,145,1);
}
.addressMessage-show{
    display: flex;
    justify-content: center; align-items: center;
    transition: all 0.3s ease;
}
.message-cover{
    position: absolute;
    width: 97%; height: 40px;
    background-size: cover;
    overflow: hidden;
    background-color: rgba(255,255,255,1);
    filter: blur(9px);
    z-index: -1;
}
.homit-hub{
    color: white;
}
.homit-hub-text{
    color: rgba(255,255,255,0.95);
    letter-spacing: 0.065em;
    -webkit-font-smoothing: antialiased;
}
.homit-hub-header{
    position: relative; 
    bottom: 50px; 
    display: flex; justify-content: center;
    font-weight: 400; font-size: 50px; 
}
.homit-hub-stores{
    position: relative;
    top: 30%;
    margin: 0; padding: 0; 
    display: flex; 
    justify-content: center; 
}
.store-window{
    height: 300px; width: 250px; 
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 5px; 
    outline: none;
    box-shadow: 0 0px 5px 2px rgba(255,255,255,0.5);
    transition: background-color 0.3s;
}
.store-background-image{
    background-color: rgba(255,255,255,0.4);
}
.store-window:hover .store-background-image{
    background-color: rgba(255,255,255,0.8); 
    transition: all 0.3s ease;
}
.store-window:focus {
    outline: 0;
}
.store-background-image{
    position: absolute;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
    z-index: 0;
}
#snack-vendor-icon{
    background-image: url('/resources/images/non-catalog-image/homit_hub/snack-vendor_icon.png'); 
}
#liquor-station-icon{
    background-image: url('/resources/images/non-catalog-image/homit_hub/liquor-station_icon.png'); 
}
.store-window a:hover{
    color: rgba(0,0,0,1);
}
.store-window h3{
    position: relative;
    margin-top: 15px;
    font-weight: 400; font-size: 20px; 
    text-align: center;
    text-transform: uppercase;
    z-index: 100;
}
.store-window button{
    position: absolute; 
    bottom: 10px; 
    width: 220px;
    height: 40px; 
    margin-left: 15px;
    font-size: 20px !important; font-weight: 500; 
    background-color: rgba(42,81,145,1); 
    border: 1px solid rgba(42,81,145,1); border-radius: 3px; 
    color: rgba(255,255,255,1); text-transform: uppercase; 
    box-shadow: none;
    transition: background-color 0.3s;
}
.store-name-text{
    color: rgba(0,0,0,1); font-weight: 600;
}
.snack-vendor{
    margin-right: 5%;
}
.liquor-station{
    margin-left: 5%;
}
.main-page-address-box{
    position: relative;
    width: 730px;
    z-index: 1; 
}
.main-page-address-box-text{
    text-align: center; 
    font-size: 38px; font-weight: 500;
    color: rgba(255,255,255,1); 
    letter-spacing: 0.065em; 
    text-shadow: 0 2px 10px rgba(0,0,0,1); 
}
md-toolbar{
    position: fixed;
    background-color: transparent !important;
}
nav{
    position: fixed;
    z-index: 1000;
}
.go-to-homit-hub button{
    background-color: transparent; border: transparent;
}
.go-to-homit-hub-icon{
    width: 44px; height: 44px;
}

@media (min-width: 300px){
    .go-to-homit-hub {
        outline:0;
        filter: drop-shadow(0 0px 1px rgba(0,0,0,0.7));
        animation: MoveUpDown 2s linear infinite;
        position: absolute;
        margin: 0 auto 0 auto;
      }
      button:focus {outline:0;}
      
      @keyframes MoveUpDown {
        0% {
          bottom: 0;
        }
        50% {
          bottom: 20px;
        }
        100% {
          bottom: 0;
        }
      }
}

@media (max-width: 750px) and (min-width: 600px){
    .main-page-address-box{
        width: 500px;
    }
    .covergae-map-box{
        width: 486px;
    }
    .main-page-address-box-text{
        font-size: 28px;
    }
    .srchAddrsC{
        width: 500px;
    }
    .srchAddrsCAB{
        width: 486px;
    }
}

@media (max-width: 599px) and (min-width: 300px){
    .main-page-address-box{
        width: 400px;
    }
    .covergae-map-box{
        width: 386px;
    }
    .main-page-address-box-text{
        font-size: 22px;
    }
    .srchAddrsC{
        width: 400px;
    }
    .srchAddrsCAB{
        width: 386px;
    }
    .homit-hub-header{
        top: 15%; 
        font-size: 40px; 
    }
    .homit-hub-stores{
        top: 30%;
    }
    .store-window{
        height: 200px; width: 150px; 
    }
    .store-window h3{
        font-size: 15px; 
    }
    .store-window button{
        width: 120px;
        height: 30px; 
        font-size: 15px !important; 
    }
}

@media (max-width: 549px) and (min-width: 430px){
    .homit-hub-header {
        font-size: 35px;
    }
}

@media (max-width: 429px){
    .full-screen{
        width: 400px;
        overflow-x: scroll !important;
    }
    .homit-hub-header {
        font-size: 30px;
    }
}

@media (max-width: 1180px) and (min-width: 1050px){
    .order-step-img{
        width: 250px; height: 250px;
    }
}

@media (max-width: 1049px) and (min-width: 900px){
    .order-step-img{
        width: 200px; height: 200px;
    }
}

@media (max-width: 899px) and (min-width: 750px){
    .order-step-img{
        width: 150px; height: 150px;
    }
}

@media (max-width: 749px) and (min-width: 400px){
    .order-steps-section{
        display: flex; 
        flex-direction: column; 
        align-items: center;
        height: 100%; 
        width: 100%;
    }
    .order-step{
        padding-top: 10px;
        max-width: 90% !important;
    }
    .order-step-img{
        width: 200px; height: 200px;
    }
    .order-step-p{
        display: none;
    }
    .order-step-header{
        margin-top: 15px;
        font-size: 25px;
    }
}

/* Mobile Devices */
@media screen and (max-device-width: 500px) {
    .address-section, .about-homit-section, .homit-hub-section{
        background-attachment: scroll;
    }
    #address{
        height: 100% !important;
    }
    .go-to-homit-hub{
        display: none;
    }
    .area-map-text-box{
        top: 600px;
    }
    .area-map{
        width: 90%;
    }
    .addressMessage-text{
        bottom: 500px;
        font-size: 55px;
        text-align: center;
        padding: 5px;
    }
    md-toolbar{
        margin-top: 15px;
    }
    .main-page-address-box{
        width: 95%;
    }
    .srchAddrsCAB{
        padding-left: 85px;
        width: 92vw; height: 100px;
        font-size: 45px;
        color: rgba(0,0,0,0.85);
        border: 1px solid rgba(200,200,200,0.8); border-radius: 2px;
        outline-width: 0;
    }
    .srchAddrsC{
        width: 100%;
        height: 114px;
        background-color: rgba(255,255,255,1);
        border-radius: 5px;
        box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.8);
    }
    .message-cover{
        filter: blur(30px);
    }
    .covergae-map-box{
        height: 480px;
        width: 92vw;
    }
    .area-map{
        width: 100%;
    }
    .addressMessage{
        margin-top: 25px;
    }
    .addressMessage-text{
        font-size: 45px;
    }
    .srchAddrsCAA{
        position: absolute; padding-left: 5px;
    }
    .srchAddrsCAAA{
        fill: rgba(42,81,245,0.9);
    }
    .srchAddrsCAAA svg{
        width: 80px; height: 80px;
    }
    .srchAddrsCAC{
        position: absolute; 
        right: 0;
        min-width: 95px; min-height: 95px; 
        margin-top: 2px; margin-left: 2px;
        background-color: rgba(255,255,255,0.95);
    }
    .srchAddrsCACA{
        fill: rgba(0,0,0,0.3);
    }
    .srchAddrsCACA svg{
        width: 60px; height: 60px;
    }
    .main-page-address-box-text{
        font-size: 63px;
        margin-bottom: 30px;
    }
    .area-map-text-A{
        font-size: 55px;
        font-weight: 500;
        text-shadow: 0 2px 4px rgba(0,0,0,1);
    }
    .area-map-text-B{
        font-size: 35px;
        font-weight: 200;
    }
    .homit-hub-header{
        top: 20%; 
        font-size: 80px; 
    }
    .homit-hub-stores{
        top: 35%;
    }
    .store-window{
        height: 450px; width: 350px; 
    }
    .store-name-text{
        font-weight: 400;
    }
    .store-window h3{
        font-size: 33px; 
    }
    .store-window button{
        width: 310px;
        height: 80px;
        margin-left: 20px; 
        font-size: 30px !important; 
    }

    .order-steps-section{
        display: flex;
        flex-direction: column;
    }
    .order-step{
        max-width: 100vw !important;
    }
    .order-step-p{
        width: 70%;
        margin: auto;
    }
    .order-step-header {
        margin-top: 30px;
        font-size: 40px;
    }
    .order-step-p{
        font-size: 23px;
    }
    .order-step-img {
        width: 200px;
        height: 200px;
    }
}

//Out of Coverage grow box
.address-box-grow-screen{
    height: 410px;
    transition: all 0.3s ease-in;
}
.covergae-map-box-grow-screen{
    height: 340px;
    transition: all 0.3s ease-in;
}

.address-box-grow-mob{
    height: 600px;
    transition: all 0.3s ease-in;
}
.covergae-map-box-grow-mob{
    height: 480px;
    transition: all 0.3s ease-in;
}
