ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

.ul-zero {
    margin: 0;
    padding: 0;
}

.box-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    background-color: rgba(255, 255, 255, 1);
}

body {
    background-color: transparent;
    letter-spacing: 0.01em;
    font-family: 'Nunito', sans-serif;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.none {
    display: none;
}

.user-signed-btn ng-md-icon{
    fill: rgb(42,81,145);
}

.address-input-span input::-webkit-input-placeholder {
    font-family: 'Nunito', sans-serif;
    font-size: 21px !important;
    color: rgba(0, 0, 0, 0.45);
    text-transform: none;
}

.store-list-ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 850px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

.store-list-ul li {
    outline: none;
}

.store-li {
    position: relative;
    display: block;
    margin: 0 20px;
}

.store-li span {
    position: absolute;
    will-change: opacity, transform;
}

.loc-sucsess-msg {
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    padding: 15px 0;
    text-align: center;
    user-select: none;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    border-radius: 10px;
    opacity: 0;
    z-index: -1;
    will-change: opacity, width;
}

.loc-sucsess-msg-txt{
    color: #396885;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 0.065em;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.main-trans-prop {
    color: #396885;
    user-select: none;
    will-change: opacity, transform;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    border-radius: 10px;
    opacity: 0;
}

.store-li span {
    left: 50%;
    bottom: -20px;
    padding: 4px 10px;
    font-size: 16px;
    transform: translate(-50%, -15px);
    white-space: nowrap;
    transition: opacity, transform 0.25s ease-out;
}

.store-li:hover span {
    opacity: 1;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

.store-li img {
    height: 160px;
    width: 160px;
    filter: grayscale(100%);
    border-radius: 75px;
    will-change: padding, height, width;
    transition: all 0.4s ease-out;
}

.store-li:hover img {
    filter: grayscale(0%);
    box-shadow: 0 0px 6px 3px rgba(0, 0, 0, 0.15);
    transition: all 0.4s ease-out;
}

.search-sec, .hub-btn {
    display: none;
}

.homit-nav, .user-signed-btn {
    background-color: transparent;
}

.homit-nav {
    position: absolute;
}

.logIn-btn {
    border-color: rgba(42, 81, 145, 0.5);
    color: rgb(42, 81, 145);
    background-color: transparent;
    transition: all 0.3s ease;
}

.logIn-btn:hover {
    background-color: rgba(42, 81, 145, 0.05);
    box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.signUp-btn {
    color: #fff;
    background-color: rgb(42, 81, 145);
    transition: all 0.3s ease;
}

.signUp-btn:hover {
    background-color: rgba(42, 81, 145, 0.95);
    box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.white-logo {
    display: none;
}

.rgb-logo {
    display: initial;
}

.logo-img {
    filter: drop-shadow(0 0px 2px rgba(0, 0, 0, 0.3));
}

.full-screen {
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll;
}

.address-section, .about-homit-section, .coverage-map-sec {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
}

.address-section {
    background-image: url("/resources/images/non-catalog-image/cover-image/calgary.jpg");
}

.coverage-map-sec {
    background-image: url("/resources/images/non-catalog-image/cover-image/map_cover.png");
    display: flex;
    flex-direction: column;
}

.predictions-container {
    width: 540px;
    z-index: 1;
}

.address-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.store-div-main {
    position: relative;
    height: 230px;
    width: 100%;
    background-color: rgba(230, 230, 230, 1);
    box-shadow: 0 0px 6px 2px rgba(0, 0, 0, 0.2);
}

.address-input-sec {
    position: relative;
    width: 550px;
    height: 55px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: all 0.4s ease-in;
}

.address-input-span {
    position: relative;
    display: flex;
    align-items: center;
}

.place-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    fill: rgba(0, 0, 0, 0.6);
    z-index: 1;
    transition: all 0.4s ease-in;
}

.place-icon svg {
    width: 36px;
    height: 36px;
}

.address-input {
    padding-left: 40px;
    width: 540px;
    height: 47px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.85);
    border: 1px solid rgba(200, 200, 200, 0.8);
    border-radius: 1px;
    outline-width: 0;
    transition: all 0.4s ease;
}

.address-input-btn {
    position: absolute;
    right: 1px;
    top: 2px;
    min-width: 47px;
    min-height: 43px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0;
}

.address-input-icon {
    fill: rgba(42, 81, 145, 0.9);
}

.address-input-icon svg {
    width: 25px;
    height: 25px;
}

.about-homit-section {
    width: 1140px;
    margin: auto;
    min-height: 100vh;
}

#homit-order-steps {
    background-color: rgb(251, 251, 251);
    overflow-y: hidden;
}

.order-steps-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

.order-step {
    height: 100%;
    text-align: center;
    flex-flow: column;
}

.order-stp-1-img {
    margin-top: 20px;
}

.order-step-img {
    width: 250px;
    height: 250px;
    filter: drop-shadow(0 0px 6px rgba(0, 0, 0, 0.65));
    transition: all 0.3s ease;
}

.order-step-header {
    margin-top: 50px;
    text-align: center;
}

.order-step-p {
    margin: 30px 5% 0 5%;
    padding-left: 15px;
    font-size: 17px;
    text-align: left;
    border-left: 2px solid rgba(42, 81, 145, 0.4);
}

.address-message {
    position: relative;
    top: -20px;
    height: 35px;
    text-align: center;
    z-index: 100;
}

.address-message-text {
    padding: 10px 20px;
    font-size: 30px;
    color: rgba(42, 81, 145, 1);
}

.message-cover {
    position: absolute;
    width: 100%;
    height: 40px;
    background-size: cover;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 1);
    filter: blur(9px);
    z-index: -1;
}

.map-container {
    width: 1140px;
    margin: auto;
}

#map {
    position: relative;
    height: 60%;
    width: 90%;
    border-radius: 20px;
    position: relative;
    margin: auto;
    box-shadow: 0 0px 6px 3px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.coverage-txt {
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}

.main-page-address-box {
    position: relative;
    top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    z-index: 1;
}

.landing-message-box {
    position: relative;
    top: 50px;
}

.landing-message {
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 0.065em;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    color: rgba(203, 157, 114, 1);
    user-select: none;
}

.fadeIn {
    animation: fadein 0.2s;
}

/* start of window shrinkage affect solution */
@media (max-width: 1140px) and (min-width: 856px) {
    .homit-nav-content, .about-homit-section, .map-container {
        width: 855px;
    }

    .store-list-ul{
        width: 800px;
    }
    .store-li img{
        width: 150px;
        height: 150px;
    }

    .order-step-img {
        width: 200px;
        height: 200px;
        transition: all 0.3s ease;
    }

    .order-step-header {
        font-size: 25px;
    }

    .order-step-p {
        font-size: 15px;
    }

    .order-stp-1-img {
        margin-top: 45px;
    }
}

@media (max-width: 855px) and (min-width: 755px) {
    .store-li img {
        width: 155px;
        height: 155px;
        transition: all 0.3s ease;
    }

    .store-list-ul {
        width: 650px;
    }

    .store-li img{
        width: 130px;
        height: 130px;
    }
}

@media (max-width: 754px) and (min-width: 700px) {
    .store-li img {
        width: 150px;
        height: 150px;
        transition: all 0.3s ease;
    }

    .store-list-ul {
        width: 550px;
    }

    .store-li img{
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 699px) and (min-width: 650px) {
    .store-li img {
        width: 145px;
        height: 145px;
        transition: all 0.3s ease;
    }
}

@media (max-width: 699px) and (min-width: 560px) {

    .store-list-ul {
        width: 600px;
    }

    .store-li img{
        width: 130px;
        height: 130px;
    }

    .img-object{
        animation:icon-move-x 20000ms linear infinite;
    }

}

@media (max-width: 559px) and (min-width: 480px) {

    .store-list-ul {
        width: 500px;
    }

    .store-li img{
        width: 120px;
        height: 120px;
    }

    .img-object{
        animation:icon-move-x 20000ms linear infinite;
    }
}

@media (max-width: 579px) and (min-width: 400px) {

    .store-list-ul {
        width: 450px;
    }

    .store-li img{
        width: 110px;
        height: 110px;
    }

    .img-object{
        animation:icon-move-x 20000ms linear infinite;
    }
}

@media (max-width: 855px) and (min-width: 571px) {
    .main-page-address-box, .address-input-sec, .predictions-container, .about-homit-section, .map-container {
        width: 570px;
        transition: initial;
    }

    .address-input {
        width: 556px;
    }

    .landing-message, .loc-sucsess-msg {
        font-size: 35px;
    }

    .order-steps-section {
        flex-direction: column;
        width: 90%;
    }

    .order-step {
        max-width: 100%;
    }

    .order-step-img {
        width: 100px;
        height: 100px;
        transition: all 0.3s ease;
    }

    .order-step-header {
        font-size: 25px;
        margin: 10px 0;
    }

    .order-step-p {
        font-size: 12px;
    }

    .order-stp-1-img {
        margin-top: 0px;
    }

    article br {
        display: none;
    }
}

@media (max-width: 570px) {
    .homit-nav-content, .main-page-address-box, .address-input-sec, .about-homit-section, .map-container {
        width: 400px;
        transition: initial;
    }

    #sign-btns {
        display: flex;
    }

    .address-input {
        width: 386px;
    }

    .landing-message, .loc-sucsess-msg {
        font-size: 28px;
    }

    .order-steps-section {
        flex-direction: column;
        width: 90%;
    }

    .order-step {
        max-width: 100%;
    }

    .order-step-p {
        color: rgba(255, 255, 255, 1);
        font-size: 1px;
    }

    .order-step-img {
        width: 150px;
        height: 150px;
        transition: all 0.3s ease;
    }

    article br {
        display: none;
    }

    .address-message-text {
        font-size: 25px;
    }
}

@media (max-height: 680px) and (min-width: 600px) {
    .order-step-img {
        width: 170px;
        height: 170px;
    }

    .store-div-main {
        height: 150px;
    }

    .store-li img {
        height: 120px;
        width: 120px;
    }

    .store-li span {
        font-size: 14px;
        padding: 2px 5px;
    }

    .main-page-address-box {
        top: 40px;
    }

    .landing-message-box {
        top: 20px;
    }

    .landing-message {
        font-size: 40px;
    }

    .predictions-container {
        max-height: 200px;
    }

    .predictions-item {
        line-height: 33px;
        font-size: 16px;
    }
}

.LS-move {
    animation-name: icon-move-y;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.LIM-move {
    animation-name: icon-move-y;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* start of non-mobile/tablet styles */
@media screen and (min-device-width: 768px) {}

/* start of medium tablet styles */
@media screen and (max-device-width: 767px) and (min-device-width: 480px) {}

/* start of phone styles */
@media screen and (max-device-width: 479px) and (min-device-width: 360px) {
    .store-div-main {
        width: 100vw;
        height: 150px;
    }

    .store-list-ul {
        width: 100vw;
    }

    .store-li {
        position: relative;
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 0 10px;
    }

    .store-li img {
        filter: grayscale(0%);
        width: calc((100vw - 3*2*15px)/3);
        height: calc((100vw - 3*2*15px)/3);
        box-shadow: 0 0px 6px 3px rgba(0, 0, 0, 0.15);
        user-select: none;
    }

    #address{
        overflow-x: hidden;
    }

    .img-object{
        animation:icon-move-x 20000ms linear infinite;
    }

    .LS-move {
        animation-duration: 4500ms;
    }
    
    .LIM-move {
        animation-duration: 7s;
    }

    .store-li:hover span {
        opacity: initial;
        -webkit-transform: translate(-50%, -15px);
        transform: translate(-50%, -15px);
    }

    .store-li span {
        bottom: -20px;
        left: 50%;
        padding: 4px;
        font-size: 11px;
        transform: translate(-50%, -15px);
        opacity: 1;
        user-select: none;
    }

    .store-li:hover img {
        filter: grayscale(0%);
        box-shadow: 0 0px 6px 3px rgba(0, 0, 0, 0.15);
        transition: all 0.4s ease-out;
    }

    .address-input-span input::-webkit-input-placeholder {
        font-family: 'Nunito', sans-serif;
        font-size: 20px !important;
        color: rgba(0, 0, 0, 0.45);
        text-transform: none;
    }

    .landing-message-box {
        top: 30px;
    }

    .order-step-img {
        width: 70px;
        height: 70px;
        transition: all 0.3s ease;
    }

    article br {
        display: none;
    }

    .order-step-header {
        font-size: 17px;
        margin: 10px 0;
    }

    .order-step-p {
        width: 90%;
        margin-top: 0px;
        color: rgba(0, 0, 0, 0.8);
        font-size: 10px;
    }

    .map-container {
        min-width: 100vw;
        width: 100vw;
    }

    .logIn-btn {
        margin-right: 5px;
    }

    .step-desc-2 {
        display: none;
    }

    .coverage-txt {
        position: relative;
        top: 30px;
    }

    .address-section, .about-homit-section, .coverage-map-sec {
        background-attachment: inherit !important;
        /*forces the browser to use hardware acceleration to access the device’s GPU (Graphical Processing Unit)*/
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
    }

}

@media screen and (max-device-width: 479px){
    .log-in-icon{
        fill: rgb(42, 81, 145);
    }
}

@media screen and (max-device-width: 359px) {
    .store-div-main {
        width: 100vw;
        height: 130px;
    }

    .store-list-ul {
        width: 100vw;
    }

    .store-li {
        position: relative;
        margin: 0 5px;
    }

    .store-li img {
        filter: grayscale(0%);
        width: calc((100vw - 3*2*10px)/3);
        height: calc((100vw - 3*2*10px)/3);
        box-shadow: 0 0px 6px 3px rgba(0, 0, 0, 0.15);
        user-select: none;
    }

    .store-li:hover span {
        opacity: initial;
        -webkit-transform: translate(-50%, -15px);
        transform: translate(-50%, -15px);
    }

    .store-li span {
        bottom: -30px;
        padding: 3px;
        font-size: 10px;
        transform: translate(-50%, -15px);
        opacity: 1;
        user-select: none;
    }

    .store-li:hover img {
        filter: grayscale(0%);
    }

    .landing-message-box {
        top: 20px;
    }

    .main-page-address-box {
        top: 40px;
    }

    .order-step-img {
        width: 50px;
        height: 50px;
        transition: all 0.3s ease;
    }

    article br {
        display: none;
    }

    .order-step-header {
        font-size: 15px;
        margin: 5px 0;
    }

    .order-step-p {
        margin-top: 0px;
        color: rgba(0, 0, 0, 0.8);
        font-size: 10px;
    }

    .logIn-btn {
        margin-right: 5px;
    }

    .step-desc-2 {
        display: none;
    }

    .map-container {
        min-width: 100vw;
        width: 100vw;
    }

    .address-section, .about-homit-section, .coverage-map-sec {
        background-attachment: inherit !important;
        /*forces the browser to use hardware acceleration to access the device’s GPU (Graphical Processing Unit)*/
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
    }
}

@keyframes icon-move-y {
    0%, 100% {
        transform: translate(0, -23px);
    }

    25% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 23px);
    }

    75% {
        transform: translate(0, 0);
    }
}

@keyframes icon-move-x {
    0%, 100% {
        transform: translateX(-65px);
    }

    25% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(65px);
    }

    75% {
        transform: translateX(0);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
