ul {list-style-type: none;}
li {list-style-type: none;}

.full-screen{
    height: 100vh;
    width: 100vw;
}

.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.getting-started{
    background-color: rgba(42,81,145,1);
}
.mainPage-header {
    position: fixed; 
    top: 10; 
    width: 100%; 
    display: flex; 
    align-items: center;
}
.logoTg{
    margin-left: 15px;
}
.logoTgAA{
    width: 120px; height: 37px;
    filter: drop-shadow(0px 0px 7px rgba(0,0,0,0.5));
}
.signTg{
    display: flex; justify-content: flex-end;
}
.signTgAA{
    fill: white; filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.5));
}
.signTgAA svg{
    width: 48px; height: 48px;
}
.signTgAB{
    fill: rgba(255,255,255,0.9);
}
.signTgAB svg{
    width: 50px; height: 50px;
}
.srchAddrs{
    background-color: #5689DD;
}
.srchAddrsC{
    background-color: rgba(255,255,255,0.93); border: 0; border-radius: 5px; padding: 15px 15px 0 15px; position: relative; height: 76px;
}
.srchAddrsCA{
    display: flex; align-items: center;
}
.srchAddrsCAA{
    position: absolute; padding-left: 5px;
}
.srchAddrsCAAA{
    fill: rgba(42,81,245,0.9);
}
.srchAddrsCAAA svg{
    width: 35px; height: 35px;
}
.srchAddrsCAB{
    padding-left: 40px;
    width: 40vw; height: 46px;
    font-size: 18px;
    color: rgba(0,0,0,0.85);
    font-family: "adobe-clean", "adobe-clean-han-japanese", "Helvetica Neue", Helvetica, sans-serif;
    border: 1px solid rgba(200,200,200,0.8); border-radius: 2px;
}
.srchAddrsCAC{
    position: absolute; right: 15px; top: 17px; min-width: 45px; min-height: 45px; margin: 0;
}
.srchAddrsCACA{
    fill: rgba(0,0,0,0.4);
}
.srchAddrsCACA svg{
    width: 20px; height: 20px;
}
.areaMp{
    background-color: #287AA8;
}
.areaMpB{
    position: absolute; left: 15%; height: 70%; width: 70%;
}

.hmtHub{
    background-color: #0D2244;
    color: white;
}
.hmtHubTxt{
    color: rgba(255,255,255,0.95);
    font-family: "adobe-clean", "adobe-clean-han-japanese", "Helvetica Neue", Helvetica, sans-serif;
    letter-spacing: 0.065em;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
.hmtHubA{
    position: relative; top: 20%; 
    display: flex; justify-content: center;
    font-weight: 300; font-size: 40px; 
}
.hmtHubB{
    margin: 0; padding: 0; display: flex; justify-content: center; position: relative; top: 40%;
}
.hmtHubBA{
    display: flex; justify-content: center;
}
.hmtHubBAA{
    margin: 0; padding: 0;
}
.hmtHubBAAA{
    display: flex; justify-content: center;
}
.hmtHubBAAAA{
    fill: rgba(255,255,255,0.95)
}
.hmtHubBAAAA svg{
    width: 100px; height: 100px;
}
.hmtHubBA:focus{
    outline: none !important;
}
.hmtHubABAB{
    font-weight: 400; font-size: 15px;
}