@import "default/module";

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

body {
    background-color: transparent;
    letter-spacing: 0.01em;
    font-family: 'Nunito', sans-serif;
    overflow-y: scroll;
    user-select: none;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
}

.main-controller{
    background-color: rgb(249,249,249);
}

.user-signed-btn ng-md-icon {
    fill: rgb(42, 81, 145);
}

.address-input-span input::-webkit-input-placeholder {
    font-family: 'Nunito', sans-serif;
    font-size: 21px !important;
    color: rgba(0, 0, 0, 0.45);
    text-transform: none;
}

.store-list-ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 850px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

.store-list-ul li {
    outline: none;
}

.store-li {
    position: relative;
    display: block;
    margin: 0 20px;
}

.store-li span {
    position: absolute;
    will-change: opacity, transform;
}

.loc-sucsess-msg {
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    padding: 15px 0;
    text-align: center;
    user-select: none;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    border-radius: 10px;
    opacity: 0;
    z-index: -1;
    will-change: opacity, width;
}

.loc-sucsess-msg-txt {
    color: #396885;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 0.065em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-trans-prop {
    color: #396885;
    user-select: none;
    will-change: opacity, transform;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    border-radius: 10px;
    opacity: 0;
}

.store-li span {
    left: 50%;
    bottom: -20px;
    padding: 4px 10px;
    font-size: 16px;
    transform: translate(-50%, -15px);
    white-space: nowrap;
    transition: opacity, transform 0.25s ease-out;
}

.store-li:hover span {
    opacity: 1;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

.store-li img {
    height: 160px;
    width: 160px;
    filter: grayscale(100%);
    border-radius: 75px;
    will-change: padding, height, width;
    transition: all 0.4s ease-out;
}

.store-li:hover img {
    filter: grayscale(0%);
    box-shadow: 0 0px 6px 3px rgba(0, 0, 0, 0.15);
    transition: all 0.4s ease-out;
}

.search-sec, .hub-btn {
    display: none;
}

.homit-nav, .user-signed-btn {
    background-color: transparent;
}

.homit-nav {
    position: absolute;
}

.logIn-btn {
    border-color: rgba(42, 81, 145, 0.5);
    color: rgb(42, 81, 145);
    background-color: transparent;
    transition: all 0.3s ease;
}

.logIn-btn:hover {
    background-color: rgba(42, 81, 145, 0.05);
    box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.signUp-btn {
    color: #fff;
    background-color: rgb(42, 81, 145);
    transition: all 0.3s ease;
}

.signUp-btn:hover {
    background-color: rgba(42, 81, 145, 0.95);
    box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.white-logo {
    display: none;
}

.rgb-logo {
    display: initial;
}

.logo-img {
    filter: drop-shadow(0 0px 2px rgba(0, 0, 0, 0.3));
}

.full-screen {
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll;
}

.address-section {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
}

.address-section {
    background-image: url("/resources/images/non-catalog-image/cover-image/calgary.jpg");
}

.predictions-container {
    width: 540px;
    z-index: 1;
}

.address-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.store-div-main {
    position: relative;
    height: 230px;
    width: 100%;
    background-color: rgba(230, 230, 230, 1);
    box-shadow: 0 0px 6px 2px rgba(0, 0, 0, 0.2);
}

.address-input-sec {
    position: relative;
    width: 550px;
    height: 55px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: all 0.4s ease-in;
}

.address-input-span {
    position: relative;
    display: flex;
    align-items: center;
}

.place-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    fill: rgba(0, 0, 0, 0.6);
    z-index: 1;
    transition: all 0.4s ease-in;
}

.place-icon svg {
    width: 36px;
    height: 36px;
}

.address-input {
    padding-left: 40px;
    width: 540px;
    height: 47px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.85);
    border: 1px solid rgba(200, 200, 200, 0.8);
    border-radius: 1px;
    outline-width: 0;
    transition: all 0.4s ease;
}

.address-input-btn {
    position: absolute;
    right: 1px;
    top: 2px;
    min-width: 47px;
    min-height: 43px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0;
}

.address-input-icon {
    fill: rgba(42, 81, 145, 0.9);
}

.address-input-icon svg {
    width: 25px;
    height: 25px;
}

.main-page-address-box {
    position: relative;
    top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    z-index: 1;
}

.landing-message-box {
    position: relative;
    top: 50px;
}

.landing-message {
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 0.065em;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    color: rgba(203, 157, 114, 1);
    user-select: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.fadeIn {
    animation: fadein 0.2s;
}

.promotion-sec {
    width: 100%;
    height: 170vh;
}

.steps-div {
    width: 1140px;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10vh 0;
}

.steps-div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;
    border-left: 2px solid rgb(220, 220, 220);
    padding: 0 20px;
}

.steps-div h2 {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.steps-div p {
    font-size: 17px;
    color: rgb(75, 75, 75);
    letter-spacing: 0.2px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.promotion-1-2-sec {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
}

.promotion-1-div {
    height: 100%;
    width: 35%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.promotion-2-div {
    height: 100%;
    width: 35%;
    margin-left: 15%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.promotion-1-div h2, .promotion-2-div h2 {
    font-size: 38px;
    margin-bottom: 20px;
    text-align: left;
    letter-spacing: 0.4px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.promotion-1-div p, .promotion-2-div p {
    font-size: 18px;
    color: rgb(143, 149, 163);
    margin-bottom: 20px;
    letter-spacing: 0.2px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.promotion-img-1 {
    position: relative;
    height: 100%;
    width: 50%;
    background-image: url("/resources/images/non-catalog-image/pages/main_promotion_1.jpeg");
    position: relative;
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    overflow-y: hidden;
}

.promotion-img-2 {
    height: 100%;
    width: 50%;
    background-image: url("/resources/images/non-catalog-image/pages/main_promotion_2.jpeg");
    position: relative;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    overflow-y: hidden;
}

.trending-prd-sec {
    height: 110vh;
    width: 100%;
    padding: 5vh 0;
}

.tranding-hdr {
    height: 78px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.tranding-hdr span {
    height: calc(100% - 25px);
    padding: 0 30px;
    font-size: 33px;
    color: #bbb;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
}

.tranding-body {
    height: calc(100vh - 190px);
    width: 1140px;
    margin: 10px auto 24px auto;
    overflow-y: hidden;
}

.tranding-body div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.prom-item-ul {
    position: relative;
    height: calc(100% / 3 - 10px);
    width: calc(100% / 6 - 10px);
    padding: 10px;
    background-color: #fff;
    width: 175px;
    margin: 5px;
    box-shadow: 0 0px 6px 2px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.4s ease;
}

.prom-item-ul:hover {
    box-shadow: 0 0px 6px 2px rgba(3, 189, 142, 0.5);
    transition: box-shadow 0.4s ease;
}

.prom-item-ul li img {
    height: calc(100% - 60px);
    width: auto;
    padding: 5px 0;
}

.prom-item-brand {
    font-size: 13px;
    color: #141414;
    text-align: center;
    color: rgb(143, 149, 163);
    height: 50px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.prom-item-size {
    font-size: 12px;
    color: rgb(174, 181, 199);
}

.prom-item-price {
    position: absolute;
    right: 5px;
    top: 0px;
    height: 45px;
    width: 37px;
    text-align: center;
    border-radius: 0 0 15px 15px;
    font-size: 13px;
    background-color: rgb(137, 199, 44);
    color: white;
    padding-top: 12px;
}

.tranding-ftr {
    height: 78px;
    width: 100%;
}

.tranding-ftr div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    width: calc(185px * 3 + 40px);
    height: 100%;
    padding: 0 20px;
}

.tranding-prd-type {
    font-size: 25px;
    padding: 5px;
    padding-top: 15px;
    width: 185px;
    text-align: center;
    color: rgb(87, 94, 110);
    letter-spacing: 0.2px;
    transition: all 0.4s ease;
}

.tranding-type-btn {
    color: rgb(4, 160, 121);;
    background-color: transparent;
    border: 2px solid rgb(4, 160, 121);;
    transition: all 0.4s ease;
}

.subscribe-section {
    width: 1140px;
    height: 180px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.subscribe-div {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.subscribe-input {
    font-size: 18px;
    height: 50px;
    width: calc( 100% - 180px);
    padding: 12px;
    border-radius: 2px 0 0 2px;
    margin: auto;
    border: 1px solid rgb(0, 204, 153);;
    border-right: none;
}

.subscribe-input::placeholder {
    color: rgba(0, 0, 0, 0.4);
    font-size: 18px;
}

.subscribe-input:focus {
    box-shadow: 0 0px 6px 2px rgba(3, 189, 142, 0.3);
}

.subscribe-input:focus .subscribe-input::placeholder {
    color: rgba(0, 0, 0, 0.9);
}

.subscribe-button {
    position: relative;
    overflow: hidden;
    width: 180px;
    height: 50px;
    font-size: 18px;
    padding: 0 15px 0 35px;
    background-color: rgb(0, 204, 153);
    color: white;
    margin: 8px 0;
    border: none;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    transition: padding-left 0.3s ease; 
}

.subscribe-button-suc{
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 50px;
    font-size: 18px;
    padding: 10px 15px 10px 35px;
    background-color: rgb(0, 204, 153);
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    transition: padding-left 0.3s ease; 
    border-radius: 2px;
    transition: all 0.8s ease;
}

.subscribe-input-suc{
    width: 0px;
    border: 0;
    padding: 0;
    border-radius: 0px;
    transition: all 0.8s ease;
}

.subscribe-button:hover .CG-done-icon {
    right: -5px;
}

.subscribe-button:hover {
    padding-left: 15px;
}

.subscribe-error-message {
    padding: 1px 1px 1px 1px;
    font-size: 18px;
    color: rgb(221,44,0);
}

/* start of window shrinkage affect solution */
@media (max-width: 1140px) and (min-width: 856px) {
    .homit-nav-content, .steps-div, .subscribe-section{
        width: 855px;
    }

    .promotion-1-div{
        width: 45%;
    }

    .promotion-2-div{
        width: 45%;
        margin-left: 4%;
        padding-right: 1%;
    }

    .steps-div{
        padding: 5vh 0;
    }

    .span-text-step{
        display: none;
    }

    .steps-div h2{
        font-size: 30px;
    }

    .tranding-body{
        width: calc(100vw - 10px);
    }

    .tranding-body div{
        flex-direction: column;
        overflow-x: scroll;
    }

    .store-list-ul {
        width: 800px;
    }

    .store-li img {
        width: 150px;
        height: 150px;
    }

}

@media (max-width: 855px) and (min-width: 400px), screen and (max-device-width: 479px){
    .main-controller{
        background-color: #fff;
    }

    .subscribe-error-message {
        padding-top: 0;
        font-size: 15px;
    }

    .log-in-icon {
        fill: rgb(42, 81, 145);
    }

    .promotion-sec{
        width: 100vw;
        height: 1550px;
    }

    .steps-div {
        width: 100vw;
        height: 535px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0;
        padding: 0;
    }

    .steps-div div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 94%;
        border-left: 2px solid rgb(230, 226, 226);
        margin: 0 3%;
    }

    .steps-div h2 {
        text-align: left;
        font-size: 25px;
        margin-bottom: 15px;
        margin-top: 0;
        margin-bottom: 10px;
        letter-spacing: 0.1px;
    }

    .steps-div p{
        font-size: 16px;
        margin-bottom: 0;
        color: #8f95a3;
    }

    .span-text-step{
        display: none;
    }

    .promotion-1-2-sec {
        margin-top: 35px;
        width: 100vw;
        height: 470px;
        display: flex;
        flex-direction: column;
    }

    .prm-sec-2-mob{
        flex-direction: column-reverse;
    }

    .promotion-img-1 {
        position: relative;
        height: 45%;
        width: auto;
        background-attachment: inherit !important;
        background-position: center;
        background-size: cover;
    }

    .promotion-1-div h2, .promotion-2-div h2 {
        font-size: 27px;
        margin-bottom: 10px;
        text-align: center;
        letter-spacing: 0.1px;
    }

    .promotion-1-div, .promotion-2-div {
        height: 58%;
        width: 100%;
        padding-left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 0;
    }

    .promotion-1-div p, .promotion-2-div p{
        margin-bottom: 16px;
        margin-top: 16px;
        text-align: center;
    }

    .CG-cur-button{
        margin: 0 auto;
    }

    .promotion-img-2 {
        position: relative;
        height: 45%;
        width: auto;
        background-attachment: inherit !important;
        background-position: center;
        background-size: cover;
    }

    .tranding-body{
        width: calc(100vw - 10px);
        height: 380px;
    }

    .tranding-body div{
        flex-direction: column;
        overflow-x: scroll;
    }

    .prom-item-ul{
        width: calc(( 100vw - 30px)/2);
        height: 180px;
    }

    .trending-prd-sec{
        height: 630px;
    }

    .tranding-ftr{
        height: 55px;
    }

   .tranding-btn-mob{
       width: 33%;
   }

    .subscribe-section{
        width: 100vw;
        height: 110px;
    }

    .subscribe-div{
        width: calc(100% - 10px);
    }

    .subscribe-button{
        width: 100px;
        font-size: 14px;
        padding: 0;
    }

    .subscribe-input{
        width: calc(100% - 100px);
        font-size: 16px;
    }

    .subscribe-input::placeholder {
        color: rgba(0, 0, 0, 0.4);
        font-size: 16px;
    }

    .CG-done-icon{
        display: none;
        padding-left: 0;
    }
}


@media (max-width: 855px) and (min-width: 571px) {
    .main-page-address-box, .address-input-sec, .predictions-container {
        width: 570px;
        transition: initial;
    }

    .address-input {
        width: 556px;
    }

    .landing-message, .loc-sucsess-msg {
        font-size: 35px;
    }
}

@media (max-width: 570px) {
    .homit-nav-content, .main-page-address-box, .address-input-sec {
        width: 400px;
        transition: initial;
    }

    #sign-btns {
        display: flex;
    }

    .address-input {
        width: 386px;
    }

    .landing-message, .loc-sucsess-msg {
        font-size: 28px;
    }
}

@media (max-height: 680px) and (min-width: 600px) {
    .store-div-main {
        height: 150px;
    }

    .store-li img {
        height: 120px;
        width: 120px;
    }

    .store-li span {
        font-size: 14px;
        padding: 2px 5px;
    }

    .main-page-address-box {
        top: 40px;
    }

    .landing-message-box {
        top: 20px;
    }

    .landing-message {
        font-size: 40px;
    }

    .predictions-container {
        max-height: 200px;
    }

    .predictions-item {
        line-height: 33px;
        font-size: 16px;
    }
}

@media (max-width: 855px) and (min-width: 755px) {
    .store-li img {
        width: 155px;
        height: 155px;
        transition: all 0.3s ease;
    }

    .store-list-ul {
        width: 650px;
    }

    .store-li img {
        width: 130px;
        height: 130px;
    }
}

@media (max-width: 754px) and (min-width: 700px) {
    .store-li img {
        width: 150px;
        height: 150px;
        transition: all 0.3s ease;
    }

    .store-list-ul {
        width: 550px;
    }

    .store-li img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 699px) and (min-width: 650px) {
    .store-li img {
        width: 145px;
        height: 145px;
        transition: all 0.3s ease;
    }
}

@media (max-width: 699px) and (min-width: 560px) {

    .address-section{
        overflow-x: hidden;
    }

    .store-list-ul {
        width: 600px;
    }

    .store-li img {
        width: 130px;
        height: 130px;
    }

    .img-object {
        animation: icon-move-x 20000ms linear infinite;
    }
}

@media (max-width: 559px) and (min-width: 480px) {
    .store-list-ul {
        width: 500px;
    }

    .store-li img {
        width: 120px;
        height: 120px;
    }

    .img-object {
        animation: icon-move-x 20000ms linear infinite;
    }
}

@media (max-width: 579px) and (min-width: 400px) {

    .address-section{
        overflow-x: hidden;
    }

    .store-list-ul {
        width: 450px;
    }

    .store-li img {
        width: 110px;
        height: 110px;
    }

    .img-object {
        animation: icon-move-x 20000ms linear infinite;
    }
}

.LS-move {
    animation-name: icon-move-y;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.LIM-move {
    animation-name: icon-move-y;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* start of non-mobile/tablet styles */
@media screen and (min-device-width: 768px) {}

/* start of medium tablet styles */
@media screen and (max-device-width: 767px) and (min-device-width: 480px) {}

/* start of phone styles */
@media screen and (max-device-width: 479px) and (min-device-width: 360px) {
    .store-div-main {
        width: 100vw;
        height: 150px;
    }

    .store-list-ul {
        width: 100vw;
    }

    .store-li {
        position: relative;
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 0 10px;
    }

    .store-li img {
        filter: grayscale(0%);
        width: calc((100vw - 3*2*15px)/3);
        height: calc((100vw - 3*2*15px)/3);
        box-shadow: 0 0px 6px 3px rgba(0, 0, 0, 0.15);
        user-select: none;
    }

    #address {
        overflow-x: hidden;
    }

    .img-object {
        animation: icon-move-x 20000ms linear infinite;
    }

    .LS-move {
        animation-duration: 4500ms;
    }

    .LIM-move {
        animation-duration: 7s;
    }

    .store-li:hover span {
        opacity: initial;
        -webkit-transform: translate(-50%, -15px);
        transform: translate(-50%, -15px);
    }

    .store-li span {
        bottom: -20px;
        left: 50%;
        padding: 4px;
        font-size: 11px;
        transform: translate(-50%, -15px);
        opacity: 1;
        user-select: none;
    }

    .store-li:hover img {
        filter: grayscale(0%);
        box-shadow: 0 0px 6px 2px rgba(0, 0, 0, 0.4);
        transition: all 0.4s ease-out;
    }

    .address-input-span input::-webkit-input-placeholder {
        font-family: 'Nunito', sans-serif;
        font-size: 20px !important;
        color: rgba(0, 0, 0, 0.45);
        text-transform: none;
    }

    .landing-message-box {
        top: 30px;
    }

    .logIn-btn {
        margin-right: 5px;
    }
}

@media screen and (max-device-width: 479px) {

    .log-in-icon {
        fill: rgb(42, 81, 145);
    }

    .address-section {
        background-attachment: inherit !important;
        /*forces the browser to use hardware acceleration to access the device’s GPU (Graphical Processing Unit)*/
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
    }
}

@media screen and (max-device-width: 359px) {
    .store-div-main {
        width: 100vw;
        height: 130px;
    }

    .store-list-ul {
        width: 100vw;
    }

    .store-li {
        position: relative;
        margin: 0 5px;
    }

    .store-li img {
        filter: grayscale(0%);
        width: calc((100vw - 3*2*10px)/3);
        height: calc((100vw - 3*2*10px)/3);
        box-shadow: 0 0px 6px 3px rgba(0, 0, 0, 0.15);
        user-select: none;
    }

    .store-li:hover span {
        opacity: initial;
        -webkit-transform: translate(-50%, -15px);
        transform: translate(-50%, -15px);
    }

    .store-li span {
        bottom: -30px;
        padding: 3px;
        font-size: 10px;
        transform: translate(-50%, -15px);
        opacity: 1;
        user-select: none;
    }

    .store-li:hover img {
        filter: grayscale(0%);
    }

    .landing-message-box {
        top: 20px;
    }

    .main-page-address-box {
        top: 40px;
    }

    .logIn-btn {
        margin-right: 5px;
    }

    .promotion-sec{
        height: 1610px;
    }

    .promotion-1-2-sec{
        height: 500px;
    }

    .tranding-hdr span{
        font-size: 31px;
    }

}
