ul {list-style-type: none;}
li {list-style-type: none;}
body{background-color: rgba(255,255,255,0.9);}

.content{
    position: relative; 
    top: 40px; 
    height: 80%; 
    padding: 0;
}
/* Content box left column */
.contentLC{
    background-color: rgba(255,255,255,1);
    border: 2px solid rgba(0,0,0,0.1); border-radius: 0 20px 20px 0; 
    margin-right: 1%; 
    box-shadow: 0 0px 2px 0px rgba(0,0,0,0.05);
    z-index: 100;
}
.contentLCA{
    margin-left: 10%; margin-top: 5%;
}
.usrImg{
    height: 200px; width: 200px; 
    border: 1px solid rgba(0,0,0,0.25); border-radius: 10px;
}
.contentLCAC{
    display: flex; justify-content: center; 
    margin: 0; padding: 0;
}
.myTabs{
    font-size: 18px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    display: flex; justify-content: center;
}
.myTabsTM{
    margin-top: 2px;
}
.myTabsA{
    cursor: pointer; color: rgba(42,81,145, 0.9);
    letter-spacing: 0.025em;
    font-family: "adobe-clean", "adobe-clean-han-japanese", "Helvetica Neue", Helvetica, sans-serif;
}
.myTabsBtmLn{
	height: 3px;
	width: 0px;
}
.myTabs a:hover{
    text-decoration: none !important;
}
/* Content box right column */
.contentRC{
    background-color: rgba(255,255,255,1);
    margin-left: 1%; 
    border: 2px solid rgba(0,0,0,0.1); border-radius: 20px 0 0 20px; 
    box-shadow: 0 0px 2px 0px rgba(0,0,0,0.05);
    z-index: 100;
}
.contentRCAB{
    margin-right: 5%; margin-top: 2.5%;
}
.contentRCAB{
    display: flex; justify-content: flex-end;
}
.contentRCABA{
    min-width: 36px ;
    margin: 0; padding: 0;
}
.contentRCABA svg{
    width: 20px; height: 20px;
}
contentRCABB svg{
    width: 25px; height: 25px;
}
.svBtn{
    display: flex; 
    justify-content: center; position: relative; 
    top: 20px;
}
/* display flex center in row */
.flxCntrLn{
    display: flex; justify-content: center;
}
/* ul margin/padding zero */
.ulMP_0{
    margin: 0; padding: 0;
}
.contentRCorHist{
    position: relative; top: 55px;
}

.selectedTab{
    font-weight: 700;
    transition: 0.6s
}
.selectedTabLn{
	margin: auto;
	width: 0px;
    width: 100%;
    border-bottom: 3px solid rgba(42,81,145,0.9);
	transition: width 0.6s ease, background-color .5s ease;
}