.notification_box{
    position: fixed; 
    bottom: 30px; right: 30px; 
    height: 90px; width: 250px; 
    display: flex; align-items: center; justify-content: center;
    border: 1px solid rgba(44, 37, 37, 0.733);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 1);   
    box-shadow: 0 0px 5px 0px rgba(0,0,0,.26);
    z-index: 100;
    animation: fadeIn 0.2s ease;
}
.addItem_img{
    width: 70px; height: 70px;
}
.addItem_ul{
    margin: 0; padding: 0; 
    margin-left: 10px;
}
.addItem_ulA{
    text-align: center;
    font-size: 15px;
}
.addItem_ulB{
    text-align: center;
    font-weight: 600;
    font-size: 12px;
}
.notification-body{
    letter-spacing: 0.01em;
    font-family: 'Nunito', sans-serif;
}

/* Message Type backgrounds */
.success_msg {
    background-color: rgba(0, 189, 149,1);
    color: black; font-weight: 500; font-size: 15px;
}

.error_msg {
    background-color: red;
    color: black;
}

/* start of phone styles */
@media screen and (max-device-width: 479px){
    .notification_box{
        position: fixed; 
        top: 60px; left: 20px; 
        height: 60px; width: 200px; 
    }
    .addItem_img{
        width: 40px; height: 40px;
    }
    .addItem_ulB{
        display: flex; justify-content: center; 
        font-size: 10px;
    }
}

@keyframes fadeIn {
    0% {
        background: rgba(255, 255, 255, 0.1);
        border-color: #e5e5e5;
    }
    100% {
        background: rgba(255, 255, 255, 1);
        border-color: #e5e5e5;
    }
}