@import "default/module";

.fadeIn-notif {
    visibility: visible;
    animation: fadein 0.5s;
}

.checkmark {
    margin-right: 10px;
}

.notification-sec{
    position: fixed; 
    bottom: 30px; 
    right: 30px; 
    display: flex; 
    flex-direction: column;
    z-index: 200;
}

.notification_box {
    position: relative;
    height: 70px;
    width: 270px;
    margin: 2px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 1px solid rgba(195, 191, 191, 0.733);
    border-radius: 10px;
    box-shadow: 0 0px 8px 2px rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.box-normal, .box-warning, .box-success{
    background-color: rgb(255, 255, 255);
}

.box-store-closed {
    background-color: #fce4b1;
}

.box-success p, .box-error p, .box-warning p, .box-store-closed p {
    color: #454646;
    font-size: 17px;
    max-width: 70%;
    min-width: 45%;
    text-align: center;
    margin: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.notification-cls-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0;
    padding: 0;
    outline-style: none;
    border: none;
    background-color: transparent;
    fill: rgb(175, 175, 175);
}

.notification-cls-btn svg{
    width: 18px; height: 18px;
}

.addItem_img {
    width: 65px;
    height: 65px;
}

.box-store-closed img {
    height: 70px;
    width: auto;
}

.addItem_ul {
    max-width: 65%;
    min-width: 40%;
    margin: 0;
    padding: 0;
    margin-left: 5px;
}

.addItem_ulA {
    color: #454646;
    text-align: center;
    font-size: 16px;
}

.addItem_ulB {
    color: #454646;
    text-align: center;
    font-size: 11px;
}

.box-error {
    background-color: #f7dfdf;
}

.error-sign {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px #ee5353;
    animation: fill-error .3s ease-in-out .5s forwards, scale .4s ease-in-out .9s both;
}

.error-sign ng-md-icon, .warning-sign ng-md-icon{
    fill: #fff;
    animation: fadeout 0.5s;
}

.error-sign ng-md-icon svg {
    width: 45px; 
    height: 45px;
}

.warning-sign {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px #d48957;
    animation: fill-warning .3s ease-in-out .5s forwards, scale .4s ease-in-out .9s both;
}

.warning-sign ng-md-icon svg {
    width: 30px; 
    height: 30px;
}

/* start of phone styles */
@media screen and (max-device-width: 479px) {

    .notification-sec{
        bottom: 10px; 
        left: 10px; 
    }

    .notification_box {
        position: relative;
        height: 60px;
        width: 210px;
    }

    .addItem_img {
        width: 40px;
        height: 40px;
    }

    .error-sign ng-md-icon {
        width: 40px; 
        height: 40px;
    }

    .notification-cls-btn {
        top: 1px; 
        right: 1px;
        width: 25px;
        height: 25px;
        fill: rgb(190, 190, 190);
    }

    .notification-cls-btn svg{
        margin: 0 0 10px 10px;
        width: 15px; height: 15px;
    }

    .box-success p, .box-error p, .box-warning p, .box-store-closed p {
        font-size: 15px;
    }

    .error-sign, .warning-sign {
        margin-right: 10px;
        width: 45px;
        height: 45px;
    }

    .error-sign ng-md-icon svg {
        width: 45px; 
        height: 45px;
    }

    .warning-sign ng-md-icon svg {
        width: 30px; 
        height: 30px;
    }    

    .addItem_ulB {
        display: flex;
        justify-content: center;
        font-size: 10px;
    }

    .important_msg {
        font-size: 15px;
    }

    .important_msg img {
        min-width: 55px !important;
        width: 55px;
        height: 60px;
    }
}
