md-toolbar{
    background-color: rgba(42,81,145,0.95) !important;
}

html{
    background-color: rgba(252,252,252,1); 
}

body{
    position: relative;
    top: 50px;
    background-color: rgba(252,252,252,1);
    font-family: 'Nunito', sans-serif; 
    color: rgba(70,70,70,1);
    letter-spacing: 0.025em;
}
.top-header{
    font-weight: 500; font-size: 45px; 
    margin-top: 35px; margin-bottom: 30px;
}
.paragraph-header{
    font-weight: 600; margin-top: 30px;
}
.m-b_10{
    margin-bottom: 10px;
}
.m-t_20{
    margin-top: 20px;
}
.m-t_15{
    margin-top: 15px;
}
.f-s_16{
    font-size: 16px;
}
.effective-date{
    margin-top: 30px; margin-bottom: 50px;
}

@media (max-width: 570px){
    .homit-nav-content {
        width: 380px;
    }
}

/* start of phone styles */
@media screen and (max-device-width: 479px){
    .top-header{
        font-size: 28px;
    }
    .homit-nav-content {
        width: 100vw;
    }
}