md-toolbar {
    background-color: rgba(42, 81, 145, 0.95) !important;
}

body {
    padding-top: 50px;
    font-family: 'Nunito', sans-serif;
    color: rgba(70, 70, 70, 1);
    letter-spacing: 0.025em;
}

.none {
    display: none;
}

.description ul, .description li, .ingredients ul, .ingredients li {
    list-style-type: initial !important;
    font-size: 16px;
}

.bold {
    font-weight: 600;
    margin-bottom: 1px;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

.product-name-h2-web {
    text-align: center;
    margin-top: 0;
    font-weight: 600;
    color: rgba(39, 9, 9, 0.9);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.controller {
    background-color: rgba(255, 255, 255, 1);
    overflow-x: hidden;
}

.product-content {
    padding-top: 40px;
    width: 1140px;
    margin: 0 auto;
}

img:focus {
    outline: none;
}

footer {
    position: absolute;
    bottom: -133px;
    width: 100%;
}

.text-verflow {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.section-box {
    margin-top: 10px;
}

.web-location-sec-mob {
    display: none;
}

.web-location-sec {
    margin-right: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.web-location-a {
    display: flex;
    align-items: center;
    height: 24px;
    padding: 0 7px;
    background-color: rgba(195, 218, 228, 0.4);
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    border-radius: 14px;
    transition: background-color 0.3s ease;
}

.web-location-a:hover {
    color: rgba(0, 0, 0, 1);
    background-color: rgb(124, 179, 204);
    transition: background-color 0.3s ease;
}

.loc-category {
    text-transform: capitalize;
}

.loc-errow {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.4);
    width: 15px;
}

.box-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-img-frame {
    width: 350px;
    height: 350px;
}

.product-image-selected {
    max-width: 350px;
    max-height: 350px;
    width: auto;
    height: auto;
}

.product-image-line {
    width: 60%;
    height: 1px;
    margin: 10px 0 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.product-image-to-select {
    padding: 3px;
    width: 55px;
    height: 55px;
}

.ingredients-sec {
    margin-top: 25px;
}

.ingredients {
    margin-bottom: 20px;
}

.ingredients li {
    font-size: 16px;
}

.sub-header {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
}

.size-section {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.size-part-hdr {
    position: absolute;
    top: -14px;
    left: 0;
    font-size: 11px;
    color: #8f95a3;
}

.size-buttons {
    position: absolute;
    z-index: 0;
}

.size-buttons button:hover {
    background-color: rgba(33, 211, 172, 1);
    transition: all 0.3s ease;
}

button:focus {
    outline: 0;
}

.size-button-left {
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    height: 30px;
    width: 90px;
    border: 0;
    border-radius: 2px 0 0 2px;
    background-color: rgba(33, 211, 172, 0.2);
    transition: background-color 0.3s;
}

.size-button-right {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    height: 30px;
    width: 90px;
    border: 0;
    border-radius: 0 2px 2px 0;
    background-color: rgba(33, 211, 172, 0.2);
    transition: background-color 0.3s;
}

.size-box-left {
    font-size: 8px;
    font-weight: 400;
    width: 30%;
}

.size-box-middle {
    font-size: 13px;
    font-weight: 600;
}

.size-box-right {
    font-size: 8px;
    font-weight: 400;
    width: 30%;
}

.size-section button svg {
    fill: rgba(0, 0, 0, 1);
}

.size-section ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 23px;
    width: 100px;
    background-color: rgba(254, 254, 254, 1);
    z-index: 1;
}

.selected-product-price {
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: rgb(24, 204, 165);
    font-weight: 600;
    margin-top: 10px;
}

.add-to-cart {
    height: 40px;
    width: 200px;
    margin: 10px auto 10px auto;
    font-size: 17px;
    text-transform: uppercase;
    background-color: rgba(70, 70, 70, 0.9);
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    border-style: none;
    transition: background-color 0.3s;
}

.add-to-cart:hover {
    background-color: rgba(20, 20, 20, 1);
    transition: all 0.3s ease;
}

.product-details-header {
    margin: 20px 0 5px 0;
    padding: 5px 0 2px 2px;
    width: 100%;
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}

.product-details-container {
    text-transform: capitalize;
}

.description {
    margin-bottom: 20px;
}

.preview-sec {
    margin-top: 30px;
}

.recomended-products {
    position: relative;
    right: calc((100vw - 100%)/2);
    margin-top: 80px;
    margin-bottom: 60px;
    background-color: rgba(255, 255, 255, 1);
    width: 100vw;
}

.recomended-products-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;
}

.recomended-products-header-line {
    position: absolute;
    width: 100%;
    height: 2px;
    border-bottom: 1px solid rgba(220, 220, 220, 0.5);
    z-index: 0;
}

.rec-prod-hdr-text {
    margin: 0 3px 0 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1;
}

.recomended-item{
    display: flex;
}

.recomended-item-div {
    position: relative;
    display: inline-flex;
    overflow-x: auto;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
}

.prom-item-ul {
    position: relative;
    width: 175px;
    height: 195px;
    padding: 10px;
    background-color: #fff;
    width: 175px;
    margin: 5px;
    box-shadow: 0 0px 5px 2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.4s ease;
}

.prom-item-brand {
    height: 75px !important;
}

.also-image-li img {
    padding-bottom: 5px;
    width: 100px;
    height: 100px;
}

.item-price{
    height: 45px;
    width: 37px;
}

footer {
    position: relative;
    bottom: initial;
}

footer {
    position: relative;
    bottom: initial;
}

@media (max-width: 991px) {
    .product-property {
        width: 100%;
    }
}

@media (min-width: 600px) {
    .product-property {
        float: right;
        clear: right;
    }
}

@media (max-width: 992px) {
    h2 {
        margin-top: 50px;
    }

    .recomended-item-div{
        justify-content: flex-start;
    }
}

@media (max-width: 1140px) and (min-width: 856px) {
    .product-content {
        width: 855px;
    }
}

@media (max-width: 855px) and (min-width: 571px) {
    .product-content {
        width: 570px;
    }
}

@media (max-width: 570px) {
    .product-content {
        width: 285px;
    }

    .recomended-item {
        max-width: 100%;
        margin: auto;
    }

    h1 {
        font-size: 25px;
    }

    .web-location-sec {
        width: 100vw;
    }
}

/* start of non-mobile/tablet styles */
@media screen and (min-device-width: 777px) {
    .product-name-h2-mob {
        display: none;
    }
}

/* start of medium tablet styles */
@media screen and (max-device-width: 776px) {
    .product-name-h2-web {
        display: none;
    }

    .product-content {
        padding-top: 0px;
    }

    .product-name-h2-mob {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 25px;
        color: rgba(39, 9, 9, 0.9);
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        font-weight: 600;
    }
}

/* start of phone styles */
@media screen and (max-device-width: 479px) {
    .web-location-sec {
        display: none;
    }

    .web-location-sec-mob {
        display: flex;
        justify-content: center;
        position: relative;
        right: calc((100vw - 100%)/2);
        width: 100vw;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .web-location-a:hover {
        color: rgba(0, 0, 0, 1);
        background-color: rgba(195, 218, 228, 0.4);
    }

    .web-location-sec-mob div {
        padding-left: 5px;
        display: -webkit-inline-box;
        overflow-x: auto;
    }

    .web-location-a {
        font-size: 10px;
        height: 30px;
    }

    .ingredients-sec {
        margin-top: 15px;
    }

    .product-content {
        max-width: calc(100vw - 40px);
        width: calc(100vw - 40px);
    }

    .product-property {
        padding-left: 0;
        padding-right: 0;
    }

    .checkout-menu-btn-div {
        right: 0 !important;
    }

    .recomended-item {
        max-width: 100vw;
        margin: auto;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    h1 {
        font-size: 25px;
        margin-bottom: 10px;
        text-align: center;
    }

    .product-name-h2-mob {
        font-size: 23px;
    }

    .product-img {
        padding: 20px 20px 0 20px;
    }

    .selected-img-frame {
        width: 150px;
        height: 150px;
    }

    .product-image-selected {
        max-width: 150px;
        max-height: 150px;
    }

    .product-img-list {
        max-width: 250px;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .selected-product-price {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .add-to-cart {
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .product-details-header {
        padding: 10px 0 10px 0px;
        width: 100%;
    }

    .recomended-item-div {
        -webkit-overflow-scrolling: touch;
        justify-content: flex-start;
    }
}
