ul {list-style-type: none;}
li {list-style-type: none;}
html{
    background-color: rgb(252, 252, 252);
}
body{
    background-color: rgb(252, 252, 252);
    letter-spacing: 0.01em;
}
.md-button.tglLbtn:not([disabled]):hover{
    background-color: rgba(255,255,255,1);
}
.md-button.tglLbtn:not([disabled]).md-focused{
    background-color: rgba(255,255,255,1);
}

/* display flex center in row */
.flxCntrLn{
    display: flex; justify-content: center;
    margin: 0; padding: 0;
}