body {
    top: 80px;
    letter-spacing: 0.01em;
    font-family: 'Nunito', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.item-price{
    height: 45px;
    width: 37px;
    font-size: 12px;
    padding-top: 17px;
    span{
        position: relative; 
        top: -35px; 
        right: -10;
        font-size: 10px; 
    }
    .item-curency {
        position: absolute;
        top: 2px;
        right: 2px;
        text-align: right;
        font-size: 9px;
    }
}

.location-map a{
    background: #698fcc;
    border-radius: 3px 0 0 3px;
    color: #fff !important;
    display: inline-block !important;
    height: 20px;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    padding: 0 20px 0 10px;
    position: relative;
    margin: 0 3px 3px 0;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.location-map a:hover{
    font-weight: 600;
    font-size: 13px;
    transition: all 0.3s ease-in-out;
}

.store-a::before, .category-a::before{
    background-color: #fff;
    border-radius: 10px;
    content: '';
    height: 4px;
    right: 9px;
    position: absolute;
    width: 4px;
    top: 8px;
}

.store-a::after, .category-a::after {
    background: #fff;
    border-bottom: 10px solid transparent;
    border-left: 9px solid #698fcc;
    border-top: 10px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

/* start of mobile/tablet styles */
@media screen and (max-device-width: 768px) {

}

/* start of phone styles */
@media screen and (max-device-width: 479px) {

}
