.md-select-menu-container {
    z-index: 99999 !important;
}

md-toast.toast-white .md-toast-content {
    background-color: white;
    color: #3f51b5;
    width: 400px;
}
#inputForm{
    display: flex; 
    align-items: center; justify-content: center;
}

.login-modal{
    width: 400px;
}
#loginModal .modal-dialog{
    top: 25%;
}
.modal-header{
    padding: 10px 15px 5px 15px;
}
#signHeader img{
    height: 30px; width: 30px;
}
#signHeader div{
    font-size: 22px; font-weight: 500; padding-left: 5px;
}

/* Mobile Devices */
@media screen and (max-device-width: 500px) {
    .modal-sm{
        width: 600px !important;
    }
    .login-modal{
        width: 100% !important;
    }
    #loginModal .modal-dialog{
        top: 35%;
    }
    #signHeader img{
        height: 50px; width: 50px;
    }
    #signHeader div{
        font-size: 35px; font-weight: 500; padding-left: 10px;
    }
    .close{
        height: 30px; width: 30px;
        font-size: 30;
    }
    #emailInput, #fname-input, #lname-input, #password-input{
        height: 80px;
        font-size: 25px;
        font-weight: 400;
    }
    .modal-header{
        margin-bottom: 10px;
    }
    #nextButton{
        height: 50px;
        font-size: 30px;
    }
    md-toast{
        width: 100%;
    }
    md-toast.toast-white .md-toast-content {
        background-color: white;
        color: #3f51b5;
        width: 100%;
    }
}