@import "default/module";

body{
    padding-top: 70px;
}

.union-stores-div{
    position: relative;
    a{
        transition: all 0.3s ease;
    }
    a:hover{
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    a, a:hover, a:active, a:visited, a:focus {
        text-decoration: none;
    }
    z-index: 10;
}

.stripes{
    position: absolute;
    z-index: 0;
    width: 100%;
    display: grid;
    -webkit-transform: skewY(-16deg);
    transform: skewY(-16deg);

    top: 0;
    grid: repeat(5,100px)/repeat(10,1fr);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    background: -webkit-gradient(linear,left top,left bottom,from(#507eb1),color-stop(10%,#709dc7),color-stop(38%,#dde9f5),color-stop(48%,#eaf2f9),color-stop(62%,#f6f9fc));
    background: linear-gradient(#507eb1,#709dc7 10%,#dde9f5 38%,#eaf2f9 48%,#f6f9fc 62%);
}

/* start of non-mobile/tablet styles */
@media screen and (min-device-width: 769px) {
    //User Cart - Product Page
    .checkout-menu-btn-div {
        position: fixed;
        right: 0;
        top: 425px;
        margin: 10px 0 10px 10px;
        z-index: 1;
        .checkout-menu-btn {
            top: 5px;
            height: 60px;
            width: 70px;
            background: linear-gradient(to right, rgb(42,81,145) 40% ,#759bc5);
            box-shadow: 0 0px 6px 2px rgba(0, 0, 0, 0.27);
            border-radius: 30px 0 0 30px;
            transition: all 0.3s ease;
        }
        .checkout-menu-btn ng-md-icon {
            fill: #f9f9f9;
        }
        .checkout-menu-btn ng-md-icon svg {
            width: 35px;
            height: 35px;
            margin-right: 8px;
            transform: rotateY(180deg);
        }
        .items-num {
            bottom: 45px;
            left: 2px;
            background-color: orangered;
            color: ghostwhite;
            font-size: 14px;
            font-weight: 700;
            border: solid 2px rgb(255, 255, 255);
            border-radius: 3px;
        }
    }
}

/* start of mobile/tablet styles */
@media screen and (max-device-width: 768px) {
    .checkout-menu-btn-div{
        width: 15%;
    }
}