@import "default/module";

body {
    padding-top: 70px;
    letter-spacing: 0.01em;
    font-family: 'Nunito', sans-serif;
}

.union-controller {
    position: relative;
    min-height: calc(100vh - 270px);
    background: linear-gradient(to top, #f5f7f9, #fefefe);

    .content-section {
        position: relative;
        margin: 0 auto;
        width: 1180px;
        .stores-div{
            margin: 0 auto 0 auto;
            padding: 0 10% 50px 10%;
        }
    }

    .header {
        position: relative;
        width: 100%;
        flex-direction: column;
        margin-bottom: 50px;
        padding-top: 20px;

        h2 {
            color: #59606f;
            font-weight: 400;
            text-align: center;
        }

        p {
            color: #8f98af;
            font-size: 17px;
            width: 40%;
            text-align: center;
        }
    }
}

.stripes{
    background: -webkit-gradient(linear, left top, left bottom, from(#507eb1), color-stop(10%, #709dc7), color-stop(38%, #dde9f5), color-stop(48%, #eaf2f9), color-stop(62%, #f6f9fc));
    background: linear-gradient(#507eb1, #709dc7 10%, #dde9f5 38%, #eaf2f9 48%, #f6f9fc 62%);
}

.union-pg-stipes{
    top: 0;
    -webkit-transform: skewY(-16deg);
    transform: skewY(-16deg);
    grid: repeat(5, 100px) / repeat(10, 1fr);
}

/* start of non-mobile/tablet styles */
@media screen and (min-device-width: 769px) {
    //User Cart - Product Page
    .checkout-menu-btn-div {
        position: fixed;
        right: 0;
        top: 425px;
        margin: 10px 0 10px 10px;
        z-index: 1;

        .checkout-menu-btn {
            top: 5px;
            height: 60px;
            width: 70px;
            background: linear-gradient(to right, rgb(42, 81, 145) 40%, #759bc5);
            box-shadow: 0 0px 6px 2px rgba(0, 0, 0, 0.27);
            border-radius: 30px 0 0 30px;
            transition: all 0.3s ease;
        }

        .checkout-menu-btn ng-md-icon {
            fill: #f9f9f9;
        }

        .checkout-menu-btn ng-md-icon svg {
            width: 35px;
            height: 35px;
            margin-right: 8px;
            transform: rotateY(180deg);
        }

        .items-num {
            bottom: 45px;
            left: 2px;
            background-color: orangered;
            color: ghostwhite;
            font-size: 14px;
            font-weight: 700;
            border: solid 2px rgb(255, 255, 255);
            border-radius: 3px;
        }
    }
}

/* start of mobile/tablet styles */
@media screen and (max-device-width: 768px) {
    .checkout-menu-btn-div {
        width: 15%;
    }

    .union-controller {
        min-height: calc(100vh - 197px);
    
        .content-section {
            width: 100vw;
        }
    
        .header {
            margin-bottom: 40px;
            padding-top: 0px;
    
            p {
                color: #80889c;
                width: 100%;
                padding: 0 5%;
            }
        }

        .stores-div{
            margin: 0 auto 50px auto;
            padding: 0 2%;
        
            a {
                width: 155px;
                margin-bottom: 20px;
        
                img {
                    width: 155px;
                    height: 209px;
                    border-radius: 10px 10px 0 0;
                }
        
                p {
                    margin: 0;
                    padding: 4px;
                    font-size: 15px;
                    color: #68686b;
                    -webkit-font-smoothing: antialiased;
                }
            }
        
            z-index: 9;
        }

    }

}
