.homit-btn{
    border-radius: 6px;
}

.default-btn {
    background-color: white;
    color: rgba(42, 81, 145, 1);
}

.rgb-color{
    color: rgba(42,81,145,1);
}

.rgb-background{
    background-color: rgba(42,81,145,1);
}

.rgb-border{
    border-color: rgba(42,81,145,1);
}
