<link href="/resources/css/checkout_menu.css" rel="stylesheet">
<div ng-controller="cartController">
    <div class="cart1">
        <md-button id="cart" ng-click="toggleRight()" ng-hide="isOpenRight()" class="md-fab md-primary cart2a" aria-label="toggleRightCart">
            <div class="cart2aa"><ng-md-icon icon="shopping_cart" class="shopping-cart"></ng-md-icon></div>
        </md-button>
        <div class="cartNotificationNumber cart2b">{{numberOfItemsInCart}}</div>
    </div>
    <md-sidenav class="md-sidenav-right md-whiteframe-4dp mdSideNavR1" md-component-id="right"> 
        <md-content class="mdSideNavR2">
            <div class="sdNavFB1">
                <div class="sdNavFB2">
                    <md-button ng-click="close()" aria-label="HideSideNav" class="close-button" >
                        <ng-md-icon  icon="keyboard_arrow_right"></ng-md-icon>
                    </md-button>
                    <ul layout="row" class="cart-total">
                        <li>Cart Total:</li>
                        <li>&nbsp &nbspC${{totalAmount}}</li>
                    </ul>
                </div>
                <div class="div-checkout">
                    <button onclick="location.href='/checkout'" class="md-primary checkout cart-button">Proceed to Checkout</button>
                </div>
            </div>
            <!--Order Summary - Cart Items-->
            <div ng-repeat="store_type in userCartToView track by $index" class="cartBItems1">
                <div class="store-break">
                    <div flex="10" class="store-break-line"></div>
                    <span class="store-type">{{ store_type[0] }}</span>
                    <div  class="store-break-line"></div>
                </div>
                <div ng-repeat="product in store_type[1] track by $index">
                    <div layout="row" layout-align="center">
                        <div class="cartBItems2A" flex="30">
                            <ul>
                                <li>
                                    <md-button aria-label="plusItem" ng-click="plusItem(product)" class="item-button">
                                        <ng-md-icon  icon="add_circle_outline"></ng-md-icon>
                                    </md-button>
                                </li>
                                <li>
                                    <md-button  aria-label="minusItem" ng-click="minusItem(product)" class="item-button">
                                        <ng-md-icon  icon="remove_circle_outline"></ng-md-icon>
                                    </md-button>
                                </li>
                            </ul>
                        </div>
                        <div flex="35" layout="column" >
                            <li class="cartBItems2B1">
                                <md-button id="item-remove-button" aria-label="removeFromCart" ng-click="removeFromCart(product)" class="item-button">
                                    <ng-md-icon  icon="clear"></ng-md-icon>
                                </md-button>
                            </li>
                            <li><img class="cartBItems2B2" ng-src={{product.image}}></li>
                        </div>
                        <div class="cartBItems2C" flex="35">
                            <ul class="cartBItems2C2">
                                <li>{{product.brand}} {{product.name}}</li>
                                <li>{{product.volume}}</li>
                                <li>{{product.quantity}}&#8202X{{product.packaging}}</li>
                                <li>C${{product.price}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </md-content>
    </md-sidenav>
</div>

<% if (!production) { %>
    <script src="/resources/controllers/checkout_menu.js"></script>
<% } %>
