<link href="/resources/css/checkout_menu.css" rel="stylesheet">
<!--googleoff: snippet-->
<div ng-controller="cartController" ng-cloak ng-init="haveNotificationsToShow = (<%= haveNotificationsToShow %>)">
    <div class="checkout-menu-btn-div cart-btn-catalog">
        <button id="cart-button" class="checkout-menu-btn" ng-click="toggleRight()" ng-hide="isOpenRight()" ng-style="(!notificationClearedByUser && haveNotificationsToShow && (screenMob || screenTablet)) && {'top': '25px'} || {'top': '0px'}" homit-title="View my basket" homit-title-bottom>
            <ng-md-icon icon="shopping_basket"></ng-md-icon>
            <div ng-show="cart.numberOfItems() || !screenMob" class="items-num box-center" ng-class="{'items-num-mob': (screenMob || screenTablet) }">{{cart.numberOfItems()}}</div>
        </button>
    </div>
    <md-sidenav class="md-sidenav-right md-whiteframe-4dp checkout-sn" md-component-id="right"> 
        <md-content class="checkout-sn-content">
            <section class="sidenav-header">
                <div class="cart-tot box-center">
                    <button ng-click="close()" class="box-center sidenav-cls-btn">
                        <ng-md-icon  icon="keyboard_arrow_right"></ng-md-icon>
                    </button>
                    <ul class="total-ul">
                        <li>Basket Total:</li>
                        <li>&nbsp &nbspC${{ cart.totalCartPrice() }}</li>
                    </ul>
                </div>
                <div class="box-center to-checkout-div">
                    <button onclick="location.href='/checkout'" class="to-checkout-btn">Proceed to Checkout</button>
                </div>
            </section>
            <cart can-remove="true" cart-ctrl="cart" store-type-name="store_type_name"></cart>
        </md-content>
    </md-sidenav>
</div>
<!--googleon: snippet-->

<% if (!production) { %>
    <script src="/resources/directives/cart.js"></script>
    <script src="/resources/controllers/checkout_menu.js"></script>
<% } %>
