<link href="/resources/css/checkout_menu.css" rel="stylesheet">
<div ng-controller="cartController" ng-cloak>
    <div class="checkout-menu-btn-div cart-btn-catalog">
        <button id="cart" class="checkout-menu-btn" ng-click="toggleRight()" ng-hide="isOpenRight()">
            <ng-md-icon icon="shopping_cart"></ng-md-icon>
            <div class="items-num box-center">{{numberOfItemsInCart}}</div>
        </button>
    </div>
    <md-sidenav class="md-sidenav-right md-whiteframe-4dp checkout-sn" md-component-id="right"> 
        <md-content class="checkout-sn-content">
            <section class="sidenav-header">
                <div class="cart-tot box-center">
                    <button ng-click="close()" class="box-center sidenav-cls-btn">
                        <ng-md-icon  icon="keyboard_arrow_right"></ng-md-icon>
                    </button>
                    <ul class="total-ul">
                        <li>Cart Total:</li>
                        <li>&nbsp &nbspC${{ totalAmount }}</li>
                    </ul>
                </div>
                <div class="box-center to-checkout-div">
                    <button onclick="location.href='/checkout'" class="to-checkout-btn">Proceed to Checkout</button>
                </div>
            </section>
            <section class="sidenav-body" ng-repeat="store_type in userCartToView track by $index">
                <div class="store-seper box-center">
                    <span class="store-name">{{ store_type[0] }}</span>
                </div>
                <div ng-repeat="product in store_type[1] track by $index">
                    <div class="item-div fadeIn">
                        <div class="box-center item-left-div">
                            <button class="item-btn" ng-click="plusItem(product)">
                                <ng-md-icon  icon="add_circle_outline"></ng-md-icon>
                            </button>
                            <button  class="item-btn" ng-click="minusItem(product)">
                                <ng-md-icon icon="remove_circle_outline"></ng-md-icon>
                            </button>
                        </div>
                        <div class="item-mid-div">
                            <button id="item-remove-button" class="item-btn remove-btn" ng-click="removeFromCart(product)">
                                <ng-md-icon icon="clear"></ng-md-icon>
                            </button>
                            <span class="product-quantity">{{ product.quantity }}</span>
                            <img class="item-img" ng-src='{{ product.image }}'>
                        </div>
                        <div class="item-right-div">
                            <div class="produc-name">{{ product.brand }} {{ product.name }} 
                                <span ng-if="product.packaging > 1">({{product.packaging }} x {{ product.volume }})</span>
                                <span ng-if="product.packaging <= 1">({{ product.volume }})</span>
                            </div>
                            <div class="cart-prd-price" style="text-align: center;">C${{ product.price }}</div>
                        </div>
                    </div>
                </div>
            </section>
        </md-content>
    </md-sidenav>
</div>

<% if (!production) { %>
    <script src="/resources/controllers/checkout_menu.js"></script>
<% } %>
