<link href="/resources/css/checkout_menu.css" rel="stylesheet">
<div ng-controller="cartController">
    <div class="cart1">
        <md-button id="cart" ng-click="toggleRight()" ng-hide="isOpenRight()" class="md-fab md-primary cart2a" aria-label="toggleRightCart">
            <div class="cart2aa"><ng-md-icon icon="shopping_cart" class="shopping-cart"></ng-md-icon></div>
        </md-button>
        <div class="cartNotificationNumber cart2b">{{numberOfItemsInCart}}</div>
    </div>
    <md-sidenav class="md-sidenav-right md-whiteframe-4dp mdSideNavR1" md-component-id="right"> 
        <md-content class="mdSideNavR2">
            <div class="sdNavFB1">
                <div class="sdNavFB2">
                    <md-button ng-click="close()" aria-label="HideSideNav" class="ClsBtn" >
                        <ng-md-icon  icon="keyboard_arrow_left" style="fill: rgba(5, 26, 25, 0.6);" size="25" ></ng-md-icon>
                    </md-button>
                    <md-button onclick="location.href='/checkout'" class="md-primary chckOut">Check Out</md-button>
                </div>
                <div layout="row" layout-align="center">
                    <div class="sdNavFB3">
                        <ul class="sdNavFB3a">
                            <li>Cart Total:</li>
                        </ul>
                    </div>
                    <div class="sdNavFB3">
                        <ul class="sdNavFB3b">
                            <li>C${{totalAmount}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Order Summary - Cart Items-->
            <div ng-repeat="super_category in userCartToView" class="cartBItems1">
                <div class="strBrk">
                    <div flex="10" class="strTypeLn"></div>
                    <span class="strType">{{ super_category[0] }}</span>
                    <div  class="strTypeLn"></div>
                </div>
                <div ng-repeat="product in super_category[1]">
                    <div layout="row" layout-align="center">
                        <div class="cartBItems2A" flex="30">
                            <ul>
                                <li>
                                    <md-button aria-label="plusItem" ng-click="plusItem(product)" class="plusItem">
                                        <img class="orBtnSz" ng-src="{{'/resources/images/plusItem_Icon.svg'}}">
                                    </md-button>
                                </li>
                                <li>
                                    <md-button  aria-label="minusItem" ng-click="minusItem(product)" class="minusItem">
                                        <img class="orBtnSz" ng-src="{{'/resources/images/minusItem_Icon.svg'}}">
                                    </md-button>
                                </li>
                            </ul>
                        </div>
                        <div flex="35" layout="column" >
                            <li class="cartBItems2B1">
                                <md-button aria-label="removeFromCart" ng-click="removeFromCart(product)" class="itemRemoveBtn1">
                                    <img class="itemRemoveBtn2" ng-src="{{'/resources/images/clearItem_Icon.svg'}}">
                                </md-button>
                            </li>
                            <li><img class="cartBItems2B2" ng-src={{product.image}}></li>
                        </div>
                        <div class="cartBItems2C" flex="35">
                            <ul class="cartBItems2C2">
                                <li>{{product.brand}} {{product.name}}</li>
                                <li>{{product.volume}}</li>
                                <li>{{product.quantity}}&#8202X{{product.packaging}}</li>
                                <li>C${{product.price}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clrCart">
                <md-button class="md-raised clrCartbtn"  ng-click="clearCart()"> Clear Cart </md-button>
            </div>
        </md-content>
    </md-sidenav>
</div>

<% if (!production) { %>
    <script src="/resources/controllers/checkout_menu.js"></script>
<% } %>
