<link href="/resources/css/footer.css" rel="stylesheet">
<div ng-controller="footerController" ng-cloak style="height: 133px;">
    <main layout="columns" layout-align="center start">
        <!-- Left column -->
        <ul class="col_1" flex="40">
            <li layout="column" class="col_1_A">
                <div id="tu_tx" class="col_1_AA col_1_2_A">
                    <a class="text" href="/terms-of-use" target="_self">Terms of Use</a>
                </div>
                <div id="tu_ln" class="lnk_ln"></div>
            </li>
            <li layout="column" class="col_1_A">
                <div id="pp_tx" class="col_1_AA col_1_3_A">
                    <a class="text" href="/privacy" target="_self">Privacy Policy</a>
                </div>
                <div id="pp_ln" class="lnk_ln"></div>
            </li>
            <li layout="column" class="col_1_A">
                <div id="cu_tx" class="col_1_AA col_1_4_A">
                    <a class="text" href="/about" target="_self">About Us</a>
                </div>
                <div id="cu_ln" class="lnk_ln"></div>
            </li>
        </ul>
        <!-- Center column -->
        <section class="col_2">
            <a href="/main" target="_self">
                <img src="/resources/images/Homit_Logo_white.jpeg" width="60" height="60">
            </a>
        </section>
        <!-- Right column -->
        <ul class="col_3" flex="40">
            <li layout="column" class="col_3_A">
                <div id="fd_tx" class="col_3_AA col_3_2_A">
                    <a class="text" href="https://facebook.com/homit.ca" target="_blank">Facebook</a>
                </div>
                <div id="fd_ln" class="lnk_ln"></div>
            </li>
            <li layout="column" class="col_3_A">
                <div id="if_tx" class="col_3_AA col_3_3_A">
                    <a class="text" href="/refund" target="_self">Refund Policy</a>
                </div>
                <div id="if_ln" class="lnk_ln"></div>
            </li>
            <li layout="column" class="col_3_A">
                <div id="is_tx" class="col_3_AA col_3_4_A">
                    <a class="text" href="/contactus" target="_self">Contact Us</a>
                </div>
                <div id="is_ln" class="lnk_ln"></div>
            </li>
        </ul>
    </main>
    <div class="homit-copyright">Homit © 2018</div>
</div>

<% if (!production) { %>
    <script src="/resources/controllers/footer.js"></script>
<% } %>
