<link href="/resources/css/footer.css" rel="stylesheet">
<div ng-controller="footerController" ng-cloak style="height: 180px;">
    <main layout="columns" layout-align="center start">
        <!-- Left column -->
        <ul class="col_1" flex="40">
            <li id="rs_ln" layout="column" class="col_1_A">
                <div class="text" style="font-size: 14px; font-weight: 650;">RESOURCES</div>
            </li>
            <li layout="column" class="col_1_A">
                <div id="tu_tx" class="col_1_AA col_1_2_A">
                    <a class="text">Terms of Use</a>
                </div>
                <div id="tu_ln" class="lnk_ln"></div>
            </li>
            <li layout="column" class="col_1_A">
                <div id="pp_tx" class="col_1_AA col_1_3_A">
                    <a class="text">Privacy Policy</a>
                </div>
                <div id="pp_ln" class="lnk_ln"></div>
            </li>
            <li layout="column" class="col_1_A">
                <div id="cu_tx" class="col_1_AA col_1_4_A">
                    <a class="text">Contact us</a>
                </div>
                <div id="cu_ln" class="lnk_ln"></div>
            </li>
            <li layout="column" class="col_1_A">
                <div id="fq_tx" class="col_1_AA col_1_5_A">
                    <a class="text">FAQ</a>
                </div>
                <div id="fq_ln" class="lnk_ln"></div>
            </li>
        </ul>
        <!-- Center column -->
        <section class="col_2">
            <img src="/resources/images/Homit_Logo_white.jpeg" width="80" height="80">
        </section>
        <!-- Right column -->
        <ul class="col_3" flex="40">
            <li id="sm_ln" layout="column" class="col_3_A">
                <div class="text" style="font-size: 14px; font-weight: 650;">SOCIAL MEDIA</div>
            </li>
            <li layout="column" class="col_3_A">
                <div id="fd_tx" class="col_3_AA col_3_2_A">
                    <a class="text">Facebook</a>
                </div>
                <div id="fd_ln" class="lnk_ln"></div>
            </li>
            <li layout="column" class="col_3_A">
                <div id="if_tx" class="col_3_AA col_3_3_A">
                    <a class="text">info@homit.ca</a>
                </div>
                <div id="if_ln" class="lnk_ln"></div>
            </li>
            <li layout="column" class="col_3_A">
                <div id="is_tx" class="col_3_AA col_3_4_A">
                    <a class="text">Instagram</a>
                </div>
                <div id="is_ln" class="lnk_ln"></div>
            </li>
            <li layout="column" class="col_3_A">
                <div id="tw_tx" class="col_3_AA col_3_5_A">
                    <a class="text">Twitter</a>
                </div>
                <div id="tw_ln" class="lnk_ln"></div>
            </li>
        </ul>
    </main>
    <div class="cpw">Homit © 2018</div>
</div>

<% if (!production) { %>
    <script src="/resources/controllers/footer.js"></script>
<% } %>
