<link href="/resources/css/footer.css" rel="stylesheet">
<div ng-controller="footerController" ng-cloak>
    <section class="footer-sec-web">
        <div class="footer-sec-div">
            <div class="box-center footer-div-1">
                <a href="/main" target="_self" title="Homit">
                    <img alt="Homit Logo" src="/resources/images/non-catalog-image/homit_logo/Homit_Logo.jpeg">
                </a>
            </div>
            <div class="footer-div">
                <h4>ABOUT</h4>
                <a itemprop="url" class="text" href="/about" target="_self">About Homit</a>
                <a itemprop="url" class="text" href="/contact" target="_self">Contact</a>
            </div>
            <div class="footer-div">
                <h4>FOLLOW US</h4>
                <a itemprop="url" class="text" href="https://www.instagram.com/homit_official" target="_blank" rel="nonopener">Instagram</a>
                <a itemprop="url" class="text" href="https://facebook.com/homit.ca" target="_blank" rel="nonopener">Facebook</a>
                <a itemprop="url" class="text" href="https://twitter.com/homitca" target="_blank" rel="nonopener">Twitter</a>
            </div>
            <div class="footer-div">
                <h4>POLICIES and TERMS</h4>
                <a itemprop="url" class="text" href="/terms-of-use" target="_self">Terms of Use</a>
                <a itemprop="url"class="text" href="/privacy" target="_self">Privacy Policy</a>
                <a itemprop="url" class="text" href="/refund" target="_self">Refund Policy</a>
            </div>
            <div class="footer-div-5">
                <h4>PAYMENT OPTIONS</h4>
                <img alt="Visa icon" src="/resources/images/non-catalog-image/pages/visa_icon.png">
                <img alt="MasterCard icon" src="/resources/images/non-catalog-image/pages/mastercard_icon.png">
                <img alt="American Express icon" src="/resources/images/non-catalog-image/pages/american_express_icon.png">
                <a href="https://stripe.com/ca/customers" target="_blank" rel="nonopener"><img alt="Powered by Stripe" style="width: 110px; height: auto; margin-top: 3px;" src="/resources/images/non-catalog-image/powered_by_stripe.png"></a>
            </div>
        </div>
    </section>
<!--googleoff: snippet-->
    <section class="footer-sec-mob">
        <div class="footer-div-mob">
            <div class="div-mob div-mob-1">
                <a itemprop="url" class="text" href="/about" target="_self">About Homit</a>
                <a itemprop="url" class="text" href="/contact" target="_self">Contact</a>
            </div>
            <div class="div-mob div-mob-2">
                <a itemprop="url"class="text" href="/privacy" target="_self">Privacy</a>
                <a itemprop="url" class="text" href="/refund" target="_self">Refund Policy</a>
                <a itemprop="url" class="text" href="/terms-of-use" target="_self">Terms</a>
            </div>
            <div class="div-mob-payment">
                <img alt="Visa icon" src="/resources/images/non-catalog-image/pages/visa_icon.png">
                <img alt="MasterCard icon" src="/resources/images/non-catalog-image/pages/mastercard_icon.png">
                <img alt="American Express icon" src="/resources/images/non-catalog-image/pages/american_express_icon.png">
            </div>
            <div class="div-mob div-mob-4">
                <a itemprop="url" class="text" href="https://twitter.com/homitca" target="_blank" rel="nonopener">
                    <ng-md-icon icon="twitter" size="40"></ng-md-icon>
                </a>
                <a itemprop="url" class="text" href="https://www.instagram.com/homit_official" target="_blank" rel="nonopener">
                    <img alt="Instagram icon" src="/resources/images/non-catalog-image/pages/instagram_icon.png">
                </a>
                <a itemprop="url" class="text" href="https://facebook.com/homit.ca" target="_blank" rel="nonopener">
                    <ng-md-icon icon="facebook" size="36"></ng-md-icon>
                </a>
            </div>
        </div>
    </section>
<% if (!production) { %>
    <script src="/resources/controllers/footer.js"></script>
<% } %>
<!--googleon: snippet-->
