<title>
    <%= title %>
</title>

<link href="/resources/css/header.css" rel="stylesheet">

<!--googleoff: snippet-->
<nav class="homit-nav" ng-controller="headerController" ng-cloak>
    <input id="searchBarBoolean" type="hidden" value="<%= showSearchBar %>">
    <div class="homit-nav-content" ng-cloak>
        <section>
            <a class="white-logo" href="/main" target="_self">
                <img class="logo-img" src="/resources/images/non-catalog-image/homit_logo/Homit_Logo_TM.png" />
            </a>
            <a class="rgb-logo" href="/about" target="_self">
                <img class="logo-img" src="/resources/images/non-catalog-image/homit_logo/Homit_Logo_TM_rgb.png" />
            </a>
        </section>
        <!-- search bar -->
        <global-search ng-if="!screenMob" input-id="inputId" class="global-search-header" flex="40"></global-search>
        <!-- buttons -->
        <section class="button-sec">
            <button class="hub-btn" ng-click="showHubBoxFun()">
                hub
            </button>
            <div id="hdrHub" ng-if="showHubBox" class="header-hub fadeIn-hdr" ng-style="('<%= userLoggedIn %>' == 'true') && {'right': '28px'} || {'right': '128px'}">
                <div id="hdrHub1" class="box-extBox"></div>
                <div id="hdrHub2">
<!--googleon: snippet-->
                    <div class="hub-box">
                        <div id="liquor-store-dashboard" class="store-div" ng-click="hrefTo('/catalog/liquor-station')">
                            <div>
                                <img src="/resources/images/non-catalog-image/store-logo/liquor-station_icon.png">
                            </div>
                            <h3>
                                <a href="https://homit.ca/catalog/liquor-station">Liquor Station</a>
                            </h3>
                        </div>
                        <div id="dwarf-stars-dashboard" class="store-div" ng-click="hrefTo('/catalog/dwarf-stars')">
                            <div>
                                <img ng-src="/resources/images/non-catalog-image/store-logo/dwarf-stars_icon.png">
                            </div>
                            <h3>
                                <a href="https://homit.ca/catalog/dwarf-stars">Dwarf Stars</a>
                            </h3>
                        </div>
                        <div id="linas-italian-store-dashboard" class="store-div snack-vendor-div " ng-click="hrefTo('/catalog/linas-italian-market')">
                            <div>
                                <img ng-src="/resources/images/non-catalog-image/store-logo/linas-italian-store_icon.png">
                            </div>
                            <h3>
                                <a href="https://homit.ca/catalog/linas-italian-market">Lina's Italian Market</a>
                            </h3>
                        </div>
                        <div id="snack-vendor-dashboard" class="store-div snack-vendor-div" ng-click="hrefTo('/catalog/snack-vendor')">
                            <div>
                                <img ng-src="/resources/images/non-catalog-image/store-logo/snack-vendor_icon.png">
                            </div>
                            <h3>
                                <a href="https://homit.ca/catalog/snack-vendor">Snack Vendor</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
<!--googleoff: snippet-->
            <% if(!userLoggedIn) { %>
                <span id="sign-btns" ng-cloak>
                    <button class="sign-btn logIn-btn rgb-background" ng-click="modal(true, 'login');">
                        Sign In <ng-md-icon class="log-in-icon" icon="account_circle" size="35"></ng-md-icon>
                    </button>
                    <button class="sign-btn signUp-btn" ng-click="modal(false, 'signup');">
                        Sign Up
                    </button>
                </span>
                <%} else {%>
                    <button ng-click="showAccountBoxFun()" class="user-signed-btn">
                        <ng-md-icon icon="person"></ng-md-icon>
                    </button>
                    <div id="hdrMyAcc" ng-if="showAccountBox" class="myAccount-box fadeIn-hdr">
                        <div id="hdrMyAcc1" class="box-extBox"></div>
                        <div id="hdrMyAcc2">
                            <ul>
                                <li ng-click="hrefTo('/checkout')" class="myAccount-box-li">Checkout</li>
                                <li class="myAccount-box-line"></li>
                                <li ng-click="hrefTo('/myaccount')" class="myAccount-box-li myAccount-box-ln3">My Account</li>
                                <li ng-click="logout()" class="myAccount-box-li">Sign Out</li>
                            </ul>
                        </div>
                    </div>
                    <% } %>
<!--googleon: snippet-->
        </section>
        <modal class="header-sign-modal" show="showModal" ng-show="showModal" show-login="showLogInModal"></modal>
    </div>
</nav>

<% if (!production) { %>
    <script src="/resources/services/sessionStorage.js"></script>
    <script src="/resources/services/userAction.js"></script>
    <script src="/resources/directives/modal.js"></script>
    <script src="/resources/directives/globalSearch.js"></script>
    <script src="/resources/controllers/header.js"></script>
    <% } %>