<title>
    <%= title %>
</title>

<link href="/resources/css/header.css" rel="stylesheet">

<!-- Using bootstrap container -->
<nav class="homit-nav" ng-controller="headerController" ng-cloak>
    <input id="searchBarBoolean" type="hidden" value="<%= showSearchBar %>">
    <div class="homit-nav-content" ng-cloak>
        <!-- homit icon -->
        <section>
            <a class="white-logo" href="/main" target="_self">
                <img class="logo-img" src="/resources/images/non-catalog-image/homit_logo/Homit_Logo_TM.png" />
            </a>
            <a class="rgb-logo" href="/about" target="_self">
                <img class="logo-img" src="/resources/images/non-catalog-image/homit_logo/Homit_Logo_TM_rgb.png" />
            </a>
        </section>
        <button id="search-btn-mob" ng-show="screenMob" class="search-btn-mob" ng-click="focusSearchInput(); mobileSearchShow = !mobileSearchShow; searchRequest = '' ; searchDisplay = '';"
            ng-style="('<%= userLoggedIn %>' == 'true') && {'margin-right': '75px'}">
            <ng-md-icon ng-show="!mobileSearchShow" icon="search" class="search-icon-mob"></ng-md-icon>
            <ng-md-icon ng-show="mobileSearchShow" icon="clear" class="search-icon-mob"></ng-md-icon>
        </button>
        <!-- search bar -->
        <section class="search-sec" flex="40">
            <button class="search-btn" ng-click="searchRequest = '' ; searchDisplay = ''; ">
                <ng-md-icon ng-if="!searchRequest" icon="search"></ng-md-icon>
                <ng-md-icon ng-if="searchRequest" icon="clear"></ng-md-icon>
            </button>
            <input id="global-search-input" class="search-input" ng-model="searchRequest" placeholder="Search to Homit...">

            <div ng-if="searchDisplay" class="search-result-box">
                <ul ng-if="resultStoreType.length" id="glbSrchA" class="store-ul">
                    <li class="li-content" ng-repeat="node in resultStoreType">
                        <a class="navigate-search" href="/catalog/{{ node.store_type_api_name }}/" target="_self" id="store_type_{{ $index + 1 }}">
                            <span class="store-text">
                                <em class="match-em">{{ node.tree_matched }}</em>{{ node.tree_end }}</span>
                        </a>
                    </li>
                    <li class="srch-result-sep-line" ng-if="resultCategory.length || resultSubcategory.length || resultProducts.length">
                        <div></div>
                    </li>
                </ul>
                <ul ng-if="resultCategory.length || resultSubcategory.length" class="cat-subcat-ul">
                    <li class="li-content" ng-repeat="node in resultCategory">
                        <a class="navigate-search" href="/catalog/{{ node.store_type_api_name }}/{{ node.category }}" target="_self" id="category_{{$index + 1}}">
                            <ul class="cat-subcat-ul-2">
                                <li>{{ node.store_type_display_name }}
                                    <span class="greater-char">></span>
                                </li>
                                <li>
                                    <span class="match-cat-subcat-span">
                                        <em class="match-em">{{ node.tree_matched }}</em>{{ node.tree_end }}</span>
                                </li>
                            </ul>
                        </a>
                    </li>
                    <li class="li-content" ng-repeat="node in resultSubcategory">
                        <div class="navigate-search subcat-div" ng-click="goToSubcat(node)" id="subcategory_{{ $index + 1 }}">
                            <ul class="cat-subcat-ul-2">
                                <li>{{ node.store_type_display_name }}
                                    <span class="greater-char">></span>{{ node.category_display_name }}
                                    <span class="greater-char">></span>
                                </li>
                                <li>
                                    <span class="match-cat-subcat-span">
                                        <em class="match-em">{{ node.tree_matched }}</em>{{ node.tree_end }}</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="srch-result-sep-line" ng-if="resultProducts_start.length || resultProducts_descr || resultProducts_end">
                        <div></div>
                    </li>
                </ul>
                <ul ng-if="resultProducts_start.length" class="product-ul">
                    <li ng-repeat="node in resultProducts_start">
                        <div class="navigate-search flex-row srch-product-content" ng-click="hrefToPrdPage(node)" id="product_start_{{ $index + 1 }}">
                            <img class="search-prd-img" ng-src="/resources/images/products/{{node.category}}/{{node.image}}">
                            <!-- IMPORTANT - Keep "span" tag content on the same line -->
                            <span class="product-brand-txt">{{node.brand_name_str}}<em class="match-em">{{node.brand_name_matched}}</em>{{node.brand_name_end}}</span>
                        </div>
                    </li>
                </ul>
                <ul ng-if="resultProducts_descr.length" class="product-ul">
                    <li ng-repeat="node in resultProducts_descr">
                        <div class="navigate-search flex-row srch-product-content" ng-click="hrefToPrdPage(node)" id="product_descr_{{ $index + 1 }}">
                            <img class="search-prd-img" ng-src="/resources/images/products/{{node.category}}/{{node.image}}">
                            <ul class="product-2-ul">
                                <li class="product-brand-txt">{{ node.brand + " " + node.name }}</li>
                                <li>
                                    <!-- IMPORTANT - Keep "span" tag content on the same line -->
                                    <span class="product-descr-txt">{{ node.description_key_display_name }}: {{ node.description_str }}<em class="match-em">{{ node.description_matched }}</em>{{ node.description_end }}</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul ng-if="resultProducts_end.length" class="product-ul">
                    <li ng-repeat="node in resultProducts_end">
                        <a class="navigate-search flex-row srch-product-content" ng-click="hrefToPrdPage(node)" id="product_end_{{ $index + 1 }}">
                            <img class="search-prd-img" ng-src="/resources/images/products/{{node.category}}/{{node.image}}">
                            <ul class="product-2-ul">
                                <!-- IMPORTANT - Keep "span" tag content on the same line -->
                                <span class="product-brand-txt">{{ node.brand_name_str }}<em class="match-em">{{ node.brand_name_matched }}</em>{{ node.brand_name_end }}</span>
                            </ul>
                        </a>
                    </li>
                </ul>
                <ul class="not-found-ul" ng-if="!resultProducts_start.length && !resultProducts_descr.length && !resultProducts_end.length && !resultSubcategory.length  && !resultCategory.length && !resultStoreType.length">
                    <li class="not-found-li">
                        <span class="not-found-span">Not Found Yet...</span>
                    </li>
                </ul>
            </div>
        </section>
        <!-- buttons -->
        <section class="button-sec">
            <button class="hub-btn" ng-click="hdrExtBx('hdrHub', 'hdrHub1', 'hdrHub2', 'hdrHub3')">
                hub
            </button>
            <div id="hdrHub" aria-hidden="true" class="header-hub" ng-style="('<%= userLoggedIn %>' == 'true') && {'right': '28px'} || {'right': '128px'}">
                <div id="hdrHub1" class="box-extBox"></div>
                <div id="hdrHub2">
                    <div class="hub-box">
                        <div id="snack-vendor-dashboard" class="store-div snack-vendor-div" ng-click="hrefTo('/catalog/snack-vendor')">
                            <div>
                                <img ng-src="/resources/images/non-catalog-image/homit_hub/snack-vendor_icon.png">
                            </div>
                            <h3>
                                <a href="https://homit.ca/catalog/snack-vendor">Snack Vendor</a>
                            </h3>
                        </div>
                        <div id="linas-italian-store-dashboard" class="store-div snack-vendor-div " ng-click="hrefTo('/catalog/linas-italian-market')">
                            <div>
                                <img ng-src="/resources/images/non-catalog-image/homit_hub/linas-italian-store_icon.png">
                            </div>
                            <h3>
                                <a href="https://homit.ca/catalog/linas-italian-market">Lina's Italian Market</a>
                            </h3>
                        </div>
                        <div id="liquor-store-dashboard" class="store-div" ng-click="hrefTo('/catalog/liquor-station')">
                            <div>
                                <img ng-src="/resources/images/non-catalog-image/homit_hub/liquor-station_icon.png">
                            </div>
                            <h3>
                                <a href="https://homit.ca/catalog/liquor-station">Liquor Station</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <% if(!userLoggedIn) { %>
                <span id="sign-btns" ng-cloak>
                    <button class="homit-btn logIn-btn rgb-background btn-font" ng-click="modal(true, 'login');">
                        Log in
                    </button>

                    <button class="homit-btn default-btn signUp-btn btn-font" ng-click="modal(false, 'signup');">
                        Sign up
                    </button>
                </span>
                <%} else {%>
                    <button ng-click="hdrExtBx('hdrMyAcc', 'hdrMyAcc1', 'hdrMyAcc2', 'hdrMyAcc3')" class="user-signed-btn">
                        <ng-md-icon icon="person"></ng-md-icon>
                    </button>
                    <div id="hdrMyAcc" aria-hidden="true" class="myAccount-box">
                        <div id="hdrMyAcc1" class="box-extBox"></div>
                        <div id="hdrMyAcc2">
                            <ul>
                                <li ng-click="hrefTo('/checkout')" class="myAccount-box-li">Checkout</li>
                                <li class="myAccount-box-line"></li>
                                <li ng-click="hrefTo('/myaccount')" class="myAccount-box-li myAccount-box-ln3">My Account</li>
                                <li ng-click="logout()" class="myAccount-box-li">Sign Out</li>
                            </ul>
                        </div>
                    </div>
                    <% } %>
        </section>
        <modal class="header-sign-modal" show="showModal" ng-show="showModal" show-login="showLogInModal"></modal>
    </div>
    <!-- Mobile global-search Input-->
    <section class="mob-global-search-input" ng-show="mobileSearchShow">
        <div>
            <ng-md-icon icon="search" class="mob-search-input-icon"></ng-md-icon>
            <input id="global-search-input-mobile" class="mob-search-input" ng-model="searchRequest" placeholder="Search to Homit..."
                autocomplete="none" autocorrect="off" spellcheck="false">
        </div>
    </section>
</nav>

<% if (!production) { %>
    <script src="/resources/services/sessionStorage.js"></script>
    <script src="/resources/services/userAction.js"></script>
    <script src="/resources/directives/modal.js"></script>
    <script src="/resources/controllers/header.js"></script>
    <% } %>
        <script>
                // $(document).ready(function () {
                //     $(window).resize(function () {
                //         var navHeight = $(".navbar").height();
                //         $(document.body).css("margin-top", navHeight);
                //     });

                //     $(window).resize();
                // });
        </script>