<title>
    <%= title %>
</title>

<link href="/resources/css/header.css" rel="stylesheet">

<!-- Using bootstrap container -->
<nav class="homit-nav" ng-controller="headerController" ng-cloak>
    <input id="searchBarBoolean" type="hidden" value="<%= showSearchBar %>">
    <div class="homit-nav-content" ng-cloak>
        <!-- homit icon -->
        <section>
            <a href="/main" target="_self">
                <img class="logo-img" src="/resources/images/Homit_Logo_TM.jpeg" />
            </a>
        </section>
        <button id="search-btn-mob" ng-show="screenMob" class="search-btn-mob" ng-click="focusSearchInput(); mobileSearchShow = !mobileSearchShow; searchRequest = '' ; searchDisplay = '';" ng-style="('<%= userLoggedIn %>' == 'true') && {'margin-right': '75px'}">
            <ng-md-icon ng-show="!mobileSearchShow" icon="search" class="search-icon-mob"></ng-md-icon>
            <ng-md-icon ng-show="mobileSearchShow" icon="clear" class="search-icon-mob"></ng-md-icon>
        </button>
        <!-- search bar -->
        <section class="search-sec" ng-show="!screenMob" flex="40">
            <button class="search-btn" ng-click="searchRequest = '' ; searchDisplay = ''; ">
                <ng-md-icon ng-if="!searchRequest" icon="search"></ng-md-icon>
                <ng-md-icon ng-if="searchRequest" icon="clear"></ng-md-icon>
            </button>
            <input id="global-search-input" class="search-input" ng-model="searchRequest" placeholder="Search to Homit...">

            <div ng-if="searchDisplay" class="NM-search-box">
                <ul ng-if="resultStoreType.length" id="glbSrchA">
                    <li ng-repeat="node in resultStoreType">
                        <a class="navigate-search" href="/catalog/{{ node.store_type_api_name }}/" target="_self" id="store_type_{{ $index + 1 }}">
                            <span>{{ node.store_type_display_name }}</span>
                        </a>
                    </li>
                    <li ng-if="resultCategory.length || resultSubcategory.length || resultProducts.length" class="NM-search-box-line">
                        <div></div>
                    </li>
                </ul>
                <ul ng-if="resultCategory.length || resultSubcategory.length">
                    <li ng-repeat="node in resultCategory">
                        <a class="navigate-search" href="/catalog/{{ node.store_type_api_name }}/{{ node.category }}" target="_self" id="category_{{$index + 1}}">
                            <span>{{ node.category_display_name }}</span>
                        </a>
                    </li>
                    <li ng-repeat="node in resultSubcategory">
                        <a class="navigate-search" href="/catalog/{{ node.store_type_api_name }}/{{ node.category }}" target="_self" ng-click="goToSearchedNode(node.subcategory, 0)"
                            id="subcategory_{{ $index + 1 }}">
                            <span>{{ node.subcategory }}</span>
                        </a>
                    </li>
                    <li ng-if="resultProducts.length" class="NM-search-box-line">
                        <div></div>
                    </li>
                </ul>
                <ul ng-if="resultProducts.length">
                    <li ng-repeat="node in resultProducts">
                        <a class="navigate-search" href="/catalog/{{ node.store_type_api_name }}/{{ node.category }}" target="_self" layout="row"
                            ng-click="goToSearchedNode(node.subcategory, node.product_id)" id="product_{{ $index + 1 }}">
                            <span>
                                <img ng-src="/resources/images/products/{{node.category}}/{{node.image}}">
                            </span>
                            <span class="NM-product-details">{{ node.brand + " " + node.name }}</span>
                        </a>
                    </li>
                </ul>
                <ul ng-if="!resultProducts.length && !resultSubcategory.length  && !resultCategory.length && !resultStoreType.length">
                    <li class="NM-not-found">
                        <span>Not Found Yet...</span>
                    </li>
                </ul>
            </div>
        </section>
        <!-- buttons -->
        <section class="button-sec">
            <button class="hub-btn" ng-click="hdrExtBx('hdrHub', 'hdrHub1', 'hdrHub2', 'hdrHub3')">
                hub
            </button>
            <div id="hdrHub" aria-hidden="true" class="header-hub" ng-style="('<%= userLoggedIn %>' == 'true') && {'right': '28px'} || {'right': '128px'}">
                <div id="hdrHub1" class="box-extBox"></div>
                <!-- <div id="hub-background-image"></div> -->
                <div id="hdrHub2">
                    <div class="hub-box">
                        <div id="snack-vendor-dashboard" class="store-div snack-vendor-div" ng-click="hrefTo('/catalog/snack-vendor')">
                            <div>
                                <img ng-src="/resources/images/non-catalog-image/homit_hub/snack-vendor_icon.png">
                            </div>
                            <h3 style="font-size: 16px; padding-top: 10px;">
                                <a href="https://homit.ca/catalog/snack-vendor">Snack Vendor</a>
                            </h3>
                        </div>
                        <div id="linas-italian-store-dashboard" class="store-div snack-vendor-div " ng-click="hrefTo('/catalog/linas-italian-market')">
                            <div>
                                <img ng-src="/resources/images/non-catalog-image/homit_hub/linas-italian-store_icon.png">
                            </div>
                            <h3 style="font-size: 16px; padding-top: 10px;">
                                <a href="https://homit.ca/catalog/linas-italian-market">Lina's Italian Market</a>
                            </h3>
                        </div>
                        <div id="liquor-store-dashboard" class="store-div" ng-click="hrefTo('/catalog/liquor-station')">
                            <div>
                                <img ng-src="/resources/images/non-catalog-image/homit_hub/liquor-station_icon.png">
                            </div>
                            <h3 style="font-size: 16px; padding-top: 10px;">
                                <a href="https://homit.ca/catalog/liquor-station">Liquor Station</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <% if(!userLoggedIn) { %>
                <span id="sign-btns" ng-cloak>
                    <button class="homit-btn logIn-btn rgb-background btn-font" ng-click="modal(true, 'login');">
                        Log in
                    </button>

                    <button class="homit-btn default-btn signUp-btn btn-font" ng-click="modal(false, 'signup');">
                        Sign up
                    </button>
                </span>
                <%} else {%>
                    <button ng-click="hdrExtBx('hdrMyAcc', 'hdrMyAcc1', 'hdrMyAcc2', 'hdrMyAcc3')" class="user-signed-btn">
                        <ng-md-icon icon="person"></ng-md-icon>
                    </button>
                    <div id="hdrMyAcc" aria-hidden="true" class="myAccount-box">
                        <div id="hdrMyAcc1" class="box-extBox"></div>
                        <div id="hdrMyAcc2">
                            <ul>
                                <li ng-click="hrefTo('/checkout')" class="myAccount-box-li">Checkout</li>
                                <li class="myAccount-box-line"></li>
                                <li ng-click="hrefTo('/myaccount')" class="myAccount-box-li myAccount-box-ln3">My Account</li>
                                <li ng-click="logout()" class="myAccount-box-li">Sign Out</li>
                            </ul>
                        </div>
                    </div>
                    <% } %>
        </section>
        <modal class="header-sign-modal" show="showModal" ng-show="showModal" show-login="showLogInModal"></modal>
    </div>
    <!-- Mobile global-search Input-->
    <section class="mob-global-search-input" ng-show="mobileSearchShow">
        <div>
            <ng-md-icon icon="search" class="mob-search-input-icon"></ng-md-icon>
            <input id="global-search-input-mobile" class="mob-search-input" ng-model="searchRequest" placeholder="Search to Homit..."
                autocomplete="none" autocorrect="off" spellcheck="false">
        </div>
    </section>
    <!-- Mobile global-search Result-->
    <section ng-if="searchDisplay && screenMob" class="mob-search-result">
        <ul ng-if="resultStoreType.length" class="search-res-ul">
            <li ng-repeat="node in resultStoreType" class="search-res-li">
                <a href="/catalog/{{ node.store_type_api_name }}/" class="search-res-a" target="_self" id="super_category_{{ $index + 1 }}">
                    <span class="search-res-span">{{ node.store_type_display_name }}</span>
                </a>
            </li>
            <li class="search-res-line" ng-if="resultCategory.length || resultSubcategory.length || resultProducts.length">
                <div></div>
            </li>
        </ul>
        <ul ng-if="resultCategory.length || resultSubcategory.length" class="search-res-ul">
            <li ng-repeat="node in resultCategory" class="search-res-li">
                <a href="/catalog/{{ node.store_type_api_name }}/{{ node.category }}" class="search-res-a" target="_self" id="category_{{ $index + 1 }}">
                    <span class="search-res-span">{{ node.category_display_name }}</span>
                </a>
            </li>
            <li ng-repeat="node in resultSubcategory" class="search-res-li">
                <a href="/catalog/{{ node.store_type_api_name }}/{{ node.category }}" class="search-res-a" target="_self" ng-click="goToSearchedNode(node.subcategory, 0)"
                    id="subcategory_{{ $index + 1 }}">
                    <span class="search-res-span">{{ node.subcategory }}</span>
                </a>
            </li>
            <li class="search-res-line" ng-if="resultProducts.length">
                <div></div>
            </li>
        </ul>
        <ul ng-if="resultProducts.length" class="search-res-ul-product">
            <li ng-repeat="node in resultProducts" class="search-res-li-product">
                <a href="/catalog/{{ node.store_type_api_name }}/{{ node.category }}" class="search-res-a-product" target="_self" layout="row"
                    ng-click="goToSearchedNode(node.subcategory, node.product_id)" id="product_{{ $index + 1 }}">
                    <span>
                        <img class="search-res-product-img" ng-src="/resources/images/products/{{ node.category }}/{{ node.image }}">
                    </span>
                    <span class="search-res-span-product">{{ node.brand + " " + node.name }}</span>
                </a>
            </li>
        </ul>
        <ul class="search-res-ul" ng-if="!resultProducts.length && !resultSubcategory.length  && !resultCategory.length && !resultStoreType.length">
            <li class="search-res-a">
                <span class="search-res-span">Not Found Yet...</span>
            </li>
        </ul>
    </section>
</nav>

<% if (!production) { %>
    <script src="/resources/services/sessionStorage.js"></script>
    <script src="/resources/services/userAction.js"></script>
    <script src="/resources/directives/modal.js"></script>
    <script src="/resources/controllers/header.js"></script>
    <% } %>
        <script>
                // $(document).ready(function () {
                //     $(window).resize(function () {
                //         var navHeight = $(".navbar").height();
                //         $(document.body).css("margin-top", navHeight);
                //     });

                //     $(window).resize();
                // });
        </script>