<link href="/resources/css/notification.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

<div ng-controller="notificationController" ng-cloak class="notification-body">
    <!-- Product information section -->
    <div ng-if="product">
        <div class="notification_box" layout="row">
            <div layout="column">
                <li>
                    <img class="addItem_img" ng-src={{product.image}}>
                </li>
            </div>
            <ul class="addItem_ul">
                <li class="addItem_ulA">
                    <span>{{product.brand}}</span>
                </li>
                <li class="addItem_ulB">
                    <span>{{product.volume}} &#8202X{{product.packaging}}</span>
                </li>
            </ul>
        </div>
    </div>

    <!-- Message section -->
    <div ng-if="message">
        <div class="notification_box" ng-class="messageType">
            <!-- <ng-md-icon ng-class="iconType" icon="announcement" fill="red"></ng-md-icon> -->
            <img ng-src="{{'/resources/images/non-catalog-image/homit_closed.png'}}">
            <p>{{ message }}</p>
        </div>
    </div>
</div>

<% if (!production) { %>
    <script src="/resources/services/notification.js"></script>    
    <script src="/resources/controllers/notification.js"></script>
<% } %>
