<link href="/resources/css/signup.css" rel="stylesheet">

<!-- Modal for log in/sign up -->
<div id='loginModal' class="modal fade" tabindex="-1" role="dialog" ng-controller="LoginController as login">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content login-modal">
        <div class="modal-header">
            <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
            <section layout="row" layout-wrap>
                <div id="signHeader" layout="row">
                    <img ng-src="{{'/resources/images/globe.svg'}}">
                    <div>{{login.modalTitle}}</div>
                </div>
            </section>
        </div>
        <div class="modal-body">
            <div layout="column" layout-align="center center" ng-if="login.isLoading">  
                <div md-colors="{color: 'primary'}">{{ login.loadingMessage }}</div>
                <md-progress-circular md-colors="{color: 'primary'}" ng-disabled="!login.isLoading" md-diameter="96"></md-progress-circular>
            </div>
            <div id="signInputForm" ng-if="!login.isLoading">
                <div name="loginSignupForm" layout="column" flex="90" >
                    <!-- Universal Email -->
                    <md-input-container id="emailInput">
                        <label>Email</label>
                        <input name="email" ng-model="login.email" type="email" required/>
                        <div ng-messages="loginSignupForm.email.$error">
                            <div ng-message="required">This is required!</div>
                            <div ng-message="email">Invalid email</div>
                        </div>
                    </md-input-container>

                    <!-- First name -->
                    <md-input-container id="fname-input" class="md-block" ng-if="login.goToSignUp">
                        <label>First name</label>
                        <input name="firstname" type="text" ng-model="login.fname" required/>
                        <div ng-messages="loginSignupForm.firstname.$error">
                            <div ng-message="required">This is required!</div>
                        </div>
                    </md-input-container>

                    <!-- Last name -->
                    <md-input-container id="lname-input" class="md-block" ng-if="login.goToSignUp">
                        <label>Last name</label>
                        <input name="lastname" type="text" ng-model="login.lname" required/>
                        <div ng-messages="loginSignupForm.lastname.$error">
                            <div ng-message="required">This is required!</div>
                        </div>
                    </md-input-container>

                    <!-- Password -->
                    <md-input-container id="password-input" class="md-block" ng-if="login.goToSignIn || login.goToSignUp">
                        <label>Password</label>
                        <input name="password" type="password" ng-model="login.password" required/>
                        <div ng-messages="loginSignupForm.password.$error">
                            <div ng-message="required">This is required!</div>
                        </div>
                    </md-input-container>
                    <!-- Forgot password -->
                    <div layout="column" layout-align="start">
                            <md-button class="md-primary" ng-click="login.goToForgotPasswordForm()" ng-if="login.goToSignIn">Forgot Password</md-button>
                    </div>
                    
                    <!-- Main Button -->
                    <div layout="column" layout-align="start">
                        <md-button id="nextButton" class="md-raised md-primary" ng-click="login.checkState();">{{login.mainButtonText}}</md-button>
                    </div>
                </div>
            </div>
            <notification layout="column" layout-align="center center"></notification>
        </div>
    </div>
  </div>
</div>

<% if (!production) { %>
    <script src="/resources/controllers/signup.js"></script>
<% } %>
