<html>
    <head>
        <title> <%= title %> </title>

        <link href="library/css/bootstrap.min.css" rel="stylesheet">
        <link href="library/css/bootstrap-theme.min.css" rel="stylesheet">
    </head>
    <body>