<html>
    <link href="library/css/bootstrap.min.css" rel="stylesheet">
    <link href="library/css/bootstrap-theme.min.css" rel="stylesheet">
    <head>
        <title> <%= title %> </title>
    </head>

    <body>