<html ng-app="mainModule">
    <head>
        <title> <%= title %> </title>
        
        <link href="/resources/library/css/bootstrap.min.css" rel="stylesheet">
        <link href="/resources/library/css/bootstrap-theme.min.css" rel="stylesheet">

        <link href="/resources/css/body.css" rel="stylesheet">

            <div class="headbox">
                <div class="navbar_a">
                <button class="brandname">Delivery</button>
                <form class="search-form">
                    <input type="text" class="search-box" placeholder="Search">
                </form>
                <button id="sign" class="login">Sign</button>
                <!--<button class="myacc">My Account</button>-->
                </div>
                <div id="sign_modal" class="s_modal" ng-controller="LoginController">
                <div class="in_modal">
                    <div> 
                    <div>
                        <label for="email">Email</label>
                        <input type="text" ng-model="signin.email" id="email" name="Email" placeholder="Email address..">
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input type="text" ng-model="signin.password" id="password" name="Password" placeholder="Your password..">
                    </div>
                    <input ng-click="signInClicked()" type="submit" id="signin" value="Sign in">  
                    </div>  
                    <div>
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="fname" placeholder="Your name..">
                    </div>
                    <div>
                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lname" placeholder="Your last name..">
                    </div>
                    <input type="submit" id="signup" value="Sign up">
                    </div>
                <span class="close">&times;</span>
                </div>
                <div>
                <button class="special">Special</button>
                <button class="Wines">Wines</button>
                <button class="beers">Beers</button>
                <button class="spirits">Spirits</button>
                </div>
            </div>

        <script src="/resources/library/js/angular.min.js"></script>
        <script src="/resources/controllers/header.js"></script>

</head>
<body>