<html>
    <head>
        <title> <%= title %> </title>
        
        <link href="/resources/library/css/bootstrap.min.css" rel="stylesheet">
        <link href="/resources/library/css/bootstrap-theme.min.css" rel="stylesheet">

        <script src="/resources/library/js/angular.min.js"></script>
    </head>
    <body>