<style>

     /* Don't display md-input-container label when input focused */
    md-input-container.md-input-focused label:not(.md-no-float), md-input-container.md-input-has-placeholder label:not(.md-no-float), md-input-container.md-input-has-value label:not(.md-no-float) {
        display: none;
    }

    /* Upon valid input makes input bottom-border green */
    md-input-container .ng-valid.ng-not-empty, #autocompleteAddressInputBox .ng-valid.ng-not-empty {
        border-bottom-color: rgb(0, 204, 153) !important;
        border-bottom-width: 2px !important;
        padding-bottom: 0px;
    }

    md-progress-circular svg path { 
        stroke: rgba(196, 196, 196, 0.726); 
    }

    .email-check-grow{
        display: flex;
    }

    .email-check-grow span{
        margin-left: 3px;
    }

    .font {
        letter-spacing: 0.01em;
        font-family: 'Nunito', sans-serif;
    }

    .modal-header{
        border-bottom: 1px solid #f7f4f4;
    }

    .modal-content {
        position: relative;
        width: 400px;
        height: 0px;
        border-radius: 2px;
        background-color: white;
        border: none;
        box-shadow: 0 4px 22px rgba(158, 158, 158, 0.5);
        z-index: 100;
        animation: fadeIn .1s ease-in-out;
    }

    .modal-fotter{
        border-top: 1px solid #f7f4f4;
    }

    .login-footer {
        text-align: center;
    }

    .modal-background-blur {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(255,255,255, 0.6);
        filter: blur(1px);
        -webkit-filter: blur(1px);
        -o-filter: blur(1px);
        z-index: 3;
        width: 100%;
        height: 100%;
    }

    .logIn-modal {
        height: 520px;
        transition: all 2s ease-in-out;
    }

    .signup-modal {
        height: 600px;
        transition: all 2s ease-in-out;
    }

    .log-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .clear-btn {
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 0;
        width: 30px;
        height: 30px;
        background-color: transparent;
        transition: background-color 0.3s;
        border: none;
    }

    .clear-btn:hover {
        border-radius: 3px;
        background-color: rgba(100, 100, 100, 0.1);
        transition: background-color 0.3s;
    }

    .log-btn {
        position: relative;
        display: flex;
        justify-content: center;
        width: 220px;
        height: 44px;
        font-size: 14px;
        border-radius: 22px;
        background-color: rgba(42, 81, 145, 1);
        transition: background-color 0.3s;
        border-style: none;
        color: white;
    }

    .log-btn:hover .CG-done-icon {
        right: -8px;
    }

    .input-width-1 {
        width: 80%;
    }

    .input-width-2 {
        width: 50%;
    }

    .invalidLogIn {
        display: none;
        height: 0px;
    }

    .sucSign {
        display: none;
        height: 0px;
    }

    .emailNotification {
        display: none;
        height: 0px;
    }

    .signUpNotification {
        display: none;
        height: 0px;
    }

    .sign-showSucMessage {
        height: 134px;
        width: 100%;
        background-color: rgba(245, 245, 245, 1);
        border-radius: 3px;
    }

    #logInMessage, #signUpMessage{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .msg-close-btn {
        position: absolute;
        top: 0px;
        right: 0px;
        border: none;
        background-color: transparent;
        width: 22px;
        height: 22px;
        padding: 0;
    }

    .msg-close-btn ng-md-icon {
        fill: rgba(0, 0, 0, 0.4);
    }

    .msg-close-btn ng-md-icon svg {
        width: 20px;
        height: 20px;
    }

    .sign-showErrorMessage {
        display: flex !important;
        flex-direction: column;
        height: 134px !important;
        width: 100%;
        padding: 15px;
        background-color: rgba(240, 240, 240, 1);
        border-radius: 3px;
        text-align: center;
        z-index: 100;
    }

    .message-link {
        color: rgb(0, 149, 207);
        font-size: 17px;
        transition: background-color 0.3s;
    }

    .message-div {
        font-size: 17px;
    }

    .or-div {
        width: 100%;
        height: 20px;
    }

    .or-span {
        color: rgba(180, 180, 180, 1);
        font-size: 16px;
    }

    .or-div::before,
    .or-div::after {
        content: "";
        display: inline-block;
        width: 150px;
        padding-bottom: 4px;
        border-top: 1px solid rgba(220, 220, 220, 1);
    }

    ::after,
    ::before {
        box-sizing: border-box;
    }

    .signUp-logIn-btn {
        border: none;
        background-color: transparent;
        font-size: 18px;
        color: #00cc99;
    }

    .messageIn {
        animation: grow-sign-msg 0.6s ease, fadein-sign ease 0.4s;
    }

    .messageOut {
        animation: shrink-sign-msg 0.6s ease, fadeout-sign ease 0.4s;
    }

    #invalidLogIn .message-link {
        margin-top: 5px;
    }

    button:focus {
        outline: none;
    }

    .new-to-text {
        margin-top: 17px;
        margin-bottom: 3px;
        font-size: 19px;
    }

    .success-mark-div{
        width: 100%;
        height: 100%;
    }

    .sign-checkmark-svg{
        width: 80px;
        height: 80px;
    }

    .sign-checkmark-line{
        stroke-width: 4; 
    }

    @keyframes fadeIn {
        0% {
            background: rgba(255, 255, 255, 0.1);
            border-color: #e5e5e5;
        }
        100% {
            background: rgba(255, 255, 255, 1);
            border-color: #e5e5e5;
        }
    }

</style>

<div class="sign-modal font modal-background" ng-show="_show && _showLogIn">
    <div class="modal-background-blur"></div>
    <div class="modal-content logIn-modal">
        <!-- Header -->
        <section class="modal-header back-transition">
            <h1>Sign in</h1>
            <button class="clear-btn" ng-click="_close();">
                <ng-md-icon icon="clear" size="24"></ng-md-icon>
            </button>
        </section>
        <!-- Body -->
        <section class="modal-body back-transition">
            <form id="login-modal-form" name="logIn" class="log-form logIn-form" ng-submit="_login(logIn.$valid)">
                <md-input-container class="input-width-1">
                    <label></label>
                    <div class="email-check-div" ng-class="email_check_message" ng-click="subEmailToSuggested(suggestion, true)">Maybe <span>{{suggestion}}</span>?</div>
                    <input id="login-input" name="login_email" ng-pattern="/^.+@.+\..+$/" maxlength="30" ng-model="login_email" placeholder="Email" type="email" required/>
                    <div ng-messages="logIn.login_email.$error">
                        <div ng-message="pattern" class="inptErMsg">Email format only</div>
                        <div ng-message="maxlength">30 characters maximum</div>
                        <div ng-message="required" class="inptErMsg">Required</div>
                    </div>
                </md-input-container>
                <md-input-container class="input-width-1">
                    <label></label>
                    <input name="login_password" ng-pattern="passPattern" ng-model="login_password" maxlength="30" placeholder="Password" type="password" required/>
                    <div ng-messages="logIn.login_password.$error">
                        <div ng-message="maxlength">30 characters maximum</div>
                        <div ng-message="required">Required</div>
                    </div>
                </md-input-container>
                <button class="log-btn" type="submit">
                    <md-progress-circular ng-class="loading_spin" md-diameter="23"></md-progress-circular>
                    <span ng-class="login_text">SIGN IN</span>
                </ng-md-icon></button>
            </form>
        </section>
        <!-- Footer -->
        <section class="modal-footer back-transition login-footer">
            <div class="new-to-text">New to Homit?</div>
            <button class="signUp-logIn-btn" ng-click="_toggleModal()">Sign Up</button>
            <section id="logInMessage">
                <div id="invalidLogIn" class="invalidLogIn">
                    <button class="msg-close-btn" ng-click="_tryAgainLogIn()">
                        <ng-md-icon icon="clear"></ng-md-icon>
                    </button>
                    <div class="message-div">Sorry, You have entered invalid credentials. Please try
                        <span class="message-link" ng-click="_tryAgainLogIn()">again</span>
                    </div>
                    <div class="or-div">
                        <span class="or-span">or</span>
                    </div>
                    <div class="message-link" ng-click="_forgotPassword(logIn.$valid)">Forgot Password</div>
                </div>
                <div id="emailNotification" class="emailNotification">
                    <button class="msg-close-btn" onClick="window.location.reload()">
                        <ng-md-icon icon="clear"></ng-md-icon>
                    </button>
                    <div class="message-div">{{ logIn_message }}</div>
                </div>
                <div id="sucLogIn" class="sucSign">
                    <div class="box-center success-mark-div">
                        <svg class="sign-checkmark-svg" viewBox="0 0 80 80">
                            <circle class="sign-checkmark-circle" cx="40" cy="40" r="39px"/>
                            <polyline class="sign-checkmark-line" points="16, 43 32, 63 65, 20"/>
                        </svg>
                    </div>
                </div>
            </section>
        </section>
    </div>
</div>


<div class="modal-background" ng-show="_show && !_showLogIn">
    <div class="modal-background-blur"></div>
    <div class="modal-content signUp-modal">
        <!-- Header -->
        <section class="modal-header">
            <h1>Sign up</h1>
            <button class="clear-btn" ng-click="_close();">
                <ng-md-icon icon="clear" size="24"></ng-md-icon>
            </button>
        </section>
        <!-- Body -->
        <section class="modal-body">
            <form name="signUp" class="log-form" ng-submit="_signup(signUp.$valid)">
                <md-input-container class="input-width-1">
                    <label></label>
                    <div class="email-check-div" ng-class="email_check_message" ng-click="subEmailToSuggested(suggestion, false)">Maybe <span>{{suggestion}}</span>?</div>
                    <input id="signup-input" name="signup_email" ng-pattern="/^.+@.+\..+$/" maxlength="30" ng-model="signup_email" placeholder="Email" type="email" required/>
                    <div ng-messages="signUp.signup_email.$error">
                        <div ng-message="pattern">Email format only</div>
                        <div ng-message="maxlength">30 caracters maximum</div>
                        <div ng-message="required">Required</div>
                    </div>
                </md-input-container>
                <div layout="row" class="input-width-1">
                    <md-input-container class="input-width-2">
                        <label></label>
                        <input name="signup_fname" ng-pattern="/^[a-zA-Z]*$/" maxlength="30" ng-model="signup_fname" placeholder="First Name" type="text" required/>
                        <div ng-messages="signUp.signup_fname.$error">
                            <div ng-message="pattern">Letters only</div>
                            <div ng-message="maxlength">30 caracters maximum</div>
                            <div ng-message="required">Required</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="input-width-2">
                        <label></label>
                        <input name="signup_lname" ng-pattern="/^[a-zA-Z]*$/" maxlength="30" ng-model="signup_lname" placeholder="Last Name" type="text" required/>
                        <div ng-messages="signUp.signup_lname.$error">
                            <div ng-message="pattern">Letters only</div>
                            <div ng-message="maxlength">30 caracters maximum</div>
                            <div ng-message="required">Required</div>
                        </div>
                    </md-input-container>
                </div>
                <md-input-container class="input-width-1">
                    <label></label>
                    <input name="signup_password" ng-pattern="passPattern" maxlength="30" minlength="8" ng-model="signup_password" placeholder="Password" type="password" required/>
                    <div ng-messages="logIn.signup_password.$error">
                        <div ng-message="pattern">Invalid characters</div>
                        <div ng-message="maxlength">30 characters maximum</div>
                        <div ng-message="minlength">8 characters minimum</div>
                        <div ng-message="required">Required</div>
                    </div>
                </md-input-container>
                <button class="log-btn" type="submit">
                    <md-progress-circular ng-class="loading_spin" md-diameter="20"></md-progress-circular>
                    <span ng-class="signup_text">SIGN UP</span>
                <ng-md-icon icon="done" class="CG-done-icon" size="20"></ng-md-icon></button>
            </form>
        </section>
        <!-- Footer -->
        <section class="modal-footer">
            <button class="signUp-logIn-btn" ng-click="_toggleModal()">Sign In</button>
        </section>
        <!-- Message box -->
        <section id="signUpMessage">
            <div id="sucSignUp" class="sucSign">
                <div class="box-center success-mark-div" style="width: 100%; height: 100%;">
                    <svg class="sign-checkmark-svg" viewBox="0 0 80 80">
                        <circle class="sign-checkmark-circle" cx="40" cy="40" r="39px"/>
                        <polyline class="sign-checkmark-line" points="16, 43 32, 63 65, 20"/>
                    </svg>
                </div>
            </div>
            <div id="signUpNotification" class="signUpNotification">
                <button class="msg-close-btn" onClick="window.location.reload()">
                    <ng-md-icon icon="clear"></ng-md-icon>
                </button>
                <div class="message-div">{{ logIn_message }}</div>
            </div>
        </section>
    </div>
</div>